[2021-06-20 15:40] prathimacode-hub commented on #381
Yes, you can proceed. Go ahead. @coding-geek21

[2021-06-20 16:18] Jagannath8 opened #383 "Text to Speech Converter"
Title:- Text to Speech Converter
About:- The text to speech converter tool is used to create a spoken sound version of the text.
Label:- Features request

Define you:-
LGMSOC'21 PARTICIPANT
Define your solution:- I would like to add python script for this app.

[2021-06-20 16:51] prathimacode-hub commented on #383
This issue is already taken and merged. Kindly take up an another issue to work on. @Jagannath8

[2021-06-20 16:54] #372 closed

[2021-06-20 17:27] Aditya8821 opened #384 "Creating Address Book"
Title: Creating Address Book Using Tkinter
About: Implementation of this script is done by using the Tkinter module and took the help of some of its functions.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

-[x] LGM-SOC'21 Participant
-[x] Contributor
I'll write a Python script that will create an address book like interface, this is done only by the use of Tkinter and its

[2021-06-20 17:50] Iamtripathisatyam commented on #379
Ok ma'am

[2021-06-20 17:54] prathimacode-hub commented on #384
Yup, interesting. This issue is assigned to you. You can go ahead. @Aditya8821

[2021-06-21 02:26] akash435 opened #386 "Time Zone Converter"
---
Title: Time Zone Converter
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this GUIScript, we will be able to convert from one time zone to another time zone.
like IST to PST, GMT to IST, UTC TO GMT, and there are many more.
there are almost 28 Time zone, and this application will allo

[2021-06-21 02:28] akash435 commented on #386
@prathimacode-hub , please assign this under LGM SOC, can add this script under GUIScripts section.

[2021-06-21 04:07] Debashish-hub commented on #79
Hey @Yash-Sakre  Are you working on it or not, It's been 10 days without any update

[2021-06-21 04:28] Debashish-hub commented on #386
Seems interesting, This issue is assigned to you @akash435 . Keep it up

[2021-06-21 04:31] akash435 commented on #386
Thanks

[2021-06-21 05:11] #370 closed

[2021-06-21 05:57] cybot-des opened #390 "Text Translator"
Title: Text Translator
About: GUI script
Name: Pooja Deshpande
Label: feature request
Assignee: ''

Define You:

 LGM-SOC'21 Participant

In this project, a gui will have text input which can be converted to another language of user's choice.

[2021-06-21 06:22] #359 closed

[2021-06-21 06:30] #381 closed

[2021-06-21 06:33] #354 closed

[2021-06-21 06:52] akash435 opened #391 "Spelling Corrector in GUIScripts"
---
Title: Spelling Corrector
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this GUIScript, In this script, the user can enter any word, either correct or misspelled
And on clicking on the correct button can get the correct spelled word for that entered word.

[2021-06-21 06:52] akash435 commented on #391
@prathimacode-hub , please assign me this under LGM SOC, can add this under GUI Scripts.

[2021-06-21 06:54] prathimacode-hub commented on #390
This issue is already taken up and merged. Kindly take up an another issue to work on. @cybot-des

[2021-06-21 06:55] prathimacode-hub commented on #391
Go ahead, this issue is assigned to you. You can get going. @akash435

[2021-06-21 06:59] cybot-des opened #392 "News Application Gui"
Title: News Application GUI
About: GUI script
Name: Pooja Deshpande
Label: feature request
Assignee: ''

Define You:
 LGM-SOC'21 Participant

In this project you can enter the topic for which you want to fetch news items and number of topics to be fetched(max 100).
Will be done using tkinter and news api

[2021-06-21 07:00] #390 closed

[2021-06-21 07:07] #357 closed

[2021-06-21 07:07] neelshah2409 opened #393 "Email Sender In Bulk"
Title: Email Sender In Bulk
About: Implementation of this script is done by using the csv ,email ,smtplib libraries.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description: Here we will fetch all the information from excel/csv file and then connect it to sever and send the same message to multiple person at a same time.

[2021-06-21 07:14] prathimacode-hub commented on #392
Sorry, this issue is already done. Do check up with the repo and issues assigned to see if it's available so that you can think of  script you could work on. @cybot-des

[2021-06-21 07:14] #392 closed

[2021-06-21 07:15] prathimacode-hub commented on #393
You can go ahead. This issue is assigned to you. @neelshah2409

[2021-06-21 07:15] #383 closed

[2021-06-21 07:15] #378 closed

[2021-06-21 07:17] #302 closed

[2021-06-21 07:18] #119 closed

[2021-06-21 07:19] #118 closed

[2021-06-21 07:20] prathimacode-hub commented on #170
Is it all going fine? @Nihir2904

[2021-06-21 08:26] #384 closed

[2021-06-21 10:23] coding-geek21 opened #395 "Countdown Timer for an Event"
---
Title:  Countdown Timer
About: This application will countdown the days and time left for an event , This will be built using GUI Tkinter
Name: Jayapritha N
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you

[2021-06-21 10:27] bindaldhara opened #396 "Rolling dice game in python"
In this game it gets the value of dice i.e. btw 1 and 6 and tells user if the number is divisible by 2 or not

[2021-06-21 10:29] Debashish-hub commented on #396
Please follow the issue template @bindaldhara

[2021-06-21 10:33] Debashish-hub commented on #395
Go ahead @coding-geek21 Issue is assigned to you

[2021-06-21 10:35] #393 closed

[2021-06-21 11:13] AmitGupta700 opened #397 "Open WebCam"
---
Title: Open WebCam Using python
About: Implementation of WebCam using python
Name: Amit Gupta
Label: Feature Request
Assignee: ''
---
Define You:

- [x] LGM-SOC'21 Participant
 Contributor

I'll write a Python script to create a program that will open your WebCam. I will use the cv2 module.

[2021-06-21 11:25] neelshah2409 opened #398 "Age Predictor Chatbot"
Title: Age Predictor Chatbot
About: Implementation of chatbot and calculating age and several other functions from bot.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Here I will create a chatbot which can predict your age and it also performs some other functions like printing the series upto some numbers which user gives and aski

[2021-06-21 11:35] bindaldhara commented on #396
Title: Rolling dice game  Using python
About: In this game it asks the user to enter a value btw 1 and 6 and tells user if the number entered is divisible by 2 or not
Name: Dhara Bindal
Label: Feature Request
Assignee: ''
Define You:

 LGM-SOC'21 Participant
Contributor

[2021-06-21 11:38] prathimacode-hub commented on #397
Yup, this issue is assigned to you. @AmitGupta700

[2021-06-21 11:39] prathimacode-hub commented on #398
Interesting, this issue is assigned to you. @neelshah2409

[2021-06-21 11:40] prathimacode-hub commented on #396
Sure, this issue is assigned to you. @bindaldhara

[2021-06-21 12:28] cybot-des opened #400 "Eyes & Smile detection"
Title: Eyes and Smile detection
About: Implementation of haar cascade to perform real time eyes and smile detection
Name: Pooja Deshpande
Label: Feature Request
Assignee: ''

Define You:
 ✅LGM-SOC'21 Participant
       Contributor

In this project I will use opencv and haar cascades to perform real time eyes and smile detection through your web cam.

[2021-06-21 12:44] prathimacode-hub commented on #400
That's already performed in Face Mask Detection and Emotion Detection. You can take up an another issue to work on. @cybot-des

[2021-06-21 12:46] cybot-des commented on #400
Ok

[2021-06-21 13:30] cybot-des opened #402 "Wikipedia GUI"
Title: Wikipedia GUI
About: GUI script project
Name: Pooja Deshpande
Label: Feature Request
Assignee: ''

Define You:

 ✅LGM-SOC'21 Participant
       Contributor
In this project I will make use of wikipedia api to fetch results related to users query term like summary description and information. I will make a gui for it.

[2021-06-21 14:11] #400 closed

[2021-06-21 14:12] prathimacode-hub commented on #402
That's great. This issue is assigned to you. You can proceed. @cybot-des

[2021-06-21 14:40] akash435 opened #406 "Quiz game in python"
---
Title: Quiz Game
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this game , there will be some specific no of question will be given to user, and user need to enter correct ans.
there also at the end score will be shown.

[2021-06-21 14:40] akash435 commented on #406
@prathimacode-hub , please assign this to me , can add this under GUI Scripts

[2021-06-21 14:43] anandalisha opened #407 "want to add colour detection application"
I want to add an application using which we can automatically automatically get the name of colour.

[2021-06-21 15:04] cybot-des commented on #402
Maam, I just want to make a correction that I will include it under GUI script as Wikipedia api is a python module...

[2021-06-21 15:10] prathimacode-hub commented on #406
That sounds fun. Yes, this issue is assigned to you. You can start working. @akash435

[2021-06-21 15:11] prathimacode-hub commented on #407
Kindly follow the template. What kind of issue it is? Can you elaborate the project? @anandalisha

[2021-06-21 15:12] akash435 commented on #406
Thanks

[2021-06-21 15:16] prathimacode-hub commented on #402
Ok,  if that's the case title should be changed as well to 'Wikipedia GUI' @cybot-des

[2021-06-21 15:17] cybot-des commented on #402
Okay I will change it

[2021-06-21 16:30] akash435 opened #408 "Part Of Speech Calculator"
---
Title: Part Of Speech Counter
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this the user will be allowed to enter any sentence or paragraph, and the application will count the different parts of speech present in it.
for eg. , noun, verb, adverb, adjective, etc.

[2021-06-21 16:30] akash435 commented on #408
@prathimacode-hub , if this is OK, then please assign this to me under LGM SOC.

[2021-06-21 17:05] neelshah2409 opened #409 "Library Management GUI"
Title: Library Management GUI
About: Implementation of proper management of library using kivy
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x]  LGM-SOC'21 Participant
- [ ] Contributor

Every librarian finds difficulty for maintaining the logs and some may use software but that is not affordable by everyone so why not our script do that.
Here we will be making our script us

[2021-06-21 17:26] archismansaha opened #410 "Adding turtle racing game"
---
Title: Turtle Race
About: Suggest an idea for this project
Name: Archisman Saha
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

This game is simple game made with python where you have to make bate on a turtle you want to and you will see if the turtle wins among the all or not.

[2021-06-21 18:26] Umesh-01 opened #411 "want to add a feature for poems"
### Description
I want to add a feature for getting the poem of any author.

### Solution
I will be using a module to get poems of any author.

[2021-06-21 19:22] sambit221 commented on #160
I am sorry. i am a bit late because of my exams. I have managed my time and completed it. Thank you

[2021-06-21 19:30] #74 closed

[2021-06-22 04:39] #391 closed

[2021-06-22 04:41] #398 closed

[2021-06-22 04:41] #386 closed

[2021-06-22 04:42] #395 closed

[2021-06-22 04:43] #397 closed

[2021-06-22 04:46] Debashish-hub commented on #411
Interesting. Issue is assigned to you @Umesh-01

[2021-06-22 04:48] Debashish-hub commented on #410
Great, Issue is assigned to you @archismansaha

[2021-06-22 04:50] Debashish-hub commented on #409
Go ahead @neelshah2409 , Issue is assigned to you

[2021-06-22 04:52] Debashish-hub commented on #408
Interesting, Issue is assigned to you @akash435

[2021-06-22 05:29] sherin527 opened #414 "Image Stitching Using Opencv"
`---
Title: Image Stitching
About: I want to implement Image stitching one of the Image processing techniques wherein the input images will be stitched together and will give an output as a single image.
Name: Sherin Shibu
Label: Image Processing Script.
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
I want to implement the I

[2021-06-22 05:51] rishabhrathore055 opened #417 "Invisible Clock using Python"
---
Title: Invisible Clock using Python
About: want to add  Invisible Clock using Python programming language
Name: Rishabh Rathore
Label: Feature Request
Assignee: ''

---
Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach

[2021-06-22 05:52] rishabhrathore055 commented on #417
@prathimacode-hub pls assign me this issues

[2021-06-22 06:04] Debashish-hub commented on #414
Is it similar to collage maker as in #128  @sherin527

[2021-06-22 06:05] Debashish-hub commented on #417
Can you please elaborate @rishabhrathore055

[2021-06-22 06:09] #160 closed

[2021-06-22 06:33] coding-geek21 opened #419 "Egg catcher game using GUI"
---
Title: Egg catcher game using GUI
About: This is an egg catcher game using tkinter, here eggs will be falling down and we have to catch it using bowl(keyboard controls) lives and scores will be there.
Name: Jayapritha N
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Des

[2021-06-22 06:36] Khushi-sharma07 opened #420 "BMI Calculator Using Python GUI"
Title: BMI Calculator GUI
About: Add a script to create BMI Calculator using Python

Name: Khushi Sharma
Label: Feature Request
Assignee: "

Define You:

- [x]  LGM-SOC'21 Participant
- [ ]  Contributor

Solution:
It will be a GUI Python Script which will help a person to calculate his/her BMI ratio by entering the weight(in kgs) and height. It will tell whether the person is healthy or underweigh

[2021-06-22 06:36] Khushi-sharma07 commented on #420
Please assign this issue to me.

[2021-06-22 06:40] prathimacode-hub commented on #420
This issue is assigned to you. You can start working. @Khushi-sharma07

[2021-06-22 06:41] prathimacode-hub commented on #419
Whoa, sounds interesting. You can proceed. @coding-geek21

[2021-06-22 06:41] prathimacode-hub commented on #417
Elaborate the issue of how would you expect this to work? It would come under which script? @rishabhrathore055

[2021-06-22 06:43] neelshah2409 opened #421 "Gold Price Fetcher"
Title: Gold Price Fetcher
About: Implementation of web scrapping from the url using requests and bs4 library and fetching the price
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Every middle class person wants to buy gold but at the cheapest cost so our script will find the best price for them and our script will also show differe

[2021-06-22 06:45] prathimacode-hub commented on #421
Unique script. This issue is allotted to you. You can get going. @neelshah2409

[2021-06-22 06:51] prathimacode-hub commented on #74
You shouldn't close PR or issue from your end. @sambit221

[2021-06-22 06:53] prathimacode-hub commented on #231
You should never close issues or PR from your end. @HitainKakkar

[2021-06-22 07:01] #255 closed

[2021-06-22 07:04] prathimacode-hub commented on #277
No update from you yet. @palakagarwal5230

[2021-06-22 07:04] prathimacode-hub commented on #306
Is it all fine? No update from you. @sahilsingh2402

[2021-06-22 07:05] prathimacode-hub commented on #313
Is it going good, no update from your end. @SravanithaGatti

[2021-06-22 07:35] sahilsingh2402 commented on #306
It's just about to finish. I am fixing all the minor bugs, and would commit the final one to the master branch. I just want one more day of time :( @prathimacode-hub

[2021-06-22 08:10] #409 closed

[2021-06-22 08:11] #363 closed

[2021-06-22 08:13] #333 closed

[2021-06-22 08:41] sambit221 commented on #74
I am sorry. I thought I have to close it as the project was submitted by someone else.

[2021-06-22 08:46] prathimacode-hub commented on #369
Why had you closed it? You should not close it from your end? @ishitakapoor26

[2021-06-22 10:36] kamakshi829 opened #426 "Sorting hat game"
Title: Sorting hat game
About: This is a game in which school assigns a hat to new students as in Harry Potter movie.
Name: Kamakshi Singh
Label: Feature Request
Assignee: ''

Define You:

 LGM-SOC'21 Participant - Yes
 Contributor

It is a game as in schools there are some houses and students are assigned to one of those houses. Here those houses are called as hats and I will use tkinter to solve

[2021-06-22 12:43] palakagarwal5230 commented on #277
@prathimacode-hub my laptop is not working, I will be able to complete it after 28 june only

[2021-06-22 13:09] #406 closed

[2021-06-22 13:17] #421 closed

[2021-06-22 13:41] akash435 opened #430 "Implement Search in GUI Script"
---
Title: Search bar in Python
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this , a search bar will be created.
And user will be allowed to any text, or paragraph or sentence.
and user will be able to search any word in it.

This application also searches word, count how many times it

[2021-06-22 13:42] akash435 commented on #430
@prathimacode-hub , if this is OK, please assign this to me under LGM SOC.

[2021-06-22 14:06] akash435 opened #432 "Get location of any Country"
---
Title: Get location of any Country
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this, user will be able to get the location of any country on earth.
User just need to enter the country code or country name and can get the location of country in terms of longitude and latitude.

[2021-06-22 14:07] akash435 commented on #432
@prathimacode-hub , if this can be done then please assign this issue to me under LGM SOC.

[2021-06-22 14:23] #408 closed

[2021-06-22 14:28] Debashish-hub commented on #432
Great! Issue is assigned to you @akash435 Keep up the good work

[2021-06-22 14:30] Debashish-hub commented on #430
Please elaborate it @akash435
You need to complete the previous assigned issue to get another issue

[2021-06-22 14:31] Debashish-hub commented on #426
Please elaborate @kamakshi829

[2021-06-22 14:35] akash435 commented on #430
In this user will be given a text area and in that text area user can enter any text or any paragraph.
and there will be a search button
using that search button user can search any word or text in that paragraph entered in the text area.

Also this lets us know where that word is located in the paragrah and how many times it present.

[2021-06-22 15:08] kumarjeetray opened #433 "I want to contribute socket programs"
## Related Issue

- I want to contribute some socket programming codes, written using python

- [X] LGM-SOC'21 Participant
- [X] Contributor

[2021-06-22 15:13] prathimacode-hub commented on #433
Follow the proper issue template, write a project title to your issue, explain your approach. @kumarjeetray

[2021-06-22 15:21] kumarjeetray commented on #433
---
Title: Word Transfer
About: Transfer of word from one computer to another through ports
Name: Kumarjeet Ray
Label: Feature Request
Assignee: ''

---

Define You:

- [X] LGM-SOC'21 Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (opt

[2021-06-22 15:21] kumarjeetray commented on #433
Is this okay ?

[2021-06-22 15:35] prathimacode-hub commented on #433
You're not getting my point. Raise separate issue for the program you are going to contribute. Not like this. @kumarjeetray

[2021-06-22 15:45] kumarjeetray commented on #433
Can you please show me. I am surely not understanding this. I tried creating a different issue. I want to add a new project and not correct or add feature to an existing one. If possible can you please show me one. Please !!

[2021-06-22 15:46] kumarjeetray opened #434 "Word Transfer"
---
Title: Word Transfer
About: Transfer of word from one computer to another through ports
Name: Kumarjeet Ray
Label: Feature Request
Assignee: ''

---

Define You:

- [X] LGM-SOC'21 Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (

[2021-06-22 15:46] prathimacode-hub commented on #430
OK, this issue is assigned to you. @akash435

[2021-06-22 15:48] prathimacode-hub commented on #434
Now, this looks good and justified. This issue is assigned to you. @kumarjeetray

[2021-06-22 15:48] prathimacode-hub commented on #433
Issue is assigned to you. @kumarjeetray

[2021-06-22 15:49] #433 closed

[2021-06-22 15:49] kumarjeetray commented on #434
Thanks a lot

[2021-06-22 15:50] kumarjeetray commented on #434
Should I created another Pull request or make changes in the existing one ?

[2021-06-22 15:52] prathimacode-hub commented on #434
I had responded to your PR about you the changes to be done. You should create a new one. Follow the steps mentioned in my reply. @kumarjeetray

[2021-06-22 16:29] neelshah2409 opened #435 "Wordcloud"
Title: Wordcloud
About: It's a GUI script
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Here we will a image having most of the words from a text file ,here by using wordcloud library we can do that and to plat the figure properly we will use matplotlib.

Example:
![Screenshot (601)](https://user-images.githubusercontent.com/71593

[2021-06-22 18:15] Ashu-1309 opened #436 "Finding Number of days in a Month"
Title :- Finding Number of Days in a month
About : Through this code, we will able to find number of days in a month.
Name : ASHUTOSH KUMAR SAW
Label : Feature Request
Assign:"

Define You:
LGM-SOC'21 Participant
Contributor

Programming Language : Python

[2021-06-23 01:20] kamakshi829 commented on #426
Ok @Debashish-hub  sir
 The Sorting Hat is an artefact used at Hogwarts in the Harry Potter books. The hat determines which of the four school houses (Gryffindoe, Slytherin, Hufflepuff and Ravenclaw) each new student is assigned to. The hat resembles a wide-brimmed wizard's hat, with folds and tears that make it appear to have eyes and a mouth. During the opening banquet at the beginning of each s

[2021-06-23 03:30] sherin527 commented on #414
@Debashish-hub,It basically implements a feature-based automatic image stitching algorithm wherein we input two images with overlapped fields, we expect to obtain a wide seamless panorama. This includes steps such as:
1.Feature extraction using SIFT descriptor of opencv
2.Matching correspondences between images
3.Compute Homography
4.Warping & Stitching

[2021-06-23 03:52] #432 closed

[2021-06-23 03:58] Debashish-hub commented on #436
Issue is assigned to you @Ashu-1309

[2021-06-23 04:00] Debashish-hub commented on #435
Please elaborate what's going to happen? @neelshah2409

[2021-06-23 04:38] neelshah2409 commented on #435
Sir in this we will extract all the words from text file and using matplotlib and wordcloud libraries we will make a figure as shown in example using  words from text file .Here we can customise background and size of letters that appear in figure.

[2021-06-23 04:52] neelshah2409 opened #439 "Zip Files Extractor"
Title: Zip File Extractor
About: In this we will fetch all the zip file using zipfile library.
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description: Here using zipfile library we will fetch all the files from zip to the same directory in which zip is present.

[2021-06-23 06:26] #420 closed

[2021-06-23 06:45] prathimacode-hub commented on #439
Well needed script. This issue is assigned to you. You can proceed. @neelshah2409

[2021-06-23 06:47] prathimacode-hub commented on #435
This sounds interesting. You can work on this once you complete earlier issue assigned to you. @neelshah2409

[2021-06-23 06:48] prathimacode-hub commented on #426
Sounds innovative script. This issue is assigned to you. You can proceed. @kamakshi829

[2021-06-23 06:50] prathimacode-hub commented on #414
Ok, it merges perfectly and doesn't look like collage using the techniques you had enforced right? @sherin527

[2021-06-23 06:55] #373 closed

[2021-06-23 06:56] #234 closed

[2021-06-23 08:05] Aditya8821 opened #444 "ISS Tracker and on board crew names"
Title: ISS Tracker and onboard crew names
About: Implementation of this script is done by using a module like JSON, turtle, requests, webbrowser, geocoder, time and many other useful functions.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

-[x] LGM-SOC'21 Participant
-[x] Contributor
I'll write a Python script that will display the  crew name in txt format along with the c

[2021-06-23 08:13] sherin527 commented on #414
yes @prathimacode-hub ma'am

[2021-06-23 08:27] pratimakush10 opened #445 "Wikipedia Summary Generator using Python Tkinter"
Title : Wikipedia Summary Generator using Python Tkinter
About : This python script will generate summary of topic given by the user.
Name : Pratima Kushwaha
Label : Feature Request
Assignee :

LGM-SOC'21: Participant

Description : I would like to implement python script in which summary of wikipedia generated using wikipedia module of python with GUI python tkinter can you please assign this to

[2021-06-23 09:12] #439 closed

[2021-06-23 09:12] prathimacode-hub commented on #435
This issue is assigned to you. @neelshah2409

[2021-06-23 09:13] prathimacode-hub commented on #445
Sure, this issue is assigned to you. You can go ahead. @pratimakush10

[2021-06-23 09:15] prathimacode-hub commented on #444
Can you elaborate your issue more? @Aditya8821

[2021-06-23 09:27] prathimacode-hub commented on #414
Ok, this issue is assigned to you. @sherin527

[2021-06-23 09:30] Aditya8821 commented on #444
Yes, mam actually it will use the API and then collect the data i.e containing onboard crew names and the current location of the ISS(International Space Station), and then using that current location we locate those latitude and longitude on the world mam. These latitude and longitude will update at every 5 sec and then according to that updated value the location changes automatically in the map

[2021-06-23 09:33] akash435 opened #446 "Highlight any selected part of text"
---
Title: Highlight any selected part of text
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this , a a highlight button will be created.
And user will be allowed to any text, or paragraph or sentence.
and after that when user selects any text or any area of text, then clicking on the hi

[2021-06-23 09:34] akash435 commented on #446
@prathimacode-hub , if we can do something like this, then please assign this issue to me under LGM SOC.

[2021-06-23 09:46] prathimacode-hub commented on #446
Actually, this sounds more like an enhancement to the existing projects than an individual script. Correct me, if I'm wrong. @akash435

[2021-06-23 09:50] akash435 commented on #446
Can you please tell me the existing project name so that i can check?

[2021-06-23 11:22] akash435 opened #447 "Indian Food Information"
---
Title: Indian Food Information
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script, user will be able  to get the complete information about the Indian food.

user just need to select or enter Indian food name, and can get information about
ingredients
diet
its preparation time

[2021-06-23 11:22] #396 closed

[2021-06-23 11:23] akash435 commented on #447
@prathimacode-hub , If this is OK, then please assign this to me under LGM SOC.

[2021-06-23 11:24] #430 closed

[2021-06-23 11:26] #434 closed

[2021-06-23 11:29] prathimacode-hub commented on #447
That's great. But what about an other issue, you had asked for? I said so, because there are many text based scripts where you could add up that feature as enhancement. Should I assign this issue to you? @akash435

[2021-06-23 11:31] akash435 commented on #447
yes mam i can do that as an enhancement, can you please suggest with which project it is related to?

[2021-06-23 11:33] prathimacode-hub commented on #447
I shall check up and let u know, meanwhile you can work on this script. This issue is assigned. @akash435

[2021-06-23 11:33] akash435 commented on #447
ok mam

[2021-06-23 11:34] prathimacode-hub commented on #444
Wow, interesting. This issue is assigned to you. @Aditya8821

[2021-06-23 11:37] kumarjeetray opened #449 "File Transfer"
---
Title: File Transfer
About: Transfer of file from one computer to another through ports
Name: Kumarjeet Ray
Label: Feature Request
Assignee: ''

---

Define You:

- [X] LGM-SOC'21 Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (

[2021-06-23 11:39] prathimacode-hub commented on #449
Similar script is just added up few mins ago. @kumarjeetray

[2021-06-23 11:46] kumarjeetray opened #450 "Stone_Paper_Pencil_Rubber_Scisso"
---
Title: Stone_Paper_Pencil_Rubber_Scissor
About: A single and multiplayer game of stone,paper,pencil,rubber and bscissor.
Name: Kumarjeet Ray
Label: Feature Request
Assignee: ''

---

Define You:

- [X] LGM-SOC'21 Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like...**

**Describe alternatives you've considere

[2021-06-23 11:49] #419 closed

[2021-06-23 11:51] prathimacode-hub commented on #450
This script is already available. Though I'm not sure about pencil and rubber. @kumarjeetray

[2021-06-23 11:52] prathimacode-hub commented on #450
Before you create issue, once check it in respective repo's if the script is available so that ur efforts don't go wasted @kumarjeetray

[2021-06-23 11:55] kumarjeetray commented on #450
That one is different and this one is different. This has rubber and pencil + single player

[2021-06-23 11:57] prathimacode-hub commented on #450
Can you elaborate it? @kumarjeetray

[2021-06-23 11:59] kumarjeetray commented on #450
There to play the game two players are compulsory but here the game can be played by both one and two player(s).

[2021-06-23 12:03] prathimacode-hub commented on #450
Is this the only difference? It can be added up as an enhancement to existing project, but I guess it won't suffice for individual project. @kumarjeetray

[2021-06-23 12:09] kumarjeetray commented on #450
But the two are entirely different from coding standpoint. Would you like to see the code once ?

[2021-06-23 12:13] prathimacode-hub commented on #450
Yes

[2021-06-23 12:14] kumarjeetray commented on #450
Should I put it here ?

[2021-06-23 12:17] kumarjeetray commented on #450
[Stone_paper_pencil_rubber_scissor.zip](https://github.com/prathimacode-hub/Awesome_Python_Scripts/files/6701695/Stone_paper_pencil_rubber_scissor.zip)

[2021-06-23 12:28] prathimacode-hub commented on #450
Ha, but concept is same. Can you compile the project and share a screenshot here? @kumarjeetray

[2021-06-23 12:32] kumarjeetray commented on #450
Sure Thing !!

[2021-06-23 12:36] kumarjeetray commented on #450
![Stone_paper_pencil_rubber_scissor_player_1](https://user-images.githubusercontent.com/53223216/123097402-bf2e8780-d44d-11eb-8531-3eafd34bd8c0.jpg)
![Stone_paper_pencil_rubber_scissor_player_2](https://user-images.githubusercontent.com/53223216/123097407-bfc71e00-d44d-11eb-8faf-ba0f7cd11143.jpg)

[2021-06-23 12:40] prathimacode-hub commented on #450
Cool, ok you can add this up in "BasicPythonScripts". @kumarjeetray

[2021-06-23 13:23] anandalisha commented on #407
@prathimacode-hub
In this color detection Python project, I will implement an application through which we can automatically get the name of the color by clicking on them.
For it's implementation I will use a data file that contains the color name and its values and then calculate the distance from each color and find the shortest one.

[2021-06-23 13:25] anandalisha commented on #407
@prathimacode-hub If you find it okay then please assign this to me under LGM SOC.

[2021-06-23 13:56] prathimacode-hub commented on #407
That sounds cool, this issue is assigned to you. @anandalisha

[2021-06-23 13:57] anandalisha opened #453 "age calculator"
**Is your feature request related to a problem? Please describe.**
This application will help in calculating  age.
This application can be used anywhere for example (in forms) by taking birth date and current date as input it will give the current age of person.

![Screenshot (68)](https://user-images.githubusercontent.com/55910525/123109640-08380900-d459-11eb-8d70-bb55ab2b2476.png)

[2021-06-23 13:57] prathimacode-hub commented on #277
That would be so long, Are you sure you would complete it then? @palakagarwal5230

[2021-06-23 13:59] prathimacode-hub commented on #207
Any update. @AK-Subodh

[2021-06-23 14:03] anandalisha commented on #453
@prathimacode-hub If you find it okay then please assign this to me under LGM SOC.

[2021-06-23 14:06] prathimacode-hub commented on #231
I reopened this issue. Are you going to work on it? You had created and closed the issue. But haven't got any PR regarding the same. @HitainKakkar

[2021-06-23 14:08] prathimacode-hub commented on #453
Already an issue is assigned to you. You can work on only 1 issue at a time. @anandalisha

[2021-06-23 14:09] prathimacode-hub commented on #407
By the way, there is no issue template in your issue. Do check and follow the template given whenever you create an issue. @anandalisha

[2021-06-23 14:13] kamakshi829 commented on #426
Thanku @prathimacode-hub  ma'am

[2021-06-23 14:15] anandalisha commented on #453
@prathimacode-hub okay!!

[2021-06-23 14:22] #453 closed

[2021-06-23 14:23] #407 closed

[2021-06-23 14:34] AK-Subodh commented on #207
I'll upload the code by today, It's almost done. Sorry for the delay Mam!

[2021-06-23 14:35] Yash-Sakre commented on #79
@Debashish-hub assign someone else. Something came up so I am unable to do it. Sorry for your time.

[2021-06-23 14:37] prathimacode-hub commented on #407
Why had you closed it? @anandalisha

[2021-06-23 14:38] prathimacode-hub commented on #453
You should never close issue or PR from your end, it's better you remember this. @anandalisha

[2021-06-23 14:51] prathimacode-hub commented on #79
That's fine. No issue. @Yash-Sakre

[2021-06-23 14:56] HitainKakkar commented on #231
Sure!!
I will make a PR soon!!

[2021-06-23 14:57] #369 closed

[2021-06-23 15:02] prathimacode-hub commented on #231
Cool, good to know. 👍@HitainKakkar

[2021-06-23 15:13] anandalisha opened #456 "implement age calculator"
Title: Age calculator
About: Implementation of age calculator system using different python libraries
Name: Alisha Anand
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description:
This application can be used anywhere for example (in forms) by taking birth date and current date as input it will give the current age of person as output.
 I have implemented this application  using vario

[2021-06-23 15:14] anandalisha commented on #456
@prathimacode-hub if you find it okay, please assign

[2021-06-23 15:18] prathimacode-hub commented on #456
Perfect, this issue is assigned to you. You can start working. @anandalisha

[2021-06-23 15:18] kumarjeetray commented on #449
This is different. File transfer is not there

[2021-06-23 15:33] prathimacode-hub commented on #449
Can you elaborate your issue? @kumarjeetray

[2021-06-23 15:56] kumarjeetray commented on #449
Like this code can be used to transfer file from a computer's normal os to a virtual machine/or another computer which is otherwise very tidious/difficult.

[2021-06-23 16:26] prathimacode-hub commented on #449
Ok, fine I shall assign this issue. @kumarjeetray

[2021-06-23 17:36] Umesh-01 opened #459 "speech recognizer using python"
Title: want to make a speech recognizer
Name: **Umesh Singh**
Label: Feature Request
Define You
- [x] LGM-SOC'21 Participant
- [ ] Contributor

### Solution
I want to make a speech recognizer using Python. With this human voice can be converted into text. It uses speech recognition module to do this job.

[2021-06-23 17:38] prathimacode-hub commented on #459
Sure, you can proceed. @Umesh-01

[2021-06-23 17:39] Umesh-01 commented on #459
thank u mam

[2021-06-23 17:49] akash435 opened #460 "Virtual keyboard"
---
Title: Virtual keyboard
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
we will create a virtual keyboard, that allows user to take entry or input from that virtual keyboard.

And will try to embed this virtual keyboard under a button, clicking on which virtual keyboard op

[2021-06-23 17:50] akash435 commented on #460
@prathimacode-hub , please assign this to me under LGM SOC, can add this virtual Keyboard in GUIScripts.

[2021-06-23 17:52] prathimacode-hub commented on #460
Sure, go ahead. Issue assigned. @akash435

[2021-06-23 18:35] sherin527 commented on #414
Thank you ma'am

[2021-06-24 01:46] #435 closed

[2021-06-24 03:21] #410 closed

[2021-06-24 03:23] #447 closed

[2021-06-24 05:06] Khushi-sharma07 opened #465 "Internet Speed Tracker GUI"
Title: Internet Speed Tracker
About: Add a script to create Internet Speed Tracker using Python

Name: Khushi Sharma
Label: Feature Request
Assignee: "

Define You:

- [x]  LGM-SOC'21 Participant
- [ ]  Contributor

Solution:
It will be a GUI Python Script which will help a person to calculate the download speed, upload speed and ping of the network.

[2021-06-24 05:06] Khushi-sharma07 commented on #465
Please assign this issue to me.

[2021-06-24 05:12] #444 closed

[2021-06-24 05:16] prathimacode-hub commented on #465
Issue is assigned to you. @Khushi-sharma07

[2021-06-24 05:20] neelshah2409 opened #466 "Stock Visualiser"
Title: Stock Visualiser
About: Here we will see the growth of stock using mpl finance library for a time period which user can define.
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:

- [x]  LGM-SOC'21 Participant
- [ ] Contributor
In this script, using mpl finance we will fetch growth and then using pandas we will read the data and then using matplotlib we will  plot a graph for

[2021-06-24 05:46] Debashish-hub commented on #466
Interesting! Issue is assigned to you @neelshah2409

[2021-06-24 06:00] akash435 opened #467 "World bank GDP Ranking"
---
Title: World bank GDP Ranking
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
we will create an application in which we can get the GDP ranking of any World Bank
along with its amount in US dollars.

[2021-06-24 06:01] akash435 commented on #467
@prathimacode-hub, please assign this issue to me under LGM SOC, will add this script under GUIScripts.

[2021-06-24 06:44] #449 closed

[2021-06-24 06:50] Akash20x opened #468 "Solitaire game"
Title: Solitaire game using Pyqt5
About: Add a python GUI script to implement solitaire game

Name: Akash Jain
Label: Feature Request
Assignee: "

Define You:

LGM-SOC'21 Participant
Contributor
Solution:
It will be a GUI Python Script in which user a play a solitaire game.

[2021-06-24 06:52] Akash20x commented on #468
@prathimacode-hub Please assign me this issue as a part of LGM-SOC'21.

[2021-06-24 06:57] #460 closed

[2021-06-24 06:58] Debashish-hub commented on #467
Issue is assigned to you @akash435

[2021-06-24 07:00] Debashish-hub commented on #468
Interesting! Issue is assigned to you @Akash20x

[2021-06-24 07:02] Akash20x commented on #468
@Debashish-hub Please also add level tag

[2021-06-24 07:03] Debashish-hub commented on #468
This will be done after your PR is approved @Akash20x

[2021-06-24 08:25] Akash20x commented on #468
OK

[2021-06-24 08:35] #414 closed

[2021-06-24 10:04] neelshah2409 opened #470 "Air Quality Detector API"
Title: Air Quality Detector API
About: Here we can find the air quality index of a particular city using the  api.
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description: Here we can find air quality index through api using json and requests library and it will also show whether it  is good or bad index.

[2021-06-24 10:13] Ashu-1309 opened #471 "Grade Calculator"
Title :- Grade Calculator.
About : Through this code will be use to calculate the grade of a student .
Name : ASHUTOSH KUMAR SAW
Label : Feature Request
Assign:"

Define You:
LGM-SOC'21 Participant
Contributor

Programming Language : Python

[2021-06-24 11:44] AK-Subodh commented on #207
@prathimacode-hub  Mam, Created the Pull Request. Please review.

[2021-06-24 12:12] rammya29 opened #476 "Collage Mosaic Generator"
---
Title: Collage Mosaic Generator
About: To make python script for creating mosaic images
Name: Rammya Dharshini
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

## Description :

A collage mosaic that is made up of thousands of small images.

[2021-06-24 13:20] prathimacode-hub commented on #470
That's interesting. This issue is assigned to you. You can get going. @neelshah2409

[2021-06-24 13:25] prathimacode-hub commented on #471
Ok, this issue is assigned to you. You can start working. @Ashu-1309

[2021-06-24 13:26] prathimacode-hub commented on #476
Upto how many images would you fit into collage? @rammya29

[2021-06-24 13:35] rammya29 commented on #476
I think around 600-700 images but I try to look for 1000 images

[2021-06-24 13:37] tjanhvi opened #478 "Add rock-paper-scissors-start game"

[2021-06-24 13:41] prathimacode-hub commented on #478
This is done long back. Also read the README and CONTRIBUTING GUIDELINES of the project before you raise an issue. This issue doesn't have a template as well. Come up with another issue but make sure it isn't done. Also use the issue template given while creating up an issue. @tjanhvi

[2021-06-24 13:42] prathimacode-hub commented on #476
Ok, cool. Hope it would give enough clarity. All the best. You can proceed. This issue is assigned to you. And also congrats for being a winner at skillathon girlscript foundation. 🎊🧨@rammya29

[2021-06-24 13:44] rammya29 commented on #476
Tq for motivation and i have doubt, Am I the winner of Skillathon girlScript Foundation ?

[2021-06-24 13:46] tjanhvi opened #479 "Add coffee machine game"
Please assign me this issue

[2021-06-24 14:37] akash435 opened #480 "Direct Flight Route Finder"
---
Title: Direct Flight Route Finder
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to first select the source airport and destination airport,
and the script will tells us that if there is a direct route between them or not.

[2021-06-24 14:38] akash435 commented on #480
@prathimacode-hub , if this can be added, then please assign this to me under LGM SOC

[2021-06-24 14:41] #314 closed

[2021-06-24 15:31] prathimacode-hub commented on #479
Add your issue template please. You can refer other assigned issues to know how template looks like. That is to know you as a LGMSOC participant. I hope you are. @tjanhvi

[2021-06-24 15:32] prathimacode-hub commented on #480
Sure, you can proceed. Issue assigned. @akash435

[2021-06-24 15:33] HitainKakkar commented on #231
I have made a new PR , after making the required link.
Kindly close this PR and check the PR #481

[2021-06-24 17:12] manognyaa opened #482 "bouncing ball"
---
Title: Bouncing ball
About: the image of the ball will bounce slowly from top to bottom , right top corner to left bottom corner, similarly, vice-versa.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
I will be using python mam and this will come under Image processing script.

[2021-06-24 17:19] prathimacode-hub commented on #482
This issue is already done. You can take up an another issue to work on. @manognyaa

[2021-06-24 17:20] prathimacode-hub commented on #476
Yes, you are if you did participate. I saw your full name over there. If you want, I can share you the link of it. @rammya29

[2021-06-25 02:36] chandu6111 opened #485 "Text Editor using Python"
**Title**: Text Editor using Python
**Name**: Chandana (chandu6111)
**Label**: Feature Request

**Description of the Script**:
This script comes under GUIScripts. I want to make a text editor (for example, notepad). These are the features of the script:
- It has a place where the user can type the text( Text area)
- It will have 3 Buttons:
1) **Save File**- This Button is used to save the text the

[2021-06-25 02:36] chandu6111 commented on #485
@prathimacode-hub please assign me this issue under LGM-SOC'21

[2021-06-25 03:03] akash435 opened #486 "SpaceX Mission Detailer"
---
Title: SpaceX Mission Detailer
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the details about all the SpaceX mission that have occurred.

This will include all the mission starting from 2006 till present times.

Thi

[2021-06-25 03:04] akash435 commented on #486
@prathimacode-hub , please assign this to me under LGM SOC, can add this under GUI Script

[2021-06-25 03:45] Debashish-hub commented on #485
Is it similar to #239 @chandu6111

[2021-06-25 03:47] Debashish-hub commented on #486
Sounds Interesting! Issue is assigned to you @akash435

[2021-06-25 05:00] chandu6111 commented on #485
But that doesn't have these extra options of saving file, opening files etc.
So that's why I tried opening this issue.

[2021-06-25 05:28] cybot-des opened #487 "Detect Language API"
Title: Detect Language API
About: API script project
Name: Pooja Deshpande
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant

In this project I will use Detect Language API module that will act as client library. With help of a API Key, a statement when provided, its language can be detected with confidence level and this project will be presented in GUI format.

[2021-06-25 05:29] chandu6111 commented on #459
@prathimacode-hub I would like to extend this feature.
This script is basically about converting **voice to text**. I want to make a voice assistant which converts voice to text and then **replies back to the user via voice**. The voice assistant can:
1) speak
2) opens Notepad | Paint | Calculator | Twitter | LinkedIn | Facebook | WhatsApp | YouTube | Gmail | Google
It has some other functionaliti

[2021-06-25 06:28] Khushi-sharma07 opened #488 "Acronym Of The Word"
Title: Acronym Of The Word
About: Add a basic Python Script that will give the acronym of the word
Name: Khushi Sharma
Label: Feature Request
Assignee: "

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Solution:
It will be a basic python script that will give the acronym of the word like if the user enters Artificial Intelligence then the output will be AI i.e. the initials of the wo

[2021-06-25 07:02] prathimacode-hub commented on #488
That's fun. Get going.

[2021-06-25 07:04] prathimacode-hub commented on #487
Can you elaborate more? @cybot-des

[2021-06-25 07:05] prathimacode-hub commented on #485
You can work on this as enhancement, if you are interested to an existing project. @chandu6111

[2021-06-25 07:06] cybot-des commented on #487
Yes, so in this gui user will provide any statement or paragraph of any language and upon clicking detect button we will get the output of the language to which it belongs

[2021-06-25 07:09] cybot-des commented on #487
https://detectlanguage.com/
I will be generating api key from this site  and then I will use a client library in python for this api

[2021-06-25 07:11] #466 closed

[2021-06-25 07:16] #480 closed

[2021-06-25 07:19] #467 closed

[2021-06-25 07:22] #402 closed

[2021-06-25 07:24] #207 closed

[2021-06-25 07:28] #465 closed

[2021-06-25 07:29] #436 closed

[2021-06-25 07:31] #445 closed

[2021-06-25 07:32] #306 closed

[2021-06-25 07:50] prathimacode-hub commented on #487
Cool, you can proceed. Issue assigned. @cybot-des

[2021-06-25 07:51] prathimacode-hub commented on #379
No update from you. Is everything fine? @Iamtripathisatyam

[2021-06-25 07:51] prathimacode-hub commented on #371
No update from you yet. @prakhar07msd

[2021-06-25 07:52] prathimacode-hub commented on #123
No update from you. @suvrashaw

[2021-06-25 09:01] ainy-123 commented on #277
I am LGM-SoC'21 participant. I want to work on this issue. will you please assign this to me?
I'll raise the PR within 24 hrs of issue assignment.

[2021-06-25 09:03] ainy-123 commented on #254
I want to work on this issue as an LGM-SoC'21 participant. Will you please assign this to me?

[2021-06-25 09:07] ainy-123 commented on #79
hey @prathimacode-hub ,I want to work on this issue under LGM-SoC'21.
Will you please assign this to me?

[2021-06-25 09:10] prathimacode-hub commented on #79
You can work on only 1 issue at a time. So first decide on the issue you want to work on, or create a new issue you're interested to work on. Before that read the README and CONTRIBUTING GUIDELINES of the project. @ainy-123

[2021-06-25 10:42] ainy-123 commented on #79
okay. I will complete this one first and then will work on issue #20(drowsiness detection...).

[2021-06-25 10:45] prathimacode-hub commented on #79
Ok, sure. You can proceed. Issue is assigned. All the best. @ainy-123

[2021-06-25 10:48] ainy-123 commented on #79
thank you :)

[2021-06-25 10:50] neelshah2409 opened #492 "Fidget Spinner"
Title: Fidget Spinner
About: Its a game basically for fun  using turtle and distutils.
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

As the fidget were on the trends for sometime ,we will make a virtual fidget which will move as we press the space button and as fast we will press the button the speed of fidget increases.
Here we c

[2021-06-25 10:57] #470 closed

[2021-06-25 10:57] #486 closed

[2021-06-25 11:27] akash435 opened #493 "Periodic Table Elements Information"
---
Title: Periodic Table Elements Information
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the details about the any periodic table elements.

This will include all the 118 element  that are in periodic table.

For eac

[2021-06-25 11:27] akash435 commented on #493
@prathimacode-hub , if this can be added under GUIScripts , then please assign me this under LGM SOC.

[2021-06-25 11:49] prathimacode-hub commented on #492
Interesting, go ahead. @neelshah2409

[2021-06-25 11:50] prathimacode-hub commented on #493
Issue assigned, creative script. @akash435

[2021-06-25 12:58] Iamtripathisatyam commented on #379
Ya ma'am, I am working on it. It will be updated soon, and I'll try to push it today.

[2021-06-25 13:00] prathimacode-hub commented on #379
That's great @Iamtripathisatyam

[2021-06-25 13:03] MuditCh57 opened #495 "Dodge Charger Game"
---
Title: Dodge Charger Game
About: It is car based game made with python and pygame module.
Name: Mudit Choudhary
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

You are driving on a highway in wrong way. You have to dodge
your car and stay alive.
Features :-
1. You can collect coins and use them to buy different vehicles.
2. Collect heart t

[2021-06-25 13:30] palakagarwal5230 commented on #277
I've no other option

[2021-06-25 13:34] MuditCh57 commented on #313
Can I work on this issue? As @SravanithaGatti is not responding.

[2021-06-25 13:43] prathimacode-hub commented on #277
Ok, hopefully. @palakagarwal5230

[2021-06-25 13:44] prathimacode-hub commented on #313
Lets wait for more 2 days, until then you can come up with some other issue. @MuditCh57

[2021-06-25 13:47] prathimacode-hub commented on #495
Interesting, you can proceed. @MuditCh57

[2021-06-25 13:52] MuditCh57 commented on #313
👍  @prathimacode-hub

[2021-06-25 13:59] prakhar07msd commented on #371
Please check my PR

[2021-06-25 15:26] #493 closed

[2021-06-25 15:27] #492 closed

[2021-06-25 16:29] neelshah2409 opened #499 "Instagram Bot"
Title: Instagram Bot
About: here we will download profile picture and can follow someone and many more things through our script.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Here we are going to make a script  which will do all the things of instagram from download to uploading.
Here we can ->download profile picture .->upload a

[2021-06-25 16:39] tjanhvi commented on #479
Title: coffee machine game using python
About: Add a BasicPythonScripts to implement coffee machine game

Name: Janhvi Tiwari
Label: Feature Request
Assignee: "

Define You:
LGM-SOC'21 Participant

Solution:
It will be a BasicPythonScripts in which the user play a coffee machine game.

[2021-06-25 16:40] #479 closed

[2021-06-25 16:40] tjanhvi opened #500 "Add coffee machine game."
Title: coffee machine game using python
About: Add a BasicPythonScripts to implement coffee machine game

Name: Janhvi Tiwari
Label: Feature Request
Assignee: "

Define You:
LGM-SOC'21 Participant

Solution:
It will be a BasicPythonScripts in which the user play a coffee machine game.

[2021-06-25 16:42] tjanhvi commented on #478
okay :)

[2021-06-25 16:53] prathimacode-hub commented on #479
Why did u close it? You just have to add your template. You should not close issue or PR from your end. @tjanhvi

[2021-06-25 16:54] akash435 opened #501 "Indian University NIRF Ranking"
---
Title: Indian University NIRF Ranking
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the NIRF Ranking of any top university in India.

This will include almost 200 top universities of India.

Along with NIRF Ranking,

[2021-06-25 16:55] akash435 commented on #501
@prathimacode-hub , If this can be added under GUIScripts, then please assign me this under LGM SOC.

[2021-06-25 16:56] prathimacode-hub commented on #499
Your issue doesn't feature ur name? @neelshah2409

[2021-06-25 16:57] prathimacode-hub commented on #501
Yes, you can proceed. @akash435

[2021-06-25 16:57] prathimacode-hub commented on #500
Ok, issue assigned. You can proceed working. @tjanhvi

[2021-06-25 16:58] neelshah2409 commented on #499
Yes mam sorry by mistake 🙏

[2021-06-25 17:08] prathimacode-hub commented on #499
Cool, no worries. Issue assigned. @neelshah2409

[2021-06-25 17:10] #478 closed

[2021-06-25 17:10] #482 closed

[2021-06-25 18:37] sahilsingh2402 opened #503 "PDF to JPG Converter"
**Title :** PDF to Image in python
**About :** .pdf to .jpg file converter
**Name :** Sahil Singh
**Label :** Feature Request
**Assignee :**

**LGM-SOC'21:** Participant

**Description :** I would like to create a simple file converter, which would convert documents of .pdf format to .jpg images in python using some of its libraries. Please assign this to me. @prathimacode-hub

[2021-06-26 01:52] akash435 opened #506 "Pincodes of Indian City"
---
Title: Pincodes of Indian City
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get all the Pin Codes, that are running in any city in India.
And also get that city is located in which state.

for eg., suppose city selected

[2021-06-26 01:52] akash435 commented on #506
@prathimacode-hub , please assign this to me under LGM SOC, can add this under GUIScripts.

[2021-06-26 03:52] #456 closed

[2021-06-26 03:53] sahilsingh2402 commented on #503
Please assign this to me. @prathimacode-hub

[2021-06-26 04:04] #501 closed

[2021-06-26 04:08] Debashish-hub commented on #503
Good choice @sahilsingh2402 . Issue is assigned to you

[2021-06-26 04:11] Debashish-hub commented on #506
I think you have already done Indian University NIRF Ranking  @akash435
Please correct the issue template

[2021-06-26 04:12] akash435 commented on #506
Sorry, i forgot to changed the title, now i have changed please check it and assign if OK.

[2021-06-26 04:17] #499 closed

[2021-06-26 04:18] Debashish-hub commented on #506
Its Ok. The issue is assigned to you @akash435

[2021-06-26 05:38] #488 closed

[2021-06-26 05:46] Iamtripathisatyam opened #508 "Split Each Excel Sheet Into Separate Excel Files."
---
Title: Split Each Excel Sheet Into Separate Excel Files.
About: We'll look at how to divide Excel sheets into distinct Excel files using numerous libraries of Python.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

We all know how crucial Excel sheets are today for holding large data packets. We will divide the sheets

[2021-06-26 06:25] #379 closed

[2021-06-26 06:26] Debashish-hub commented on #508
Go ahead @Iamtripathisatyam Issue is assigned to you.

[2021-06-26 07:27] Khushi-sharma07 opened #509 "Fruit Ninja Game"
Title: Fruit Ninja Game
About: Add a Python PyGame Script for a game which is very popular among kids the children use to slice the fruits and score points.
Name: Khushi Sharma
Label: Feature Request
Assignee: "

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Solution:
It will be a very fun Python PyGame Script game for kids that will entertain them. The kids will slice the fruits an

[2021-06-26 07:37] prathimacode-hub commented on #509
Issue assigned. @Khushi-sharma07

[2021-06-26 08:00] #508 closed

[2021-06-26 09:29] #476 closed

[2021-06-26 09:29] #506 closed

[2021-06-26 09:44] rammya29 opened #513 "Document Converter App"
---
Title: Document Converter App
About: Using Python Scripts, to create an application where we can change the document format like pdf to word, excel to pdf, image jpg to png etc...
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

  Yes, This applicat

[2021-06-26 10:37] akash435 commented on #446
For this script, i mean i was going to implement like this,

![1](https://user-images.githubusercontent.com/57003737/123510294-38211f80-d698-11eb-816a-4d987c6564df.jpg)

![2](https://user-images.githubusercontent.com/57003737/123510296-3bb4a680-d698-11eb-8aab-1a3204eee3c9.jpg)

![3](https://user-images.githubusercontent.com/57003737/123510297-3e170080-d698-11eb-8532-d80bec392a3a.jpg)

![4](https:/

[2021-06-26 10:39] manognyaa opened #514 "BITCOIN PRICE"
---
Title: Bitcoin pricer
About: this project will help in telling the bitcoin price when you add an input
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
I will be using python mam .
please assign this issue to me mam, I really want to work @prathimacode-hub mam.

[2021-06-26 10:46] prathimacode-hub commented on #514
This issue is already done. @manognyaa

[2021-06-26 10:48] manognyaa opened #515 "Binary Calculator GUI"
---
Title: Binary Calculator
About: this is a calculator where in it will give yo the answer of the given input by the user.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
I will be using python mam
please assign this issue to me @prathimacode-hub mam, I would like to work on this.

[2021-06-26 10:49] prathimacode-hub commented on #513
Interesting, but point to note: PDF to JPG is already done. Other than that, you can use rest of the conversions. If you're ok with it? @rammya29

[2021-06-26 10:50] prathimacode-hub commented on #515
You're good to go. Can proceed. @manognyaa

[2021-06-26 10:51] #514 closed

[2021-06-26 11:15] Ashu-1309 opened #516 "Calender"
Title :- Calendar
About : Through this code will be to see Calendar .
Name : ASHUTOSH KUMAR SAW
Label : Feature Request
Assign:"

Define You:
LGM-SOC'21 Participant
Contributor

Programming Language : Python

[2021-06-26 11:16] prathimacode-hub commented on #446
I had got one, but that's completely different script from what I could see from ur screenshots. So do you want to work on this? @akash435

[2021-06-26 11:59] akash435 commented on #446
If this can be added, then yes please assign me, can work on this.

[2021-06-26 12:28] rammya29 commented on #513
Its okay mam, assign to me mam, i ill do it

[2021-06-26 13:18] prathimacode-hub commented on #446
Ok, issue assigned. @akash435

[2021-06-26 13:18] prathimacode-hub commented on #516
Done long back, take another to work on. @Ashu-1309

[2021-06-26 13:19] prathimacode-hub commented on #513
Sure, you can proceed. @rammya29

[2021-06-26 13:48] neelshah2409 opened #518 "Excel File Automation"
Title: Excel File Automation
About: here we will make excel file using openpyxl.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor
Describe the solution you'd like...
Here we will make excel file through our script using openpyxl and we can set the data and column name as per our requirement.

[2021-06-26 13:50] akash435 opened #519 "All Indian Trains"
---
Title: All Indian Trains
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get Starting junction, Ending Junction and the train no.
by selecting the train name.

for eg.)
If user select train name as "Ahmadabad Passenger"
th

[2021-06-26 13:51] akash435 commented on #519
@prathimacode-hub , please assign this to me under LGM SOC, if this is OK.

[2021-06-26 13:51] Ashu-1309 commented on #516
Okay

[2021-06-26 13:56] prathimacode-hub commented on #518
You can proceed. @neelshah2409

[2021-06-26 13:57] prathimacode-hub commented on #519
Interesting, you can start working. @akash435

[2021-06-26 14:36] #311 closed

[2021-06-26 14:36] #446 closed

[2021-06-26 14:36] #471 closed

[2021-06-26 15:03] Ashu-1309 opened #521 "Pattern"
Title :- Pattern
About : Through this code will be able to print out different patterns .
Name : ASHUTOSH KUMAR SAW
Label : Feature Request
Assign:"

Define You:
LGM-SOC'21 Participant
Contributor

Programming Language : Python

[2021-06-26 15:24] Iamtripathisatyam opened #522 "Move Files To Creation and Modification Date Named Directories"
---
Title: Move Files To Creation and  Modification Date Named Directories
About: We'll attempt to write a Python script that will transfer all of your files to new folders depending on their creation and modification dates.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

We'll attempt to write a Python script that will t

[2021-06-27 04:23] #519 closed

[2021-06-27 04:30] #459 closed

[2021-06-27 04:31] akash435 opened #527 "Solar System Objects Details"
---
Title: Solar System Objects Details
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the details about the solar system objects.

The details will be in terms of Radius , Mass , Density, Gravity , Semi Major Axis, Orbit

[2021-06-27 04:31] akash435 commented on #527
@prathimacode-hub , please assign this to me under LGM SOC, will add this under Python Scripts.

[2021-06-27 04:36] Debashish-hub commented on #521
Please elaborate @Ashu-1309

[2021-06-27 04:37] Debashish-hub commented on #522
Issue is assigned to you @Iamtripathisatyam

[2021-06-27 04:39] Debashish-hub commented on #527
Issue is assigned to you @akash435

[2021-06-27 04:44] Ashu-1309 commented on #521
Through this program we can make different patterns like ladder pattern , star pattern.

[2021-06-27 04:54] chandu6111 opened #528 "Virtual Voice Assistant using python"
**Title**: Virtual Voice Assistant using python
**Name**: Chandana (chandu6111)
**Label**: Feature Request

The voice assistant project is really fascinating. We always want someone to do tasks as we instruct. A voice assistant is no exception for that. This project is completely voice-based.
The voice assistant can:
- play a song
- Tell the time
- Crack a joke
- Search in Wikipedia
- Opens: Notep

[2021-06-27 04:55] chandu6111 commented on #528
@prathimacode-hub please do assign me this issue under LGM-SOC'21

Thank you

[2021-06-27 06:18] prathimacode-hub commented on #528
This issue is already done. You can take up an another issue to work on. @chandu6111

[2021-06-27 06:19] prathimacode-hub commented on #521
Ok, is it a GUI scripts? @Ashu-1309

[2021-06-27 06:30] Ashu-1309 commented on #521
Noo

[2021-06-27 06:55] #426 closed

[2021-06-27 06:59] #450 closed

[2021-06-27 07:00] prathimacode-hub commented on #521
Can you elaborate more. @Ashu-1309

[2021-06-27 07:48] Ashu-1309 commented on #521
Like this type of pattern s

![Screenshot_2021-06-27-13-17-40-166_com android chrome~2](https://user-images.githubusercontent.com/60690692/123536832-2d26c780-d74a-11eb-93b5-836572558b87.jpg)

[2021-06-27 08:02] prathimacode-hub commented on #521
Ok, got it. Issue assigned. @Ashu-1309

[2021-06-27 10:34] Sidrahsheikh commented on #159
I would like to work on this, it will be helpful if you explain it a little bit.

[2021-06-27 10:39] prathimacode-hub commented on #159
This issue is already done. You can create up a new issue to work on. But make sure, it isn't already in the repo. All the best. @Sidrahsheikh

[2021-06-27 10:39] #159 closed

[2021-06-27 12:11] Vaibhav-Vipin opened #530 "String to ASCII"
**Title:** String to ASCII Generator
**About:** ASCII Value of all Characters in String
**Name:** Vaibhav Vipin
**Level:** Feature Request
**Assignee:** ""

**Define You:**

- [X] LGM-SOC'21 Participant

- [ ] Contributor

**Description:** A python program that prints ASCII value of all characters of a string entered by the user.

Eg: _If a user enters string as_: LGM-SOC
[code]

[2021-06-27 12:19] prathimacode-hub commented on #530
Good choice, you can proceed. Issue assigned to you. @Vaibhav-Vipin

[2021-06-27 15:28] Akash20x commented on #468
@Debashish-hub Please check my pull request

[2021-06-28 02:58] akash435 opened #537 "World Companies Detailer"
---
Title: World Companies Detailer
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the details about the different top companies in the world.

The details will be in terms of
Company name
Sales ($billion)
Global Rank
Pro

[2021-06-28 02:58] akash435 commented on #537
@prathimacode-hub , please assign this to me under LGM SOC, will add this in GUI Scripts.

[2021-06-28 03:11] #527 closed

[2021-06-28 03:12] Debashish-hub commented on #537
Issue is assigned to you @akash435

[2021-06-28 03:13] #509 closed

[2021-06-28 05:38] #371 closed

[2021-06-28 05:39] #468 closed

[2021-06-28 05:39] #518 closed

[2021-06-28 05:39] #537 closed

[2021-06-28 05:41] prathimacode-hub commented on #79
Any progress update? @ainy-123

[2021-06-28 05:43] #516 closed

[2021-06-28 05:44] #528 closed

[2021-06-28 05:53] neelshah2409 opened #539 "Weather Updates (Web Scraping)"
Title: Weather Updates
About: Here we can get weather information of any city
Name: Neel Shah
Level: Feature Request
Assignee: ""

Define You:

- [x] LGM-SOC'21 Participant

- [ ] Contributor

Description: By using requests and bs4 library we will fetch the weather information of any city  form the website.

[2021-06-28 05:55] prathimacode-hub commented on #539
You can proceed. @neelshah2409

[2021-06-28 07:03] #521 closed

[2021-06-28 07:26] rammya29 commented on #513
Hi mam, Sorry for inconvenience, due to system's older version some python modules are not accepted so I am unable to do it. Can I come up with some other issue?

[2021-06-28 07:32] prathimacode-hub commented on #513
Yeah, sure. No worries. I will keep this issue open. @rammya29

[2021-06-28 07:32] rammya29 commented on #513
Tq mam

[2021-06-28 07:34] prathimacode-hub commented on #513
So, can this be assigned to someone else? @rammya29

[2021-06-28 07:35] rammya29 commented on #513
Yeah, if some other is willing to take this, surely they can work on this. No issues mam

[2021-06-28 07:38] #515 closed

[2021-06-28 07:45] prathimacode-hub commented on #513
Ok, cool

[2021-06-28 07:52] akash435 opened #541 "Bermuda Triangle Incidents"
---
Title: Bermuda Triangle Incidents
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the details incident that took place in past years.

In this user just need to select he years and he/she will be able to get the detail

[2021-06-28 07:53] akash435 commented on #541
@prathimacode-hub please assign this to me under LGM SOC, will add this under GUI scripts.

[2021-06-28 08:14] prathimacode-hub commented on #541
Yes, issue assigned. You can start working. @akash435

[2021-06-28 08:16] #335 closed

[2021-06-28 09:46] rammya29 opened #542 "Editor App"
---
Title: Editor App
About: This is a simple editing app that will allow the image to edit the features like, rotate, flip, add a border, blur, contrast, etc..
Name:  Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

 Yes, this project includes all the featur

[2021-06-28 10:01] Debashish-hub commented on #542
Issue is assigned to you @rammya29

[2021-06-28 10:03] #539 closed

[2021-06-28 10:03] #530 closed

[2021-06-28 10:06] rammya29 commented on #542
Inside which folder we have submit and create pull request

[2021-06-28 10:08] Debashish-hub commented on #542
You can create it under ImageProcessingScripts as it is related to that.

[2021-06-28 10:12] prathimacode-hub commented on #417
Kindly repond, if u r willing to work on this issue. @rishabhrathore055

[2021-06-28 10:13] prathimacode-hub commented on #344
It's been 10 days, do you really want to work on this issue. @Adarsh357

[2021-06-28 10:17] prathimacode-hub commented on #197
Sorry, it's been 14 days. And no response on it, about your interest on working as an enhancement. I had to close this issue. If you want to work on this issue, you can raise it up again. @pragyakhanna11

[2021-06-28 10:17] #197 closed

[2021-06-28 10:19] prathimacode-hub commented on #49
As there is no response from you since very long, i had to close this issue. If ur interested, you can raise an issue again.  @aishwaryachand

[2021-06-28 10:19] #49 closed

[2021-06-28 10:20] prathimacode-hub commented on #105
It's been very long you had raised an issue, but no response yet. So unfortunately I had to close this issue, you can create up a new issue to show ur interest if you are willing to work on this script. @Jyoti6828

[2021-06-28 10:21] #105 closed

[2021-06-28 10:24] prathimacode-hub commented on #253
It's been very long since you had raised an issue, but no response yet. So unfortunately I had to close this issue, you can create up a new issue to show ur interest if you are willing to work on this script again. @shantamsultania

[2021-06-28 10:24] #253 closed

[2021-06-28 10:35] prathimacode-hub commented on #314
Why did you close the issue? @Paras0-7

[2021-06-28 10:37] prathimacode-hub commented on #292
Ok, but it says, issue is closed from your end, Never mind. You can create up a new issue to work on if you're interested to. By the way this issue is already done. @Nithin2528

[2021-06-28 10:40] Nithin2528 commented on #292
I have many ideas to raise but I didn't understand the templates and all how to use them so I didn't raise any @prathimacode-hub

[2021-06-28 10:57] prathimacode-hub commented on #292
Ok, are you on slack or discord. Ping me personally. I shall guide you.

[2021-06-28 11:13] kumarjeetray opened #544 "MCQ"
---
Title: MCQ
About: This is a simple program which stores multiple choice questions and their answers. When a user opens it, it will prompt the user the questions along with the options and the user will have to answer the question. At the last it will show the score, the correct answers and the answers given by user.
---

Name: Kumarjeet Ray
Label: Feature Request
Assignee: ''

Define You:

- [

[2021-06-28 11:21] Vaibhav-Vipin opened #545 "Calculating Compound Interest"
**Title:** Compound Interest
**About:** Calculating Compound Interest
**Name:** Vaibhav Vipin
**Level:** Feature Request
**Assignee:** ""

**Define You:**

- [X] LGM-SOC'21 Participant

- [ ] Contributor

**Description:** A python program that calculates Compound Interest, considering several factors.

Eg:
[code]

[2021-06-28 11:47] prathimacode-hub commented on #544
This issue is assigned. You can proceed. @kumarjeetray

[2021-06-28 11:48] prathimacode-hub commented on #545
Issue assigned. You can proceed. @Vaibhav-Vipin

[2021-06-28 12:18] Vaibhav-Vipin opened #546 "Base convertering"
**Title:** Base converter
**About:** Base converter (Binary, decimal, hexadecimal & Octal etc.) to (Desired base (i.e. Binary, decimal, hexadecimal & Octal))
**Name:** Vaibhav Vipin
**Level:** Feature Request
**Assignee:** ""

**Define You:**

- [X] LGM-SOC'21 Participant

- [ ] Contributor

**Description:**
A python program which can handle any number and base we give, and it can output the desir

[2021-06-28 12:28] chandu6111 commented on #513
@prathimacode-hub please assign me this issue as it is up-for-grab, I will do the task.

[2021-06-28 12:33] chandu6111 commented on #344
@prathimacode-hub
I think this issue is about generating random facts in a program and then printing it to the console, is it right?
If that is so, this is quite a small code, please assign me this issue. I will complete it

[2021-06-28 12:33] prathimacode-hub commented on #513
Yes, you can work on it. As said, PDF to JPG is already taken. Other than that, you can work on other conversions. @chandu6111

[2021-06-28 12:35] prathimacode-hub commented on #546
Interesting, have you finished up your previous issue taken. @Vaibhav-Vipin

[2021-06-28 12:38] prathimacode-hub commented on #344
Yes, right. First complete the earlier issue assigned, then you can work on this. If this isn't taken up by anyone.
You can work on only 1 issue at a time. @chandu6111

[2021-06-28 12:56] Vaibhav-Vipin commented on #546
Yes (on local device),
P.S: I want to learn about Git/GitHub (multiple branching) and wants to have at least two opened issues. This will not create any issue with master branch.

Can you please assign this issue to me.

[2021-06-28 12:58] Vaibhav-Vipin commented on #546
Yes (on local device),
P.S: I want to learn about Git/GitHub (multiple branching) and wants to have at least two opened issues. This will not create any issue with master branch.

Can you please assign this issue to me.

[2021-06-28 13:29] tanvi355 opened #548 "HTML to markdown"
---
Title: HTML to Markdown
About: CLI script
Name: Tanvi Bugdani
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description: A script to convert HTML code into markdown format.

[2021-06-28 13:32] tanvi355 opened #549 "Text to PDF"
---
Title: Text to PDF
About: CLI script
Name: Tanvi Bugdani
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description:
A script to convert a given text file to pdf and save it.

[2021-06-28 13:38] Debashish-hub commented on #548
Please follow proper issue template @tanvi355

[2021-06-28 13:40] tanvi355 commented on #548
I can't see ant template when I click on new issue
![image](https://user-images.githubusercontent.com/56465105/123645998-70fdf780-d844-11eb-9493-c715fd5167e6.png)

[2021-06-28 13:42] Debashish-hub commented on #548
https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/.github/issue_template
Find it here.

[2021-06-28 14:07] Aditya8821 opened #550 "Solar System Planets Info"
Title: Solar System Planets Information
About: Implementation of this script is done by using a module like Pillow and Tkinter. Many useful functions of Tkinter and pillow are used to create this project.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

-[x] LGM-SOC'21 Participant
-[x] Contributor
I'll write a Python script that will display a picture of that particular plane

[2021-06-28 14:18] Debashish-hub commented on #550
Is it similar to #527 @Aditya8821

[2021-06-28 15:37] ainy-123 commented on #79
Yes, will create the PR today.

[2021-06-28 15:45] Aditya8821 commented on #550
Yes sir but it have different interface

[2021-06-28 16:14] prathimacode-hub commented on #546
It's not about you not able to do it or not. But it's on one issue at a time, sorry to say but we have to abide by it. You can start working on this, once you create your previous PR. If you want to learn Git/Guthub, I shall guide. @Vaibhav-Vipin

[2021-06-28 16:27] prathimacode-hub commented on #548
Issue is assigned to you. You can proceed. @tanvi355

[2021-06-28 16:28] prathimacode-hub commented on #549
This is already done. And also an issue is assigned to you already. You can work on only 1 issue at a time. @tanvi355

[2021-06-28 16:29] prathimacode-hub commented on #550
Interface might be different, but concept is mostly same. It comes under which script? @Aditya8821

[2021-06-28 16:30] #549 closed

[2021-06-28 16:37] Aditya8821 commented on #550
Mam i have completed this only by the use of Tkinter itself so it will fall under GUI.

[2021-06-28 16:54] prathimacode-hub commented on #550
But, we already have a similar script under GUI. It's better you take up an another issue to work on. @Aditya8821

[2021-06-28 17:09] akash435 opened #553 "Nobel Prize Winner"
---
Title: Nobel Prize Winner
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create an application that will allow user to get the details about the nobel prize winner from the past years 100 years.

the details will be like
in which category they won,
birth place,
birth

[2021-06-28 17:10] akash435 commented on #553
@prathimacode-hub ,please assign this to me under LGM SOC, will add this under GUIScripts.

[2021-06-28 18:47] prathimacode-hub commented on #553
Issue assigned. @akash435

[2021-06-29 03:44] akash435 opened #555 "Programming Keyboard"
---
Title: Programming Keyboard
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will try to create a programming keyboard in which we will embed keys for
print
int
char
string

and many other keys are are keywords in Programming language.

It will work like this, when we click

[2021-06-29 03:44] akash435 commented on #555
@prathimacode-hub , please assign this to me under LGM SOC

[2021-06-29 05:58] rammya29 opened #556 "Top Movie GUI"
---
Title: Top Movie List GUI
About: Building a GUI to get top movies
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, This project is based on a python script.

**Describe the solution you'd like...**

Using the module we can built a GUI app to ge

[2021-06-29 07:50] Vaibhav-Vipin commented on #546
That's fine, and I have finished the previous issue.
And I do want to learn few concepts in Git/GitHub, e.g. if any git project is huge (1-2 GB) and using git clone is not an option for me due to data cap. How can contribute in it without cloning their entire project locally.

P.S: where should I ask the doubt asking here seems hectic to me.

[2021-06-29 07:56] #542 closed

[2021-06-29 07:57] #541 closed

[2021-06-29 07:57] #500 closed

[2021-06-29 07:57] #553 closed

[2021-06-29 08:02] prathimacode-hub commented on #546
You can connect with me through social media handles. Great, but changes are being addressed to be done in your earlier PR. Once PR gets approved, you can start working on this. Insteading of cloning it, you can individually download the respective files or folders by selecting download option directly. @Vaibhav-Vipin

[2021-06-29 08:03] prathimacode-hub commented on #555
This looks like your earlier PR. @akash435

[2021-06-29 08:05] prathimacode-hub commented on #556
Yes, you can proceed only if it is a GUI script. Bcoz we have similar script in API section. Are you sure, it's GUI? @rammya29

[2021-06-29 08:05] akash435 commented on #555
ok then, is it okay if i will enhance it, with some programming keywords keys?

[2021-06-29 08:07] prathimacode-hub commented on #555
Ok, you can work as enhancement, but don't u think, u need to do some changes in your issue template?

[2021-06-29 08:07] akash435 commented on #555
yes, sorry, i have updated now.

[2021-06-29 08:30] rammya29 commented on #556
Yes, it is based on GUI

[2021-06-29 08:33] prathimacode-hub commented on #555
Sure, issue assigned as an enhancement. @akash435

[2021-06-29 08:34] prathimacode-hub commented on #556
Issue assigned. @rammya29

[2021-06-29 08:35] prathimacode-hub commented on #555
As you are adding it as an enhancement, you can merge your changes together for this project. But Add up a separate "README_enhancement.md" for the changes you had done in this PR. @akash435

[2021-06-29 08:36] akash435 commented on #555
ok mam

[2021-06-29 08:46] #495 closed

[2021-06-29 08:47] #545 closed

[2021-06-29 08:48] prathimacode-hub commented on #546
You can now work on this issue, it's assigned to you. @Vaibhav-Vipin

[2021-06-29 08:57] neelshah2409 opened #558 "Next Word Prediction"
Title: Next Word Prediction
About: Here we will predict the next word with the use of our database .
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description: Here we will predict the next word as per our data that is available with us using numpy library. Here there is one requirement is that we need a collection of data for pre

[2021-06-29 09:04] prathimacode-hub commented on #558
Issue assigned. @neelshah2409

[2021-06-29 13:00] rammya29 opened #563 "To Do List - GUI"
---
Title: To-Do List
About: Build a GUI App where we can make a to-do list creation
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, This project is based on a python script.

**Describe the solution you'd like...**

To-do list app is created by s

[2021-06-29 16:11] pratimakush10 commented on #344
Can I work on this issue under LGMSOC'21

[2021-06-29 16:31] Umesh-01 opened #566 "Add a Python script for Quotes"
Title: Add a script for getting quotes using Python
Name: **Umesh Singh**
Label: Feature Request
Define You-
- [x] LGM-SOC'21 Participant
- [x] Contributor

Solution For Issue:
For this feature we need a python library for getting the quotes related to any author or person. And I will be adding a python script file for this feature and a readme file with some screenshots for showing it's working.

[2021-06-29 16:39] prathimacode-hub commented on #563
Is it a notepad? @rammya29

[2021-06-29 16:40] prathimacode-hub commented on #566
You can proceed. @Umesh-01

[2021-06-29 16:45] rammya29 commented on #563
No mam, not a notepad. Its a kind of app where we can add task, delete task, save task etc...

[2021-06-29 16:50] #555 closed

[2021-06-29 16:51] #558 closed

[2021-06-29 16:52] prathimacode-hub commented on #563
Ok, got it. You can proceed. @rammya29

[2021-06-29 16:52] #550 closed

[2021-06-29 17:14] #556 closed

[2021-06-29 17:16] #544 closed

[2021-06-29 17:49] Ashu-1309 opened #567 "Star Pattern"
Title: Star
About: Through the python code I want to print this. Star under LGM-SoC 21
Name: Ashutosh Kumar Saw
Label: feature request
Assignee: ''

Define You :-
- [x] LGM-SOC'21 Participant
- [x] Contributor

![Screenshot_2021-06-29-23-11-42-372_com android chrome~2](https://user-images.githubusercontent.com/60690692/123844093-3d989700-d930-11eb-9605-83270452a43c.jpg)

[2021-06-29 18:03] prathimacode-hub commented on #567
Ok, you can proceed. @Ashu-1309

[2021-06-29 18:51] NancyNegi23 opened #568 "Scrabble using Python"
Title: Scrabble
Name: Nancy negi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Description**
I want to add this script under the BasicPythonScripts. It is game of Scrabble made using Python and a beginner friendly project.

[2021-06-29 18:52] NancyNegi23 commented on #568
@prathimacode-hub please assign me this issue under LGM-SOC'21

[2021-06-29 19:29] tjanhvi opened #569 "Add Password Generator Game."
Title: Password generator game using python
About: Add a BasicPythonScripts to implement Password generator game

Name: Janhvi Tiwari
Label: Feature Request
Assignee: "

Define You:
LGM-SOC'21 Participant

Solution:
It will be a BasicPythonScripts in which the user can able to generate a password and also able to see whether the password is easy level or hard level password.

![image](https://user

[2021-06-30 03:04] akash435 opened #570 "Odd Symbol Find Game"
---
Title: Odd Symbol Find Game
About: It's a Pygames script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this game,
there will be 5 levels,
for each level there will be a matrix given of different size for different level,
and each cell in the matrix will be having same symbol, except one cell which will have

[2021-06-30 03:05] akash435 commented on #570
@prathimacode-hub ,please assign this to me under LGM SOC< will add this under Pygames Scripts.

[2021-06-30 03:25] Debashish-hub commented on #568
Please elaborate @NancyNegi23

[2021-06-30 03:33] Debashish-hub commented on #570
Issue is assigned to you @akash435

[2021-06-30 03:34] Debashish-hub commented on #569
Issue is assigned to you @tjanhvi

[2021-06-30 03:38] NancyNegi23 commented on #568
It will be a two player game. A starting letter is given to the user and both the player enter a word with the same starting letter. According to a pre-defined score chart the score of each player is calculated and winner is announced. The letter which occur frequently in words like a, e, are of low value and letters like z, x, y are of higher value.

[2021-06-30 03:43] Debashish-hub commented on #568
Sounds interesting! Issue is assigned to you @Debashish-hub

[2021-06-30 04:52] neelshah2409 opened #572 "Password Manager"
Title: Password Manager
About: it will store the passwords of different account very securely like that of browsers.
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description:
Here we will make a much secure password manager using fernet library .We will make a key first for the user using fernet and then we will ask him for the a

[2021-06-30 07:09] #568 closed

[2021-06-30 07:10] prathimacode-hub commented on #572
Sure, you can go ahead. @neelshah2409

[2021-06-30 07:10] Cartikx3 commented on #417
I am a LMG SOC participant , can you asssign this issue to me .

[2021-06-30 07:16] prathimacode-hub commented on #417
Sure, you can proceed. Issus is assigned. @Cartikx3

[2021-06-30 07:17] prathimacode-hub commented on #254
You can work on this, once you finish earlier assigned issue. @ainy-123

[2021-06-30 07:39] kumarjeetray opened #574 "Apple Store"
---
Title:  Apple Store
About: I designed a full stack web application which is an online apple store using Flask in Python and SQLAlchemy. Where the information of different prodducts are displayed. Where the customer can buy or sell products. The product informations have to be inserted manually with SQLAlchemy queries the structure to which is already there in this program
---

Name: Kumarjeet

[2021-06-30 07:47] rammya29 opened #575 "Marksheet - GUI"
---
Title: Marksheet - GUI
About: It a GUI Application, where mark sheets can be created easily.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, This one is related to python scripts using Tkinter module

**Describe the solution you'd like...**

I

[2021-06-30 09:45] prathimacode-hub commented on #574
That's interesting project. You can proceed. @kumarjeetray

[2021-06-30 12:15] akash435 opened #581 "Virtual Copy Paste"
---
Title: Virtual Copy Paste
About: It's a GUIscript
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script,
will create two textarea and two buttons, one for COPY and other for PASTE.

these two buttons will be implemented in such a way we can write any thing in one textarea and copy that using COPY button,

[2021-06-30 12:28] akash435 commented on #581
@prathimacode-hub , please assign this to me under LGM SOC

[2021-06-30 12:31] Debashish-hub commented on #575
Issue is assigned to you @rammya29

[2021-06-30 12:32] Debashish-hub commented on #581
Issue is assigned to you @akash435

[2021-06-30 13:17] MuditCh57 commented on #313
@prathimacode-hub Now can I fix this issue?

[2021-06-30 13:25] #572 closed

[2021-06-30 13:26] #570 closed

[2021-06-30 13:26] #548 closed

[2021-06-30 13:33] prathimacode-hub commented on #313
Sorry to say, but unfortunately I have to assign this issue to someone else as there was no response from you since past 13 days. You can take up a new issue to work on, when you could give your time. Issue can't held for this long. @SravanithaGatti

[2021-06-30 13:33] prathimacode-hub commented on #313
Yes, you can work on this issue. @MuditCh57

[2021-06-30 13:35] prathimacode-hub commented on #277
Sorry to say, but unfortunately I have to assign this issue to someone else to be fair enough with others. You can take up a new issue to work on, when your laptop is ready. Issue can't be held for this long. @palakagarwal5230

[2021-06-30 13:38] prathimacode-hub commented on #170
Sorry to say, but unfortunately I have to close this issue as there was no response from you since past 12 days. You can take up a new issue to work on, when you could give your time. Issue can't held for this long. @Nihir2904

[2021-06-30 13:38] #170 closed

[2021-06-30 13:39] prathimacode-hub commented on #123
Sorry to say, but unfortunately I have to assign this issue to someone else as there was no response from you since past 15 days. You can take up a new issue to work on, when you could give your time. Issue can't held for this long. @suvrashaw

[2021-06-30 13:40] Priyanshi-Rai commented on #277
I would love to work on this project with some other additional features.  Assign it to me

[2021-06-30 13:40] prathimacode-hub commented on #277
Sure, issue is assigned. @Priyanshi-Rai

[2021-06-30 13:41] prathimacode-hub commented on #344
Yes, you can proceed. Issue assigned. @pratimakush10

[2021-06-30 13:42] Priyanshi-Rai commented on #277
Thank you so much Ma'am . I'll make all the necessary changes in this according to me and create a PR as soon as possible.

[2021-06-30 14:22] prathimacode-hub commented on #277
Good to see your dedication. @Priyanshi-Rai

[2021-06-30 16:10] #581 closed

[2021-06-30 16:52] akash435 opened #586 "Word Search Game"
---
Title: Word Search Game
About: It's a Pygames script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a Word Search Game,
In this game there will be no. of levels and for each level there will be given a board in form of matrix, in which each cell will have a

[2021-06-30 16:53] akash435 commented on #586
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC, will add this game under Pygames script

[2021-06-30 16:57] prathimacode-hub commented on #586
You can proceed. @akash435

[2021-07-01 04:33] akash435 opened #588 "All Camera Model Detailer"
---
Title: All Camera Model Detailer
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application the user will be able to find the details about about 1000 different types of cameras.
The detail

[2021-07-01 04:33] akash435 commented on #588
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC, will add this under GUI scripts.

[2021-07-01 05:04] ASLManasa opened #589 "Calendar"
I am LGM SoC21 participant. I want to create a calendar that gives the dates according to the year entered. Kindly assign me this issue.Thanks

[2021-07-01 05:08] prathimacode-hub commented on #588
Yes, issue assigned. @akash435

[2021-07-01 05:14] prathimacode-hub commented on #589
This issue is already done, And also follow the template given while raising an issue or PR. You can come with new issue and before that make sure it's not available in the repo. @ASLManasa

[2021-07-01 05:15] neelshah2409 opened #590 "Bruteforce Attack"
Title: Bruteforce Attack
About: It's a script where we will generate random passwords and will match the passwords with the user.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
 - [ ] DevIncept Participant
 - [ ] Contributor

Here we will ask user for a password then we will generate random password using all the alphabets through random library and

[2021-07-01 05:16] ASLManasa commented on #589
ok Thanks.  I will make sure to check next time.@prathimacode-hub

[2021-07-01 05:17] prathimacode-hub commented on #590
You can get going. Issue assigned. @neelshah2409

[2021-07-01 05:44] #586 closed

[2021-07-01 07:32] akash435 opened #593 "Painting Tool"
---
Title: Painting Tool
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a painting application using tkinter GUI,

In this will create option like user can select pen, can select any colour for that pen, can increase/decrease the width

[2021-07-01 07:33] akash435 commented on #593
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC, will add this painting tool under GUIScripts.

[2021-07-01 08:17] #344 closed

[2021-07-01 08:19] #588 closed

[2021-07-01 08:25] prathimacode-hub commented on #593
Yes, you can proceed. @akash435

[2021-07-01 09:45] neelshah2409 opened #595 "Chrome Dinosaur Automation"
Title: Chrome Dinosaur Automation
About: It's a script where we will automate the browser game .
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:
- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
 - [ ] Contributor

Description:
As we all face some sort of problem with internet sometime so the best way for time pass is dino game.so here we will automate the dino game using p

[2021-07-01 09:50] #590 closed

[2021-07-01 09:51] prathimacode-hub commented on #595
Oh, interesting. Just had a small play on it yesterday. @neelshah2409

[2021-07-01 10:17] #589 closed

[2021-07-01 11:28] #566 closed

[2021-07-01 11:28] #593 closed

[2021-07-01 12:17] akash435 opened #598 "All Laptop Detailer"
---
Title: All Laptop Detailer
About: It's a GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,
In this application user can get the details about more than 1300 different laptops,

for each laptop the details will be in

[2021-07-01 12:17] akash435 commented on #598
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC, will add this under GUIScript.

[2021-07-01 12:25] prathimacode-hub commented on #598
Haha, again a detailer script? @akash435

[2021-07-01 12:27] akash435 commented on #598
you mean i should not do this?

[2021-07-01 12:43] prathimacode-hub commented on #598
Nope, that's totally your choice. @akash435

[2021-07-01 15:12] MuditCh57 commented on #313
The issue raised here is wrong. There is no infinite loop start on giving string instead it gives ValueError which is totally correct (giving string instead int).  Now the actual problem here is that
# Problem
If user want to set a alarm for a noon or evening or night time, then the time format should be (HH:MM) 24 hour system not 12 hour system.
# Solution
1. Remove line number 7 because there is

[2021-07-01 15:27] akash435 opened #602 "Image Here To There"
---
Title: Image Here To There
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,
In this application user can select any image from anywhere from the local system and save it to another place

[2021-07-01 15:28] akash435 commented on #602
@prathimacode-hub @Debashish-hub ,please assign this to me under LGM SOC.
Can you please also confirm it's goes under imageprocessing script or not?

[2021-07-01 15:28] prathimacode-hub commented on #602
Yeah, it can go under it. Can you elaborate your issue more? @akash435

[2021-07-01 15:31] prathimacode-hub commented on #313
Yes, you can add up an enhancement to this project. @MuditCh57

[2021-07-01 15:32] akash435 commented on #602
In the application window, there will be a SELECT button, using which user can select image from local system.

After that there will also be SAVE button, clicking on which user can save that file anywhere in the local system.

Also will try to preview the image selected by the user.

for this will be using cv2 library.

[2021-07-01 15:33] #598 closed

[2021-07-01 15:34] #487 closed

[2021-07-01 15:36] #569 closed

[2021-07-01 15:37] prathimacode-hub commented on #602
Ok, you can proceed. @akash435

[2021-07-02 02:41] akash435 opened #606 "Text Editor"
---
Title: Text Editor
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an simple text editor using tkinter GUI,
In this application user have different option like
write anything
redo
undo
cut
copy
paste
can also find some text
save the

[2021-07-02 02:42] akash435 commented on #606
@prathimacode-hub , @Debashish-hub , please assign this to me under LGM SOC.
I searched for this but couldn't find anything similar to this, can you please tell if it is similar to existing one.

[2021-07-02 03:45] Debashish-hub commented on #606
Is it similar to #237 @akash435

[2021-07-02 03:48] akash435 commented on #606
No in this Notes Panel, user can only write, but here i am going to create text editor kind thing.

like this
![1](https://user-images.githubusercontent.com/57003737/124217734-7d20d800-db16-11eb-8807-d5b3da9609cf.jpg)

[2021-07-02 03:49] #602 closed

[2021-07-02 03:50] Debashish-hub commented on #606
Issue is assigned to you @akash435

[2021-07-02 03:52] #522 closed

[2021-07-02 07:02] neelshah2409 opened #609 "Image Displayer GUI"
Title: Image Displayer GUI
About: It's a  gui script where we can display all the images of our device.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
 - [ ] Contributor

Here we will use kivy for displaying the image , we firstly set the design of the preview screen and then we will redirect to devices file and then selec

[2021-07-02 07:09] #595 closed

[2021-07-02 07:39] #606 closed

[2021-07-02 07:47] #574 closed

[2021-07-02 08:28] akash435 opened #612 "Movie Booking Application"
---
Title: Movie Booking Application
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an movie booking application using tkinter GUI,
In this application first we will ask user about type of movie like horror, romance, thriller, etc.
Als

[2021-07-02 08:28] akash435 commented on #612
@prathimacode-hub , @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-02 08:31] Debashish-hub commented on #609
Issue is assigned to you @neelshah2409

[2021-07-02 08:32] Debashish-hub commented on #612
Issue is assigned to you @akash435

[2021-07-02 11:06] Ashu-1309 opened #613 "Indian Flag"
Title:  Indian Flag
About: Through the python code I want to print this. Star under LGM-SoC 21
Name: Ashutosh Kumar Saw
Label: feature request
Assignee: ''

Define You :-
- [x] LGM-SOC'21 Participant
- [x] Contributor

[2021-07-02 11:07] prathimacode-hub commented on #613
You can proceed. @Ashu-1309

[2021-07-02 14:13] #612 closed

[2021-07-02 14:13] #277 closed

[2021-07-02 14:35] tjanhvi opened #616 "Design using python(turtle project)"
Title: Design using python(turtle project)
About: Through the python code I want to print a design in image processing script under LGM-SoC 21
Name: Janhvi Tiwari
Label: feature request
Assignee: ''

Define You:-

 LGM-SOC'21 Participant
 Contributor

[2021-07-02 14:41] cybot-des opened #617 "Weather Updates for further 5 days"
---
Title: Weather Updates for 5 days
About: API Script Project
Name: Pooja S Deshpande
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

About:
In this project, I will use Meta Weather API to get weather updates for today plus next 5 days.
Will be mostly implemented in GUI format for clean presentation of response fr

[2021-07-02 14:41] akash435 opened #618 "Restaurant Management System"
---
Title: Restaurant Management System
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an Restaurant Management application using tkinter GUI,

in this we will add option to select different meals and will show the price for each meals

[2021-07-02 14:42] akash435 commented on #618
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC

[2021-07-02 14:59] prathimacode-hub commented on #616
What's the design? @tjanhvi

[2021-07-02 14:59] prathimacode-hub commented on #618
You can proceed. @akash435

[2021-07-02 15:01] prathimacode-hub commented on #617
This script has already been done using API. @cybot-des

[2021-07-02 15:06] cybot-des commented on #617
Okay Maam

[2021-07-02 15:12] #617 closed

[2021-07-02 16:00] #609 closed

[2021-07-02 17:44] #618 closed

[2021-07-02 17:45] #567 closed

[2021-07-02 18:52] akash435 opened #620 "Camera Application"
---
Title: Camera Application
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a simple Camera  application using tkinter GUI and OpenCV library,

In this on the main window a camera will open using OpenCV and will create an

[2021-07-02 18:53] akash435 commented on #620
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC, will add this Camera Application in ImageProcessing Scripts.

[2021-07-03 03:46] Debashish-hub commented on #620
Issue is assigned to you @akash435

[2021-07-03 04:57] neelshah2409 opened #621 "Music Player GUI"
Title: Music Player GUI
About: To make a music player for the downloaded music on device just like mp3 player
Name: Neel Shah
Label: feature request
Assignee: ''

Define You :-
- [x] LGM-SOC'21 Participant
 - [ ] Contributor

Here we will use tkinter for making the gui where there will be play , pause , stop and resume buttons which will be functioning through pygame functions and for selecting th

[2021-07-03 05:00] Debashish-hub commented on #621
It must be similar to #282 @neelshah2409

[2021-07-03 05:55] neelshah2409 commented on #621
Okay sir my bad .

[2021-07-03 06:00] neelshah2409 opened #622 "Gesture Pet (Fun Game GUI)"
Title: Gesture Pet
About: To make a emoji like pet which will show different reactions on click on it
Name: Neel Shah
Label: feature request
Assignee: ''

Define You :-

- [x] LGM-SOC'21 Participant
- [ ]  Contributor

Here using tkinter we will make a emoji kind of pet which will show different reactions on click of the cursor.
->When we place cursor on it , it will show happy face.
->When we dou

[2021-07-03 06:22] prathimacode-hub commented on #622
Ok, you can proceed. @neelshah2409

[2021-07-03 07:15] #620 closed

[2021-07-03 09:15] akash435 opened #624 "Bounce Ball Game"
---
Title: Bounce Ball Game
About: It's an Pygame script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a simple Bouncing ball game in tkinter GUI,

In this we will be having a bouncing ball and a rectangle bouncer , the ball keeps on bouncing in any direction

[2021-07-03 09:15] akash435 commented on #624
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SCO.

[2021-07-03 09:58] prathimacode-hub commented on #624
This is already done. @akash435

[2021-07-03 10:03] akash435 commented on #624
ok, sorry, then you can close it.

[2021-07-03 10:08] #624 closed

[2021-07-03 10:08] #621 closed

[2021-07-03 10:09] #622 closed

[2021-07-03 10:24] akash435 opened #626 "Piano Application"
---
Title: Piano Application
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a Piano application using tkinter GUI,

In this we will created Piano button in black and white colour alternatively, and will embed different piano sound in e

[2021-07-03 10:24] akash435 commented on #626
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-03 10:30] prathimacode-hub commented on #626
Issue assigned. @akash435

[2021-07-03 12:31] akash435 opened #628 "Google Search Engine"
---
Title: Google Search Engine
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a Google Search Engine kind of GUI using tkinter GUI,

And for implementing google things will user googlesearch library in python.

Will be adding all the

[2021-07-03 12:32] akash435 commented on #628
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.
And can you please specify in which script it will go.

[2021-07-03 13:56] neelshah2409 opened #629 "Text File To PDF"
Title: Text File To PDF
About: To convert text file to pdf using fpdf library
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:-

- [x] LGM-SOC'21 Participant
- [ ] Contributor

For converting text file to pdf we need to go to chrome or google and do that so why not our script do that for us.
Here we will use fpdf library and firstly read the text file and then will make a pdf of it

[2021-07-03 16:26] neelshah2409 commented on #629
@prathimacode-hub @Debashish-hub please see this issue and assign me.

[2021-07-03 16:35] Akash20x opened #631 "Reddit Video Downloader"
Title: Reddit Video Downloader
About: Add a python script which takes post URL and gives video as mp4 file.

Name: Akash Jain
Label: Feature Request
Assignee: "

Define You:

LGM-SOC'21 Participant
Contributor
Solution:
It will be a python script which scrapes data from reddit post url and display reddit post title, subreddit and author in the console and provides video as mp4 file in your local s

[2021-07-03 16:45] tjanhvi commented on #616
![image](https://user-images.githubusercontent.com/78703730/124361325-29b0a600-dc4c-11eb-9bf3-3b817a67ebe2.png)

[2021-07-03 17:04] Akash20x commented on #631
@prathimacode-hub
Please assign me this issue as a part of LGM-SOC'21

[2021-07-04 05:23] prathimacode-hub commented on #631
Yes, issue assigned. @Akash20x

[2021-07-04 05:24] prathimacode-hub commented on #629
It's already taken. @neelshah2409

[2021-07-04 05:25] prathimacode-hub commented on #628
Interesting, you can proceed. Obviously it would go under 'GUIScripts'. @akash435

[2021-07-04 05:36] #626 closed

[2021-07-04 08:35] akash435 opened #634 "Taxi Hire Application"
---
Title: Taxi Hire Application
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a Taxi hiring application using tkinter GUI,

In this first will ask user to create an account in application ,or already had an account then option to log

[2021-07-04 08:36] akash435 commented on #634
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC

[2021-07-04 09:04] Debashish-hub commented on #634
Issue assigned @akash435

[2021-07-04 09:10] #628 closed

[2021-07-04 09:11] #613 closed

[2021-07-04 09:52] neelshah2409 opened #635 "Next Episode Fetcher ( Web Scrapping)(TV Series)"
Title: Next Episode Fetcher
About: To get the date and time of next episode of tv series/serials
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:-

- [x] LGM-SOC'21 Participant
- [ ]  Contributor

## Description:
Here using tkinter we will make gui where we will ask for series name and that name we will found on the url using requests and using bs4 we will fetch the output in prope

[2021-07-04 11:08] prathimacode-hub commented on #635
Issue is assigned. You can start working. @neelshah2409

[2021-07-04 15:04] prathimacode-hub commented on #123
Why have you closed the issue? Neither you have shown interest in replying to the concern nor you have raised your PR.  Any say on this? @suvrashaw

[2021-07-04 16:10] girija0707 opened #636 "Dice simulator"
About-It is a basic dice simulator using random module in python
Name-Girija Gupte
Label: Feature Request

Define You:

[x] LGM-SOC'21 Participant
Contributor
Describe the solution: I would write a python script for this app

[2021-07-04 16:10] girija0707 commented on #636
please assign this under lgmsoc

[2021-07-04 16:17] Debashish-hub commented on #636
Isn't it similar to #396 @girija0707

[2021-07-05 01:40] akash435 opened #638 "Simple Python IDE"
---
Title: Simple Python IDE
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an applicaton using tkinter GUI,

In this user will be given a textarea where user can write the python code

and using the run button , will show the output o

[2021-07-05 01:41] akash435 commented on #638
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-05 04:39] prathimacode-hub commented on #638
Issue assigned. @akash435

[2021-07-05 04:40] #634 closed

[2021-07-05 05:52] #635 closed

[2021-07-05 06:16] neelshah2409 opened #640 "Billing System For Hotel"
Title: Billing System For Hotel
About: To make an easy billing system for hotel .
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:-
- [x] LGM-SOC'21 Participant
- [ ] Contributor

Here we will use tkinter to make a grid and then we will give different choices like panner tikka and all and at last we will give the total amount  and here we will also show the prices of all for conven

[2021-07-05 06:30] prathimacode-hub commented on #640
Assigned. @neelshah2409

[2021-07-05 10:26] #417 closed

[2021-07-05 11:07] girija0707 opened #643 "Hangman game in python"
Title: Hangman game in Python

Description:
Interesting game on guessing words which will also help to increase vocabulary

Name-Girija Gupte
Label: Feature Request

Define You:

[x] LGM-SOC'21 Participant
Contributor
Describe the solution: I would write a python script for this app

[2021-07-05 11:11] girija0707 commented on #636
ok I will look for new issue

[2021-07-05 11:16] Debashish-hub commented on #643
Sorry to say, but this one is also done. Check it once #60  @girija0707

[2021-07-05 11:36] #638 closed

[2021-07-05 12:00] DelionA opened #644 "Enhanced Covid Cases Bot"
### Related Issue
- Info about the related issue
Closes: #166
- [x] Contributor
### Problem:

1. It was not possible to use the win10toaste module in linux (it is possible only for me).
![text](https://github.com/DelionA/Awesome_Python_Scripts/blob/feature/AutomationScripts/Covid%20Cases%20Bot/Images/screenshot2.png?raw=true)
2. This is not really a problem, but I want to be able to manage the wai

[2021-07-05 12:33] prathimacode-hub commented on #644
Still your template is not right. Are you a LGMSOC participant? How would i know if u r one or not? @DelionA

[2021-07-05 12:34] prathimacode-hub commented on #643
Before you create an issue, check in the repo if it's done. These are the common scripts which are finished long back. @girija0707

[2021-07-05 12:42] DelionA commented on #644
no, i'm not a LGMSOC participant.
maybe I need to offer my own idea to start with.
right?

[2021-07-05 12:53] prathimacode-hub commented on #644
Ok, cool. If you provide the details earlier, it would have been much easier. Don't worry, you can still contribute. Kindly go through the project structure followed. And do the changes to your PR accordingly. But for the changes you do, there should be separate "README_enhanced.md" file which describes the work youd had done as it's an enhancement to the existing project. Don't do any changes to

[2021-07-05 12:58] DelionA commented on #644
ok.thanks.

[2021-07-05 13:02] prathimacode-hub commented on #644
Why did you close the issue? You should never close an issue or PR from your end. You didn't respond yet as well. @DelionA

[2021-07-05 13:30] DelionA commented on #644
I closed it because, first, I will offer my project for consideration. I didn't have any more questions, why keep it open?
or is it impossible?
is it too bad that I closed the issue?

[2021-07-05 14:34] akash435 opened #646 "Mouse Pointer Co-ordinates Getter"
---
Title: Mouse Pointer Co-ordinated Getter
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

This application will provide us the where is our current mouse pointer on the computer screen.

It will giv

[2021-07-05 14:35] akash435 commented on #646
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC

[2021-07-05 14:50] #313 closed

[2021-07-05 14:52] prathimacode-hub commented on #644
You shouldn't close the issue. Are you working on this or not you haven't said anything about it? @DelionA

[2021-07-05 15:29] DelionA commented on #644
Yes, I would like to work on this project.
Sorry that I do not have enough experience and knowledge of the correct design.
I have a few questions for you:
- is it possible to create a separate folder 'enhanced', and place files in it?
- or create only README_enhanced.md and describe all the actions in it? and do not change the project files themselves?
- or can I change the project file itself?

[2021-07-05 17:31] manognyaa opened #648 "Saying I love you in python"
---
Title: I love You in python
About: my project will write I love you in python
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Describe the solution you'd like...**
I will be using python @prathimacode-hub mam.

[2021-07-06 06:02] neelshah2409 opened #649 "Unit Converter GUI"
Title: Unit Converter GUI
About: To make unit conversion here we will convert kg to gram , ounce and pound.
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:-

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Here using tkinter we will make a gui and then we will ask the user to give weight in kg and then it will show it in gram , pound and ounce. We can change the given units as per

[2021-07-06 07:27] DelionA commented on #644
@prathimacode-hub
The changes have been made.
What do i need to do next?

[2021-07-06 07:43] prathimacode-hub commented on #644
I will show you 1 sample of how they had worked on existing project. Here it is : [Project](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/BasicPythonScripts/Alarm%20Clock). This project is enhanced, you can check it here and follow the same. Also the changes, I had said earlier. Only extra file that gets added along with the project is "README_enhanced.md". Other files would

[2021-07-06 07:43] prathimacode-hub commented on #644
No worries, I am here to help out. It happens with everyone and no contribution is small. @DelionA

[2021-07-06 07:44] prathimacode-hub commented on #648
Issue assigned. @manognyaa

[2021-07-06 07:45] prathimacode-hub commented on #646
Issue assigned. @akash435

[2021-07-06 07:45] prathimacode-hub commented on #649
Issue assigned. @neelshah2409

[2021-07-06 08:52] akash435 opened #651 "Nutritional Calorie Recorder"
---
Title: Nutritional Calorie Recorder
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

this application will make the record of the calories consumed by a particular person.
All the data for the amoun

[2021-07-06 08:53] akash435 commented on #651
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-06 09:41] DelionA commented on #644
#641

[2021-07-06 09:43] prathimacode-hub commented on #651
Issue assigned. @akash435

[2021-07-06 13:14] Akash20x commented on #631
@prathimacode-hub Please check my pull request

[2021-07-06 13:29] #646 closed

[2021-07-06 13:31] #651 closed

[2021-07-06 13:37] #640 closed

[2021-07-06 13:40] Debashish-hub commented on #79
Hey! @ainy-123. Any progress update!

[2021-07-06 13:42] Debashish-hub commented on #272
Hey @richabh456  Any update?

[2021-07-06 13:43] Debashish-hub commented on #503
Hey @sahilsingh2402 Any update on your work?

[2021-07-06 13:44] Debashish-hub commented on #513
Hey! @chandu6111 Any update on your work?

[2021-07-06 13:45] Debashish-hub commented on #546
Hey! @Vaibhav-Vipin Any updates?

[2021-07-06 13:47] Debashish-hub commented on #575
Hey! @rammya29 Any update?

[2021-07-06 13:51] chandu6111 commented on #513
Hey, I have actually worked on 4 conversions already, they are:
1) excel to pdf
2) jpg to pdf
3) jpg to png
4) pdf to word

I am working on 2 more conversions right now something like ppt to pdf
So please give me some time, I would definitely create PR in 5 days. I actually want to make these conversions project fully fledged with all extensions. Please do give me some time... @prathimacode-hub an

[2021-07-06 14:31] rammya29 commented on #575
Actually, I done with project, but I am getting error while creating PR. I will find a solution to do that. Since my exam are going Sorry for delay.

[2021-07-06 14:45] Debashish-hub commented on #575
Feel free to reach out to us, if you need any help!

[2021-07-06 15:12] tjanhvi commented on #616
Please assign me this issue.

[2021-07-06 15:42] akash435 opened #654 "Sorting Visualizer"
---
Title: Sorting Visualizer
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this we will generate a random array , and will visualize the sorting algorithms like bubble sort, selection  sort and i

[2021-07-06 15:42] akash435 commented on #654
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC

[2021-07-06 15:45] prathimacode-hub commented on #654
This is already done. @akash435

[2021-07-06 15:49] prathimacode-hub commented on #616
This is already done. Kindly take up an another issue and also make sure the script is not in the repo. @tjanhvi

[2021-07-06 15:54] akash435 commented on #654
sorry for this, you can close this

[2021-07-06 15:58] prathimacode-hub commented on #654
That's fine, no worries. @akash435

[2021-07-06 15:58] #654 closed

[2021-07-06 18:41] akash435 opened #657 "Image Resizer"
---
Title: Image Resizer
About: It's an Image Processing Script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an image resizing application using tkinter GUI,

First we will ask user to select the image that he/she want to resize and then will ask to enter the

[2021-07-06 18:46] akash435 commented on #657
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC

[2021-07-07 03:19] kumarjeetray opened #658 "University Website"
---
Title:  University Website
About: I designed a full stack web application which is an university website using Flask in Python and SQLAlchemy. Where the information of different students are displayed. Here the student has to login with his roll number,username and password to access his information. The data of the students have to be inserted using SqlAlchemy manually---

Name: Kumarjeet Ray

[2021-07-07 05:35] rammya29 commented on #575
Since my last pull request has some merge conflict and I can't create the new pull request too.

[2021-07-07 07:24] neelshah2409 opened #659 "Github Bot (Python Automation)"
Title: Github Bot
About: To make all the works on github with our script only
Name: Neel Shah
Label: feature request
Assignee: ''

Define You:-

- [x] LGM-SOC'21 Participant
- [ ]  Contributor

Here we will have features as below in our script using PyGithub
- printing all repositories related to a specific langauge
- viewing all repositories of user account
- login on github
- view number of star

[2021-07-07 07:24] Shivam0705 opened #660 "Python based GUI application to encrypt and decrypt text"
I would like to take the opportunity under devincept program to add this project here. Please assign me for this project.
Title: Python based GUI application to encrypt and decrypt text
Name: Shivam Ravi
About the project:  Python GUI app that can encrypt and decrypt text. Implementing Caesar Cipher algorithm to perform the required operations
Label: Feature Request
Assignee: "

Define You:

I am

[2021-07-07 07:27] neelshah2409 commented on #659
@prathimacode-hub @Debashish-hub Please see the issue and assign me.

[2021-07-07 07:47] prathimacode-hub commented on #659
Wow, interesting. Issue assigned. @neelshah2409

[2021-07-07 07:48] prathimacode-hub commented on #658
Issue assigned @kumarjeetray

[2021-07-07 07:49] prathimacode-hub commented on #657
Issue assigned. @akash435

[2021-07-07 07:59] prathimacode-hub commented on #660
Is this project similar to [this](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/BasicPythonScripts/Caesar%20Encryption)? And the contribution period for DevIncept program starts from 10th of July, 2021. You can come up with an issue from that point of time. Also make sure, the project isn't merged into this repo. All the best for your open source journey ahead. 👍@Shivam0705

[2021-07-07 08:01] #649 closed

[2021-07-07 08:06] Shivam0705 commented on #660
Thanks for the reply. First of all the project you mentioned is quite ugly because it doesn't have any user interface and the Caesar cipher algorithm uses some mathematical formulas which is not clear in that project.  I will make sure that I will add my project to that repository that comes under DevIncept, but if possible please register my name to this project in order to avoid double entries a

[2021-07-07 08:26] prathimacode-hub commented on #660
No, that's ok. It doesn't work like this actually. Once program starts, you can enhance that project. I cannot remove the existing project but you enhance it into a better solution. I shall guide with the process then and assign you, Go through README and CONTRIBUTING GUIDELINES, so that you can get ready by then. Right, it's a basic script. No contribution is small. Don't worry, you can get this

[2021-07-07 11:01] #659 closed

[2021-07-07 11:44] akash435 opened #664 "MP4 to MP3 Converter"
---
Title: MP4 to MP3 Converter
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

this application will allow user to select any mp4 video and will convert it to mp3 audio.

User can also save the mp3 vi

[2021-07-07 11:44] akash435 commented on #664
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-07 11:49] prathimacode-hub commented on #664
This issue is assigned to you. @akash435

[2021-07-07 11:53] #657 closed

[2021-07-07 11:55] #648 closed

[2021-07-07 12:04] prathimacode-hub commented on #575
I shall do one thing, I shall close that PR. Delete up the forked repository, and refork it again. You can do this. This time , try with this project PR. Let's check. @rammya29

[2021-07-07 12:13] neelshah2409 opened #665 "Image To Cartoonish Image"
Title: Image To Cartoonish Image
 About: here we make cartoonish images
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description
Here we make a simple image to cartoonish image using the cv library ,  here we change the colour scale of a picture and makes the combination in such a manner that it look like cartoon.

[2021-07-07 12:16] prathimacode-hub commented on #665
Issue assigned. You can keep your project title as "Image Cartoonify". @neelshah2409

[2021-07-07 14:53] #665 closed

[2021-07-07 14:54] #546 closed

[2021-07-07 15:26] Ashu-1309 opened #667 "Heart Shape"
Title:  Heart Shape
About: Through the python code I want to print Heart shape under LGM-SoC 21
Name: Ashutosh Kumar Saw
Label: feature request
Assignee: ''

Define You :-
- [x] LGM-SOC'21 Participant
- [x] Contributor

[2021-07-07 15:31] prathimacode-hub commented on #667
Issue assigned. @Ashu-1309

[2021-07-07 17:06] Ashu-1309 opened #670 "Drawing Hexagonal Pattern"
Title:  Hexagonal Pattern
About: Through the python code I want to print Hexagonal pattern under LGM-SoC 21
Name: Ashutosh Kumar Saw
Label: feature request
Assignee: ''

Define You :-
- [x] LGM-SOC'21 Participant
- [x] Contributor

[2021-07-07 18:23] prathimacode-hub commented on #670
Show some variations in your issues. Doing patterns one by one doesn't add up value. @Ashu-1309

[2021-07-08 06:52] #664 closed

[2021-07-08 06:54] #667 closed

[2021-07-08 06:56] #631 closed

[2021-07-08 07:03] akash435 opened #671 "EMI Calculator"
---
Title: EMI Calculator
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

this application will ask user to enter details about loan amount, interest per annum and no. of periods in month.
And after th

[2021-07-08 07:04] akash435 commented on #671
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-08 07:25] neelshah2409 opened #672 "Image To Ascii Art"
Title: Image To Ascii Art
About: here we will convert image to ascii image/art
Name: Neel Shah
Label: feature request
Assignee: ''

Define You :-

- [x] LGM-SOC'21 Participant
 - [ ] Contributor

Here we will convert simple image to an ascii art using PIL and system library we will first fetch the image and will make a similar art with different symbols like "S","%","?","*","+",";" and then saving

[2021-07-08 07:26] cybot-des opened #674 "Ideal Weight Calculator"
---
Title: Ideal Weight Calculator
About: GUI Script project
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

Details:
In this project, I will create a GUI with Tkinter which will take input of user's height and current weight.
On basis of above info it will calculate ideal weight (in kg) using 3 formulas (petersons,

[2021-07-08 07:27] cybot-des commented on #674
@prathimacode-hub please assign me this issue under LGMSoc'21

[2021-07-08 07:44] prathimacode-hub commented on #671
Issue assigned. @akash435

[2021-07-08 07:44] prathimacode-hub commented on #674
Issue assigned. @cybot-des

[2021-07-08 07:45] prathimacode-hub commented on #672
This script is already done. You can check it [here](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/ImageProcessingScripts/Image%20to%20ASCII%20Art)

[2021-07-08 07:55] #658 closed

[2021-07-08 09:36] DelionA commented on #644
@prathimacode-hub
Thank you for accepting my PR.
I edited the Issue.
How can I leave a video?
Who should close the Issue?

[2021-07-08 09:41] prathimacode-hub commented on #644
Great, you can leave your mail id here. I shall delete up your mail once I take a note of it. Actually if followed right and PR is merged, issue closes automatically, Else, I can close it. Might not have read the issue number correctly over PR.  So don't worry about that. Most Welcome. @DelionA

[2021-07-08 09:43] #672 closed

[2021-07-08 09:43] #629 closed

[2021-07-08 09:44] #616 closed

[2021-07-08 09:46] #644 closed

[2021-07-08 09:47] DelionA commented on #644
@prathimacode-hub
Thanks.
I have gained invaluable experience.
My email is:
Marko-140210@yandex.ru

[2021-07-08 09:51] prathimacode-hub commented on #575
Don't let 2 of your PR'S go wasted. Raise PR once again, first delete the forked repository from your profile. Refork it again. And push it to the PR again. One issue after the other.  Since README is conflicting. Create a new README file and add the documentation there. @rammya29

[2021-07-08 10:32] harshved commented on #123
I am glad to work on this issue, I have bit knowledge of OpenCV, So it would be great to work on this issue and came out with solution.

[2021-07-08 13:24] #671 closed

[2021-07-08 13:27] prathimacode-hub commented on #123
That's great, glad to know. But contributions would count from 10th of July, 2021. The issues will be alloted on first come first serve basis. Starting then, you could express interest and get it assigned to you. So stay alerted. All the best for your open source journey ahead. @harshved

[2021-07-08 13:34] rammya29 commented on #575
Okay mam. I will work in that today

[2021-07-08 13:35] prathimacode-hub commented on #575
All the best, hope this clicks now. @rammya29

[2021-07-08 14:03] akash435 opened #676 "Screenshot Taker"
---
Title: Screenshot Taker
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

this application will allow user to take the screenshot.
Will also show the screenshot taken.
And user can save it any where

[2021-07-08 14:03] akash435 commented on #676
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-08 14:08] prathimacode-hub commented on #644
Glad you felt so. I highly appreciate your work. Great going. Keep contributing. @DelionA 🙌🤩

[2021-07-08 14:18] prathimacode-hub commented on #676
Issue assigned. @akash435

[2021-07-08 16:13] sahilsingh2402 commented on #503
I am not in a good health from a few days. Please assign this issue to someone else :( @Debashish-hub

[2021-07-08 16:17] prathimacode-hub commented on #503
No worries, health comes first. Get well soon. Yup. @sahilsingh2402

[2021-07-08 16:18] #503 closed

[2021-07-08 16:19] prathimacode-hub commented on #513
Also add up PDF to JPG converter, it was assigned earlier. But they no longer want to work on it. @chandu6111

[2021-07-08 19:12] #676 closed

[2021-07-09 03:17] akash435 opened #678 "URL Extractor"
---
Title: URL Extractor
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this application user will be able to extract all types of URL, either be https, www, or any html or jpg url  from the giv

[2021-07-09 03:17] akash435 commented on #678
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-09 03:30] Debashish-hub commented on #678
Issue assigned @akash435

[2021-07-09 05:44] #678 closed

[2021-07-09 07:03] akash435 opened #681 "Programming Language Detector"
---
Title: Programming Language Detector
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this application user will be able to detect the among the common programming language.
here user will be

[2021-07-09 07:03] akash435 commented on #681
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-09 07:43] prathimacode-hub commented on #681
Great choice, issue assigned. @akash435

[2021-07-09 11:08] akash435 opened #683 "Latitude-Longitude Pair Verifier"
---
Title: Latitude-Longitude Pair Verifier
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this application user will be able to verify the pair of latitude and lonitude.

First will allow user

[2021-07-09 11:09] akash435 commented on #683
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-09 11:16] #681 closed

[2021-07-09 11:17] Debashish-hub commented on #683
Issue assigned @akash435

[2021-07-09 19:29] akash435 opened #685 "IP Address Extractor-Validator"
---
Title: IP Address Extractor/Validator
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this application user will be able to extract all the IP Address present the text.

Also will allow user

[2021-07-09 19:29] akash435 commented on #685
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-10 00:14] Sakshi1007 commented on #636
Atleast close the issues which are done so that it will be easy for us to choose

[2021-07-10 02:51] #636 closed

[2021-07-10 02:52] prathimacode-hub commented on #685
Issue assigned. @akash435

[2021-07-10 02:52] #643 closed

[2021-07-10 02:52] #670 closed

[2021-07-10 03:28] #683 closed

[2021-07-10 07:28] ishikasinha-d opened #686 "Rock Paper Scissors"
This will be GUI based game using tkinter.  (DevIncept Contributor)

Please assign me this game.

[2021-07-10 07:32] prathimacode-hub commented on #686
Kindly follow the issue template given to raise an issue and also do check if it's available in the repo. You can refer to other assigned issues to know how template looks like. This project is done long back. You can take up an another issue to work on. All the best. @ishikasinha-d

[2021-07-10 07:49] #686 closed

[2021-07-10 07:56] prathimacode-hub commented on #686
You should never close an issues or PR's form your end. @ishikasinha-d

[2021-07-10 09:55] #685 closed

[2021-07-10 12:04] #575 closed

[2021-07-10 12:31] #563 closed

[2021-07-10 12:41] rammya29 opened #690 "Anime Conversion"
---
Title: Anime Conversion
About: Suggest an idea for this project
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related to python scripts.

**Describe the solution you'd like...**

I am going to use opencv for

[2021-07-10 12:45] akash435 opened #691 "Absolute Time Delta"
---
Title: IP Address Extractor/Validator
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

in this first will allow user to enter two time in any time zones
time will be entered in terms of day, date,

[2021-07-10 12:46] akash435 commented on #691
@prathimacode-hub ,please assign this to me under LGM SOC.

[2021-07-10 12:50] prathimacode-hub commented on #691
Issue assigned. @akash435

[2021-07-10 12:51] prathimacode-hub commented on #690
This is already done, Kindly take up an another issue to work on. @rammya29

[2021-07-10 13:11] #690 closed

[2021-07-10 13:53] Knighthawk-Leo opened #693 "Hey I want To Add My UI for Khatabook"

[2021-07-10 13:59] Shivam0705 commented on #660
Hi, As the DevIncept program has been started, Could you assign me the above mentioned project name: Python based GUI application to encrypt and decrypt text

[2021-07-10 14:04] Knighthawk-Leo commented on #693
Can I create a PR NOW!!!

[2021-07-10 14:13] prathimacode-hub commented on #693
Thie issue doesn't have any template neither any information about what the project is. Change the issue title to project title.  Elaborate the project. You can refer to other assigned issues to see how template looks like. Are you a devincept participant? @Knighthawk-Leo

[2021-07-10 14:17] Knighthawk-Leo commented on #693
I am LGMSOC Participant
And Sure I will add some more points on template.

[2021-07-10 14:21] prathimacode-hub commented on #693
Ok, but first add an issue template to get it assigned. Provide a project title. Let me know of where this would fit in the project. Elaborate your project. @Knighthawk-Leo

[2021-07-10 14:25] Knighthawk-Leo opened #694 "KhataBook Management UI"
Title: Khatabook UI Script
About: It's an GUI script
Name: Sanskar Dwivedi
Label: Feature Request
Assignee: ''

Define You:

 LGM-SOC'21 Participant
 Contributor

This is an UI based Credit Management System App . This Will Manage credits of customers for local shops . As we know in India the credit system is very useful and this will help the shopkeepers to manage their shops. They can manage the

[2021-07-10 14:26] Knighthawk-Leo commented on #693
I have created a new issue you can check there.

[2021-07-10 14:32] prathimacode-hub commented on #694
Where is the issue template? Please follow the instructions. So this is a GUI script. Hope you are using python. Also you don't have to create a new issue for this, you can edit comments in your old PR with the edit option. Also letting you know, one should never close issues or PR form your end. @Knighthawk-Leo

[2021-07-10 14:34] prathimacode-hub commented on #660
Yes, issue is assigned. You can proceed. @Shivam0705

[2021-07-10 14:35] prathimacode-hub commented on #693
That issue don't have template, I had addressed the issue, check it.

[2021-07-10 14:37] Knighthawk-Leo commented on #694
I have Edited This And yes I am using Python and MYSQL for Data base management

[2021-07-10 14:40] prathimacode-hub commented on #694
Ok, issue assigned. @Knighthawk-Leo

[2021-07-10 14:41] #693 closed

[2021-07-10 18:07] #691 closed

[2021-07-10 18:10] #694 closed

[2021-07-10 18:45] prathimacode-hub commented on #79
No update from you. @ainy-123

[2021-07-10 19:38] akash435 opened #697 "Hex Color Code"
---
Title: Hex Color Code
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this script user will be easily able to get to know about the hex code of the color.
Here will allow user to first select

[2021-07-10 19:38] akash435 commented on #697
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-11 03:46] Debashish-hub commented on #697
Issue assigned to you @akash435

[2021-07-11 04:39] coding-geek21 opened #699 "Smart Calculator"
---
Title: Smart Calculator
About: Smart Calculator is just like when you type "add 3 and 5" in google it will give you answer, this will be developed using GUI
Name: Jayapritha N
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the soluti

[2021-07-11 04:45] thejaswin123 opened #700 "Registration_form GUI"
---
Title: Registration form using Tkinter
About: Form with attached database sqlite3
Name: Thejaswin S
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

I would like to add a Registration form using Tkinter for GUI and Sqlite3 for database.

**Descri

[2021-07-11 04:47] #697 closed

[2021-07-11 05:30] prathimacode-hub commented on #699
Can you elaborate more, I guess this is done @coding-geek21

[2021-07-11 05:31] prathimacode-hub commented on #700
This issue is already done [here](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/GUIScripts/Registration%20Form). If you want you can enhance this project. @thejaswin123

[2021-07-11 05:40] rammya29 opened #701 "Hotel Management System - GUI"
---
Title: Hotel Management System - GUI
About: The Hotel Management system the are features like the check-in, check-out and booking facilities of the customer and used tkinter module for looking as a application
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please des

[2021-07-11 06:30] thejaswin123 commented on #700
I assure The Registration form will be completely different from the above

[2021-07-11 06:41] Debashish-hub commented on #701
Issue is assigned to you @rammya29

[2021-07-11 06:49] devkumar24 commented on #33
can I work on this issue?

[2021-07-11 07:12] prathimacode-hub commented on #33
Raise a new issue using the template provided with the title of the project you want to work on and get it assigned. @devkumar24

[2021-07-11 07:32] Akash20x opened #702 "Spotify Song Lyrics Extractor"
Title: Spotify Song Lyrics Extractor
About: Add a python script to scrape all lyrics of the spotify Track or spotify Playlist songs from different lyrics provider websites.

Name: Akash Jain
Label: Feature Request
Assignee: "

Define You:

DevIncept Participant
Contributor

Solution:
In this user have to give name of a spotify track or provide link of the spotify playlist, then if it is a valid Sp

[2021-07-11 07:33] Akash20x commented on #702
Please assign me this issue as a part of DCP'21

[2021-07-11 08:38] himanshu007-creator commented on #702
@Akash20x  thanks for submitting the issue. Please submit your code in [this](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/BasicPythonScripts) folder. Please comment your code wherever possible and use a docstring in functions/classes as well

[2021-07-11 08:46] rammya29 opened #704 "Pharmacy Management System"
---
Title: Pharmacy Management System
About: This project will ask to enter the details of the medicine and rate and quantity of the products.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related to python scri

[2021-07-11 09:00] Dhruv-194 opened #705 "Family Keylogger Python Script for Ethical hacking"
---
Title: Ethical Hacking python scripts
About: I would like to create a folder/section in this repository where the contributors could add python scripts related to ethical hacking. I would like to begin this section by adding a family keylogger python script.
Name: Dhruv Mehta
Label: Feature Request
Assignee: 'Kindly please assign this to me

---

Define You:

- [ ] LGM-SOC'21 Participant
- [x]

[2021-07-11 09:11] Dhruv-194 opened #706 "Drink Water Reminder Script"
---
Title: Drink Water Reminder Script
About: A python script which runs in background of your system and reminds you to drink water after every 40mins.
Name: Dhruv Mehta
Label: Feature Request
Assignee: Kindly please assign this issue to me

---

Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Additional context**
We developers keep on sitting on our lap

[2021-07-11 09:19] akash435 opened #707 "Postal Code Validator"
---
Title: Postal Code Validator
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this script user will be able to check if the postal code is valid or not.
And if valid will show user that postal

[2021-07-11 09:19] akash435 commented on #707
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-11 14:19] Debashish-hub commented on #707
Issue assigned @akash435

[2021-07-11 14:20] Debashish-hub commented on #704
Please elaborate @rammya29

[2021-07-11 14:43] prathimacode-hub commented on #704
You can work on this as only one, devincept or lgmsoc. let us know. @rammya29

[2021-07-11 14:43] prathimacode-hub commented on #706
Awesome, issue assigned. @Dhruv-194

[2021-07-11 14:44] prathimacode-hub commented on #705
You can work on only 1 issue at a time
An issue is already been assigned. @Dhruv-194

[2021-07-11 14:45] prathimacode-hub commented on #700
It might be different but its same gui script. Enhance the existing project, that would be better. @thejaswin123

[2021-07-11 14:48] rammya29 commented on #704
I would like to work this under lgmsoc.

[2021-07-11 14:50] rammya29 commented on #704
This project looks like the user should enter the item name, price and quantity of the medicine and it will stored like a database of the items, we can add items and delete items from the list also we can see previous item, first item and item entered.

[2021-07-11 16:08] Dhruv-194 commented on #705
Alright @prathimacode-hub I will first work on that issue and then after my successful submission, you can assign me this one too.

[2021-07-11 16:14] prathimacode-hub commented on #704
Ok, issue assigned. @rammya29

[2021-07-11 19:11] akash435 opened #710 "Code Comments Fetcher"
---
Title: Code Comments Fetcher
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

using this script user will be easily able to fetch all the comments in the common programming language code like c , c+

[2021-07-11 19:11] akash435 commented on #710
@prathimacode-hub , please assign this to me under LGM SOC.

[2021-07-12 04:01] Debashish-hub commented on #710
Issue assigned @akash435

[2021-07-12 04:02] #707 closed

[2021-07-12 05:45] #701 closed

[2021-07-12 05:54] ishikasinha-d opened #712 "Audiobook"
This script will use PyPDF2 module to read pdf and pyttsx3 module to convert text in pdf to voice.

Please assign me this as DevIncept Contributor.

[2021-07-12 05:57] neelshah2409 opened #713 "Loan Calculator"
Title: Loan Calculator
About: It's an GUI script
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ]  Contributor

Here it is an gui script where we will ask the rate of interest , duration / no. of years and total loan amount and from that we will calculate the monthly payment and total repay payment of the loan.

[2021-07-12 05:58] Debashish-hub commented on #713
Issue assigned @neelshah2409

[2021-07-12 06:20] drashtipatel2503 opened #714 "Cryptocurrency data"
I can display the latest crypto rates, maximum, minimum, and log time for a specified currency.

[2021-07-12 06:27] Debashish-hub commented on #714
Please follow proper issue template @drashtipatel2503

[2021-07-12 06:49] rammya29 opened #717 "Contact Management System"
---
Title: Contact Management System
About:
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, It is related to Python script.

**Describe the solution you'd like...**

This project is done by using the tkinter module. It

[2021-07-12 06:49] #704 closed

[2021-07-12 06:53] #713 closed

[2021-07-12 06:56] #706 closed

[2021-07-12 06:57] prathimacode-hub commented on #717
Is this an address book? @rammya29

[2021-07-12 06:58] prathimacode-hub commented on #712
Follow the issue template given to get assigned. Also before raising an issue, make sure it isn't available in the repo. This is already done. @ishikasinha-d

[2021-07-12 06:58] #712 closed

[2021-07-12 06:58] rammya29 commented on #717
No mam, it is a contact phone number, as a feature it also include address.

[2021-07-12 06:59] prathimacode-hub commented on #705
It's a wonderful idea, good to see your initiation. Yes, you can work on this. But add the script name you would like to work on first. This looks like bundle and not specific. 1 Issue = 1 Project. @Dhruv-194

[2021-07-12 08:28] #710 closed

[2021-07-12 08:29] prathimacode-hub commented on #717
Ok, cool. Issue approved. @rammya29

[2021-07-12 09:22] Dhruv-194 commented on #705
Hey @prathimacode-hub I have updated the title and the description of this issue. Now can you please assign me this so that I can work on it.

[2021-07-12 10:06] prathimacode-hub commented on #705
Issue assigned. As said, create a separate repository of "EthicalHackingScripts". @Dhruv-194

[2021-07-12 10:35] akash435 opened #719 "Color Converter"
---
Title: Color Converter
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application will allow user to easily convert color from cone code to another.
Like
rgb to hex
hex to rgb
rgb to hsv
h

[2021-07-12 10:35] akash435 commented on #719
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-12 10:38] neelshah2409 opened #720 "Marvel API"
Title: Marvel API
About: It's api script
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

Here from the marvel website we get an api key and using that we fetch the information of a particular character that in how many movies he/she had played a role and showing the list of that all.

[2021-07-12 10:38] prathimacode-hub commented on #719
Issue assigned. @akash435

[2021-07-12 11:09] prathimacode-hub commented on #720
Issue assigned. @neelshah2409

[2021-07-12 12:15] #717 closed

[2021-07-12 12:35] rammya29 opened #722 "Memory Game"
---
Title: Memory Game
About: Memory puzzle game to check your concentration and for fun.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

It is created by python scripts.

**Describe the solution you'd like...**

It is a memory puzzle game where you ca

[2021-07-12 12:53] Debashish-hub commented on #722
Is not it similar to #231 @rammya29

[2021-07-12 12:58] rammya29 commented on #722
Yes, it is kind of similar. I will raise another issue with new project.

[2021-07-12 13:07] Debashish-hub commented on #722
What is slide game? You can just have a look at the scripts and the active issues.

[2021-07-12 13:45] rammya29 opened #723 "Slide Game"
---
Title: Slide Game
About: In this game, the player has to arrange the tiles or blocks in the correct order.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related to the python script

**Describe the solution you'd like...**

This projec

[2021-07-12 13:48] drashtipatel2503 opened #724 "Cryptocurrency API"
**Project Title**: Cryptocurrency rates
**about**:           It will take cryptocurrency as input and return its current value, max value of the day, min value of the day, and
                           time  when this value is last updated.
**Name:** Patel Drashti
**Label**: Feature Request
 LGM SOC'21 participant

The idea is to build a python program that takes user input(currency) and returns

[2021-07-12 13:53] Debashish-hub commented on #724
Issue assigned @drashtipatel2503

[2021-07-12 13:55] Debashish-hub commented on #723
Issue assigned @rammya29

[2021-07-12 18:16] #719 closed

[2021-07-12 18:18] #714 closed

[2021-07-12 19:14] akash435 opened #728 "Resume Generator"
---
Title: Resume Generator
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application first will ask user to fill the common details that are in Resume like
Name
Email Id
different Links
Educ

[2021-07-12 19:14] akash435 commented on #728
@prathimacode-hub, @Debashish-hub  please assign this to me under LGM SOC.

[2021-07-13 01:57] sumitsoni0907 commented on #1
Hello mam I want to contribute in bsic python script. please give the idea which type of script i want to contribute.

[2021-07-13 03:25] Debashish-hub commented on #728
Issue assigned @akash435

[2021-07-13 06:04] rammya29 opened #730 "Analog Clock"
---
Title: Analog Clock
About: Analog clock is implemented using pyqt5 as a GUI application
Name: Rammya Dharshini
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related to the python scripts

**Describe the solution you'd like...**

I w

[2021-07-13 06:47] coding-geek21 commented on #699
Output will be like this Here I will be using Tkinter for GUI and normal functions using list
![image](https://user-images.githubusercontent.com/53329034/125404144-f00e3680-e3d3-11eb-9d78-ecf31d71d50a.png)

[2021-07-13 08:38] #723 closed

[2021-07-13 08:44] #724 closed

[2021-07-13 08:47] prathimacode-hub commented on #730
Yes, you can proceed. @rammya29

[2021-07-13 08:48] #722 closed

[2021-07-13 08:49] prathimacode-hub commented on #700
So do you like to enhance it? @thejaswin123

[2021-07-13 08:50] prathimacode-hub commented on #699
Ok, you can proceed. @coding-geek21

[2021-07-13 08:51] prathimacode-hub commented on #485
Are you willing to work on this as an enhancement? @chandu6111

[2021-07-13 09:01] thejaswin123 commented on #700
![form](https://user-images.githubusercontent.com/52855622/125423563-1e07a869-b46a-4457-a2a2-f6f0274c3cec.png)
i have been working on this and would like to add this

[2021-07-13 10:48] prathimacode-hub commented on #700
Looks good, but there is already a project of the same in "GUIScripts", ok do one thing. Inside the project folder which is existing, add up the "Enhanced" folder and provide all your project files there according to the project structure given. If you are ok with this, I shall assign the issue. @thejaswin123

[2021-07-13 11:00] thejaswin123 commented on #700
Yeah I am ok with this and in Awesome_Python_Scripts/GUIScripts/Registration Form/  I should create "Enhanced" folder and add my files right?

[2021-07-13 11:18] prathimacode-hub commented on #700
Yes, right. Issue assigned. @thejaswin123

[2021-07-13 12:05] akash435 opened #733 "Regex Checker"
---
Title: Regex Checker
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application user will be able to check whether a given regex is correct or not.

here will ask user to enter any regex a

[2021-07-13 12:05] akash435 commented on #733
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-13 12:15] prathimacode-hub commented on #733
Issue assigned. @akash435

[2021-07-13 12:19] #728 closed

[2021-07-13 12:31] rammya29 opened #735 "Simulate Color Game"
---
Title: Simulate Color Game
About: Pygame Scripts
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes it is relate to python scripts.

**Description**

There are four colored buttons on the screen. The buttons light up in

[2021-07-13 12:48] Debashish-hub commented on #735
Issue assigned @rammya29

[2021-07-13 13:31] GVictorsd opened #736 "Collision detection"
_Title_: Collision Detection and handling
_About_: Physics simulation script in python 3
_Name_: Victor Swaroop
_Label_: Feature Request
Assignee: ''

**Define You:**

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Collision detection and handling the collisions between two rigid bodies is one of the k

[2021-07-13 14:56] #733 closed

[2021-07-13 17:20] rammya29 opened #740 "Tetromino Game"
---
Title: Tetromino Game
About: These are look like block game played in mobile, when a row is completed it deletes the block in that row.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, the problem is related to python scripts.

**Describe the s

[2021-07-13 17:21] prathimacode-hub commented on #740
Issue assigned. @rammya29

[2021-07-13 17:22] prathimacode-hub commented on #736
It's a wonderful script, issue assigned. @GVictorsd

[2021-07-13 17:26] #735 closed

[2021-07-13 17:27] #720 closed

[2021-07-13 18:12] akash435 opened #741 "Sentence Segmenter"
---
Title: Sentence Segmenter
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application user will be able to segments the paragraphs into multiple sentence.

This sentence segmenting will be

[2021-07-13 18:12] akash435 commented on #741
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-13 18:17] prathimacode-hub commented on #741
Issue assigned. @akash435

[2021-07-13 18:23] prathimacode-hub commented on #1
Select the script you're comfortable working on. There are wide range of repositories. Choose any of it and come up with an idea. If you need specific idea, you would know better yourself. Be unique and creative. Also make sure, the script is not available in the repo. @sumitsoni0907

[2021-07-14 03:30] akash435 opened #743 "Credit Card Numbers Authentication"
---
Title: Sentence Segmenter
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application user will be able to authenticate whether his/her credit card number is authenticated as true credit ca

[2021-07-14 03:31] akash435 commented on #743
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-14 04:05] #741 closed

[2021-07-14 04:06] Debashish-hub commented on #743
Issue assigned @akash435

[2021-07-14 06:19] rammya29 opened #745 "Snake and Ladder"
---
Title: Snake and Ladder
About: Suggest an idea for this project
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes it is related python scripts.

**Describe the solution you'd like...**

I would like to implement this u

[2021-07-14 07:47] #743 closed

[2021-07-14 07:55] #740 closed

[2021-07-14 08:01] #700 closed

[2021-07-14 08:04] #231 closed

[2021-07-14 08:05] prathimacode-hub commented on #745
Hey, sorry. This is already done. @rammya29

[2021-07-14 08:15] rammya29 commented on #745
Mam actually they done in script method, I want to do in GUI based

[2021-07-14 09:04] rammya29 opened #749 "Star Pusher Game"
---
Title: Star Pushing game
About: It is a game where there will number of stars and player has to move the star in the to fill the blocks.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related to the python sc

[2021-07-14 09:06] prathimacode-hub commented on #749
Issue assigned. @rammya29

[2021-07-14 09:35] baljeet-singh97 opened #750 "Income-Tax-Calculator"
Title: Income-Tax-Calculator
About : its a GUI based income tax calcultor coded in python
Name: Baljeet Singh
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
Is your feature request related to a problem? Please describe.

Yes, it is related to the python scripts.

Describe the solution you'd like...

here is basic GUI based income tax calculator written in python lan

[2021-07-14 09:37] baljeet-singh97 commented on #750
i want to be assigned on this.

[2021-07-14 09:44] prathimacode-hub commented on #750
Issue assigned. @baljeet-singh97

[2021-07-14 09:57] neelshah2409 opened #751 "Smart Calculator"
Title: Smart Calculator
About: It is a gui script.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
 - [ ] DevIncept Participant
- [ ] Contributor

Here using the tkinter we will make gui and in that there will be text area for input where user can write " add 4 and 4, mul 5and 2,hcf of 3 and 9 , etc." Here we have multiply and all simple functions alo

[2021-07-14 11:26] prathimacode-hub commented on #751
This is already assigned. @neelshah2409

[2021-07-14 11:26] #751 closed

[2021-07-14 12:00] #736 closed

[2021-07-14 13:00] sumitsoni0907 commented on #1
I am working on string anagram or not. anagram string means second string is rearrangement of first string like 'race' and 'care'.
It is valid for contributing. its my first contribution.
I have another idea number is Peterson or not. Peterson number means sum of factorials of each digit is equal to number itself like 145 = 1!+4!+5!=1+24+120=145.
give me the answer both valid or not for contributi

[2021-07-14 13:18] akash435 opened #753 "Age On Different Planet"
---
Title: Age On Different Planet
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an application using tkinter GUI,

In this application user will be able to calculate his/her age on different planets.

User just enter his/her birth da

[2021-07-14 13:19] akash435 commented on #753
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-14 13:33] Debashish-hub commented on #753
Issue assigned to you @akash435

[2021-07-14 13:53] prathimacode-hub commented on #1
Create a new issue using the template given and get it assigned. @sumitsoni0907

[2021-07-14 15:24] chandu6111 commented on #485
No @prathimacode-hub, you can close it, or make it up-for-grab, anything is fine for me

[2021-07-14 15:25] prathimacode-hub commented on #485
Ok, sure. @chandu6111

[2021-07-14 15:25] #485 closed

[2021-07-14 15:32] #699 closed

[2021-07-14 16:31] sumitsoni0907 opened #756 "Anagram String"
**About:**  second string is a rearrangement of first string which means anagram string is a another string that contains same character only order of characters can be different.
example: "race" and "care"

**Name:** Sumit Soni

**Label:** Feature Request

Define You:
- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please

[2021-07-14 16:34] sumitsoni0907 commented on #1
hello mam I create new issue for anagram string please assign me

[2021-07-14 16:39] prathimacode-hub commented on #756
You haven't filled all the details. @sumitsoni0907

[2021-07-14 16:39] prathimacode-hub commented on #756
Are you LGMSOC or Devincept participant? @sumitsoni0907

[2021-07-14 16:45] sumitsoni0907 commented on #756
Devincept participant

[2021-07-14 16:46] #753 closed

[2021-07-14 16:50] sumitsoni0907 commented on #756
can I edit this issue and fill all details?

[2021-07-14 17:01] #745 closed

[2021-07-14 17:07] prathimacode-hub commented on #756
Yes. @sumitsoni0907

[2021-07-14 17:54] ainy-123 commented on #79
Sorry, I won't be able to complete this,stuck in other urgent stuffs , unassigning myself.

[2021-07-14 17:56] akash435 opened #758 "Aadhaar Card Generation Application"
---
Title: Aadhar Card Generation Application
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a simple aadhar card generating application using tkinter GUI,

In this application user will be able to allowed to fill the form of aadhar ca

[2021-07-14 17:57] akash435 commented on #758
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-14 18:03] prathimacode-hub commented on #79
You shouldn't unassign yourself, instead of notifying it you did off on your own. It's completely wrong. @ainy-123

[2021-07-14 18:04] prathimacode-hub commented on #758
Issue assigned @akash435

[2021-07-14 18:07] harshved commented on #123
Is it alright to work on this issue at present? I am participant from devIncept Jul 2021

[2021-07-14 18:14] prathimacode-hub commented on #123
Sure, you can work on it, but only if you could give time to it. @harshved

[2021-07-14 18:15] prathimacode-hub commented on #123
Add the issue template here, fill up the details and get this issue assigned to you.

[2021-07-15 01:51] ainy-123 commented on #79
Oh, I didn't know that it's wrong to unassign myself.sorry for that.there was the option to "unassign me",so I did that.

[2021-07-15 02:00] sumitsoni0907 commented on #756
I edited this issue. verify and assign me.

[2021-07-15 05:32] rammya29 opened #761 "Reversegram - Game"
---
Title: Reversegram
About: This two-player board game is played on a grid, so we’ll use a Cartesian coordinate system with x- and y-coordinates. Those who has highest coins will be the winner
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? P

[2021-07-15 05:33] harshved commented on #123
Yess, I will gave the time that's for sure.

[2021-07-15 05:50] Debashish-hub commented on #761
Please elaborate @rammya29

[2021-07-15 05:53] #749 closed

[2021-07-15 05:55] #674 closed

[2021-07-15 05:58] rammya29 commented on #761
Reversegam has an 8×8 board and tiles that are black on one side and white on the other. Two players take turns placing tiles of their chosen color—black or white—on the board. When a player places a tile on the board, any of the opponent’s tiles that are between the new tile and the other tiles of the player’s color are flipped.

[2021-07-15 06:01] Debashish-hub commented on #761
Got it! Issue assigned to you @rammya29

[2021-07-15 06:02] harshved commented on #123
@prathimacode-hub Sorry but I'm new to the open source contribution will you please guide me about this, that how to get assigned tag on this issue.

[2021-07-15 06:50] prathimacode-hub commented on #123
Just add up the issue template here in comments and do the changes according to your approach and your details. Once you do that, I shall assign the issue to you. Issue template is provided in README file of the project. If you have any doubts, feel free to ask. @harshved

[2021-07-15 06:51] prathimacode-hub commented on #756
Issue assigned. @sumitsoni0907

[2021-07-15 07:12] #380 closed

[2021-07-15 11:39] #513 closed

[2021-07-15 11:41] #758 closed

[2021-07-15 11:43] #750 closed

[2021-07-15 12:13] chandu6111 commented on #79
Hey @prathimacode-hub could you please assign me this issue? I would like to contribute to it

[2021-07-15 12:21] prathimacode-hub commented on #79
Yes, issue assigned. @chandu6111

[2021-07-15 12:51] sumitsoni0907 commented on #756
hello mam I fork and clone repository. but I create a branch give following fatal error
fatal: 'String' is not a commit and a branch 'Anagram' cannot be created from it
**Command:** $ git checkout -b Anagram String

[2021-07-15 13:05] prathimacode-hub commented on #756
Hmm, are you on slack? If so ping me over there. @sumitsoni0907

[2021-07-15 13:31] akash435 opened #763 "Correct Flow Game"
---
Title: Correct Flow Game
About: It's an Pygame script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a correct flow game generating application using tkinter GUI,

In this we will give any terms or things and for that we will give the process of that in ran

[2021-07-15 13:31] akash435 commented on #763
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-15 13:52] prathimacode-hub commented on #763
Issue assigned. @akash435

[2021-07-15 14:25] harshved commented on #123
Title: Road Lane Detection
About: I want to create an image processing python script that will detect the lanes of a road through a sample image using the OpenCV library.
Name: HARSH VED
Label: Feature Request
Assignee: ''

Define You:

[✔️ ] DCP21 Participant
[✔️ ] Contributor
Is your feature request related to a problem? Please describe.

Describe the solution you'd like...

Firstly, I will crea

[2021-07-15 14:26] rammya29 opened #765 "Squirrel Eating Game"
---
Title: Squirrel Eating Game
About: Its a game where squirrel eats the smaller squirrel.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes it is related to python scripts

**Describe the solution you'd like...**

It is

[2021-07-15 14:27] harshved commented on #123
@prathimacode-hub Is it enough for the process?

[2021-07-15 14:32] Debashish-hub commented on #765
Issue assigned @rammya29

[2021-07-15 15:14] prathimacode-hub commented on #123
Yes, obsolutely. Issue assigned. @suvrashaw

[2021-07-15 17:28] #765 closed

[2021-07-15 18:28] #763 closed

[2021-07-15 18:30] Ashu-1309 commented on #272
@prathimacode-hub can you assign me this work ? I want to work on it .

[2021-07-15 18:36] prathimacode-hub commented on #272
We shall wait for a day more, if no response issue will be assigned to you. @Ashu-1309

[2021-07-16 03:02] akash435 opened #769 "Detect The Language"
---
Title: Detect The Language
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an  application using tkinter GUI,

In this user will be able able to detect the language in which the entered sentence or phrase is written.
like if user en

[2021-07-16 03:03] akash435 commented on #769
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-16 03:33] Debashish-hub commented on #769
Issue assigned @akash435

[2021-07-16 04:29] AlexAdvent opened #770 "I want to update snake game from Procedure Oriented Programming to Object Oriented Programming"
I want to use oop in-game which makes coding more readable and efficient.

[2021-07-16 05:54] rammya29 opened #772 "Dodger Game"
---
Title: Dodger
About: In the Dodger game, the player controls a sprite (the player’s character) who must dodge a whole bunch of baddies that fall from the top of the screen. The longer the player can keep dodging the baddies, the higher their score will get.
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your

[2021-07-16 06:26] prathimacode-hub commented on #770
This is done long back. Make sure you check if it's done in repo before you create an issue, it will reduce your efforts. And also readm the README and CONTRIBUTING GUIDELINES. Are you a participant of Devincept or LGMSoC?

[2021-07-16 07:22] akash435 opened #773 "Image Encryption Decryption"
---
Title: Image Encryption Decryption
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an  application using tkinter GUI,

In this user will be able to select the image user wants to encrypt,
will show encrypted image in gra

[2021-07-16 07:23] akash435 commented on #773
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-16 07:47] AlexAdvent commented on #770
yes I am Devincept participant @prathimacode-hub

[2021-07-16 09:21] prathimacode-hub commented on #773
Issue assigned. @akash435

[2021-07-16 09:21] prathimacode-hub commented on #772
This is already done. Kindly come up with an another issue. @rammya29

[2021-07-16 09:24] prathimacode-hub commented on #770
Ok you want to enhance it. Then choose one out of the 2 games mentioned. And also use the issue template given to get issue assigned to you. You just have to add the template here and do the changes according to your project. Fill those details here in the comment. Also change the issue title to specific issue. 1 Issue = 1 PR. @AlexAdvent

[2021-07-16 09:26] #769 closed

[2021-07-16 09:33] #705 closed

[2021-07-16 09:35] #272 closed

[2021-07-16 09:56] dilroseR opened #774 "Steganography through CMD"
<html>
<body>

Title | About | Name | Label | Assignee
-- | -- | -- | -- | --
hide text in image| encryption and decryption of text through images | Dilrose Reji | Feature Request |  

**Define You:**
DevIncept Participant

**Is your feature request related to a problem?**
Yes

**Describe the solution you'd like...**
I would make a solution which would take a secret key, image and the text to be e

[2021-07-16 10:39] prathimacode-hub commented on #774
Issue assigned. @dilroseR

[2021-07-16 10:55] dilroseR commented on #774
thankyou

[2021-07-16 11:21] prathimacode-hub commented on #772
Ok, are you using a GUI interface for it? @rammya29

[2021-07-16 11:23] rammya29 commented on #772
Yes

[2021-07-16 11:29] prathimacode-hub commented on #772
Then you can add it up in "GUIScripts". Hope something extraordinary comes out from your end like you always showcase. 🤩@rammya29

[2021-07-16 12:39] neelshah2409 opened #775 "Pdf Merger"
Title: Pdf Merger
About: Here we merge all the pdfs
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

Here using the PyPdf library we use the PdfFileMerger module of that to merge  all the pdfs present in our folder .
So for merging the pdf we need to have in the same folder as of the script and then after

[2021-07-16 12:55] rammya29 opened #777 "Sprites and Cherries"
---
Title: Sprites and Cherries
About: It is a Program where a player needs to eat cherries and It will start to grow and ctrl+c to exit the game
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related python scri

[2021-07-16 12:56] neelshah2409 commented on #775
@prathimacode-hub @Debashish-hub Please see the issue and assign me.

[2021-07-16 13:05] prathimacode-hub commented on #775
Issue assigned. @neelshah2409

[2021-07-16 14:27] neelshah2409 opened #780 "Avatar Creator"
Title: Avatar Creator
About: Creating customised avatars
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

Description:
Here using the python avatar library we will be creating different avatars as per our wish we can customise eyes, nose , tone  and  all the other accessories .

## Example
![Screenshot (69

[2021-07-16 14:52] akash435 opened #781 "Video Player"
---
Title: Video Player
About: It's an GUIScripts script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an  application using tkinter GUI,

In this user will be able to select the video from the local system and will be able to play video in the frame.

will be

[2021-07-16 14:52] akash435 commented on #781
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-16 16:19] #775 closed

[2021-07-16 16:21] #773 closed

[2021-07-16 17:06] #772 closed

[2021-07-16 17:33] Debashish-hub commented on #780
Issue assigned @neelshah2409

[2021-07-16 17:37] Debashish-hub commented on #781
Issue assigned to you @akash435
I think it will come under GUI Scripts

[2021-07-16 19:24] Dhruv-194 opened #782 "Connect Four game in Pygame"
---
Title: Connect Four Game
About: I would like to create the famous connect four game using PyGame library and add it to this project.
Name: Dhruv Mehta
Label: Feature Request
Assignee: 'Kindly please assign me this issue

---

Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Additional context**

I would like to add the connect four game which I will ma

[2021-07-16 19:44] akash435 opened #784 "Video Stitching"
---
Title: Video Stitching
About: It's an GUIScripts script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an  application using tkinter GUI,

In this user will be able to select the two videos from the local system and will be to stitch both videos.

User will

[2021-07-16 19:45] akash435 commented on #784
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-17 03:22] #781 closed

[2021-07-17 03:24] Debashish-hub commented on #784
Issue assigned @akash435

[2021-07-17 07:13] #784 closed

[2021-07-17 07:34] #777 closed

[2021-07-17 12:33] akash435 opened #789 "Image Snipper"
---
Title: Screen Snipper
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an  application using tkinter GUI and opencv library,

In this user will be able to snip some specific selected part of the image.

Like there will be

[2021-07-17 12:33] akash435 commented on #789
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-17 12:50] #780 closed

[2021-07-17 12:53] Debashish-hub commented on #789
Issue assigned @akash435

[2021-07-17 16:33] prathimacode-hub commented on #782
Issue assigned. @Dhruv-194

[2021-07-17 18:04] #789 closed

[2021-07-17 18:17] devkumar24 opened #791 "Movie Review Scraping"
Title: It will scrap the reviews of the movies, and store them in the JSON file.
About: Add a python script to scrape movie reviews from the IMDB website.

Name: Dev Kumar
Label: Feature Request

Define You:

- [x] DevIncept Participant
- [ ] Contributor

Solution:
The user will enter the name of the movie and it will give make a JSON file in which all the reviews will be stored.

[2021-07-17 18:28] prathimacode-hub commented on #791
You can proceed. @devkumar24

[2021-07-18 03:13] akash435 opened #793 "Image Watermark Remover"
---
Title: Image Watermark Remover
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create an  application using tkinter GUI and opencv library,

In this user will be able to remove the watermark from any image of the documents.

Us

[2021-07-18 03:13] akash435 commented on #793
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-18 03:45] Debashish-hub commented on #793
Issue assigned @akash435

[2021-07-18 06:54] dilroseR commented on #254
Can i take up this?

[2021-07-18 08:27] akash435 opened #795 "Text to Speech in English Dictionary"
---
Title: Text to Speech in English Dictionary
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this  want to add text to speech feature in English Dictionary.

Will add text to speech button for both input entry and the output text.

For implementing will be u

[2021-07-18 08:27] akash435 commented on #795
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-18 08:34] #793 closed

[2021-07-18 08:37] Debashish-hub commented on #795
Issue assigned @akash435

[2021-07-18 09:37] akash435 commented on #795
@Debashish-hub Also want to add Speech to Text in Dictionary, should I add this also or need to create another issue for that?

[2021-07-18 10:36] Debashish-hub commented on #795
It would be better if you will add it separately @akash435

[2021-07-18 12:21] Gaurav1401 opened #798 "Extracting Quotes from Website"
Title: Extracting Quotes
About: Collecting the data from quotes.toscrape.com regarding different famous quotes of famous personalities
Name: Gaurav Kumar
Label: Feature Request

Define You:
LGM-SOC'21 Participant

    Contributor

In this, I want to discuss the basic concepts of WebScraping by extracting data from quotes.toscrape.com which contains famous quotes of different personalities and how

[2021-07-18 12:33] akash435 opened #799 "HTTP Error Codes"
---
Title: HTTP Error Codes
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this  will create an application using tkinter GUI,

here user will be able to get the details about any HTTP error codes.

The details will be in terms of
what type of error
what's the

[2021-07-18 12:33] akash435 commented on #799
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-18 12:49] Debashish-hub commented on #798
Issue assigned @Gaurav1401

[2021-07-18 13:00] Sulagna-Dutta-Roy opened #800 "Billing System GUI"
Name:Sulagna Dutta Roy
Project name: Billing System GUI
Language:Python

It's a billing GUI which consists various types of items, tax, billing section etc.

[2021-07-18 13:01] Sulagna-Dutta-Roy commented on #800
Please assign me this Issue

[2021-07-18 14:31] #756 closed

[2021-07-18 14:32] prathimacode-hub commented on #798
Is this a tutorial? This repo accepts only projects. @Gaurav1401

[2021-07-18 14:32] prathimacode-hub commented on #799
Issue assigned. @akash435

[2021-07-18 14:33] prathimacode-hub commented on #800
Follw the issue template given and add the details according, this is not in right template to get issues assigned. Look at other assigned issues for reference. @Sulagna-Dutta-Roy

[2021-07-18 14:36] #795 closed

[2021-07-18 15:04] Gaurav1401 commented on #798
@prathimacode-hub I have changed all the thing now, including Read me file, now please let me know, if anything is left?

[2021-07-18 16:19] Sulagna-Dutta-Roy commented on #800
---
Title: Biiling System GUI
About:  It consists various items ,total tax, ,buttons for generate tax etc.
Name: Sulagna Dutta Roy

---

Define You:

- [X] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

 This project is made by python tkinter library.
It has a section that display the bills and generate successful bill.

[2021-07-18 17:58] prathimacode-hub commented on #800
Issue assigned. @Sulagna-Dutta-Roy

[2021-07-18 18:48] prathimacode-hub commented on #254
Yes, you take up. But before that correct the changes requested in your earlier PR. Then I shall assign this to you. @dilroseR

[2021-07-18 18:50] #702 closed

[2021-07-18 20:16] akash435 opened #804 "Yandex Website Clone"
---
Title: Yandex Website Clone
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will create a clone of Yandex Website using tkinter GUI,

Will be adding all the options that is in Yandex website gui, like,
Images
Video
Mail
Maps
AppMetrica
Translat

[2021-07-18 20:16] akash435 commented on #804
@prathimacode-hub @Debashish-hub ,please assign this to me under LGM SOC.

[2021-07-18 21:06] Mannuel25 opened #805 "Password Validator"
---
Title: Password Validator
About: It's a CLI program that validates user's password
Name: Tanimowo Emmanuel
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

This program validates passwords to match specific rules. A valid password is one that conforms to the following rules:
- Minimum length is 6;
- Maximum lengt

[2021-07-18 21:07] Mannuel25 commented on #805
@Debashish-hub or @prathimacode-hub kindly assign this issue to me. Thanks.

[2021-07-19 04:22] rammya29 opened #806 "Internship -WebScrapping"
---
Title: Internship - WebScrapping
About: To scrap the internship details from the internship site - Internshala
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is related to python - web scrapping

**Describe the solution you'd like...**

I

[2021-07-19 04:30] Debashish-hub commented on #806
Issue assigned @rammya29

[2021-07-19 04:33] Debashish-hub commented on #804
Issue assigned @akash435

[2021-07-19 04:37] #799 closed

[2021-07-19 05:00] chandu6111 commented on #79
Title: YouTube Video Downloader
Name: Chandana(@chandu6111)
Label: Feature Request

- [x] LGM-SOC'21 participant

**Description**:
A GUI application made using Tkinter. It basically has a textfield where the user can copy paste any YouTube Video link and click on "Download" button. The video gets downloaded in the same folder where the user is executing this code. And a message "Downloaded" gets d

[2021-07-19 05:00] chandu6111 commented on #79
@prathimacode-hub is it okay?

[2021-07-19 05:44] #798 closed

[2021-07-19 05:57] #774 closed

[2021-07-19 05:58] prathimacode-hub commented on #805
Issue assigned. Are you a LGMSoC participant or DCP participant or a Contirbutor? @Mannuel25

[2021-07-19 06:33] prathimacode-hub commented on #79
Issue assigned. Yup. @chandu6111

[2021-07-19 06:36] Mannuel25 commented on #805
Thanks, I'm a Contributor by the way.

[2021-07-19 07:55] DurgaSai-16 opened #807 "2DShapeArea Calculator"
---
Title: **2D Shapes Area Calculator**
About: Basic script for creating areas of 2D shapes.
Name: **Nallani Durga Sai**
Label: Feature Request
Assignee: ''

---

Define You:  **DevIncept Participant**

Description: I would like to make a tool that helps to calculate Areas of  2D shapes like (Circle,triangle,square,etc.) Please assign this issue to me.

[2021-07-19 07:57] prathimacode-hub commented on #807
Great, it needs more details. But for this project, it has all that needs. Issue assigned. @DurgaSai-16

[2021-07-19 13:18] neelshah2409 opened #809 "Image Size Compressor"
Title: Image Size Compressor
About: To reduce the size of the image without changing the dimension
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Using image module of the pillow library we will convert the size(memory space) of the image without changing the dimension of the image.

[2021-07-19 13:25] Debashish-hub commented on #809
Issue assigned @neelshah2409

[2021-07-19 15:30] #804 closed

[2021-07-19 16:53] akash435 opened #813 "Mouse Speed Tracker"
---
Title: Mouse Speed Tracker
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this script, will application using pyQt5.

Using this application user will be able to track the speed of the mouse movement in no. of pixels per second.
These speed will be between

[2021-07-19 16:53] akash435 commented on #813
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-20 05:12] #809 closed

[2021-07-20 07:51] #79 closed

[2021-07-20 08:47] prathimacode-hub commented on #813
Issue assigned. @akash435

[2021-07-20 10:27] soma2000-lang opened #815 "Converting emoji into text in python"
In basic python scripts , I want to do  this  mini project using demoji library

[2021-07-20 10:28] soma2000-lang commented on #815
@prathimacode-hub  Kindly assign me this issue.I am from LGMSOC-21

[2021-07-20 10:51] prathimacode-hub commented on #815
Follow the issue template, add it in comments using edit option and do the changes according to the project and provide your details to get it assigned. Here is the issue [template](https://github.com/prathimacode-hub/Awesome_Python_Scripts/blob/main/.github/issue_template/feature_request.md). Always read the README and CONTRIBUTING GUIDELINES of the project before opening an issue.

[2021-07-20 11:05] soma2000-lang commented on #815
---
Title: Emoji  to text converter
About: It converts emoji to text in python
Name: Somasree Majumder
Label: Feature Request

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Describe the solution you'd like...**

It wll help to decode the emoji ,SInce it will convert the emoji into the text.

[2021-07-20 11:55] prathimacode-hub commented on #815
Ok, issue assigned. @soma2000-lang

[2021-07-20 13:51] akash435 opened #817 "Speech Input in English Dictionary"
---
Title: Speech Input in English Dictionary
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this want to enhance the search in English Dictionary, with speech input.

Here will add a button clicking on which user can speak up word to search and it will analyz

[2021-07-20 13:52] akash435 commented on #817
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-20 14:21] #813 closed

[2021-07-20 14:27] prathimacode-hub commented on #817
Issue assigned. @akash435

[2021-07-20 16:22] AlexAdvent commented on #770
---
Title: Sanke game improvement
About: create sperate file for each class and storing the highest score.
Name: Rajpurohit Vijeshkumar
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

currently snake game is Procedure based I want to convert it into

[2021-07-20 16:38] #817 closed

[2021-07-20 16:41] prathimacode-hub commented on #770
Great, if that's the case inside Snake Game folder add an "Enhanced" folder into it. Here add all your project files according to project structure given in README file of this project. Issue assigned. @AlexAdvent

[2021-07-20 16:58] TusharAMD commented on #254
If its up for grab can I do this one?

[2021-07-20 17:12] prathimacode-hub commented on #254
Yes, you can. Do you want to work on it? Then add up an issue template along with your details and changes with respect to your accordingly to get it assigned to you. @TusharAMD

[2021-07-20 17:13] akash435 opened #820 "Text to Captcha Image"
---
Title: Text to Captcha Image
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI and Open CV library.

here will ask user to enter any text or word, of which user want to generate an captcha image,
and applicati

[2021-07-20 17:13] akash435 commented on #820
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-20 17:21] #807 closed

[2021-07-20 17:44] dilroseR commented on #254
@prathimacode-hub ? Who are you assigning this to? :}

[2021-07-20 17:55] prathimacode-hub commented on #254
See, issues are on FCFS. If you are not here, I have to assign it to someone who is here. I haven't assigned it to anyone else. If you want to work on it, then add up an issue template along with your details and changes with respect to your accordingly to get it assigned to you. @dilroseR

[2021-07-20 18:05] TusharAMD commented on #254
---
Title: A face Lock Application using OpenCV
About: Lock Screen which can be unlocked using face detection in OpenCV
Name: Tushar Amdoskar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes. This is about awesome python scripts

**Describe the s

[2021-07-20 18:28] prathimacode-hub commented on #254
Issue assigned. @TusharAMD

[2021-07-20 18:29] prathimacode-hub commented on #254
Sorry, you are late. As other participant has added up the issue template first, I had to assign this issue to him. No worries you can come up with new issues. Sky is the limit. Don't get disheartned. @dilroseR

[2021-07-20 18:30] prathimacode-hub commented on #820
Issue assigned. @akash435

[2021-07-20 18:32] dilroseR commented on #254
I just said that because you told after correcting my PR changes you'll assign it to me, i didn't know that i had to come back and ask it again.
Its okay now, the issue template has been given

[2021-07-20 18:42] prathimacode-hub commented on #254
Yes, I did say. But you got few mins late due to which I had to assign it to other. I have to be fair with everyone right. @dilroseR

[2021-07-20 19:02] dilroseR commented on #254
No issues! 👍

[2021-07-21 04:30] #820 closed

[2021-07-21 05:39] #805 closed

[2021-07-21 05:53] akash435 opened #822 "Text On Image"
---
Title: Text On Image
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI and Open CV library.

here will ask user to select any image and user will be able to add or write text on that image at any position on i

[2021-07-21 05:53] akash435 commented on #822
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-21 10:40] prathimacode-hub commented on #822
Issue assigned. @akash435

[2021-07-21 12:16] akash435 opened #825 "Video to Images"
---
Title: Video to Images
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI and Open CV library.

here user will be able to get the images from the selected.

User will be asked to select the any video (either mp