[2021-04-12 06:45] prathimacode-hub opened #1 "Add Basic Python Scripts"
This issue is specfically created for those who are new to python and open source.

Repository : Basic Python Scripts (Beginner friendly)

- Do check if the code you want to contribute is available in this repository
- Comment on this issue with the title and details of the script you are going to contribute and what does it do
- Start working on that script and before you add make sure it works p

[2021-04-12 07:18] prathimacode-hub opened #2 "Add Web Scraping Scripts"
This issue is specifically created for those who have basic programming knowledge in python and want to explore on Web Scraping.

Repository : Web Scraping Scripts
Level : Easy and Medium

- Do check if the code you want to contribute is available in this repository
- Comment on this issue with the title and details of the script you are going to contribute and what does it do
- Start working on t

[2021-04-12 22:13] WebDesign4New commented on #1
Hello mam. I want to contribute to this. Shall I begin with basic python programs?

[2021-04-13 03:35] prathimacode-hub commented on #1
Yes, you can. You don't have to ask. Hope you have seen the contributing guidelines and template to follow. Mention the Python script you are contributing and what it does here. That's all it needs. And you are ready to go. @WebDesign4New

[2021-04-16 13:48] sonaliBedade commented on #1
Python script name: Jumping number  (Takes input from the user and determines whether the number entered is a Jumping number or not). Ma'am can I start working on this one?

[2021-04-16 15:15] prathimacode-hub commented on #1
Yes, Go ahead @sonaliBedade

[2021-05-02 13:45] prathimacode-hub opened #3 "Add GUIScripts"
This issue is specifically created for those who have basic programming knowledge in python and want to explore on GUI Scripts.

Add basic and advance GUI scripts in 'GUIScripts' folder.

Repository : GUIScripts
Level : Easy and Medium

Do check if the code you want to contribute is available in this repository
Comment on this issue with the title and details of the script you are going to contrib

[2021-05-02 13:55] prathimacode-hub opened #4 "Add Automation Scripts"
This issue is specifically created for those who have basic programming knowledge in python and want to explore on Automation Scripts

Add basic and advance automation scripts in 'AutomationScripts' folder.

Repository : AutomationScripts
Level : Easy and Medium

Do check if the code you want to contribute is available in this repository
Comment on this issue with the title and details of the scri

[2021-05-11 03:51] Krishna841 commented on #1
Hey, @prathimacode-hub !!! I wish to contribute. Is there any specific project you would like?

[2021-05-11 07:56] prathimacode-hub commented on #1
That's a wonderful initiative. Sure, you're free to contribute. Anything that's useful for beginners and as well that would serve some purpose out of it. @Krishna841

[2021-05-11 09:05] Krishna841 commented on #1
Okay, can I add the script to do a binary search?(it will perform binary search on either randomly generated array or through user input array)

[2021-05-11 09:43] prathimacode-hub commented on #1
That wouldn't justify this issue, as it is on algorithms and data structures. I will create issue on it in near future. But for now do prefer basic programs like calculator, alarmclock, temperatureconverter, urlshortener, typingspeed, musicplayer, screenshot taker, password generator, dictionary, ascii art generator, youtube downloader, portscanner etc. @Krishna841

[2021-05-11 12:46] sonaliBedade opened #6 "Learning Github"

[2021-05-11 13:31] prathimacode-hub commented on #6
Process to follow 👍

1. Fork the repository. You are now in your profile repositories
2. You can see a "Add File" option in the local repository
3. You can add files or folders using the 2options given
4. Create new file option helps in creating both file and sub repository within this repository.
    Example : You want to add up your JumpingNumber Script to the repository
    Select "create a new

[2021-05-12 04:29] prathimacode-hub commented on #1
Sure @Krishna841

[2021-05-12 16:08] prathimacode-hub commented on #6
Proud of you @sonaliBedade for your dedication. Kudos. As issue has been addressed, I shall close this issue. I hope you're now familiar with PR and GitHub Workflow. ✨😎

[2021-05-12 16:11] #6 closed

[2021-05-13 09:58] prathimacode-hub opened #9 "Star this repo 🌟"
Consider starring this repository if you found this project helpful.

[2021-05-13 10:01] prathimacode-hub opened #10 "Fork the repo 🍴"
Never work on master branch. Kindly fork it to your local repository

[2021-05-13 10:03] prathimacode-hub opened #11 "Contribute to this repo 🔔"
Contribute to this respository to show your love towards python and get started with Open Source/Github.

[2021-05-17 05:15] Krishna841 commented on #1
Hey, @prathimacode-hub !!! I'll be making a chatbot that can do some basic conversations.
Sounds good?

[2021-05-17 06:05] prathimacode-hub commented on #1
That sounds awesome. It's a wonderful project. Go for it. 👍
Once you're done, share me the link so that I can think of on where it can be placed. Based on that, I will suggest the repository and you can create a PR.
There are number of ways chatbot can be implemented. Are you using any GUI or automating the chatbot? @Krishna841

[2021-05-17 18:25] Krishna841 commented on #1
Umm... mostly I'm thinking of using python libraries. This is just a sample which would be the most basic one.

[2021-05-18 09:15] prathimacode-hub commented on #1
Ok, cool. All the best. Can't wait to see ur program working. @Krishna841

[2021-05-23 18:34] Umesh-01 opened #18 "add API scripts 🚀"
I think u must add a folder for the python code that uses any kind of API to perform some task @prathimacode-hub

[2021-05-23 18:38] prathimacode-hub commented on #18
I don't think many would like to contribute separately for python projects on API. So I had generalized. But it's a good idea. Do suggest some more folders which would go well into this repository. If anything fits the clause. you can a create PR of it for the same. @Umesh-01

[2021-05-28 17:13] prathimacode-hub commented on #18
Good to see your initiation of API scripts repository and adding up a OpenWeather API. It was a good add-on. Keep giving wonderful suggestions as you do. 👌✔

[2021-05-28 17:13] #18 closed

[2021-05-29 02:49] Kushal997-das opened #20 "Hey , I have python project can i add into this repo ?"

[2021-05-29 05:10] prathimacode-hub commented on #20
Yes, sure. You are most welcome to add your python script. @Kushal997-das

[2021-05-29 05:28] Kushal997-das commented on #20
Please [`Check this out`](https://github.com/prathimacode-hub/Awesome_Python_Scripts/pull/21)

[2021-05-29 05:51] prathimacode-hub commented on #20
I have reviewed it. Need few changes in file and folder names. Go through the changes required through PR. @Kushal997-das

[2021-05-29 07:21] Kushal997-das commented on #20
I replied

[2021-05-29 07:48] #20 closed

[2021-05-29 08:45] prathimacode-hub opened #22 "Add API Scripts"
This issue is specifically created for those who have basic programming knowledge in python and want to explore on API scripts on python

Add basic and advance API scripts in 'APIScripts' folder.

Repository : APIScripts
Level : Easy and Medium

Do check if the code you want to contribute is available in this repository
Comment on this issue with the title and details of the script you are going t

[2021-05-29 17:09] mkhmirza commented on #22
Hello, I going to contribute a python api for [Solar System Open Data](https://api.le-systeme-solaire.net/). This api displays our solar system's planet information.

[2021-05-29 17:32] prathimacode-hub commented on #22
Wow, sounds interesting. Go ahead. Kindly follow the template mentioned in contributing guidelines to avoid merge conflicts. All the best @mkhmirza

[2021-05-31 05:02] RandallWert commented on #22
Hello, I have a couple of APIs I could contribute. They're already in [a GitHub repo of my own](https://github.com/RandallWert/Fun_with_APIs), so I don't know if you still want them? If so, I would be happy to contribute them. My two favorites are one that lists earthquakes in Oregon and Pennsylvania (two states where my family lives) in the past week and another that queries a thesaurus; this one

[2021-05-31 06:32] prathimacode-hub commented on #22
Oh, that's great. Sounds interesting. Yeah, you are welcome to contribute. Being in a repo of your own, doesn't matter. This repo is created to encourage open source. Looking forward to your contributions. @RandallWert

[2021-05-31 06:40] RandallWert commented on #22
OK, great. But I am a little confused about this line: "Add your code to 'APIScripts' repository using the contribution guidelines and template mentioned." How exactly do I add to the repository? And where is the template?

Sorry for these beginner questions.

[2021-05-31 06:53] prathimacode-hub commented on #22
'APIScripts' is a folder name inside Awesome_Python_Scripts. And the project you are contributing should be in that concerned folder.
To get your understanding better : Your project should be in
"https://github.com/prathimacode-hub/Awesome_Python_Scripts/APIScripts" repository.

Template is given inside [CONTRIBUTING_GUIDELINES.md](https://github.com/prathimacode-hub/Awesome_Python_Scripts/blob/ma

[2021-05-31 13:14] RandallWert commented on #22
Thanks so much for the detailed answer and encouragement! I'll give it a try.

[2021-05-31 13:30] prathimacode-hub commented on #22
Sure, go ahead @RandallWert

[2021-05-31 15:37] RandallWert commented on #22
Is it possible to create the README.md directly on GitHub?

[2021-05-31 16:12] prathimacode-hub commented on #22
Yes, it is possible. While creating a file, all you have to is write README.md as filename and it's automatically created. @RandallWert

[2021-05-31 17:03] RandallWert commented on #22
OK, I'm still confused. Do I create the folder on GitHub somehow, or on my own machine? I haven't been able to create it on GitHub. I can upload individual files, but I can't upload an entire folder.

Putting it differently, I got as far as creating a branch, but I am having trouble committing my new folder to that branch.

[2021-05-31 17:10] prathimacode-hub commented on #22
You upload individual files in a folder, say it a file_name.py
To create a folder, Go to Add File Option. In that select, Create a New File
Now a blank page is open. At the space of writing your file name, give your folder name and add a /
Then you can add a blank README.md file so that the folder name given above is set.
Finally, you can add your relevant program script .py file and fill up your

[2021-05-31 17:10] RandallWert commented on #22
OK, now it _might_ have worked. I'll try to do the pull request next.

[2021-05-31 19:56] prathimacode-hub commented on #22
Your PR is merged successfully. Congrats. 🎉@RandallWert

[2021-05-31 21:03] RandallWert commented on #22
Yay!!! :-)

[2021-06-02 14:51] pragyakhanna11 opened #29 "pygames"
To contribute codes for pygames, such as snake game and pong

[2021-06-02 15:04] prathimacode-hub commented on #29
That's great to hear. I have assigned it to you. Sure, follow the contributing guidelines and go ahead. You can add your script in this [repository](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/PyGamesScripts). And one more thing, be specific about the program you're going to contribute be it any pygame, so that it's easier for others to know as well. Good to see your initi

[2021-06-02 18:04] pankaj892 opened #30 "Battery Automation Script"
@prathimacode-hub I wish to add a Python Script that automatically provides a notification to user when battery level changes

[2021-06-02 18:07] prathimacode-hub commented on #30
That's a wonderful script. It goes into this [repository](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/AutomationScripts)

[2021-06-03 08:14] prathimacode-hub opened #32 "Add PyGames Scripts"
This issue is specifically created for those who have basic programming knowledge in python and want to explore on API scripts on python

Add basic and advance Games scripts in 'PyGamesScripts' folder.

Repository : PyGamesScripts
Level : Easy and Medium

Do check if the code you want to contribute is available in this repository
Comment on this issue with the title and details of the script you a

[2021-06-03 08:47] prathimacode-hub opened #33 "Add Image Processing Scripts"
This issue is specifically created for those who have basic programming knowledge in python and want to explore on Image Processing scripts on python

Image processing has been used to create weird and beautiful modifications to pictures many of us have seen online. Older black and white photos can be brought to life using colorization techniques. On the other hand, color photos can be made to loo

[2021-06-03 10:46] #29 closed

[2021-06-03 11:34] MuditCh57 commented on #32
Hello!! I'm Mudit. I'm new in opensource. I've created a game with tkinter module. Can I add that game here? And how can I do it any guidance would be very much helpful for me.

[2021-06-03 11:41] prathimacode-hub commented on #32
Yes, you are more welcome to add your game script. Create a new issue to state game you are going to contribute. I shall guide you with the details of how it can be done.  @MuditCh57

[2021-06-03 11:49] MuditCh57 opened #35 "Color Game with tkinter"

[2021-06-03 12:02] prathimacode-hub commented on #35
Have you used GitHub earlier? Do you know how to contribute your project and create a pull request? @MuditCh57

[2021-06-03 12:08] MuditCh57 commented on #35
Yes I used GitHub just to add my own projects. But I don't know how to create a pull request.

[2021-06-03 12:19] prathimacode-hub commented on #35
**Process to follow** 👍

Fork the repository. You are now in your profile repositories
You can see a "Add File" option in the local repository
You can add files or folders using the 2options given
Create new file option helps in creating both file and sub repository within this repository.
Example : You want to add up your a script of a game using tkinter to this repository
Go to "PyGamesScripts"

[2021-06-03 13:16] MuditCh57 commented on #35
Thank You very much for helping me through out the process @prathimacode-hub.
I will surely contribute more to this repository.
Thank You @prathimacode-hub 👍

[2021-06-03 13:19] MuditCh57 commented on #35
But I have some doubts. Why you told me to open an issue? How my repository will sync with this main repository?

[2021-06-03 13:25] prathimacode-hub commented on #35
The reason I said so, is earlier issue was a generalized one to get knowledge of how contributions can be done. But when you open up a new issue and specifying the code you are going to contribute, you can link your issue number to your pull request to show a reference that PR is raised in concerning with the issue you have created. And also by doing this, it will automatically sync your name in c

[2021-06-03 13:26] prathimacode-hub commented on #35
That's great to know. You're most welcome to contribute.  Did i say this, you're a quick learner. Keep rocking. 👏@MuditCh57

[2021-06-03 13:27] #35 closed

[2021-06-03 13:30] MuditCh57 commented on #35
Thank You!

[2021-06-03 14:11] archismansaha commented on #33
I want to  contribute here as a LGM-SOC 21 participant but I am new to Coding and no experience before in opensource..want to learn by doing.... Would I contribute here and how to start and what to follow to make this if you tell... will be helpful

[2021-06-03 14:38] prathimacode-hub commented on #33
Sure, I would be glad to help you out. But kindly keep in mind, the contributions you do know won't count towards LGM-SOC'21. The contributions for that program would start from 10th June. Hope you know it. As long as you know this, you are free to contribute. That's great to see your initiation to learn and contribute. Please do raise a new issue about your willingness to learn opensource and cod

[2021-06-03 16:10] archismansaha commented on #33
Ok sure thx mam

[2021-06-03 16:14] archismansaha opened #37 "Learning opensource"
As a complete beginnner I want to learn by doing and start by opensourcejourney and start contributing in opensource with python .I had not much knowledge about python and its libraries .So this issue is created for taking help and how to start and for resources and need guidance towards open source. There are many projects or ideas but dont know how to build them by own so need help and want to b

[2021-06-03 16:36] prathimacode-hub commented on #37
That's great. It's a good way to learn while doing. I shall provide you with the resources needed to learn python programming. It's very first thing you need to initiate your contribution before you get into github and opensource. I shall educate you about github and open source. Do look here to learn [python](https://github.com/prathimacode-hub/Learn-Python-For-Beginners). To get all the resource

[2021-06-03 17:05] archismansaha commented on #37
Thx mam and this is my email id: archimansaha@gmail.com

[2021-06-03 17:22] prathimacode-hub commented on #37
I had shared tutorials, book and a course suggestion to your mail id. I as well deleted your mail id here for privacy reasons. Do check it out. @archismansaha

[2021-06-03 17:42] archismansaha commented on #37
ya I had recieved thx mam

[2021-06-04 12:53] neelshah2409 commented on #32
Hello! I am Neel. I am new in opensource. I had made  game with tkinter and numpy.May I add that here?plz guide me.

[2021-06-04 12:58] neelshah2409 commented on #1
Mam I had made password generator and typing speed test ,may I contribute it here. And please guide me for that.

[2021-06-04 14:52] prathimacode-hub commented on #32
Yes sure, create  a new issue and give a slight description of what the project is about. Once assigned it to you, you can start contributing. Do check out the README and Contributing_Guidelines before you create a PR. Once you create a PR, link the issue number to PR as reference and give a commit message. Any queries, feel free to ask. But raise an issue first. Good to see your initiation to con

[2021-06-04 14:54] prathimacode-hub commented on #1
Sure, you can. Please go ahead. First raise a separate issue for each project you are going to contribute. Before you start, go through README of the project and contributing guidelines given for smooth flow of PR. Once you raise an issue, I shall assign the project to you and would provide a guidance as well. @neelshah2409

[2021-06-05 07:21] prathimacode-hub commented on #30
You had done an exceptional job. Well done. ✔👍 @pankaj892

[2021-06-05 07:21] #30 closed

[2021-06-05 08:06] pankaj892 commented on #30
Thanks @prathimacode-hub

[2021-06-05 08:20] prathimacode-hub commented on #30
Mention not @pankaj892

[2021-06-06 07:13] manognyaa opened #40 "snake game"
hello sir,
i would like to add snake game using python . please assign this to me @Kushal997-das @kevinkurian7 @pankaj892

[2021-06-06 07:18] manognyaa opened #41 "guessing a number game using python"
hello sir,
i would like to add guessing number using python . _please assign this to me_

[2021-06-06 07:20] manognyaa opened #42 "calculator app"
hello sir,
I want to create a calculator app using python.
I would like to contribute to this project please assign this to me.

[2021-06-06 07:28] Kushal997-das commented on #40
@manognyaa Yes you can add your project here ,if you need any kind of help you can contact me over [`linkedin`](https://www.linkedin.com/in/kushal-das-7337421a9/l)

[2021-06-06 07:44] prathimacode-hub commented on #41
Good initation. Welcome to the repository. Assigning it to you. 🙂@manognyaa

[2021-06-06 07:46] prathimacode-hub commented on #42
By the way I'm not a sir. Assigned this issue to you. Sure, are you part of any open source program? @manognyaa

[2021-06-06 07:48] prathimacode-hub commented on #40
Yeah, you can add your project here. Assigned. 👍 @manognyaa

[2021-06-06 07:48] prathimacode-hub commented on #37
How is the progress going? @archismansaha

[2021-06-06 08:43] manognyaa commented on #41
Thank You mam. It really means a lot :) @prathimacode-hub

[2021-06-06 08:44] manognyaa commented on #40
Thank You very much mam @prathimacode-hub

[2021-06-06 08:44] manognyaa commented on #40
okay sorry for the inconvenience caused ;(

[2021-06-06 08:54] manognyaa commented on #42
hello mam,
sorry for the inconvenience caused. this is a basic functionality mam with a color combination of black, sky blue and Persian blue mam. Adding to it, the numbers will be visible in white color.

[2021-06-06 09:38] prathimacode-hub commented on #42
That's cool. So it's a basic GUI calculator script. @manognyaa

[2021-06-06 09:50] manognyaa commented on #42
yes mam @prathimacode-hub :)

[2021-06-06 09:57] prathimacode-hub commented on #42
I had assigned it to you. Try to complete all the issues that are assigned before 10th June, 2021. Though you're free to contribute, but from 10th, this repo would be a part of an open source program. @manognyaa

[2021-06-06 10:38] archismansaha commented on #37
Mam It's going good learned a lot new things 😊

[2021-06-06 10:56] prathimacode-hub commented on #37
That's great. Good to know. Once you get basics on it. I shall guide you on opensource and github. To get some idea on how projects look like. You can refer this [repo](https://github.com/prathimacode-hub/Pythonista_ForAll). Didn't update it fully. But yeah, it would help you in structuring your programs by own and initiating projects on python. 🙌👏@archismansaha

[2021-06-06 11:27] ayushgoyal9991 commented on #33
Hello Ma'am, I am Ayush a LGM_SOC'21 participant, I would like to contribute here. I am new to open source but have a sound knowledge of python and worked a bit on Image Processing using Matlab

[2021-06-06 11:33] MuditCh57 opened #43 "Rock Paper Scissor Game"
It is a terminal based rock paper scissor game.

[2021-06-06 12:31] prathimacode-hub commented on #33
Good to know. That's great to see your enthusiasm. If you want your PR's to get counted under LGM_SOC21, you should start contributing from 10th June. Else, you're free to contribute now as well if count doesn't matter to you. Any queries on open source and github, if you're new to it. You can raise a separate issue for the same. Welcome to the repository. Do read this project's README and CONTRIB

[2021-06-06 12:36] prathimacode-hub commented on #43
That's a wonderful game. 👍@MuditCh57

[2021-06-06 13:56] archismansaha commented on #37
Ohk thx a lot mam 😊

[2021-06-06 14:58] rivelez65 opened #45 "color_game enhancement"
I have added level of complexity to the color_game.
I have made it so that the Word's background color also changes (to the previous word's colour).
That way making the game a bit more challenging

[2021-06-06 15:50] ayushgoyal9991 commented on #33
Okay Ma'am

[2021-06-06 18:09] #45 closed

[2021-06-06 18:09] #43 closed

[2021-06-07 07:37] Jagannath8 opened #48 "tic tac toe game"
Can I create a simple tic tac toe game? I'm a participant of LGM Soc21.

[2021-06-07 07:40] prathimacode-hub commented on #48
Yeah, you can. But if you want your contribution to count under LGM SoC21, you should wait until June 10th. @Jagannath8

[2021-06-07 08:58] aishwaryachand opened #49 "Stopwatch GUI"
I would like to work on a stopwatch GUI

[2021-06-07 09:37] prathimacode-hub commented on #49
Glad to see your interest to contribute. Are you a LGM-SOC participant? @aishwaryachand

[2021-06-07 10:42] neelshah2409 commented on #41
Mam even I wanted to contribute to these so you can also assign me please...

[2021-06-07 10:50] prathimacode-hub commented on #41
Are you LGM-SOC participant? Always to communicate you should raise a new issue. If you are a open source contributor, you should first create a new issue with the project title and details about the project you are going to contribute. Also make sure you read the project README and CONTRIBUTING GUIDELINES. So that you know how to proceed it further. If you're a LGM-SOC participant, I can only ass

[2021-06-07 10:51] neelshah2409 opened #50 "Password generator"
For generating a password I had used random lib. ,which generates random password of 8(length including alphabets, numbers and special characters)

[2021-06-07 10:53] prathimacode-hub commented on #50
That's an interesting one to contribute. Sure, I will keep this issue open but make sure you get it assigned asap on June10th. Good to see your initiation and enthusiasm. All the best for your open source journey. @neelshah2409

[2021-06-07 10:54] neelshah2409 opened #51 "Typing Speed test"
In this I had used time lib. for calculating the time taken by user to write the given sentence and it also indicates the errors.

[2021-06-07 10:56] prathimacode-hub commented on #51
Fab script. is your project ready? @neelshah2409

[2021-06-07 11:58] Jagannath8 commented on #48
Okay I'll wait till June 10

[2021-06-07 13:31] neelshah2409 commented on #51
yes I haved worked on the logic and it will be complete today

[2021-06-07 13:33] neelshah2409 commented on #50
Thank you so much mam and I may submit it today or after 10 th??

[2021-06-07 13:58] prathimacode-hub commented on #50
To get it counted under the LGM-SOC program you have raise a PR after June 10th. And also one more thing, I hadn't assigned this issue to you yet. So it won't be considered. One June 10th, the very first thing you will be doing is create a new and separate issues by referring the README and CONTRIBUTING GUIDELINES to get your projects assigned to you. You can only create a PR once it is assigned.

[2021-06-07 13:59] prathimacode-hub commented on #51
Ok

[2021-06-07 16:25] aishwaryachand commented on #49
yes I am @prathimacode-hub

[2021-06-07 16:31] prathimacode-hub commented on #49
Great. You can start your contribution once period starts. You had created the issue for now. But to get it counted under LGM-SOC and for adding up a label, you should create a new issue with the template mentioned in README. That's when the issue can be assigned. @aishwaryachand

[2021-06-07 16:36] rivelez65 opened #52 "Modify README's"
Modify README in Watermark Inserter and make small correction in Color Game README instructions

[2021-06-07 16:56] skimran2000 opened #54 "Image Steganography"
Image Steganography is a process of hiding secret message in any image in such a way that no one can know the presence or contents of the hidden message.
I have first converted the secret message into 8-bit binary data and then used PIL module of python to extract pixels of image and modify it into 8-bit binary data so that I could store the secret message with it.

[2021-06-07 17:00] prathimacode-hub commented on #54
Wow, awesome. Are you a participant of LGM-SOC? @skimran2000

[2021-06-07 17:06] skimran2000 commented on #54
Yes I am a participant of LGM-SOC

[2021-06-07 17:20] prathimacode-hub commented on #54
Cool. You got to raise your issue using the template mentioned in README after 10th of june. Do make sure to create a new issue then and get it assigned. All the best for your open source journey. Any queries, don't hesitate to ask. @skimran2000

[2021-06-07 17:24] skimran2000 commented on #54
Thank you mam

[2021-06-07 17:32] skimran2000 commented on #54
In which file should I save this program?

[2021-06-07 17:40] prathimacode-hub commented on #54
It should go under "ImageProcessingScripts". I have mentioned all the details in README file. @skimran2000

[2021-06-07 18:05] skimran2000 commented on #54
Ok mam

[2021-06-07 23:22] #52 closed

[2021-06-08 20:40] Chanakya-Sharma commented on #10
Can you assign me this @prathimacode-hub

[2021-06-08 20:43] Chanakya-Sharma commented on #11
Can you assign me this @prathimacode-hub

[2021-06-08 20:44] Chanakya-Sharma commented on #9
I have Starred the REPO

[2021-06-08 20:45] Chanakya-Sharma commented on #2
Can you assign me this @prathimacode-hub

[2021-06-08 20:48] Chanakya-Sharma commented on #3
Can you assign me this @prathimacode-hub

[2021-06-08 20:49] Chanakya-Sharma commented on #4
Hey can you assign me this @prathimacode-hub

[2021-06-09 06:52] prathimacode-hub commented on #9
This is not a task to get it assigned, but it's a general notification @Chanakya-Sharma

[2021-06-09 06:52] prathimacode-hub commented on #10
This is not a task to get it assigned, but it's a general notification @Chanakya-Sharma

[2021-06-09 06:57] prathimacode-hub commented on #11
This is a general notification and this issue is used only for other open source contributors. You being a LGM-SOC participant, should raise your issue using the template mentioned in README and get issue assigned to you on June 10th, 10Am onwards. I would also add up few issues. Only interest expressed after 10Am on first come first serve basis would be assigned. You should then raise an issue wi

[2021-06-09 07:11] pratimakush10 commented on #1
Ma'am I want to contribute in *Basic Python Scripts #1*
I had made simple alarm clock by importing datetime module please guide me as its my first open source contribution

[2021-06-09 07:25] prathimacode-hub commented on #1
Sure, I shall guide you. Tomorrow, after 10AM raise an issue using the template given in README and get it asigned to you. Are you aware of Github workflow? @pratimakush10

[2021-06-09 08:35] pratimakush10 commented on #1
yes mam ,I know the BASIC Github workflow of git fork and git clone.

[2021-06-09 08:49] prathimacode-hub commented on #1
That's cool. The main thing being follow the README and CONTRIBUTING GUIDELINES mentioned and you are good to go. Raise a new issue of the project you are interested to work on after the stipulated time tomorrow using the template. I shall guide you. Any queries, don't hesitate to ask. @pratimakush10

[2021-06-09 09:20] pratimakush10 commented on #1
yes mam, I will follow the  README and CONTRIBUTING GUIDELINES and surely I will ask query  if faces any problem.

[2021-06-09 15:23] AK-Subodh commented on #32
Hello @prathimacode-hub ! I'm Anshika. I  am making a  simple oddly-satisfying animation/game using PyGame with basic input input from player.  Can I contribute it here? I'm new to open source, so please guide me about steps. Thank you!

[2021-06-09 16:21] prathimacode-hub commented on #32
Ok, sure. You're free to contribution. Raise a new issue with the program you would like to work on after 12AM. Issues would be assigned on first come, first serve basis. And definitely, I would guide you the process as you go. @AK-Subodh

[2021-06-09 17:17] Harshitha-246 opened #55 "Rock Paper Scissors game"
Hello mam,
I would like to create rock paper scissor game using python. The user can play with the computer or with another user from the same device.
please assign this to me.
I am a participant of LGM-SOC21

[2021-06-09 17:22] prathimacode-hub commented on #55
Rock Paper Scissor is already included in the repo. While raising issue, you got to check whether the project is available or not so that your efforts don't go wasted. @Harshitha-246

[2021-06-09 17:54] Harshitha-246 commented on #55
oh ok mam. thank you mam.

[2021-06-09 18:02] Bhuvanaa28 opened #56 "API Script"
# API Script - OMDB Api
Title	  |   About   |	Name   |	Label   |	Assignee
------ | ---------- | ---------- | -------- | -------------
OMDB Api | In this project, information about a movie <br> is obtained upon request by the user via the API | Bhuvanaa28 |Feature Request
- [x] LGM-SOC'21 participant

The solution I would like to follow is to use the requests library to send requests to the API and

[2021-06-09 18:05] prathimacode-hub commented on #56
Issues would be assigned on first come first serve basis from 12AM and describe the project with title. Also raise an issue using the template given. Have a good glance of README and CONTRIBUTING GUIDELINES of the project. I have as well attached an enclosed document with all the details pinned in the project channel of slack. @Bhuvanaa28

[2021-06-09 18:06] Harshitha-246 opened #57 "Hangman Game"
Hello mam,
I would like to create hangman  game.
please assign this to me.
I am a participant of LGM-SOC21.

[2021-06-09 18:10] prathimacode-hub commented on #57
I have mentioned all the details of how to get an issue assigned to you in enclosed document I have pinned to the project channel in slack. Do check it out. Any assignment would start on FCFS basis after 12AM. That's when you got to raise your issue and express your interest. @Harshitha-246

[2021-06-09 18:32] prathimacode-hub commented on #56
Kindly do the same after 12AM and is it IMDB or OMDB? @Bhuvanaa28

[2021-06-09 18:32] skimran2000 opened #58 "Image_Steganography"
---
Title: Image Steganography
About: Hiding secret data like messages in an image before sending
Name: Shaik Imranuddin
Label: Image Processing Script
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I have talked regarding this with @prathimacode-hub in issue #54

**Describe the solution you'd like...**

I have first converted the secret message into 8-bit binary d

[2021-06-09 18:35] prathimacode-hub commented on #58
This is a wonderful add-on project. I had assigned this issue to you. @skimran2000

[2021-06-09 18:40] prathimacode-hub commented on #56
Ok, Do raise the same issue again. As this issue is opened 30mins ago, I can assign you through this. @Bhuvanaa28

[2021-06-09 18:45] Bhuvanaa28 opened #59 "Movie API Script"
# API Script - OMDB Api
Title	  |   About   |	Name   |	Label   |	Assignee
------ | ---------- | ---------- | -------- | -------------
OMDB Api | In this project, information about a movie <br> is obtained upon request by the user via the API | Bhuvanaa28 |Feature Request
- [x] LGM-SOC'21 participant

The solution I would like to follow is to use the requests library to send requests to the API and

[2021-06-09 18:50] #56 closed

[2021-06-09 18:50] Bhuvanaa28 commented on #59
Thank you Mam, will start working on it right away !

[2021-06-09 18:52] prathimacode-hub commented on #59
Sure, go ahead. All the best. I shall hit to the bed. @Bhuvanaa28  👍

[2021-06-09 18:54] #54 closed

[2021-06-09 18:54] Harshitha-246 opened #60 "Hangman Game"
Title        |      About                                                   |  Name                |  Label                 |    Assignee  |
------------|----------------------------------------------|-------------------|-------------------|--------------|
Hangman  | using a list of words we randomly     select a word and make the user guess it          |              Harshitha-246 | Feature Reque

[2021-06-09 18:56] prathimacode-hub commented on #60
Wonderful game to get engaged. I had assigned this issue to you. @Harshitha-246

[2021-06-09 18:57] #57 closed

[2021-06-09 18:57] Harshitha-246 commented on #60
thank you mam. Will start working on it.

[2021-06-09 18:57] #55 closed

[2021-06-09 19:55] jigar-sable opened #61 "Guess the number"
---
Title: Guess the number
About: Store a random number in a variable and make the user guess the correct number.
Name: Jigar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant

**Describe the solution you'd like...**
I'll use random library to generate a random number within the range of 0 to 100.
And then store it in a variable and iterate it via while loop till

[2021-06-09 20:13] archismansaha opened #62 "Want to add Rock-paper-scissior game"
I am LGM-SOC participant  I want to add Rock-paper-scissor game which uses random py module.

[2021-06-09 20:16] tanvidaware17 opened #63 "What's your story?"
---
| Title  | About | Name | Label | Assignee |
| ------------- | ------------- | ------------- | ------------- | ------------- |
| What's your story? | On the basis of user's inputs a story full of fun and madness will be generated.  | Tanvi Daware | Feature Request |
---

- [x] LGM-SOC'21 Participant

**Approach to be followed :**
The user will be asked for their name, pronoun, favourite place,

[2021-06-09 20:21] jigar-sable opened #64 "Phone Number Info"
---
| Title | About | Name | Label | Assignee |
|-------|-------|------|-------|----------|
| Phone Number Info  | Shows Country and the Service Provider of any phone number. | Jigar | Feature Request  |

---

Define You:

- [x] LGM-SOC'21 Participant

**Describe the solution you'd like...**
I'll use phonenumbers module to create this project. As the user enters the phone number the output will be

[2021-06-09 21:20] pragyakhanna11 opened #65 "Add sudoku game"
Title | About | Name |Label | Assignee |
--- | --- | --- | --- |---
Sudoku game| A classic game of sudoku made using pygames | Pragya Khanna | Feature Request|  |

- [x] LGM SOC participant

**Describe the solution you would like:**
I will use pygame module to make this project and make the classic sudoku game.

[2021-06-10 02:52] sherin527 opened #66 "Implement Text translator using python"
@prathimacode-hub, I want to implement a python script for text translator with GUI using googletrans library of python. I am an LGM-SOC'21 participant please assign me this issue.

[2021-06-10 02:55] AK-Subodh opened #67 "Simple Oddly Satisfying Animation/Game using PyGame"
Title | About | Name | Label | Assignee
----- | ------ | ------- | ------ | ----------
Oddly Satisfying Game | Various Elements keep moving around the screen bouncing off the surfaces. User input affects one of them | AK-Subodh | Feature Request |

Define You:

- [x] LGM-SOC'21 Participant

Solution I'd Follow:
Use of simple collision mechanics. All the type 2 element are in random motion. Type1 e

[2021-06-10 03:25] sherin527 commented on #33
@prathimacode-hub ma'am, can I implement the Image blending technique under image processing. I am an LGM-SOC 21 participant.can you assign this issue to me?

[2021-06-10 03:38] neelshah2409 commented on #51
mam now please assign me this issue under LGM-SOC

[2021-06-10 03:39] neelshah2409 commented on #50
Mam please assign me so I can make a PR for this issue

[2021-06-10 03:44] pragyakhanna11 opened #68 "Twitter API"
Title | About | Name |Label | Assignee |
--- | --- | --- | --- |---
Twitter API| Extract tweets using a keyword or username | Pragya Khanna | Feature Request|  |

- [x] LGM SOC participant

**Describe the solution you would like:**
I will use tweepy module to make this project and extract tweets based on a keyword or twitter id.

[2021-06-10 03:47] neelshah2409 opened #69 "Caesar Encryption"
I would like to solve this with python under LGM-SOC ,so mam please assign this issue.

[2021-06-10 03:59] prathimacode-hub commented on #64
That's cool. But you had raised 2 issues. So let me know of the project you are interested to work on first. Since i could assign only 1 issue at a time. @jigar-sable

[2021-06-10 04:00] prathimacode-hub commented on #61
Interesting game. Awaiting your decision to choose 1 of the 2 issues raised to assign. @jigar-sable

[2021-06-10 04:02] jigar-sable commented on #64
Thank you ma'am I'll work on Number Guess(#61) first and then for this issue..

[2021-06-10 04:02] prathimacode-hub commented on #62
First thing, this script is already added up in the repository. You can take some other issue. And one more thing kindly follow the template given to get issues assigned. Stone-Paper-Scissor (or) Rock-Paper-Scissor both games are same. @archismansaha

[2021-06-10 04:03] jigar-sable commented on #61
Thank you ma'am I'll work on this issue first and then for Phone Number Info #64

[2021-06-10 04:04] prathimacode-hub commented on #63
This is kinda new and unique script. Good selection of an issue. I had assigned this issue. Go ahead. @tanvidaware17

[2021-06-10 04:06] prathimacode-hub commented on #69
Kindly follow the template to get issue assigned. You can look into other assigned issues for reference of how template should look like. Once you do that, issue will be assigned. @neelshah2409

[2021-06-10 04:08] prathimacode-hub commented on #67
Wow, sounds exciting. The issue is assigned to you. @AK-Subodh

[2021-06-10 04:12] archismansaha commented on #62
Ohk mam , and from where I will get that template??

[2021-06-10 04:16] prathimacode-hub commented on #66
Kindly follow the template mentioned to get issued. Do check up with the assigned issues for reference of how template should look like. So that I could assign this issue to you. @sherin527

[2021-06-10 04:18] prathimacode-hub commented on #65
It's my fav game, But you had raised 2 issues other one being twitter API. Can you select the issue, you want to work on first. As only 1 issue can be assigned at a time. @pragyakhanna11

[2021-06-10 04:25] prathimacode-hub commented on #33
Yeah, you can implement. But you had already raised an issue #66. But issue is not framed in right template. Kindly raise a new issue with the template followed to get issue assigned to you. @sherin527

[2021-06-10 04:27] prathimacode-hub commented on #61
Sure. Issue is assigned to you. @jigar-sable

[2021-06-10 04:28] pragyakhanna11 commented on #65
I'll work on the twitter API first then

[2021-06-10 04:29] jigar-sable commented on #61
Thanks ma'am will start working on it..

[2021-06-10 04:30] prathimacode-hub commented on #68
Interesting one. Issues is assigned to you. @pragyakhanna11

[2021-06-10 04:46] sherin527 commented on #66
ok ma;am

[2021-06-10 05:15] #66 closed

[2021-06-10 05:16] sherin527 opened #70 "Python Text Translator"
`---
Title: Python Text Translator
About: I want to implement a python script for text translator with GUI using googletrans library of python
Name: Sherin Shibu
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
It would be a basic text translator written in python language using GUI, where the user can en

[2021-06-10 05:19] prathimacode-hub commented on #66
Hey @sherin527 you should never close the issues form your end. Just letting you know about it.

[2021-06-10 05:21] prathimacode-hub commented on #70
Great. I had assigned this issue. Go ahead. @sherin527

[2021-06-10 05:29] neelshah2409 commented on #69
Title: Caesar Encryption
About: I want to implement a python script for caesar problem
Name: Neel Shah
Label: Feature Request
Assignee: ''

LGM-SOC'21>Participant

Description:> My approach would be like taking any input from user and in the code the number will be there for how many alphabets you need shift and user can change the number as per their requirement.

[2021-06-10 05:29] prakhar07msd commented on #48
Hey can i create tic tac game?

[2021-06-10 05:31] sherin527 commented on #66
ok, ma'am.

[2021-06-10 05:31] sherin527 commented on #70
yes ma'am.

[2021-06-10 05:34] neelshah2409 commented on #51
Title: Typing Speed test
About: I want to implement a python script for this problem using time library
Name: Neel Shah
Label: Feature Request
Assignee: ''

LGM-SOC'21>Participant

Description:> My approach would be like using  time lib. for calculating the time taken by user to write the given sentence and it also indicates the errors.

[2021-06-10 05:35] prathimacode-hub commented on #51
Ceasar Encryption or Typing Speed Test. Which one you would like to work on first? As I can assign only 1 issue at a time. @neelshah2409

[2021-06-10 05:39] prathimacode-hub commented on #48
Create a new issue with the template given in README. You can refer assigned issues to know how template should look like. Once you do that, I can assign it to you @prakhar07msd

[2021-06-10 05:41] prathimacode-hub commented on #69
Raise a new issue again with same project and description. This won't count. @neelshah2409

[2021-06-10 05:41] neelshah2409 commented on #50
Title: Password Generator
About: I want to implement a python script for this problem using random library
Name: Neel Shah
Label: Feature Request
Assignee: ''

LGM-SOC'21>Participant

Description:> My approach would be like using random lib. it will generate a random password of 8 digit and also we can change the length of password.

[2021-06-10 05:42] prakhar07msd commented on #42
can you assign me this??

[2021-06-10 05:43] prathimacode-hub commented on #50
You have to raise a new issue with same desription as this issue is created 3 days ago. And you can work on only 1 issue at a time. So decide the issue you would like to work on first.

[2021-06-10 05:45] prathimacode-hub commented on #42
This issue is created 4 days ago. So it won't be considered. Do raise a new issue with the template given. You can check out with the reference template to follow through the assigned issues @manognyaa

[2021-06-10 05:45] neelshah2409 commented on #51
Typing Speed test

[2021-06-10 05:57] neelshah2409 commented on #50
Okay mam, I will do one by one.

[2021-06-10 05:58] muskantayal123 commented on #40
@prathimacode-hub mam,   i want to  do this project, please assign me this

[2021-06-10 06:01] muskantayal123 commented on #64
@prathimacode-hub  mam, i want to solve this issue please assign it to me.

[2021-06-10 06:04] muskantayal123 commented on #64
@prathimacode-hub since, no one is working on this issue so can i?

[2021-06-10 06:07] prathimacode-hub commented on #51
Then raise a new issue for typing speed test using the template. @neelshah2409

[2021-06-10 06:10] prathimacode-hub commented on #40
Raise a new issue the template mentioned in README. You can check the template through the assigned issues to know how template should like. Brief the project, so that I can assign the issue to you. @muskantayal123

[2021-06-10 06:10] neelshah2409 opened #71 "Typing Speed Test"
Title: Typing Speed test
About: I want to implement a python script for this problem using time library
Name: Neel Shah
Label: Feature Request
Assignee: ''

LGM-SOC'21>Participant

Description:> My approach would be like using time lib. for calculating the time taken by user to write the given sentence and it also indicates the errors.

[2021-06-10 06:11] prathimacode-hub commented on #40
Only 1 issue is assigned at a time. if you want to work on this, create a new issue. @muskantayal123

[2021-06-10 06:12] prathimacode-hub commented on #71
Interesting project. Sure, go ahead with it. I had assigned it to you. @neelshah2409

[2021-06-10 06:13] prathimacode-hub commented on #62
All the best @archismansaha

[2021-06-10 06:16] muskantayal123 commented on #40
@prathimacode-hub  okay mam .

[2021-06-10 06:16] prakhar07msd opened #72 "Tic_ Tac_ Toe_ Game"
Title: Tic Tac Toe game using Tkinker
About: I want to implement Tkinker GUI for tic tac toe game
Name: Prakhar Agarwal
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: I would like to implement Tkinker GUI for simple Tic toe game.can you please assign me this one?

[2021-06-10 06:20] muskantayal123 commented on #40
@prathimacode-hub  mam where i can find the template?

[2021-06-10 06:22] prathimacode-hub commented on #72
Good to see your enthusiasm. Yup, go ahead. I had assigned this issue to you. @prakhar07msd

[2021-06-10 06:31] sambit221 opened #74 "Add snake_mania"
Title: snake_mania
About: I want to implement Pygame module for snake mania game.
Name: Sambit Kumar tripathy
Label: Feature Request
Assignee:
LGM-SOC'21: Participant

Description: I would like to implement pygame module for the snake mania game.In this game, the main objective of the player is to catch the maximum number of fruits without hitting the wall or itself.
can you please assign me to do

[2021-06-10 06:32] pratimakush10 opened #75 "Alarm_Clock"
Title :  Alarm Clock using time module of python.
About : input hours and minutes for alarm to ring *at that respective time alarm will ring.*
Name : Pratima Kushwaha
Label : Feature Request
Assignee :

LGM-SOC'21: Participant

Description : I would like to implement basic python script *Alarm Clock* using time module of python can you please assign this to me?

[2021-06-10 06:32] prathimacode-hub commented on #40
The template is in the README file of the project. Follow the feature_request template. If you find it tough, you can check with assigned issues. they had followed the template. @muskantayal123

[2021-06-10 06:35] Yash-Sakre opened #76 "Create Youtube video Downloader using Python"
Youtube video downloader script in python.

Please assign this issue to me as a participant of LGM-SOC'21.

[2021-06-10 06:37] muskantayal123 opened #77 "Snake_game"
Title: Snake Game
About: I'll implement random or turtle library for this project.
Name: Muskan Tayal
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description:  First i'll make the virtual screen for the game and then i'll work on the snake body after that on the food.
Then also i'll work on the score points too.

please assign to me this issue.

[2021-06-10 06:38] prathimacode-hub commented on #75
Kudos of you. Well needed in day to day lives. Go ahead. I had assigned this task to you. @pratimakush10

[2021-06-10 06:44] prathimacode-hub commented on #77
Where's the template? @muskantayal123

[2021-06-10 06:45] prathimacode-hub commented on #77
Shall I make it easy for you? I shall provide the template here. You just add the changes according to your project. @muskantayal123

[2021-06-10 06:46] prathimacode-hub commented on #76
Kindly follow the template to get issues assigned. To know the right template, you can check through the assigned issues. @Yash-Sakre

[2021-06-10 06:47] muskantayal123 commented on #77
Title: Snake Game
About: I'll implement random or turtle library for this project.
Name: Muskan Tayal
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description:  First i'll make the virtual screen for the game and then i'll work on the snake body after that on the food.
Then also i'll work on the score points too.

please assign to me this issue.

[2021-06-10 06:49] muskantayal123 commented on #77
@prathimacode-hub  Mam i have done this. Please check it and assign this issue to me.

[2021-06-10 06:49] #76 closed

[2021-06-10 06:49] prathimacode-hub commented on #77
Good to see your dedication. Issue is assigned to you. @muskantayal123

[2021-06-10 06:51] prathimacode-hub commented on #74
Sorry to say, but snake game is already assigned on first come first serve basis. Isn't this the same game? @sambit221

[2021-06-10 06:52] Yash-Sakre opened #79 "Youtube video downloader"
Title: Youtube video downloader
About: I want to create a script to download youtube videos.
Name: Yash Sakre
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: I would like to Implement Python libraries to create this downloader. Please assign this issue to me.

[2021-06-10 06:54] sambit221 opened #80 "Add flappy-bird game"
About: I want to implement pygame for flappy-bird game
Name: Sambit kumar tripathy
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: I would like to implement pygame for flappy-bird game.can you please assign me to do so?

[2021-06-10 06:56] prathimacode-hub commented on #79
Sure, issue is assigned to you. Go ahead.
Point to note : Never close issues and PR from your end. @Yash-Sakre

[2021-06-10 06:56] prathimacode-hub commented on #80
Yup, go ahead. All the best. Issue is assigned to you. @sambit221

[2021-06-10 06:58] sambit221 commented on #74
its the same game with some good features like
1-background music
2- notification sound
3- it records previous high score

[2021-06-10 07:00] prathimacode-hub commented on #74
Oh that's great. I can suggest one thing. Once PR is made for snake game. You can create a new issue stating that you want to do enhancement for the snake game. Ok? Shall I close this issue now? @sambit221

[2021-06-10 07:03] sambit221 commented on #74
Ok maam. can you please tag the link of that assigned issue here. it would be helpful for me to find. thank you.

[2021-06-10 07:11] sambit221 commented on #80
can i know why you have removed LGM-SOC'21 tag?

[2021-06-10 07:16] prathimacode-hub commented on #80
Didn't notice. I shall add up. @sambit221

[2021-06-10 07:17] sambit221 commented on #80
thank you maam

[2021-06-10 07:18] #51 closed

[2021-06-10 07:19] prathimacode-hub commented on #48
As I said it's on FCFS basis after the given time, tic tac toe game is already is assigned. You can create some other issue. @Jagannath8

[2021-06-10 07:24] Debashish-hub opened #81 "Typing Speed Test"
Title : Typing Speed Test using pygame in python
About :  Test the typing skills of the user
Name : Debashish Kumar Sahoo
Label : Feature Request
Assignee :

LGM-SOC'21: Participant

Description :
It would be a script using pygame which will be a game which will test the typing speed. The user has to type the given sentence and  the speed, accuracy and wpm will be shown as output. Please assign it

[2021-06-10 07:25] manognyaa opened #82 "Calculator App"
---
Title: A Calculator App
About: I would like to create a calculator app using python
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [] Contributor

**Describe the solution you'd like...**
Calculator is the one which is being always used by us. Keeping in mind that why not we create a calculator app for ourselves?
Yes, it is possible.

[2021-06-10 07:26] prathimacode-hub commented on #81
Typing speed test is already assigned, Do check out with issues and projects available in repository so that your efforts don't go wasted. Do raise a new issue which is not in the list. As well follow the template while you raise an issue. @Debashish-hub

[2021-06-10 07:26] Jagannath8 commented on #48
Mam I've created the "tic tac toe game" issue on 7June.

[2021-06-10 07:26] vaikunth-coder27 opened #83 "Weather Report using Python GUI"
Title | About | Name | Label | Assignee
------------ | ------------- | ------------- | ------------- | -------------
Weather Report | This project will display the weather <br> report of the user's location | Vaikunth-coder27 | Feature request |

- [x] LGM-SOC'21 participant

I would like to proceed by accessing the user's location then getting the weather report using necessary libraries and disp

[2021-06-10 07:27] #81 closed

[2021-06-10 07:28] prathimacode-hub commented on #82
Yes, but this is not right template to follow while you create an issue. Do check out with the assigned issues to know the right template. And screenshots or images should be shown in PR. PR as well has a template. @manognyaa

[2021-06-10 07:30] Jagannath8 opened #84 "Brick Breaker Game"
Title: Brick Breaker Game
About: I want to create a Brick Breaker Game
Name: Jagannath Pal
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: I would like to Implement Python libraries to create this game. Please assign this issue to me.

[2021-06-10 07:31] prathimacode-hub commented on #83
Is this a GUI script? Have you worked on it or yet to work? How would you expect the output to look like? @vaikunth-coder27

[2021-06-10 07:31] prathimacode-hub commented on #84
Can you elaborate the game? How would you expect it to work? @Jagannath8

[2021-06-10 07:33] manognyaa commented on #82
@prathimacode-hub okay mam. I have edited the issue pls have a look mam @prathimacode-hub

[2021-06-10 07:34] prathimacode-hub commented on #81
Never close issue from your end it's not a good practice. @Debashish-hub

[2021-06-10 07:35] Jagannath8 commented on #84
In this game, the ball will bounce off every wall except the bottom one. Using the paddle to move along the screen, the player hits the ball that can touch the bricks and destroy them. Player have to destroy all the bricks to win the game.

[2021-06-10 07:36] vaikunth-coder27 commented on #83
Yes ma'am it is a GUI script, I can display the user weather report in CLI. so now integrating it with GUI(PyQt5) I will do now ma'am.
The output will display the current temperature(both original temperature and apparent feel temperature), and also next day prediction will also be displayed ma'am.

[2021-06-10 07:37] manognyaa opened #85 "Wanna try a guess ?"
Title: Wanna try a guess ?
About: My project is all about a guessing one. you need to type a random number to see whether you're random is correct or not .
Name: Manognya Dasika
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: I would like to work on this issue. Please assign this issue to me mam @prathimacode-hub

[2021-06-10 07:40] manognyaa opened #86 "Pls feed me food"
Title: Snake game
About: I would like to create an snake game, please assign this issue to me mam
Name: Manognya Dasika
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: Snake game is the only game which we never get bored. Adding to it, _My snake will only eat **(*)**_
@prathimacode-hub

[2021-06-10 07:57] prathimacode-hub commented on #82
Sure, issue is assigned to you. Do check the project structure and template to follow along with the contributing guidelines while you raise a PR. @manognyaa

[2021-06-10 08:00] prathimacode-hub commented on #83
Ok sure. Go ahead with the issue. Issue is alloted to you. @vaikunth-coder27

[2021-06-10 08:02] prathimacode-hub commented on #84
Got you, this issue is assigned to you. Get going. @Jagannath8

[2021-06-10 08:04] vaikunth-coder27 commented on #83
Thanks a lot ma'am.

[2021-06-10 08:04] prathimacode-hub commented on #86
This issue is already assigned. Take up an other issue, but before that do the corrections I had suggested for your PR you had created. @manognyaa

[2021-06-10 08:05] prathimacode-hub commented on #85
This issue is already assigned. Do think of another issue to contirbute. But get things done with the PR before you move to next one. @manognyaa

[2021-06-10 08:13] #41 closed

[2021-06-10 08:14] #40 closed

[2021-06-10 08:16] prathimacode-hub commented on #48
Yes, but FCFS basis is application only from 10th June, as contribution period starts only from 10th June. This is to be fair with everyone. @Jagannath8

[2021-06-10 08:16] #48 closed

[2021-06-10 08:17] #42 closed

[2021-06-10 08:28] prathimacode-hub commented on #85
Since these issues are already taken, I shall close these 2 issues. You can create a new issue but finish the PR ok?

[2021-06-10 08:29] prathimacode-hub commented on #85
All the best @manognyaa

[2021-06-10 08:29] prathimacode-hub commented on #86
All the best @manognyaa

[2021-06-10 08:30] #85 closed

[2021-06-10 08:30] #86 closed

[2021-06-10 08:37] prathimacode-hub commented on #62
I shall close this issue, as this is invalid. You can raise a new issue. How is your learning journey? @archismansaha

[2021-06-10 08:38] #62 closed

[2021-06-10 08:39] sherin527 commented on #70
@prathimacode-hub ma'am, in which folder I should add my implementation part?

[2021-06-10 08:53] manognyaa opened #90 "move the box"
Title: _move the box_
About: my project is about a box where you can move anywhere in the given area. I will be using python for this mam.

Name: Manognya Dasika
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description:
you can move the box where ever you like to move.
Can you please assign this issue to me. I would like to work on this issue @prathimacode-hub mam.

[2021-06-10 08:59] pragyakhanna11 commented on #65
Please assign me this issue now

[2021-06-10 09:06] Manasa2811 commented on #32
Hello @prathimacode-hub , I am Manasa and I'm a participant of LGM SOC'21. I've been working on a simple card game using basic OOP with python. Can I contribute it here?

[2021-06-10 09:11] prathimacode-hub commented on #90
First, do the changes for your PR I had asked for before moving to next issue.  @manognyaa

[2021-06-10 09:11] MuditCh57 opened #91 "CONTRIBUTING Link not working in README"
Error : On line 51-52 CONTRIBUTING link give 404 error.

Wrong : https://github.com/prathimacode-hub/Awesome_Python_Scripts/blob/main/Contributing_Guidelines.md
**Contributing_Guidelines.md** should be in **capital letters** but it is in **small**.

Correction : https://github.com/prathimacode-hub/Awesome_Python_Scripts/blob/main/CONTRIBUTING_GUIDELINES.md
New link with **capital letters**.

[2021-06-10 09:12] MuditCh57 commented on #91
Can I fix this typo?

[2021-06-10 09:13] manognyaa opened #92 "listen to the music"
| Title| About|     Name           |          Label           |           Assignee            |
| ------------- | ------------- |  ------------- | ------------- |  ------------- |
| song play | the song will play when you click run and I will be using python for this mam.|          Manognya Dasika         |        Feature Request               |                    |

LGM-SOC'21: Participant

Descr

[2021-06-10 09:17] prathimacode-hub commented on #91
Yeah, you can. Go ahead @MuditCh57

[2021-06-10 09:19] prathimacode-hub commented on #92
First finish on the changes I had asked for. Your PR is still pending. Don't buzz over issues. Quality is better than quantity. You can do it. @manognyaa

[2021-06-10 09:45] LasyaGanesuni commented on #3
Hello mam,
I am a participant of LGM-SOC. I have an idea about a project named MY ROUTINE DATABASE SYSTEM. In this project I will use Tkinter and MYSQL database. How can I contribute this.

[2021-06-10 10:01] archismansaha commented on #62
Yes mam.. It's going good learning more things to build a good project 🙂

[2021-06-10 10:02] prathimacode-hub commented on #32
Yeah, but raise a new issue using the template mentioned in README file of the project. Else, you can check the assigned issues to know how the template would look like. @Manasa2811

[2021-06-10 10:12] LasyaGanesuni opened #95 "My Routine Database System"
**Title** : My Routine Database System
**About** : I want to create a My Routine Database System.
**Name** : Lasya Ganesuni
**Label** : Feature Request
**Assignee**:

**LGM-SOC'21** : Participant

**Description** : This My Routine Database System is a desktop application where we can update our daily routine. The frontend of this project is made up of Tkinter. The widgets used in development of th

[2021-06-10 10:18] prathimacode-hub commented on #95
I understood the project. I want you to let me know of how would you expect this to work? And as well here in this project repository, where would this project fit in. It's a desktop application. Else, you can suggest a new repository to add this script? @LasyaGanesuni

[2021-06-10 10:20] LasyaGanesuni commented on #95
mam, I thought it would fit in GUI Scripts.

[2021-06-10 10:27] prathimacode-hub commented on #95
So output would be in GUI format? @LasyaGanesuni

[2021-06-10 10:28] LasyaGanesuni commented on #95
Yes mam the ouput will be displayed in a GUI

[2021-06-10 10:29] prathimacode-hub commented on #62
Great going @archismansaha

[2021-06-10 10:30] prathimacode-hub commented on #95
Ok, cool Go ahead. I had assigned this issue to you. Follow the program structure as given in README file. All the best. @LasyaGanesuni

[2021-06-10 10:31] LasyaGanesuni commented on #95
Thank you mam.

[2021-06-10 10:34] #91 closed

[2021-06-10 12:01] sonaliBedade opened #96 "Alarm Clock"
Title | About | Name | Label | Assignee
----- |------- | ------- | ----- | ----------
Alarm Clock | using Python GUI | Sonali Bedade | Feature Request |

- [ x ]  LGM-SOC'21 Participant

GUI of an alarm clock which beeps at the time entered.

[2021-06-10 12:07] prathimacode-hub commented on #96
Hey @sonaliBedade, PR is already created for Alarm clock. You had come late. Sorry. You can take up another issue.

[2021-06-10 12:16] Manasa2811 opened #97 "Card_Game"
Title: Card-Game

About: A simple card game developed using OOP in python. A two player game where each player draws a card and the player with higher value takes both the cards. The player with no cards left loses the game.

Name: Manasa2811

LGM-SOC'21: Participant

A python IDE or a jupyter notebook can be used to build this project. Please assign me this issue.

[2021-06-10 12:20] prathimacode-hub commented on #97
Good project, nice to know. Assigning this issue to you. @Manasa2811

[2021-06-10 13:08] neelshah2409 opened #98 "Caesar Encryption"
Title: Caesar Encryption
About: I want to implement a python script for Caesar problem
Name: Neel Shah
Label: Feature Request
Assignee: ''

LGM-SOC'21>Participant

Description:> My approach would be like taking any input from user and in the code the number will be there for how many alphabets you need shift and user can change the number as per their requirement.

[2021-06-10 13:18] sonaliBedade opened #99 "PDF to Audiobook converter"
Title | About | Name | Label | Assignee
----- | ------ | ------- | ------ | ---------
PDF to Audio book | Creating an audio book from a pdf | Sonali Bedade | Feature Request |

- [x] LGM-SOC'21 Participant

[2021-06-10 13:44] prathimacode-hub commented on #99
Can you elaborate the issue? @sonaliBedade

[2021-06-10 13:44] prathimacode-hub commented on #98
Great going. Assigned this issue to you. @neelshah2409

[2021-06-10 13:45] #96 closed

[2021-06-10 13:54] hr1shu opened #100 "Add a welcome bot to the repo."
It'll be a beautiful message-sender and will serve as a bot for this repo.

[2021-06-10 13:56] hr1shu opened #101 "Password Checker script"
This python script checks how many times your password has been pawned or had been under hacker radars.
I've used a paid API of the website: https://haveibeenpwned.com/

[2021-06-10 14:36] prathimacode-hub commented on #101
Oh, that's great. Kindly follow the issue template to get it assigned. It's to know you are an LGM-SOC participant. To know how template looks like, you can check with other assigned issues. You can work on only 1 issue at a time. And is that welcome bot a python script? @hr1shu

[2021-06-10 14:50] Iamtripathisatyam opened #102 "Text Image to Hand written Image Converter"
Title:  Text Image to Handwritten Text Image Converter
About:  I will try to implement a Python Script that will convert Text to Handwritten text.
Name:  Satyam Tripathi
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
This image-based script will collect your data using **Tesseract** and **Pillow**, and then

[2021-06-10 14:55] prathimacode-hub commented on #102
That sounds wonderful. Follow the template to get issue assigned to you. @Iamtripathisatyam

[2021-06-10 15:13] prathimacode-hub commented on #102
Go on. This issue is assigned to you. @Iamtripathisatyam

[2021-06-10 15:24] sonaliBedade commented on #99
The input will be in the form of a PDF and on running the code, the entire text in the PDF will be read out like a text to speech converter does

[2021-06-10 15:36] prathimacode-hub commented on #99
That's fab.

[2021-06-10 17:30] Jyoti6828 commented on #2
Can you please assign this issue to me

[2021-06-10 17:43] prathimacode-hub commented on #2
Raise a new issue using the template given in README file of the project. To know how a template should look like, you can check on with the assigned issues. @Jyoti6828

[2021-06-10 17:44] Jyoti6828 opened #105 "AQI Prediction using Python"
I would like to  do this project.I am taking parameter and calculate value for AQI. Can you please allow me to do this project?

[2021-06-10 17:48] prathimacode-hub commented on #105
Hey, follow the template to raise an issue, refer other assigned issues to know how template looks like. @Jyoti6828

[2021-06-10 17:50] prathimacode-hub commented on #105
It comes under which task? Can you also elaborate the project more briefer? @Jyoti6828

[2021-06-10 18:56] Aditya8821 opened #106 "Plagiarism Checker In Python"
Title: Plagiarism Checker In Python
About: I will submit the Python code for detecting plagiarism between two files.
Name: Aditya Trivedi
Label: Feature Request
Define You:
- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Solution For Issue:**
This plagiarism checker will compare all the data between 2 files using the **SequenceMatcher** class, which is in the **difflib** module. It will display

[2021-06-11 00:53] coding-geek21 opened #110 "Build a Digital clock using python"
---
Title: Digital Clock using python
About: Building a digital clock using tkinter
Name: Jayapritha N
Label: Feature Request
Assignee: ``

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

[2021-06-11 01:10] coding-geek21 commented on #110
Mam , I'm getting this template only after pasting the same given in readme file , @prathimacode-hub can you please check

[2021-06-11 03:13] sherin527 opened #111 "Image Blending using opencv"
---
Title: Image Blending
About: I want to implement Image Blending using OpenCV one of the image processing technique
Name: Sherin Shibu
Label: Image Processing Script
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant

**Describe the solution you'd like...**
I would like to implement the Image Blending technique in which there will be two images and the output image will be the corresp

[2021-06-11 05:41] prathimacode-hub commented on #61
Yes, it's a game. It clearly goes into "PyGamesScripts". @jigar-sable

[2021-06-11 05:51] jigar-sable commented on #61
Alright ma'am thank you!!

[2021-06-11 05:56] prathimacode-hub commented on #106
Well needed script. All the best. This issue is assigned to you. @Aditya8821

[2021-06-11 05:58] prathimacode-hub commented on #110
Can you describe your project? @coding-geek21

[2021-06-11 05:58] prathimacode-hub commented on #111
Welcome again, yes this issue is assigned to you. @sherin527

[2021-06-11 05:59] coding-geek21 commented on #110
Yes it's basically a GUI script which will display the digital clock in HH:MM:SS format

[2021-06-11 06:17] #71 closed

[2021-06-11 06:19] #75 closed

[2021-06-11 06:23] #80 closed

[2021-06-11 06:25] #58 closed

[2021-06-11 06:27] #70 closed

[2021-06-11 06:28] AmitGupta700 opened #113 "Collage Maker using python"
Title: Collage Maker Using Python
About: I will try to implement a python script that will convert two image into a single collage.
Name: Amit Gupta
Label: Feature Request
Assignee: ''

Define You:

- [X] LGM-SOC'21 Participant
- [ ] Contributor
Describe the solution you'd like...
This python script will take two input image from the user and will collage the image into one. I will use numpy and P

[2021-06-11 06:29] prathimacode-hub commented on #110
Cool. This issue is assigned to you. @coding-geek21

[2021-06-11 06:30] prathimacode-hub commented on #113
Sounds interesting. Go ahead. @AmitGupta700

[2021-06-11 06:32] coding-geek21 commented on #110
Thanks a lot :)

[2021-06-11 07:11] #68 closed

[2021-06-11 07:17] hr1shu commented on #101
Title: Password_Checker Script
About: I will try to implement a Python Script that checks how many times your password has been pawned or had been under hacker radars.
Name: Rishav Kumar
Label:
Assignee: ''

Define You:
 LGM-SOC'21 Participant

Describe the solution you'd like...
I will use the API of the website: https://haveibeenpwned.com/, and my Python knowledge to implement it.

[2021-06-11 07:20] hr1shu commented on #100
Yeah, as I'm working on another issue first, @Jyoti6828 you can ask the mentor in the slack community for the same.

[2021-06-11 07:20] #100 closed

[2021-06-11 07:23] suvrashaw commented on #65
Title: Sudoku Game
About: I want to create a Sudoku Game using python modules.
Name: Suvra Shaw
Label: Feature Request
Assignee:

LGM-SOC'21: Participant

Description: Would love to create a PyGame module script with a basic UI to play Sudoku.

Please assign me this issue, ma'am.

[2021-06-11 07:35] prathimacode-hub commented on #65
Yes, But raise a new issue stating the same using this template. Your message here won't count as this issue is raised by other person. @suvrashaw

[2021-06-11 07:36] prathimacode-hub commented on #101
Great, this issue is assigned to you. @hr1shu

[2021-06-11 07:38] hr1shu commented on #101
Welcome bot is an app by github under Probot feature, I'll get back on this after #101 issue.

[2021-06-11 07:41] prathimacode-hub commented on #100
You should never close the issues from your end @hr1shu

[2021-06-11 07:42] prathimacode-hub commented on #100
@Jyoti6828 You have raised an issue for AQI prediction. Kindly give a response to that issue.

[2021-06-11 07:43] hr1shu commented on #100
Sry, it'll not happen again!!

[2021-06-11 07:45] #102 closed

[2021-06-11 08:07] prathimacode-hub commented on #101
Good to know. @hr1shu

[2021-06-11 08:08] prathimacode-hub commented on #100
That's ok, mistakes do happen. It doesn't matter much but yeah i'm letting you know it. @hr1shu

[2021-06-11 08:19] shreyamalogi opened #116 "spirograph"
can I work on this for lgm-soc

[2021-06-11 08:32] Shivam-Chauhan opened #118 "Encryption and Decryption of Data"
Hi, I am LGMSoC'21 participant I want to make a Python script than hashes data inputted by user using Fernet Hashing.

Summary :-
The data is hashed with a unique key and whenever user want to retrieve the data it decrypt that one with the same unique key.
The uniqueness of the key is checked by a set data structure and all the information is stored in dictionary having email as key of dictionary

[2021-06-11 08:35] pragyakhanna11 commented on #65
@prathimacode-hub So this issue won't be assigned to me?

[2021-06-11 08:38] prathimacode-hub commented on #116
Elaborate the project? What's the project title? Create an issue using the template given in README file of the project, else you can check up with the assigned issues to know the template. @shreyamalogi

[2021-06-11 08:46] tannu945 opened #119 "All in one converter"
Title: Collage Maker Using Python
About: I will try to implement a python script that will convert currency, temperature, length, area and weight.
Name: Amit Gupta

[2021-06-11 08:47] Shivam-Chauhan commented on #118
Ok, should I close this issue and open a new one??

[2021-06-11 08:50] Komal-99 opened #120 "weather notification script"
Title: Weather Notification Using Python
About: I will try to implement a python script that will get weather notification of any city on youscreen
Name: Koaml
Label: Feature Request
Assignee: ''

Define You:

- [X] LGM-SOC'21 Participant
- [X] Contributor

Describe the solution you'd like...
It is python program which uses beautifulsoup  library and fetch the data from google and display it on yo

[2021-06-11 09:00] prathimacode-hub commented on #65
Ok, sorry. I didn't notice your message earlier. Yes, you will be assigned this issue. @pragyakhanna11.

@suvrashaw  Raise a new issue on other script you would like to work on. This issue is assigned on first come, first serve basis.

[2021-06-11 09:02] suvrashaw commented on #65
Sure.

[2021-06-11 09:05] prathimacode-hub commented on #118
You just edit your comment in this raised issue. Replace it with template and fill it up accoding to your project. BrIef the project. I didn't get your project yet. @Shivam-Chauhan

[2021-06-11 09:09] prathimacode-hub commented on #119
Elaborate the project? What kind of script is this? Follow the template. Your username is tannu945 but name is some thing else? Project title in issue is something else, and in comment other script. Have you copy pasted? @tannu945

[2021-06-11 09:11] prathimacode-hub commented on #120
What kind of script is this? Is it a GUI or API? Elaborate the project? @Komal-99

[2021-06-11 09:14] Komal-99 commented on #120
![image](https://user-images.githubusercontent.com/74819092/121662852-6e20aa00-cac3-11eb-941a-502f945fc7f3.png)
 like this on running the file you will get notification in every 20 sec until you close it.

[2021-06-11 09:19] Komal-99 commented on #120
okay kindly add LGMSOC label and difficulty level label

[2021-06-11 09:25] prathimacode-hub commented on #120
LGMSOC label is added, level labels would be added only after PR is ready to merge. @Komal-99

[2021-06-11 09:34] #69 closed

[2021-06-11 09:41] shreyamalogi commented on #116
Title: The Spirograph
About: I will try to implement a GUI Python Script that is very interesting geometrical figure which is often symmetrical to both the axes.
Name: Malogi Shreya
Label: Feature request
Assignee: ''

Define You:
LGM-SOC'21 Participant

Describe the solution you'd like...
Here, I will be using python turtle graphics. I will use a range of colors to draw circles.

[2021-06-11 09:48] prathimacode-hub commented on #116
That sounds interesting. this issue is assigned to you. @shreyamalogi

[2021-06-11 10:45] prathimacode-hub commented on #120
Add up the solution in the template I had updated above to your project. @Komal-99

[2021-06-11 11:05] queenish001 opened #121 "Color game using Python GUI"
I would like to contribute a Color game using Tkinter (Python GUI)
Kindly assign this issue to me
:)

[2021-06-11 11:09] prathimacode-hub commented on #121
This game is already in this repository. Kindly take up an another issue. And also while creating an issue, follow the template. You can know how template looks like by checking on with assigned issues. @queenish001

[2021-06-11 11:11] queenish001 commented on #121
Oh, Okay

[2021-06-11 11:11] #121 closed

[2021-06-11 11:17] queenish001 opened #122 "Sorting Algorithm Visualizer"
Title: Sorting Visualizer
About: Visualize Different Sorting Algorithms
Name: Nishi
Label: Sorting Algorithm Visualizer
Assignee: ''

 LGM-SOC'21 Participant
Description:-
I would like to use PyGame to visualize sorting algorithms (Bubble sort, Merge sort and Insertion sort),
Visualizing these concepts helps to get a better and clearer understanding of how these algorithms actually work.

@prathim

[2021-06-11 11:18] prathimacode-hub commented on #121
You should never close an issue or PR from your end. Just letting you know. @queenish001

[2021-06-11 11:19] prathimacode-hub commented on #122
Yes, I had assigned this issue to you. Go ahead. All the best. @queenish001

[2021-06-11 11:27] queenish001 commented on #121
Oh, Sorry.
I'll keep that in mind.

[2021-06-11 11:30] prathimacode-hub commented on #121
That's Ok. Glad you know now.

[2021-06-11 11:37] suvrashaw opened #123 "Lane Detection"
---
Title: Road Lane Detection
About: I want to create an image processing python script that will detect the lanes of a road through a sample image using the OpenCV library.
Name: Suvra Shaw
Label: Feature Request
Assignee: ''

---

Define You:

- [✔️ ] LGM-SOC'21 Participant
- [✔️ ] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd lik

[2021-06-11 11:41] prathimacode-hub commented on #123
This issue is assigned it to you. Wonderful choice of the project. @suvrashaw

[2021-06-11 11:46] suvrashaw commented on #123
Can I submit an ipynb? or it has to just python (.py)?

[2021-06-11 12:19] #63 closed

[2021-06-11 12:30] #98 closed

[2021-06-11 13:24] Komal-99 commented on #120
Okay

[2021-06-11 13:38] jigar-sable commented on #64
@prathimacode-hub should I work on this issue now as #61 has been closed.
Please assign me for this issue.

[2021-06-11 13:47] prathimacode-hub commented on #64
Yes, this issue is assigned to you. Go ahead. @jigar-sable

[2021-06-11 13:56] jigar-sable commented on #64
Thank you

[2021-06-11 14:21] Iamtripathisatyam opened #126 "QR Code Scanner"
Title:  QR Code Scanner Web Application

About:  This Python Script will scan your Image and check whether the Image is QR or not, if it's a QR then it will fetch the data and provide you with the decoded form.'

Name: Satyam Tripathi

Label: Feature Request

Defines you:
- [x] LGM-SOC'21 Participant
- [x] Contributor

Describe the Approach:
In this script I'll be using **pywebIo**, **pyzbar**, **

[2021-06-11 14:43] prathimacode-hub commented on #126
Issue is assigned to you. @Iamtripathisatyam

[2021-06-11 15:28] skimran2000 opened #127 "Youtube Video Downloader"
---
Title: Youtube video downloader
About: Using Youtube library from pytube module and writing python code to download videos
Name: Shaik Imranuddin
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**

There is a python library named as ‘pytube’. pytube is a lightweight, dependency-free Python library which

[2021-06-11 15:35] skimran2000 opened #129 "URL Shortener"
---
Title: URL Shortener
About: Writing a python script to make a URL short using API
Name: Shaik Imranuddin
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**

Writing a python script to make a long URL into short using the API

[2021-06-11 15:40] AmitGupta700 opened #130 "Shutdown Computer Using Voice"
Title: Shutdown Computer Using Voice

About: Using your voice command, will shut down your PC.

Name: Amit Gupta

Label: Feature Request

Defines you:
- [x] LGM-SOC'21 Participant

Describe the Approach:
I'll be using **OS**, **pyttsx3**, **speech_recongnition** for making it more functional in this script.

[2021-06-11 15:53] prathimacode-hub commented on #127
Sorry to say, but youtube video downloader is already assigned to someone else yesterday. You can take up a URL shortener issue. @skimran2000

[2021-06-11 15:54] prathimacode-hub commented on #129
I assigned this issue to you. Proceed. So this is an API script? @skimran2000

[2021-06-11 15:56] prathimacode-hub commented on #130
Kindly, do the changes needed for your PR before you take up an another issue. Once you finish that, I can assign this issue to you. @AmitGupta700

[2021-06-11 16:10] neelshah2409 opened #131 "ATM Machine System"
Title: ATM Machine System
About: Writing a python script to make a small view about how this system works.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

-> LGM-SOC'21 Participant
   Contributor
Describe the solution you'd like...
I will make a script in which there will be system where you can check balance ,withdraw money or deposit money for a particular account.

[2021-06-11 16:12] prathimacode-hub commented on #131
Sure, go ahead. Issue is assigned to you. Where would this script belong to? @neelshah2409

[2021-06-11 16:14] prathimacode-hub commented on #127
If you want to work on this issue, after PR is merged by other person, you can add an enhancement to it. @skimran2000

[2021-06-11 17:42] BryanMed commented on #33
Hi! I've been working with image processing and I would love to contribute with some algorithms. This will be my first interaction with open source : )

[2021-06-11 17:45] Komal-99 commented on #120
Add up the solution means like i have to add code in comment? as in local i have made folder in  Automation script with readme and requirements files so shall i create PR

[2021-06-11 18:07] singhmansi25 opened #134 "More Chocolates Please !!!"
About : The Problem focuses on how you can get more chocolates in return of the wrappers of same.
Name : Mansi Singh
Label : Feature Request
Define you : LGM-SOC'21 Participant
Problem Statement : Let's solve the chocolate problem where Let's you have m rupees and cost of each chocolate is c rupees. Shopkeeper gives away k chocolates for w wrappers. Can you find now how many chocolates you will be

[2021-06-11 18:20] prathimacode-hub commented on #33
Are you a contributor or LGMSOC participant? @BryanMed

[2021-06-11 18:22] prathimacode-hub commented on #134
Maths into python, cool. Issue is assigned to you. @singhmansi25

[2021-06-11 19:51] BryanMed commented on #33
Just a contributor :)

[2021-06-11 19:52] jigar-sable opened #138 "Current Stock Price Web Scraping"
---
| Title | About | Name | Label | Assignee |
|-------|-------|------|-------|----------|
| Current Stock Price  | Fetch Current Stock Prices using Web Scraping(Beautiful Soup) | Jigar | Feature Request  |

---

Define You:

- [x] LGM-SOC'21 Participant

**Describe the solution you'd like...**
I'll use Beautiful Soup and Requests module to web scrap the details of current stocks of few companies

[2021-06-12 04:43] neelshah2409 commented on #131
I would do this problem in python.

[2021-06-12 04:46] prathimacode-hub commented on #33
Welcome to the repository.  Kindly comment the script you want to work on here, and you're good to go.
@BryanMed

[2021-06-12 04:46] #59 closed

[2021-06-12 04:48] prathimacode-hub commented on #131
Yeah, obviously repo is on python. But to which sub folder would this script fit into? @neelshah2409

[2021-06-12 05:09] neelshah2409 commented on #131
sorry mam , in basic python scripts. And even I had created a PR for that.

[2021-06-12 05:10] Bhuvanaa28 opened #140 "COWIN API SCRIPT"
# API SCRIPT - COWIN API

Title | About | Name | Label | Assignee
----- |-------- | ------ | ------ | ----------
COWIN API SCRIPT |  In this project, details of available vaccination <br> slots is displayed upon request to the API | Bhuvanaa28 | Feature Request |

- [x] LGM-SOC'21 Participant

The approach I would like to follow is to use the requests library, make a request to the API, obtain the

[2021-06-12 05:10] #131 closed

[2021-06-12 05:20] neelshah2409 opened #141 "Facebook Messenger Automation"
About : Here we will automate message in messenger using pyautogui and time library.
Name : Neel Shah
Label : Feature Request
Define you : LGM-SOC'21 Participant
Problem Statement : Why to write message yourself let it be done automatically through script.
Solution : Using pyautogui and time we will automate msg in messenger.

[2021-06-12 05:26] prathimacode-hub commented on #140
Sure, proceed with your work. This issue is assigned to you. @Bhuvanaa28

[2021-06-12 05:27] Bhuvanaa28 commented on #140
Thank you Mam

[2021-06-12 05:27] prathimacode-hub commented on #141
Yup, interesting. This issue is assigned to you. Go ahead. @neelshah2409

[2021-06-12 06:18] #60 closed

[2021-06-12 06:39] Umesh-01 opened #145 "Add links to the badges"
Title: Add links to the badges in main README.md file
Name: Umesh Singh
Label: Enhancement Request
Define You
- [x] LGM-SOC'21 Participant
- [ ] Contributor

Solution For Issue:
I will add links to the badges present in the readme (see the below image)

![image](https://user-images.githubusercontent.com/83420185/121767516-2870e980-cb76-11eb-84e5-6a5e77b4168a.png)

**To Do**
- [x] Add some links in

[2021-06-12 06:39] Umesh-01 commented on #145
@prathimacode-hub should I work on this??

[2021-06-12 06:45] Harshitha-246 opened #146 "jumbled words guessing game"
Title | About |  Name  |  Label  | Assignee |
---- |---------|---------|--------|------------|
Jumbled words Guessing game | In this project we make the user guess right word from the jumbled word displayed | Harshitha-246 | Feature Request|

- [x] LGM-SOC'21 Participant

My approach would be from a list of words , I would choose a random word using random and jumble the letters of the word and ma

[2021-06-12 06:58] prathimacode-hub commented on #146
It's fun. Go ahead. Issue is assigned to you. @Harshitha-246

[2021-06-12 07:00] prathimacode-hub commented on #145
Sure, you can work on this. Are you a LGMSOC participant or as a contributor? @Umesh-01

[2021-06-12 07:17] Harshitha-246 commented on #146
thank you mam

[2021-06-12 08:11] #64 closed

[2021-06-12 08:12] Umesh-01 commented on #145
@prathimacode-hub
yes I am LGMSOC participant, pls assign some labels to it

[2021-06-12 08:18] Umesh-01 commented on #145
And I also want to contribute for three scripts in python-
- [ ] one for jokes
- [ ] second for poems of any author
- [ ] third for quotes related to any person or author

@prathimacode-hub mam should I create separate issues for these??
And for these also I will contribute as a **LGMSOC** participant 🙂

[2021-06-12 08:19] Aditya8821 opened #149 "Real-Time Bitcoin Price in INR"
Title: Real-Time Bitcoin Price in INR
About: I will submit the Python code for checking the Real-time rate of Bitcoin in INR.
Name: Aditya Trivedi
Label: Feature Request
Define You:

 - [x] LGM-SOC'21 Participant
 - [ ] Contributor

Solution For Issue:
This project informs us of the current value of bitcoin in Indian National Rupees. This is accomplished with the help of the BeautifulSoup library,

[2021-06-12 08:24] prathimacode-hub commented on #145
Labels are assigned only after PR is created. Do create separate issues for the projects you want to contribute with project title and right templates as mentioned in README file of the project. It also has a project structure to follow. Kindly note that. And all the bets. Welcome to the repo once again. You can work on this issue. I shall assign this to you. Follow the contributing guidelines. Yo

[2021-06-12 08:25] prathimacode-hub commented on #145
Even for this issue, you need to create it using right template. That is to know you as a LGMSOC participant. @Umesh-01

[2021-06-12 08:25] jigar-sable commented on #138
@prathimacode-hub please assign me this issue I'd solved my all previous issues.

[2021-06-12 08:34] prathimacode-hub commented on #149
So, it's a webscraping project? Good selection of your issue. Sure, go ahead. This issue is assigned to you. @Aditya8821

[2021-06-12 08:36] prathimacode-hub commented on #138
Yes, this issue is assigned to you. Carry on. So this is a webscraping script. @jigar-sable

[2021-06-12 08:37] Aditya8821 commented on #149
Yes mam it's a webscraping one as we are extracting real time rate from google itself.
Thanks mam for assigning this.

[2021-06-12 08:41] jigar-sable commented on #138
Thank you ma'am. Yeah I'll add it in WebScrapingScripts.

[2021-06-12 09:04] Umesh-01 commented on #145
okk mam, got it...

[2021-06-12 09:19] #111 closed

[2021-06-12 09:56] NEERAJAP2001 opened #151 "Bitcoin Mining using Python"
---
Title: BitCoin Mining Script
About: The idea here is to mine BTC Using this script
Name: Neeraj Ap
Label: Feature Request

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

The Script Which I Provide Helps to Mine Bitcoins.

[2021-06-12 10:21] prathimacode-hub commented on #151
This issue is assigned to you. You can go ahead. 👍@NEERAJAP2001

[2021-06-12 10:27] #145 closed

[2021-06-12 11:31] dhruv-varshney opened #152 "Twitter Data Streaming"
Title: Twitter Data Streaming
About: The idea here is to stream the twitter data by using API keys
Name: Dhruv Varshney
Label: Feature Request

### Define You:

- [x]  LGM-SOC'21 Participant

The Script Which I Provide Helps to stream the Twitter data

[2021-06-12 11:52] hr1shu opened #154 "Adding Welcome Bot to the repo"
---
Title: Welcome Bot
About: Suggest an idea for this project
Name: Rishav Kumar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant

**Is your feature request related to a problem? Please describe.**

The bot will automatically send welcome message, first PR message, new issue created message,etc.

**Describe the solution you'd like...**

Github provides an APP fo

[2021-06-12 11:53] prathimacode-hub commented on #152
This issue is already been taken and merged as well. You can take up an another issue to work on. @dhruv-varshney

[2021-06-12 11:55] prathimacode-hub commented on #154
There is config.yml file in .github though it isn't interactive. Or is this a bot implemented individually. @hr1shu

[2021-06-12 12:30] vaikunth-coder27 commented on #83
Good evening ma'am, regarding the update from my program. Minor functionality implementation is in progress ma'am.

[2021-06-12 12:34] prathimacode-hub commented on #83
How is your project going on? Is it going according to your expectations? Had you framed the GUI? What are the steps you had underwent till now? @vaikunth-coder27

[2021-06-12 12:40] vaikunth-coder27 commented on #83
Yes ma'am the project is going well. I am getting output as expected. GUI s also framed ma'am, at present, I am working on adding more interactive features to the GUI. Ma'am at first using the API key I was able to get the details such as temperature, precipitation, humidity, and status of the weather for any user location and forecasting data is also extracted ma'am.

[2021-06-12 12:53] prathimacode-hub commented on #83
That's great, can't wait to see your working model of the project. All the best. @vaikunth-coder27

[2021-06-12 12:55] vaikunth-coder27 commented on #83
Thanks a lot ma'am.

[2021-06-12 13:08] Umesh-01 opened #155 "Add a Python script for Jokes"
Title: Add a script to get jokes using Python
Name: **Umesh Singh**
Label: Feature Request
Define You
- [x] LGM-SOC'21 Participant
- [ ] Contributor

Solution For Issue:
I will be using a python library for getting the jokes. I will also add a python script file with the readme file and the screenshots for it's working.

[2021-06-12 13:26] prathimacode-hub commented on #155
Yeah, get into the issue. Interesting. It's assigned to you. @Umesh-01

[2021-06-12 13:28] chandu6111 opened #156 "Text-based Snakes and Ladders game in python which can be played by 2 players"
**Title:** Text-based Snakes and Ladders game in python which can be played by 2 players
**Name**: Chandana (chandu_6111)
**Label**: Feature Request

**Description of the Game**:

1. The program will ask both the players for inputting their names.
2. It randomly throws a dice and the number will be displayed.
3. The number displayed should be added to the total scores of the players respectively.

[2021-06-12 13:29] chandu6111 commented on #156
@prathimacode-hub please assign me this issue under **LGM-SOC'21**

[2021-06-12 13:41] prathimacode-hub commented on #156
Yeah, sure. This issue is assigned to you. It's a fun game.  @chandu6111

[2021-06-12 13:41] Suryadipsinh opened #157 "AI Guess my number-Game"
A python based game in which user will guess a number and AI will find that number and we have to give hint about guessed number to AI. This is an example of how to use variables to keep track of information in a program that also makes use of loops in this program.
I would like to add this game here.
Thank you.

[2021-06-12 13:46] prathimacode-hub commented on #157
This game is already in this repository and one more thing, while raising a issue and PR, do it using the templates given in README file of the project. You can take up an another issue to work on. @Suryadipsinh

[2021-06-12 13:47] dhruv-varshney commented on #152
ok ma'am

[2021-06-12 13:48] Suryadipsinh commented on #157
Thank you ma'am, will keep in mind.

[2021-06-12 13:53] chandu6111 commented on #156
Thank you @prathimacode-hub

[2021-06-12 14:15] Pratik57 opened #159 "whatsapp_messaging"

[2021-06-12 14:24] prathimacode-hub commented on #159
Can you elaborate the issue, as how this works? @Pratik57

[2021-06-12 14:34] sambit221 opened #160 "Add Air Canvas"
---
Title: Air Canvas
About:Track all the movement of the target(finger of the user) in the air and display it to an output screen.
Name: Sambit Kumar Tripathy
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Solution For Issue:
I will be using openCV and numpy module to take input of the live video stream and process it, to achieve the desired

[2021-06-12 14:37] prathimacode-hub commented on #160
This script would go into which repository? Sounds fascinating. All the best. This issue is assigned to you. @sambit221

[2021-06-12 15:10] sambit221 commented on #160
i will put this script into ImageProcessingScripts. As i will be using openCV i.e, an image processing module

[2021-06-12 15:20] prathimacode-hub commented on #160
That's awesome @sambit221

[2021-06-12 15:24] #113 closed

[2021-06-12 15:29] #99 closed

[2021-06-12 15:35] #97 closed

[2021-06-12 15:57] prathimacode-hub commented on #67
You hadn't updated your progress yet? @AK-Subodh

[2021-06-12 16:09] #141 closed

[2021-06-12 16:16] AK-Subodh commented on #67
Mam, do I have to upload intermediate versions as well? Also, atmost how many days do we have for each issue?
I need some more time to complete it.

[2021-06-12 16:27] prathimacode-hub commented on #67
Intermediate versions? I just pinged you to know the status. As I said, progress should be notified once in 2 days. Actually every PR gets 5 days time. Will you be able to do by then? @AK-Subodh

[2021-06-12 16:31] neelshah2409 opened #161 "Grammar Correction"
Title: Grammar Correction
About: Here we can solve our silly grammar mistakes by just  running the script.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

-> LGM-SOC'21 Participant
  Contributor
Solution For Issue:
I would like to write a python script for this problem which will help to correct grammar and for that I will use gingerit library.

[2021-06-12 16:39] AK-Subodh commented on #67
Yes mam! I'm working on it. I'll upload complete code by tomorrow this time.

Till now element1 has been designed. Code to test the motion of element2 is done. Definition of class for element2 and styling is remaining.

[2021-06-12 16:52] prathimacode-hub commented on #67
That's perfect. Carry on with your task. @AK-Subodh

[2021-06-12 16:58] prathimacode-hub commented on #161
Good going. You can proceed with the script. This issue is assigned to you. @neelshah2409

[2021-06-12 17:30] #120 closed

[2021-06-12 17:59] sonaliBedade opened #165 "English Dictionary"
Title | About | Name | Label | Assignee
----- |-------- | ----- | ------ | ----------
English Dictionary | Implementation of an English dictionary using GUI | Sonali Bedade | Feature Request |

- [x] LGM-SOC'21 Participant

An alternative to conventional English language dictionaries where user can type the desired word in the text box and by clicking on the search button, the meaning will appear

[2021-06-12 18:01] prathimacode-hub commented on #165
Yeah, good going. This issue is assigned to you. All the best. 👍@sonaliBedade

[2021-06-12 18:12] Komal-99 opened #166 "Covid Cases Bot"
---
Title: Covid-19 cases bot script using python
About: Desktop notifier for covid-19 cases
Name: Komal
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

yes I did

**Describe the solution you'd like...**

**Additional context**

[2021-06-12 18:15] prathimacode-hub commented on #166
Add the solution of your script you would expect in the template above. Always be elaborative. @Komal-99

[2021-06-12 18:39] hr1shu commented on #154
Yeah, I'll be making some changes in config.yml and will try to make it interactive.

[2021-06-13 02:41] Adarsh357 commented on #50
Can i do this

[2021-06-13 02:41] Adarsh357 commented on #50
Assign it to me

[2021-06-13 03:17] Adarsh357 commented on #127
Can u assign url shortener proJect

[2021-06-13 03:17] Adarsh357 commented on #127
What's the procedure to get the assignment

[2021-06-13 03:22] Debashish-hub commented on #127
@Adarsh357 Find an issue or create an issue to work on it. Describe everything as per the issue template, Then a mentor will assign you if that's good enough and new.

[2021-06-13 04:15] Adarsh357 commented on #127
Ok

On Sun, 13 Jun 2021, 8:52 am Debashish kumar sahoo, <
***@***.***> wrote:

[2021-06-13 05:18] prathimacode-hub commented on #50
You have to create a new issue using the template given to get it assigned to you. @Adarsh357

[2021-06-13 05:24] prathimacode-hub commented on #154
Ok, sure this issue is assigned to you. @hr1shu

[2021-06-13 08:11] Nihir2904 opened #170 "Minesweeper"
------------------------------------------------------------------------------------------------------------------------------------
Title | About | Name | Label
---|---|---|---
Minesweeper | Play minesweeper on your command line | Nihir Shah | Feature Request

## Assignee:

----------------------------------------------------------------------------------------------------------------------------

[2021-06-13 08:19] Iamtripathisatyam opened #171 "PC Cleaner"
---
Title: PC Cleaner
About: Implementation of a PC Cleaner using **OS** module.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'll write a Python script to clean all the files in their respective folders, such as "**.jpg**" photos and "**.pdf**" files in a folder. As a result, this python script will place all pdf file

[2021-06-13 08:20] prathimacode-hub commented on #170
Interesting game. This issue is assigned to you. You can start working on it. All the best. @Nihir2904

[2021-06-13 08:21] prathimacode-hub commented on #171
Wow, very much useful script needed. Yup, you're allowed to proceed further. Get on with your issue. This issue is alloted to you. @Iamtripathisatyam

[2021-06-13 08:24] Iamtripathisatyam commented on #171
Thank you so much ma'am

[2021-06-13 08:39] Umesh-01 commented on #155
@prathimacode-hub mam, i think u forget to close this issue...!!

[2021-06-13 08:41] prathimacode-hub commented on #155
It automatically closes, when it's merged. I guess something wrong. No issues, I shall close from my end as issue is merged. @Umesh-01

[2021-06-13 08:41] #155 closed

[2021-06-13 08:45] #161 closed

[2021-06-13 09:29] neelshah2409 opened #173 "Calculator GUI"
Title: Calculator GUI
About: Implementing calculator using tkinter
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

-> LGM-SOC'21 Participant
    Contributor
Solution : I will create a calculator GUI using tkinter library which will be similar to the calculator which is there in our pc/phone.

[2021-06-13 09:37] #138 closed

[2021-06-13 09:45] prathimacode-hub commented on #173
Sorry to say, but calculator is already taken. You can take up some other issue. @neelshah2409

[2021-06-13 11:39] #126 closed

[2021-06-13 11:41] Nihir2904 commented on #170
Thanks!

[2021-06-13 11:41] prathimacode-hub commented on #72
No update yet from your end. Is evrything going good. @prakhar07msd

[2021-06-13 11:42] prathimacode-hub commented on #77
There was no update from you about the progress. Is everything going fine?@muskantayal123

[2021-06-13 11:43] prathimacode-hub commented on #79
Is everything going fine? No update since past 2 days. @Yash-Sakre

[2021-06-13 11:43] #84 closed

[2021-06-13 11:43] #95 closed

[2021-06-13 11:44] #101 closed

[2021-06-13 11:44] prathimacode-hub commented on #106
Is everything going fine? No update from you yet. @Aditya8821

[2021-06-13 11:59] muskantayal123 commented on #77
@prathimacode-hub Done with the project mam but actually i am facing problem while doing pull request as i'm new user to github so do not know how to commit.

[2021-06-13 12:04] Debashish-hub commented on #77
What's the problem you are facing @muskantayal123

[2021-06-13 12:16] muskantayal123 commented on #77
@Debashish-hub  i did till clone part after that i do not know how to commit.

[2021-06-13 12:23] Debashish-hub commented on #77
Please follow the procedure :
- Fork the repo
- Clone the repo of your GitHub to your system
- Make the required changes
- write the following  commands
- - git add .
- - git commit -m 'message'
- - git push origin
- then go to your GitHub repo and merge by creating pull request

[2021-06-13 12:28] #149 closed

[2021-06-13 12:35] muskantayal123 commented on #77
@Debashish-hub  thank you . I'll try and if i face some issue i'll get  back to you.

[2021-06-13 12:37] Debashish-hub commented on #77
Great! Go ahead @muskantayal123

[2021-06-13 12:48] #106 closed

[2021-06-13 12:52] hr1shu commented on #154
Hey, after doing all possible research from my end I came to conclusion that this app need to be installed on your main repo. I can't  find any ways to push the app from branch to main.
Enlight me if I'm wrong.

[2021-06-13 12:52] #173 closed

[2021-06-13 12:58] neelshah2409 opened #176 "Matchmaker Game"
Title: Matchmaker Game
About: Implementing game with tkinter and random library
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

Define You:

-> LGM-SOC'21 Participant
    Contributor

Description: I would like to write a script using tkinter ,random and time library in which there will be some shapes hidden if you found correct match then it will be unhidden else it will hide again.

[2021-06-13 13:01] prathimacode-hub commented on #173
You should not close issues from your end. @neelshah2409

[2021-06-13 13:08] prathimacode-hub commented on #176
Yeah, interesting one. You can proceed. @neelshah2409

[2021-06-13 13:11] #146 closed

[2021-06-13 13:37] pankaj892 opened #177 "Random email generator"
Title - Random Email Generator
About - The script would generate random email addresses for the user
Name - Pankaj Biradar
Label - Feature Request

Define You -
-> LGM-SOC'21 Participant
Contributor

Description - I would like to add a script using random library which will generate random email addresses based on popular domains

[2021-06-13 13:41] prathimacode-hub commented on #177
Follow the issue template to get it assigned. @pankaj892

[2021-06-13 13:50] pankaj892 commented on #177
@prathimacode-hub is the template correct now?

[2021-06-13 14:32] prathimacode-hub commented on #154
Can you elaborate it more? How does it work? @hr1shu

[2021-06-13 14:33] prathimacode-hub commented on #177
Yeah, it's better. I shall assign this issue to you. You can proceed. @pankaj892

[2021-06-13 14:52] siddhi-244 opened #178 "I would like to add weather app in python !"
Title: Weather app
About: weather app using tkinter and api
Name: Siddhi Bhanushali
Label: Feature Request
Assignee: ''

Define You -
-> LGM-SOC'21 Participant
Contributor

Description - I would like to add a script using tkinter and api that will give uh weather of city you input !

[2021-06-13 14:56] Debashish-hub commented on #178
Please fill the issue template and do check if it's already there or not?

[2021-06-13 14:57] siddhi-244 commented on #178
Where is the issue template?

[2021-06-13 14:59] siddhi-244 commented on #178
@Debashish-hub  done !

[2021-06-13 15:02] Debashish-hub commented on #178
Issue Template :
https://github.com/prathimacode-hub/Awesome_Python_Scripts/blob/main/.github/issue_template/feature_request.md

There is already an issue for weather report in python GUI , Do check. If you are going to do something different then go ahead
https://github.com/prathimacode-hub/Awesome_Python_Scripts/issues/83

[2021-06-13 15:11] Barsha27 commented on #4
hey @prathimacode-hub i would like to work on it but can you tell me if there is any specific automation of tasks you would want me to work on?

[2021-06-13 15:29] prathimacode-hub commented on #4
Are you a LGMSOC participant? @Barsha27

[2021-06-13 15:30] Iamtripathisatyam opened #180 "Distance Between Two Places"
---
Title:: Distance Finder
About: Implementation of a Distance Finder using **geodesic** and **Nominatim**.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'll develop a Python script that uses latitude and longitude to calculate the distance between two points. I'll be utilizing the **geopy** module, which will assist

[2021-06-13 15:31] Barsha27 commented on #4
no am not

[2021-06-13 15:37] prathimacode-hub commented on #4
Ok, just notify here in comment about the script you are going to contribute. You are good to go. And one more thing, there is no specific requirement, it's your choice to choose the script. @Barsha27

[2021-06-13 15:37] siddhi-244 commented on #178
@Debashish-hub  I am going to implement it using tkinter and openweathermap api and it will show only some things like temp,description etc not whole report and the input will be taken from the user !

[2021-06-13 15:40] prathimacode-hub commented on #180
Perfect, add the project title as "Distance Finder". So are you going to use API? @Iamtripathisatyam

[2021-06-13 15:42] Barsha27 commented on #4
sure i will notify you here...

[2021-06-13 15:43] prathimacode-hub commented on #178
This issue is already in the repo under APIScripts.
Link : https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/APIScripts/OpenWeatherMap%20API

Also ,Weather Report in GUI is already assigned.

If you want, you can enhance this project else take up a new issue. That's upto you. @siddhi-244

[2021-06-13 15:49] Iamtripathisatyam commented on #180
No, ma'am, I'll use **geopy** and a **Google map** to get the precise **longitude** and **latitude** of that city, and then **geodesic** and **Nominatim**, which are both specified inside geopy, will assist in determining the distance.

[2021-06-13 15:51] prathimacode-hub commented on #180
Got you. Sure, this issue is allotted to yu.You can proceed. @Iamtripathisatyam

[2021-06-13 15:51] Sejal2801 commented on #130
Please assign it to me

[2021-06-13 15:54] prathimacode-hub commented on #130
Create a new issue using the template to get issue assigned it to you.  @Sejal2801

[2021-06-13 15:56] Sejal2801 commented on #130
Okay thankyou

On Sun, 13 Jun, 2021, 9:24 PM Prathima Kadari, ***@***.***>
wrote:

[2021-06-13 16:09] prakhar07msd commented on #72
Due to some health related issue I was not active...

[2021-06-13 16:10] AmitGupta700 commented on #130
Mam what issue? I have submitted the last project

[2021-06-13 16:11] Harshitha-246 opened #181 "2048 game"
Title  | About | Name | Label | Assignee |
----- | --------|--------|-------|-----------|
2048 | To create 2048 game in Python | Harshitha-246 | Feature request

Define You:
- [x] LGM-SOC'21 Participant
- [ ] Contributor

I would like to create a 2048 game using tkinter and random library.

[2021-06-13 16:12] siddhi-244 commented on #178
But it's without gui maam @prathimacode-hub

[2021-06-13 16:17] Debashish-hub commented on #130
What you have submitted @AmitGupta700

[2021-06-13 16:25] Debashish-hub commented on #130
Why did you closed it @AmitGupta700

[2021-06-13 16:31] prathimacode-hub commented on #130
@AmitGupta700. Yes, you had submitted the PR. Its' merged as well yesterday. But you raised this issue, when you was working on other PR. So I said you finish that PR, before you work on this. You hadn't checked up this issue since past 2 days. As it's on FCFS even though you raised the issue as you haven't responded back here yet, I did say her to raise an issue separately if you want to work on.

[2021-06-13 16:32] prathimacode-hub commented on #181
Can you elaborate the game? @Harshitha-246

[2021-06-13 16:38] prathimacode-hub commented on #72
Ok, hope all got fine now. No issues. Let me know about it. Health is top most priority. So that you can take some extra time for it. @prakhar07msd

[2021-06-13 16:42] Harshitha-246 commented on #181
in this game user has to merge tiles with same numbers so that it will add up and the user wins if he adds the numbers to 2048 .

[2021-06-13 16:45] prathimacode-hub commented on #181
Ok, sounds interesting. Issue is assigned to you. Go ahead. @Harshitha-246

[2021-06-13 16:46] Harshitha-246 commented on #181
thank you mam

[2021-06-13 17:12] AmitGupta700 commented on #130
Sorry, Mam By mistake it was closed I m really very sorry.

[2021-06-13 17:26] Aditya8821 opened #183 "Real-Time Petrol Price"
Title: Real-Time Petrol Price
About: Getting Real-Time Petrol Price by using BeautifulSoup and pandas.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

 - [x] LGM-SOC'21 Participant
 - [ ] Contributor

I'll write a Python script that uses some BeautifulSoup functions to extract data from an HTML page and then uses pandas to create a 2d table with a list of petrol prices in so

[2021-06-13 17:28] prathimacode-hub commented on #130
That's fine. Issue is assigned to you. No worries. @AmitGupta700

[2021-06-13 17:30] prathimacode-hub commented on #183
You can proceed with the issue. It's assigned to you. @Aditya8821

[2021-06-13 18:25] sherin527 opened #185 "Canny Edge Detection"
---
Title: Canny Edge Detection
About: I want to implement Canny Edge detection one of the Image processing technique
Name: Sherin Shibu
Label: Image Processing Script
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**

I want to implement canny edge detection which is one of the image processing techniques. I will be using Openc

[2021-06-13 18:55] Bhuvanharsha16 opened #186 "Real-time currency converter"
Title | About | Name | Label | Assignee
-- | -- | -- | -- | --
Real-time currency exchange rate| Converts INR to other currency and vice-versa | Kodali Bhuvan SriHarsha | Feature Request | &nbsp;

- [x]  LGM-SOC'21 Participant

I would like to write a currency exchange rate Python script that can convert given INR value to foreign currency and the other way around.

[2021-06-13 20:06] akash435 opened #190 "Dictionary in Python"
---
Title: Dictionary
About: a dictionary created using tkinter GUI and json data file
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I will create a python script to create a E-dictionary.
In this dictionary also developed the cases like
   i.) printing multiple meaning for word having multiple meanings
   ii.) pri

[2021-06-13 20:09] akash435 commented on #190
@prathimacode-hub , please assign me this under LGM SOC, want to add this dictionary in GUIScripts.

[2021-06-13 20:19] akash435 opened #191 "Bubble Catcher Game"
Want to add Bubble Catcher game in python.

The game will be single player mode.

The player needs to  catch as many as bubble he/she wants, and score increases accordingly.

The gui window will be under using tkinter module

[2021-06-13 20:20] akash435 commented on #191
@prathimacode-hub , Please assign this to me under LGM SOC, want to add this game under PyGames scripts.

[2021-06-14 03:51] Debashish-hub commented on #191
Please follow the issue template to create the issue @akash435

[2021-06-14 04:16] akash435 commented on #191
---
Title: Bubble Catcher Game
About: It's a game created with tkinter GUI in python
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] Contributor

I will create a python script to create a game called bubble catcher. In this game needs to catch as many as bubble he/she wants, and score increases accordingly. Also there are many ot

[2021-06-14 04:17] akash435 commented on #191
@prathimacode-hub , i have updated the issue according to template, please check it.

[2021-06-14 05:28] codeaholic-shub opened #193 "Minesweeper Game Using 2D Implementation of Python"
Title: Minesweeper Game
About: User can input and enjoy the game Easily.
Name: Shubhankar Poddar
Label: Feature Request

Assignee: ''

 Define You:

 * [x]  LGM-SOC'21 Participant
 * [ ]  Contributor

I am going to write python code using 2D implementation for this Game.

Hello @prathimacode-hub ,
Kindly assign this issue to me,
So, I can work on this as soon as Possible !

[2021-06-14 05:31] Bhuvanharsha16 commented on #186
@prathimacode-hub  please assign me this issue

[2021-06-14 05:35] Debashish-hub commented on #193
Can you elaborate the game @codeaholic-shub

[2021-06-14 05:40] codeaholic-shub commented on #193
Yes , Its the Game in which users enter their input according their will in row and column order ,
Through their input the digging process starts in the game !

### Snapshots of Game Output for clear understanding -

![First Projedct – minesweeper py PyCharm 13-06-2021 20_26_34](https://user-images.githubusercontent.com/65807708/121844086-0788cf80-cd01-11eb-8208-9002d057e11b.png)
![First Projedct

[2021-06-14 05:43] prathimacode-hub commented on #190
That sounds interesting. But a dictionary project is currently under review. Once PR is approved. You can add it as an enhancement. Else you can take up a new issue to work on. @akash435

[2021-06-14 05:46] prathimacode-hub commented on #191
Yup, sure. This issue is assigned to you. You can start working on it. @akash435

[2021-06-14 05:49] prathimacode-hub commented on #186
Definitely, this issue is assigned to you. You can proceed. @Bhuvanharsha16

[2021-06-14 05:49] prathimacode-hub commented on #185
Sure, you can. This issue is assigned to you. Kindly proceed. @sherin527

[2021-06-14 05:51] prathimacode-hub commented on #193
Sure, you can proceed further. This issue is assigned to you. @codeaholic-shub

[2021-06-14 05:59] akash435 commented on #190
ok

[2021-06-14 06:00] akash435 commented on #191
thanks for assigning

[2021-06-14 06:02] akash435 commented on #191
just one ques, that label of level will be added while merging i guess.

[2021-06-14 06:03] Debashish-hub commented on #191
yes, that will be done by admin

[2021-06-14 06:03] akash435 commented on #191
ok

[2021-06-14 06:13] prathimacode-hub commented on #178
Yes, but with GUI PR is as well ready. No  problem, you cna take some other issue to work on. @siddhi-244

[2021-06-14 06:33] muskantayal123 commented on #77
@Debashish-hub
![image_2021-06-14_120256](https://user-images.githubusercontent.com/62842695/121849005-74ec2e80-cd08-11eb-83fc-852e5b8bcd7a.png)
 Sir Please tell me why i am getting this error?

[2021-06-14 06:39] Debashish-hub commented on #77
use your email and your name in place of "you@example.com" and "Your Name" @muskantayal123

[2021-06-14 06:54] #176 closed

[2021-06-14 06:55] #65 closed

[2021-06-14 07:17] akash435 commented on #191
@prathimacode-hub , created a pr for this issue, please check it

[2021-06-14 07:40] pragyakhanna11 opened #197 "Add another news scraping script"
Title | About | Name |Label | Assignee |
--- | --- | --- | --- |---
News Scraping| scrape title, author, time and news details and save them in a txt file | Pragya Khanna | Feature Request|  |

- [x] LGM SOC participant

**Describe the solution you would like:**
Scrape the above mentioned things from inshorts and save the scraped text to a separate txt file

![image](https://user-images.githubuser

[2021-06-14 07:46] prathimacode-hub commented on #197
News Scraping is already up there in "WebScrapingScripts". News API is as well there in "APIScripts". If you want to work on it. You can enhance the script. Else, you can take up an another issue. So what do your say? @pragyakhanna11

[2021-06-14 08:23] #177 closed

[2021-06-14 08:27] #191 closed

[2021-06-14 08:29] neelshah2409 opened #198 "Qrcode Generator"
Title: Qrcode Generator
About: generating qrcode automatically using pyqrcode lib.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

-> LGM-SOC'21 Participant
  Contributor

Solution: I would like to write script using pyqrcode lib. and generating qrcode whose size and colour can be customized .

[2021-06-14 08:33] prathimacode-hub commented on #198
There's one project called QRCode Scanner. Here comes, QR code generator. Sounds good. You can proceed with the issue. @neelshah2409

[2021-06-14 08:40] Iamtripathisatyam opened #199 "Image to ASCII Art Converter"
---
Title: Image to ASCII Art Converter
About: Implementation of an ASCII Art Converter using the **pywhatkit** module.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'll write a Python script that converts the image to ASCII art using the **image_to_ascii_art** function inside **pywhatkit**.

[2021-06-14 08:43] AmitGupta700 opened #200 "GUI Calendar"
---
Title: GUI Calendar
About: Implementation of a GUI Calendar using **tkinter** and  **calendar** module.
Name: Amit Gupta
Label: Feature Request
Assignee: ''
---
Define You:

- [x] LGM-SOC'21 Participant
 Contributor

I'll write a Python script to create a GUI calendar that will take input "Year" as input and As a result, it will give a GUI-based calendar.

[2021-06-14 08:47] prathimacode-hub commented on #199
Good selection of project. I shall assign this task to you. 👍@Iamtripathisatyam

[2021-06-14 08:48] prathimacode-hub commented on #200
That sounds interesting. Issue is assigned to you. @AmitGupta700

[2021-06-14 09:53] Umesh-01 opened #205 "Want to add a script for COVID cases"
Title: want to add a script for COVID cases
Name: **Umesh Singh**
Label: Feature Request
Define You
- [x] LGM-SOC'21 Participant
- [ ] Contributor

### Solution
I want to add a Python script under Web Scraping scripts to fetch the Covid-19 cases for any country. I will be fetching the data from a website to show the details like total cases, death, etc.

[2021-06-14 09:59] #183 closed

[2021-06-14 10:00] prathimacode-hub commented on #205
Sure, this issue is assigned to you. You can start working on it. @Umesh-01

[2021-06-14 11:07] AK-Subodh opened #207 "Editable Restaurant MenuCard"
---
Title | About | Name | Label | Assignee |
----- | ------- |------- | ------ | ---------- |
Editable Restaurant MenuCard |Use of tkinter to create a restaurant's menu card which has two types of user logins- Admin and customer. Admin could edit the daily menu. Customers could view it. |AK-Subodh |Feature Request

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your featur

[2021-06-14 11:34] #198 closed

[2021-06-14 11:37] #151 closed

[2021-06-14 12:14] Iamtripathisatyam opened #210 "Backup WhatsApp Chats to Excel Sheet"
---
Title: Backup WhatsApp Chats to Excel Sheet
About: Implementation of WhatsApp Backup Chats using some major libraries like **pandas**, **pushbullet**, **OS**, and **requests**.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'll write a Python script that will Backup all the WhatsApp chats and feed them to the excel

[2021-06-14 12:29] prathimacode-hub commented on #207
Kindly do the changes for your PR before you get this issue assigned to you. Do you need help to your PR. @AK-Subodh

[2021-06-14 12:39] akash435 opened #211 "TIC TAC TOE in python"
---
Title: TIC TAC TOE
About: It's a game created with tkinter GUI in python
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I will create a python script to create a game called TIC TAC TOE.
In this game player need to play against computer.
The code is developed such that computer will also play optimally against t

[2021-06-14 12:39] akash435 commented on #211
@prathimacode-hub , please assign this to me under LGM SOC, want to add this game in PyGames Script.

[2021-06-14 12:43] prathimacode-hub commented on #211
Tic Tac Toe Game, this issue is already been taken and got assigned. You can take up some other issue. All the best. @akash435

[2021-06-14 12:44] prathimacode-hub commented on #210
Wow, this is amazing. This issue is assigned to you. You can proceed. @Iamtripathisatyam

[2021-06-14 12:45] prathimacode-hub commented on #207
This issue is interesting, but issues can be assigned only one at a time. Any help, don't hesitate to ask. @AK-Subodh

[2021-06-14 12:46] akash435 commented on #211
ok, thnx

[2021-06-14 13:00] #165 closed

[2021-06-14 13:04] Aditya8821 opened #212 "Sending HTML Email"
Title: Sending HTML Email using Python
About: Sending HTML syntax Email using yagmail module in python.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

 - [x] LGM-SOC'21 Participant
 - [ ] Contributor

I'll write a Python script that will send HTML email from sender to receiver using just a single module i.e yagmail and 2 of its functions.

[2021-06-14 13:12] prathimacode-hub commented on #212
Sounds good. You can proceed with it. @Aditya8821

[2021-06-14 13:23] Aditya8821 commented on #212
Yes mam it helps to send email contents under HTML tags like h1,h2... and many other syntax.

[2021-06-14 13:24] #211 closed

[2021-06-14 13:29] Iamtripathisatyam commented on #210
Ok ma'am, Thanks a lot

[2021-06-14 13:33] prathimacode-hub commented on #211
You should never close an issue or PR from your end. @akash435

[2021-06-14 13:39] akash435 commented on #211
ok sorry , should i reopen this?

[2021-06-14 13:51] prathimacode-hub commented on #211
That's Ok. It's already done. Don't repeat it again. @akash435

[2021-06-14 13:52] akash435 commented on #211
ok

[2021-06-14 14:54] #193 closed

[2021-06-14 14:56] #82 closed

[2021-06-14 15:28] hr1shu commented on #154
Yeah sure,
You have to head over to the website : https://github.com/apps/welcome and follow the guidelines.
If it's ok may I start with a new issue now??

[2021-06-14 15:34] #140 closed

[2021-06-14 16:06] neelshah2409 opened #215 "Tracking Phone Number"
Title: Tracking phone number
About: Here we can search the location of phone by getting the country code
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I would like to write a python script using phonenumber library which helps us to detect the location of phone number(it doesn't give live location but it gives the location where p

[2021-06-14 16:06] prathimacode-hub commented on #154
Yeah, you can start with a new issue. @hr1shu

[2021-06-14 16:12] prathimacode-hub commented on #215
Sure, go ahead with the issue. Issue assigned. @neelshah2409

[2021-06-14 16:17] #83 closed

[2021-06-14 16:39] thegautamkumarjaiswal opened #216 "ADD: Bank Management System"
This is an DataBase Management system for Bank's employee. I will made it using `python`, `tkinter` and `sqlite3`.

[2021-06-14 16:40] thegautamkumarjaiswal commented on #216
assign me to it please.

[2021-06-14 16:46] manognyaa commented on #90
hello mam,
Can you please assign this issue to me, I would like to work on this mam @prathimacode-hub

[2021-06-14 16:50] Rutuj-Runwal opened #218 "Website Blocker"
Title: Website Blocker
About:I would like to build a GUI based website blocker.I'll write a Python script to create a GUI Website blocker that will take input the sites one wants to block as input and As a result, that site will remain blocked for some particular time.
Name: Rutuj Runwal
Label: Feature Request

Define You:

- [x]  LGM-SOC'21 Participant

Please assign @prathimacode-hub

[2021-06-14 16:50] prathimacode-hub commented on #216
There is already a Database Management System but it's on daily routine. Would you like to work on this issue? @thegautamkumarjaiswal

[2021-06-14 16:54] prathimacode-hub commented on #218
Kindly follow the issue template to get it assigned to you. It's an interesting project. You can change up according to your project using the template here in comment. For reference you can check up with the assigned issues. @Rutuj-Runwal

[2021-06-14 16:55] prathimacode-hub commented on #90
Sure, this issue is assigned to you. You can proceed. @manognyaa

[2021-06-14 17:03] thegautamkumarjaiswal commented on #216
Because It's different from that database management system. It is for Banks to maintain their employees data.

[2021-06-14 17:10] prathimacode-hub commented on #216
Sounds interesting. You can start working. @thegautamkumarjaiswal

[2021-06-14 17:17] Rutuj-Runwal commented on #218
I have updated the issue as per template

[2021-06-14 17:36] akash435 commented on #190
@prathimacode-hub , can i start working on this as an enhancement, like
     i will improve the gui in better way,
     with searh button , also will add clear button to clear text,
     if possible will add auto complete feature
If yes, please assign this to me under LGM SOC

[2021-06-14 17:54] prathimacode-hub commented on #218
This issue is assigned to you. You can start working. @Rutuj-Runwal

[2021-06-14 17:59] prathimacode-hub commented on #190
Are you sure? First check this project and let me know. https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/GUIScripts/English%20Dictionary

[2021-06-14 18:05] akash435 commented on #190
I am sure about, below two things
 - i will improve the gui in better way,
 - with searh button , also will add clear button to clear text,
and will try to add autocomplete feature

[2021-06-14 18:12] prathimacode-hub commented on #190
Ok, great. This issue is assigned to you as an enhancement. But do create a seperate README file for your enhancement. Don't do changes in the existing README which is merged. Other than that, it's all open to enhancement. 👍@akash435

[2021-06-14 18:14] #90 closed

[2021-06-14 18:15] akash435 commented on #190
ok

[2021-06-14 18:45] AmitGupta700 opened #221 "Login System"
---
Title: Login System
About: This small project will contain features of login and signup systems as we saw in your daily life.
Name: Amit Gupta
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
 Contributor
I'll write a Python script that wil contain features of login and signup systems as we saw in your daily life. Using this project, you will come to know a little

[2021-06-14 18:50] Komal-99 commented on #185
@sherin527  are you implementing or adding readme for same?

[2021-06-14 18:55] prathimacode-hub commented on #221
Perfect. This issue is assigned to you. @AmitGupta700

[2021-06-14 18:58] Komal-99 opened #222 "Image pyramiding"
---
Title: Image pyramising
About: feature
Name: Komal
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Describe the solution you'd like...**
I want to add image pyramiding (guassian and laplace ) script in image processing folder. Its implementation and its readme.

**Additional context**
![image](https://user-images.githubusercontent.com/74

[2021-06-14 18:58] prathimacode-hub commented on #185
Any issue @Komal-99

[2021-06-14 19:02] Komal-99 commented on #185
No no i was just asking because is she is only implementing i can do its readme

[2021-06-15 03:33] manognyaa opened #226 "You_or_ME"
---
Title: You_or_ME
About: This is a python game where 2 players can play. If the player gets 4 color balls in same line, then the person wins.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

I thought of making a game. where two people can play easily.

[2021-06-15 03:54] Debashish-hub commented on #226
Sounds good! This issue is assigned to you @manognyaa . Go ahead
By the way it will come under which script?

[2021-06-15 03:57] Debashish-hub commented on #222
Are you not working on your previous issue #166

[2021-06-15 03:59] #67 closed

[2021-06-15 04:00] manognyaa commented on #226
Thank you sir.
It will come under PyGameScripts @Debashish-hub

[2021-06-15 04:06] archismansaha opened #227 "BlackJack Game"
---
Title: Black jack Game
About: This game is made where you will play with computer it's a simplfy version of black jack game but it follows the rules of that game
Name: Archisman Saha
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Though in lockdown we can't go outside of house i build this . It's made with python a simplify version of bla

[2021-06-15 04:11] hr1shu opened #228 "PIP UPGRADE SCRIPT"
Title: PIP UPGRADE SCRIPT
About: This is a python automation script made with tkinter framework, it upgrades your pip version.
Name: Rishav Kumar
Label: Feature Request
Assignee: ''

Define You:

 LGM-SOC'21 Participant

Is your feature request related to a problem? Please describe.

I thought upgrading pip without running pip upgrade cmnd and without opening cmd prompt would be cool.

Approach to

[2021-06-15 04:16] Debashish-hub commented on #227
Can you please elaborate the game @archismansaha

[2021-06-15 04:17] Debashish-hub commented on #228
It will come under which scripts @hr1shu

[2021-06-15 04:22] #212 closed

[2021-06-15 04:30] manognyaa commented on #226
hello @prathimacode-hub @Debashish-hub
I have created a pr.
please guide me if any changes required .

[2021-06-15 04:53] #226 closed

[2021-06-15 05:01] Komal-99 commented on #222
Doing will complete today

[2021-06-15 05:12] archismansaha commented on #227
yes here we have to pick cards though it's simple version I will show it by list some of the rules is : addition of your cards may not cross 21 if it then you will loss and show bust . if your cards addition is less than 17 you have to pick a card. In the case of the card Ace you can choose it's value by yourself 1 or 11 depending on your condition when on you stopped choosing card delaer(here com

[2021-06-15 05:18] HitainKakkar opened #231 "MEMORY_PUZZLE_GAME"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
This is a match game made using python's gaming module pygame. The program runs a memory game that allows you to turn over cards by clicking the mouse. Each grey box represents the image of an animal hidden by default. If there is a match, the t

[2021-06-15 05:21] Debashish-hub commented on #222
Please complete your previous issue first to get it assigned

[2021-06-15 05:21] Komal-99 commented on #222
Okay

[2021-06-15 05:22] Debashish-hub commented on #227
Go ahead @archismansaha

[2021-06-15 05:24] Debashish-hub commented on #231
Go ahead @HitainKakkar . Issue is assigned to you

[2021-06-15 05:56] neelshah2409 opened #233 "All Information About Country"
Title: All Information About Country
About: We can find all the information  like currency ,time zone , capital and many more.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:
- [x] LGM-SOC'21 Participant
- [ ] Contributor

I would like to write a script which will give all the information like area , border area , capital ,currency and many more using the countryinfo library.

[2021-06-15 06:08] Debashish-hub commented on #233
Get your previous issue #215 completed first to get it assigned @neelshah2409

[2021-06-15 06:10] #215 closed

[2021-06-15 06:10] neelshah2409 commented on #233
Yes sir , I had made a PR for that so please kindly review it.
And after completing that I will continue with this.

[2021-06-15 06:11] Debashish-hub commented on #233
Issue is assigned to you

[2021-06-15 06:21] Debashish-hub commented on #110
No update yet from your end since 4 days, Everything fine @coding-geek21

[2021-06-15 06:23] Debashish-hub commented on #123
No update yet from your end. Is everything  good.  @suvrashaw

[2021-06-15 06:23] Debashish-hub commented on #129
No update yet from your end. Is everything good. @skimran2000

[2021-06-15 06:24] Debashish-hub commented on #134
No update yet from your end. Is everything going good. @singhmansi25

[2021-06-15 06:24] coding-geek21 commented on #110
Sorry I was not feeling well , I will make PR today

[2021-06-15 06:25] Debashish-hub commented on #110
No problem. Health comes first

[2021-06-15 06:30] #122 closed

[2021-06-15 06:51] Sakalya100 opened #234 "Text Extractor from PDF"
Title: Text Extractor from PDF
About: We can extract the text in any PDF file using this script
Name: Sakalya Mitra
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
My feature request is not related to a problem

The script will extract text from any pdf file. We can use this script

[2021-06-15 06:57] Debashish-hub commented on #234
Can you please elaborate @Sakalya100

[2021-06-15 07:04] Paras0-7 opened #235 "Voice Assistant using Python"
I want to add a voice assistant which can perform tasks such as :
i) get information and read it
ii) play music
iii) send emails.
@prathimacode-hub @Debashish-hub  can you please assign it to me under LGM-SoC.

[2021-06-15 07:10] prathimacode-hub commented on #235
Yup, this issue is assigned to you. You can proceed. @Paras0-7

[2021-06-15 07:11] Paras0-7 commented on #235
Thanks @prathimacode-hub .

[2021-06-15 07:37] manognyaa opened #237 "Notes panel"
---
Title: Notes
About: I would like to create a notes panel where we can note down the important things.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
As, I am a student I face many issues noting down. sometimes I may not find a book to note the points. So, thought of making a no

[2021-06-15 07:39] prathimacode-hub commented on #237
This issue is assigned to you. You can start working. @manognyaa

[2021-06-15 07:39] manognyaa commented on #237
Thank you mam @prathimacode-hub

[2021-06-15 07:50] suvrashaw commented on #123
I'm a bit off due to vaccination after effect and end semesters. will be clearing this issue by tomorrow. program is completed markdown is to be adjusted. Sorry for the delay ma'am.

[2021-06-15 07:55] prathimacode-hub commented on #123
That's fine as long as you inform timely. Carry on. @suvrashaw

[2021-06-15 08:08] neelshah2409 opened #241 "Movie Information Detailer"
Title: Movie Information Detailer
About: We can find all the information like year of release , full name of movie , cast of movie.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I would like to write a script which will give all the information about movie like year and cast of the movie using imdb library.

[2021-06-15 08:22] #233 closed

[2021-06-15 08:32] #190 closed

[2021-06-15 08:57] AK-Subodh commented on #207
@prathimacode-hub Mam, can you please assign this issue to me now?

[2021-06-15 09:00] prathimacode-hub commented on #241
Is this an API script? Can you please elaborate? @neelshah2409

[2021-06-15 09:06] hr1shu commented on #228
It's an automation script with gui, so I'll suggest it under automation.
Your call will be final though.

[2021-06-15 09:06] neelshah2409 commented on #241
no mam we are not using api but using imdb library for getting year of release and  movie cast .

[2021-06-15 09:10] prathimacode-hub commented on #241
Sure, this issue is assigned to you. @neelshah2409

[2021-06-15 09:37] HitainKakkar commented on #231
Thank you for assigning me this issue!!
I will work on this and make a PR soon!!

[2021-06-15 11:20] HitainKakkar commented on #231
I have made a PR for this issue.
Kindly check.
#246

[2021-06-15 11:27] AmitGupta700 opened #247 "Event Handling"
---
Title: Event Handling
About: Event Handling In Tkinter Python means to bind the keyboard or mouse buttons to the Tkinter and use them to call some functions.
Name: Amit Gupta
Label: Feature Request
Assignee: ''
---
Define You:

- [x] LGM-SOC'21 Participant
 Contributor
I'll write a Python script to bind the keyboard or mouse buttons to the Tkinter and use them to call some functions.
We use th

[2021-06-15 11:28] its-me-debk007 opened #248 "Extracting Info from IP Address (Using API)"
**Title:**  Extracting Info from IP Address (Using API)

**About:** Gives you info related to the IP Address that is entered.

**Name:** Debashish Kundu

**Label:** Feature Request

**Assignee:** ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
A python program that uses API to extract information about a particular IP Address.
By default, gi

[2021-06-15 11:39] #116 closed

[2021-06-15 11:48] #186 closed

[2021-06-15 11:51] #241 closed

[2021-06-15 11:56] prathimacode-hub commented on #247
Yes, you can proceed with the issue. @AmitGupta700

[2021-06-15 11:57] prathimacode-hub commented on #228
Yup, you can proceed. Issue is assigned to you. @hr1shu

[2021-06-15 11:59] Debashish-hub commented on #248
Please follow the issue template @its-me-debk007

[2021-06-15 12:15] shreyamalogi opened #251 "The Indian Flag"
---
Title: The Indian Flag
About: To draw an Indian Flag
Name: Malogi Shreya
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Describe the solution you'd like...
Here, I will be using python turtle graphics. (GUI)

[2021-06-15 12:34] neelshah2409 opened #252 "Voting System"
Title: Voting System
About: I would like to create a simple voting system in which if the voter is eligible or he had done the voting all the things can be done
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor
Describe the solution you'd like...
As all have doubt at some point how voting system might be working at some point but for t

[2021-06-15 13:08] shantamsultania opened #253 "Twitter Tweet Sentimental Analysis Web App"
I am thinking of creating a web app in which a person may enter a topic and that topic will be web scraped from Twitter and on the result we can also perform sentimental analysis and divide the same into multiple areas
if possible assign me this under LGM - SOC  for GUI based Script
thanks

[2021-06-15 13:10] shantamsultania opened #254 "A face Lock Application using OpenCV"
I want to mimic the face lock system used by the Mobile using Python and openCV

[2021-06-15 13:11] shantamsultania opened #255 "Invisible Clock using Python"

[2021-06-15 13:14] prathimacode-hub commented on #251
This issue is assigned to you. You can proceed. @shreyamalogi

[2021-06-15 13:15] prathimacode-hub commented on #252
This issue is assigned to you. You can start working. @neelshah2409

[2021-06-15 13:16] prathimacode-hub commented on #254
You can work on only 1 issue at a time, And to get issue assigned to you, you need to follow the issue template given in README file of the project. @shantamsultania

[2021-06-15 13:29] singhmansi25 commented on #134
@Debashish-hub yes, I'm facing problem in adding the project
Please help me out, I'm unable to contribute

[2021-06-15 13:37] its-me-debk007 commented on #248
Oh Sorry! @Debashish-hub

[2021-06-15 13:44] Debashish-hub commented on #134
yes, What's the problem @singhmansi25

[2021-06-15 13:53] skimran2000 commented on #129
Sorry, was busy with my college assignments.
I have made a PR #256

[2021-06-15 13:59] Sakalya100 commented on #234
Yes sure @Debashish-hub . The script I will make is using a module named PyPDF2 which will allow you to extract text from any pdf file. I am also thinking of adding a feature where we can extract text, modify the text in pdf file and convert that into a pdf file. Thats what my issue is about.

[2021-06-15 14:39] prathimacode-hub commented on #134
Do you need any guidance, don't hesitate to ask. @singhmansi25

[2021-06-15 15:55] Komal-99 commented on #166
@prathimacode-hub  kindly add difficulty level label

[2021-06-15 15:58] sonaliBedade opened #261 "Real-Time Stock Price"
Title | About | Name | Label | Assignee
---- | -------- | ------ | ------ | ---------
Real-Time Stock Price | web-scraping script for getting real time stock price | Sonali Bedade | Feature Request |

- [x] LGM-SOC'21 Participant

It will be a web scraping script which will fetch the current stock price for companies that are listed in an excel sheet and calculates the total profit/loss.

[2021-06-15 16:50] Aditya8821 opened #262 "Real Time Currency Converter"
Title: Real-Time Currency Converter
About: Implementation of the script which converts the currency rate from one to other according to real-time rate.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

 - [x] LGM-SOC'21 Participant
 - [x] Contributor
I'll write a Python script which will convert the inputed currency in to the currency which user selects. It is done by using (G

[2021-06-15 16:54] prathimacode-hub commented on #262
This issue is already done and merged. Kindly take up an another issue. @Aditya8821

[2021-06-15 16:55] Aditya8821 commented on #262
Ok mam

[2021-06-15 16:55] prathimacode-hub commented on #261
This issue is already done and merged. Kindly take up an another issue to work on. @sonaliBedade

[2021-06-15 16:59] prathimacode-hub commented on #222
This issue is assigned to you. You can proceed. @Komal-99

[2021-06-15 17:27] #262 closed

[2021-06-15 17:39] #110 closed

[2021-06-15 17:40] #185 closed

[2021-06-15 17:41] #129 closed

[2021-06-15 17:43] #166 closed

[2021-06-15 17:44] #237 closed

[2021-06-15 17:45] #221 closed

[2021-06-15 18:55] HitainKakkar commented on #231
Greetings Mentors!!
Kindly assign this issue a level , so that it can be considered for scoring in LGMSOC.
Thank you!!

[2021-06-16 02:01] richabh456 opened #265 "can i work on hangman game in python?"

[2021-06-16 03:08] #248 closed

[2021-06-16 03:10] its-me-debk007 opened #266 "Extracting Information from IP Address (Using API)"
**Title:**  Extracting Information from IP Address (Using API)

**About:** Gives you information related to the IP Address that is entered.

**Name:** Debashish Kundu

**Label:** Feature Request

**Assignee:** ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
A python program that uses API to extract information about a particular IP Address.

[2021-06-16 04:33] sonaliBedade opened #268 "Get movie data"
Title | About | Name | Label | Assignee
----- | ------ | ------- | ------ | ----------
Get movie data | Getting information of any movie using imdb library | Sonali Bedade | Feature Request |

- [x] LGM-SOC'21 Participant

This program will fetch details like year of release, cast, etc of any movie using imdb library

[2021-06-16 06:07] manognyaa opened #270 "Flames"
---
Title: Flames
About: This game will result the output of relationship status like friends, enemy, sibilings, etc.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
It is the common game where everyone once in there life have used or played. So, I created this game for those who do

[2021-06-16 06:41] prathimacode-hub commented on #265
This issue is already taken up and been merged. Kindly take up an another issue to work on. @richabh456

[2021-06-16 06:43] prathimacode-hub commented on #266
It's a different script. Good choice. This issue is assigned to you. You can proceed. @its-me-debk007

[2021-06-16 06:45] prathimacode-hub commented on #268
This issue is already taken and merged. Sorry to say, but kindly take up an another issue. Before you raise, do check if the script you want to work on is assigned or merged. So that your efforts don't go wasted. @sonaliBedade

[2021-06-16 06:45] prathimacode-hub commented on #270
Yes, this issue is assigned to you. Interesting. You can proceed. @manognyaa

[2021-06-16 06:47] prathimacode-hub commented on #234
Ok, sure. this issue is allotted to you. You can go ahead. @Sakalya100

[2021-06-16 06:48] prathimacode-hub commented on #207
Yes, this issue is assigned to you. @AK-Subodh

[2021-06-16 07:26] richabh456 opened #272 "Can i implement tower of hanoi in python."

[2021-06-16 07:33] prathimacode-hub commented on #272
Yes you can, But add proper template to get issue assigned to you. @richabh456

[2021-06-16 07:46] Aditya8821 opened #273 "Convert Image into Pencil Sketch"
Title: Convert Image into Pencil Sketch
About: Implementation of this script is done by using the cv2 module and some of its functions are used.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

 -[x] LGM-SOC'21 Participant
 -[x] Contributor
I'll write a Python script that will convert the image into its pencil sketch, this is done by use of cv2 module and its functions.

[2021-06-16 07:49] richabh456 commented on #272
Tower of hanoi is a mathematical puzzle where we have 3 rods and n disk, the main objective of this puzzle is to move the entire stack to one rod, by obeying some rules.

[2021-06-16 07:59] prathimacode-hub commented on #272
Yes, but to get issue assigned and to know you as a LGMSOC participant. There is a template you need to follow while creating an issue or PR. You can find that in README file of the project
All the details are been provided in README and CONTRIBUTING GUIDELINES to get better understanding of how to proceed. @richabh456

[2021-06-16 08:00] richabh456 commented on #272
Name: Richa Bharti
Implementation : tower of hanoi
label : feature request

[2021-06-16 08:01] prathimacode-hub commented on #273
This issue is assigned to you. You can proceed. @Aditya8821

[2021-06-16 08:02] prathimacode-hub commented on #272
full template needed

[2021-06-16 08:06] neelshah2409 opened #275 "Video To Audio"
Title: Video To Audio
About: Here we will convert video(.mp4) to audio(.mp3)
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor
Describe the solution you'd like...
Here using pytube lib. we will get the youtube video and using the os lib we will convert video to audio.

[2021-06-16 08:12] richabh456 commented on #272
Title: Tower of hanoi
About: This is a puzzle game which contains 3 rods and n disk.
Name: Richa Bharti
Label : feature requested
Assignee:

Defines you: Lgmsoc'21 Participant.

[2021-06-16 08:12] prathimacode-hub commented on #272
Yes, I know. But to assign the labels template is important. You shall check up with assigned PR's

To make things simple, this is the sample template.

https://github.com/prathimacode-hub/Awesome_Python_Scripts/issues/266 @richabh456

[2021-06-16 08:13] richabh456 commented on #272
@prathimacode-hub is it sufficient ma'am?

[2021-06-16 08:14] prathimacode-hub commented on #272
It's good if you add a solution you would expect out of this issue. That's minimum. Anyways I shall assign the issue to you. Next time, you can make it better. @richabh456

[2021-06-16 08:15] prathimacode-hub commented on #272
This issue is assigned to you. You can proceed. @richabh456

[2021-06-16 08:15] richabh456 commented on #272
@prathimacode-hub SURE ma'am i will improve myself.

[2021-06-16 08:17] prathimacode-hub commented on #275
Yes, absolutely. You can add both video and audio in "Media" folder. And add the link to the README. This issue is assigned to you. @neelshah2409

[2021-06-16 08:40] palakagarwal5230 opened #277 "Fibonacci sequence generator"
**Problem:**
Implement a python generator for a Fibonacci sequence.
Title: Fibonacci sequence generator
About: It will implement a python generator for a Fibonacci sequence.
Name: PALAK AGARWAL
Label: Feature Request
Assignee: ''

Define You:

[ ] LGM-SOC'21 Participant
[ ] Contributor
Describe the solution: I would write a python script for this problem

[2021-06-16 08:41] palakagarwal5230 commented on #277
I am a LGM-SOC'21 Participant and has opened this issue. Assign me to solve this

[2021-06-16 09:09] prathimacode-hub commented on #277
Kindly follow the template given to get issue assigned to you. @palakagarwal5230

[2021-06-16 09:13] sahilsingh2402 opened #278 "Snake Game"
**Title:** Snake Game
**About:** This game will be a python game based on the original 'Snake' game which first appeared in 1997 on the Nokia 6110.
**Name:** Sahil Singh

Describe the solution you'd like: **It is the very first mobile games which was launched in the year 1997. Everyone would have played it once in there lifetime. I would like to create this game  in python.**
Approach to be follow

[2021-06-16 09:14] prathimacode-hub commented on #278
This issue is already taken and merged as well. You can take up an another issue to work on. All the best. Welcome to the repository. @sahilsingh2402

[2021-06-16 09:23] sahilsingh2402 commented on #278
Ok

[2021-06-16 09:23] #278 closed

[2021-06-16 09:31] BryanMed opened #280 "Contrast image enhancement"
**Title:** contrast image enhancement
**About:** Contrast is the difference in luminance that makes an object distinguishable from other objects in an image, I'll try to enhance the image of low contrast images
**Name:** Bryan Medina
**Label:** Feature Request
Assignee: ''

**Define You:**
- [ ] LGM-SOC'21 Participant
- [x] Contributor

**Describe the solution you'd like:**
Using histogram equaliz

[2021-06-16 09:42] prathimacode-hub commented on #278
You should never close an issue or PR from your end. @sahilsingh2402

[2021-06-16 09:44] prathimacode-hub commented on #280
Wow, that sounds interesting. You can go ahead. Welcome to the repo. @BryanMed

[2021-06-16 09:56] its-me-debk007 commented on #266
Thank you very much @prathimacode-hub  ma'am!
This is my first project in LGMSoc :)

[2021-06-16 10:03] prathimacode-hub commented on #266
Welcome to the repo. All the best.

[2021-06-16 10:09] #216 closed

[2021-06-16 10:10] #77 closed

[2021-06-16 10:11] #222 closed

[2021-06-16 10:12] #270 closed

[2021-06-16 10:17] coding-geek21 opened #282 "Music player using Pygame"
---
Title: Music player using Pygame
About: A simple music player which has a list of music , among which we can select one and play it, there are several options like play, stop, resume and pause , Here GUI (tkinter) is used for display purposes
Name:  Jayapritha N
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request rela

[2021-06-16 10:34] #252 closed

[2021-06-16 10:37] prathimacode-hub commented on #282
Cool. This issue is assigned to you. You can start working on it. @coding-geek21

[2021-06-16 11:03] #275 closed

[2021-06-16 11:09] richabh456 commented on #272
@prathimacode-hub Thank you for your help ma'am i will try for sure.

[2021-06-16 14:14] Aditya8821 opened #289 "Registration Form Interface"
Title: Registration Form Interface Using Tkinter
About: Implementation of this script is done by using Tkinter module and took the help of some of its functions.
Name: Aditya Trivedi
Label: Feature Request
Assignee: ''

Define You:

-[x] LGM-SOC'21 Participant
-[x] Contributor
I'll write a Python script that will display an interface for a registration form, this is done only by the use of Tkinter

[2021-06-16 14:19] neelshah2409 opened #290 "Currency converter"
Title: Currency Converter
About: Here we will convert currency using the currency dictionary which we will get from google.
Name:  Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
 - [ ] Contributor

Description: We can convert currency from one to another we just need information about all currency and rate from google and convert and keep it in a file as a

[2021-06-16 14:43] Jordistyd opened #291 "Adding alien invaders"
Title: Alien invaders Game
About: The game is about the player taking control of a ship to destroy incoming alien invaders.
once all invaders are destroyed the level advances and becomes gradually harder.
I built the game using pygame and images found on google
I would love to contribute the game to you open source project
Name: Yarden Galon
Label: Feature Request
Assignee: ''

[2021-06-16 14:43] Nithin2528 opened #292 "Real Time Face Detection using OpenCv"
I am a LGMSOC participant . Can I contribute this script.
About: Detects the human faces in real time using the webcam
Modules: OpenCv

[2021-06-16 14:47] sonaliBedade opened #293 "Job Search Tool"
Title | About | Name | Label | Assignee
----- | ------- | ------ | ------ | ----------
Job Search Tool | Fetching job data from indeed website | Sonali Bedade | Feature Request |

- [x] LGM SOC'21 Participant

A web scraping project which will fetch details of job from indeed website

[2021-06-16 14:51] prathimacode-hub commented on #289
Sure, this issue is assigned to you. @Aditya8821

[2021-06-16 14:53] prathimacode-hub commented on #290
This issue is already taken and merged as well. Kindly take up an another issue. @neelshah2409

[2021-06-16 14:53] prathimacode-hub commented on #291
Are you a LGMSOC participant?
@Jordistyd

[2021-06-16 14:54] prathimacode-hub commented on #292
This issue is already been taken and merged. You can take up an another issue, but also make sure you follow the  issue template for it. @Nithin2528

[2021-06-16 14:55] prathimacode-hub commented on #293
Welcome to Webscraping. Yup, this issue is alloted to you. You can proceed. @sonaliBedade

[2021-06-16 14:57] Jordistyd commented on #291
Well, no
Sorry if I seem out of place but could you elaborate on what that is?

[2021-06-16 14:59] prathimacode-hub commented on #291
No, that's Ok. LGMSOC is a open source program. This repo is part of it. Still, it's open for all contributors whether they are participants or not. It doesn't matter. I just asked to know, so that I can move things forward according to that. Sure, you can start working on this issue. It's assigned to you. @Jordistyd

[2021-06-16 15:01] Nithin2528 commented on #292
I'm sorry im new to open source , what's template issue template?
and Shall i close this Issue? @prathimacode-hub

[2021-06-16 15:02] Jordistyd commented on #291
Great to hear it!
thank you and I'll get to work

[2021-06-16 15:03] prathimacode-hub commented on #292
That's Ok. No, you should never close issue or PR from your end. I shall do that.
All the templates are provided in README file of the project. To know more briefer of how template should look like, you can refer up with the assigned issues. That'll give you the answer. No worries, if you're new to open source. I can guide you further. @Nithin2528

[2021-06-16 15:03] #292 closed

[2021-06-16 15:13] #273 closed

[2021-06-16 15:59] akash435 opened #298 "Image to icon converter"
---
Title: Image to icon converter
About: It's a GUI script in python
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this i will create a GUI Script that takes any .png, .jpg, or any image and convert it to .ico file i.e. icon file.
This icon file is used to change the icon in any website title bar, or and gui wi

[2021-06-16 16:02] Nithin2528 commented on #292
Okay.
How to add those templates I'm unable to add them while creating the issue? @prathimacode-hub

[2021-06-16 16:15] Parth-Shete commented on #277
@palakagarwal5230  I would like to work on this issue.

[2021-06-16 16:18] Parth-Shete commented on #227
@archismansaha I would like to work on this issue and I will get this issue done in 1-2 days.

[2021-06-16 16:22] Parth-Shete commented on #118
@prathimacode-hub I would like to work on this issue.

[2021-06-16 16:22] Parth-Shete commented on #79
@prathimacode-hub can I work on this issue?

[2021-06-16 16:23] Parth-Shete commented on #50
@neelshah2409 Can I work on this issue? Please assign me this issue.

[2021-06-16 16:28] pratimakush10 opened #301 "Given integer to Roman numerals"
Title : Given integer to Roman Numerals
About : input integer and that integer convert into roman numerals.
Name : Pratima Kushwaha
Label : Feature Request
Assignee :

LGM-SOC'21: Participant

Description : I would like to implement basic python script conversion of integer to roman numerals can you please assign this to me?

[2021-06-16 16:54] prathimacode-hub commented on #227
This issue is already taken and ready to be merged. See the label. If you want to work on any issue, kindly open up using the template given. @Parth-Shete

[2021-06-16 17:02] prathimacode-hub commented on #277
@Parth-Shete You kindly raise your own issue, you want to work on. Participants raise their own issue to show their interest and get assigned to.

[2021-06-16 17:06] prathimacode-hub commented on #298
Interesting issue. That's awesome. This issue is allotted to you. You can proceed. @akash435

[2021-06-16 17:07] prathimacode-hub commented on #301
Sure, this issue is assigned to you. You can start working. @pratimakush10

[2021-06-16 17:08] prathimacode-hub commented on #292
You can check with the assigned issues to know how templates look like. Why did you close the issue? You should never close it from your end. @Nithin2528

[2021-06-16 17:10] Nithin2528 commented on #292
I've checked that ma'am I understood that but I didn't understand how to use them.
I did not close the issue ma'am ☹️ @prathimacode-hub

[2021-06-16 17:11] akash435 commented on #298
Thanks

[2021-06-16 17:15] prathimacode-hub commented on #118
@Parth-Shete I already said raise your own issue to work on using the template given in README file of the project. Don't comment on other's issue.

[2021-06-16 17:17] prathimacode-hub commented on #50
This issue is already done. @Parth-Shete

[2021-06-16 17:17] prathimacode-hub commented on #79
Go through the README and CONTRIBUTING GUIDELINES of the project to know how to proceed. @Parth-Shete

[2021-06-16 17:55] #235 closed

[2021-06-16 19:42] ishitakapoor26 opened #302 "Add contributing guidelines in readme.md"
Add contributing guidelines in readme.md

[2021-06-16 19:43] ishitakapoor26 commented on #302
@prathimacode-hub pls assign this issue to me.

[2021-06-16 19:44] ishitakapoor26 opened #303 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:44] ishitakapoor26 commented on #303
@prathimacode-hub pls assign this issue to me.

[2021-06-17 03:23] #205 closed

[2021-06-17 03:27] #289 closed

[2021-06-17 03:31] Debashish-hub commented on #302
Contributing Guidelines is already present and to get an issue assigned to you please follow the issue template @ishitakapoor26

[2021-06-17 03:34] Debashish-hub commented on #134
Hey @singhmansi25 Feel free to ask if you are facing any problem

[2021-06-17 03:36] Debashish-hub commented on #160
Hey @sambit221 Is everything going good. No updates since 5 days.

[2021-06-17 03:50] Paras0-7 opened #305 "Python script to get the map of a city."
This python script will get the map of the location provided by the user.
@prathimacode-hub  Can you assign me this issue under LGM -SOC'21.

[2021-06-17 03:54] Debashish-hub commented on #305
Please be elaborative and follow the issue template @Paras0-7

[2021-06-17 04:48] sahilsingh2402 opened #306 "Chess Game"
**Title :** Chess Game in python
**About :** Two player chess game in python
**Name :** Sahil Singh
**Label :** Feature Request
**Assignee :**

**LGM-SOC'21:** Participant

**Description :** I would like to create a simple two player chess game in python using some of its libraries. Please assign this to me. @prathimacode-hub

[2021-06-17 05:19] neelshah2409 opened #307 "Converting Text To Audio"
Title: Converting Text To Audio
About: Here we will convert text to audio using pyttsx3 and pyPDF library of python.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Description: Many times we get bored of reading so why not we convert that pdf to audio book .We can do that using pyttsx3 and pyPDF library .Here we can also specify th

[2021-06-17 05:59] prathimacode-hub commented on #307
This issue is already done. You can take up an another issue to work on.👍 @neelshah2409

[2021-06-17 06:02] prathimacode-hub commented on #306
Sure, you can proceed. This issue is assigned to you. @sahilsingh2402

[2021-06-17 06:07] Priyanshi-Rai commented on #277
@prathimacode-hub i would like to contribute in this project

[2021-06-17 06:14] Priyanshi-Rai opened #311 "Checking an Armstrong/Narcissistic number"
Title : Is it an Armstrong or not

About : We will check here whether the number is an armstrong no. or not by using some basic python commands.
Name : Priyanshi Rai
Label : Feature request
Script : BasicPythonScript

Define you:
- [x] LMG SOC'21 Participant
- [x] Contributor
---------------------------------------------------------------------------------------------------------------------------

[2021-06-17 06:15] Nithin2528 opened #312 "Rock paper Scissor Game"
Rock Paper Scissor Game using Python.

[2021-06-17 06:17] SravanithaGatti opened #313 "Bug in Alarm Clock, Basic Python Scripts"
Title | About | Name | Label | Assignee
-- | -- | -- | -- | --
Alarm Clock in Basic Python Scripts | improving program so that it functions well in all cases.| Sravanitha Gatti | Bug Report | &nbsp;

<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quo

[2021-06-17 06:19] prathimacode-hub commented on #311
Your issue needsa template. You can check up with other assigned issues to know how template looks like. @Priyanshi-Rai

[2021-06-17 06:21] prathimacode-hub commented on #312
This is already done. Take up an another issue to work on. Before you raise an issue, check if it's already in the repo or it's been assigned. One more thing while raising an issue, follow the template given to get issues assigned to you.
@Nithin2528

[2021-06-17 06:24] Nithin2528 commented on #312
Where can I check if the issue's already been raisen?
Ma'am I didn't get to know how to add those templates or labels of LGMSOC
@prathimacode-hub

[2021-06-17 06:24] prathimacode-hub commented on #313
Sure, that's a good initation from you. You can take up this issue as an enhancement but while you upgrade the project, kindly create separate README.md file for your changes done. Others, can be merged together. This issue is assigned to you. @SravanithaGatti

[2021-06-17 06:29] prathimacode-hub commented on #312
You can refer other assigned issues to know how template looks like. And to see if issue is been raised, you can check up with issues that are already assigned. Also in the repo, to see if issue is already available or not. @Nithin2528

[2021-06-17 06:31] Nithin2528 commented on #312
Okay ma'am@prathimacode-hub

[2021-06-17 06:32] #305 closed

[2021-06-17 06:34] Paras0-7 opened #314 "Script to get a map of a city"
I want to add a new Python script that will fetch the map of the city provided by the user and save it for the user.
@prathimacode-hub Please assign it to me under LGM-SoC'21.

[2021-06-17 06:37] prathimacode-hub commented on #305
Why did you close the issue? @Paras0-7

[2021-06-17 06:38] Paras0-7 commented on #305
I thought I need to create a new one.

[2021-06-17 06:39] prathimacode-hub commented on #305
You should never close from your end. Kindly remember that next time. @Paras0-7

[2021-06-17 06:45] prathimacode-hub commented on #314
Template please. @Paras0-7

[2021-06-17 06:47] DhirajChauhan40 opened #315 "Script to display the calendar of the given date"

[2021-06-17 06:49] prathimacode-hub commented on #315
This issue is already taken and follow the template given to raise the issue. @DhirajChauhan40

[2021-06-17 06:51] DhirajChauhan40 commented on #315
sorry my bad
Next time i will make sure

[2021-06-17 06:51] #315 closed

[2021-06-17 06:54] prathimacode-hub commented on #311
All the best, this issue is assigned to you. Welcome to the repo. @Priyanshi-Rai

[2021-06-17 07:11] #298 closed

[2021-06-17 07:13] #181 closed

[2021-06-17 07:14] #228 closed

[2021-06-17 07:15] prathimacode-hub commented on #315
You should never close issue or PR from your end. @DhirajChauhan40

[2021-06-17 07:19] DhirajChauhan40 commented on #315
@prathimacode-hub
I'm so sorry, I didn't know about that,
I'm new to this open-source, I will make sure next time
 I won't do that mistake
should i open again?

[2021-06-17 07:25] manognyaa opened #316 "paintme"
---
Title: paintme
About: Have you ever heard of painting on air ?
 yes, it's possible. adding a silver line to it, it is quite interesting. My project is all about painting on air.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**

**Approach to be followed (optional):**
I will be us

[2021-06-17 07:33] manognyaa commented on #316
Thank you mam. @prathimacode-hub

[2021-06-17 07:40] ishitakapoor26 commented on #303
Like this

![score card](https://user-images.githubusercontent.com/78542333/122353172-6c486200-cf6d-11eb-8ba0-70426ccaab5f.PNG)

[2021-06-17 07:57] DhirajChauhan40 commented on #315
@prathimacode-hub I wanted to ask if I wanna add some existing features to an already merged issue, can I do it?

[2021-06-17 08:00] #261 closed

[2021-06-17 08:00] #312 closed

[2021-06-17 08:02] #265 closed

[2021-06-17 08:03] #268 closed

[2021-06-17 08:04] neelshah2409 opened #318 "Adventure Based Game(Text Game)"
Title: Adventure Based Game
About: It will be a adventure like fun game ,here questions will be prompted like you want to run or jump and at the end if you give all correct answer then you won.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
 - [ ] Contributor
Describe the solution: I would write a python script for this adventure like fun game.

[2021-06-17 08:05] #157 closed

[2021-06-17 08:06] #152 closed

[2021-06-17 08:07] #50 closed

[2021-06-17 08:08] #178 closed

[2021-06-17 08:09] #127 closed

[2021-06-17 08:11] prathimacode-hub commented on #74
https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/PyGamesScripts/Snake%20Game This is the link of snake game which has been approved. @sambit221

[2021-06-17 08:12] siddhi-244 opened #320 "Can i add Checklist app in python"
Title: Checklist app in python
About: It will be basically a todo list app where you can add, delete and save your tasks
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

Define You:

[x] LGM-SOC'21 Participant
 Contributor
Describe the solution: I would write a python script for this app

[2021-06-17 08:12] #290 closed

[2021-06-17 08:13] #307 closed

[2021-06-17 08:15] prathimacode-hub commented on #318
Sure, this issue is assigned to you. you can proceed. @neelshah2409

[2021-06-17 08:15] neelshah2409 opened #321 "Desktop Notification"
Title: Desktop Notification
About: In this busy schedule people always forget to take a break so it will be great if we remind them so we can make a desktop notifier which can show them a notification conveying them like it had been 2 hours working take a break.
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor
Describe the solution: S

[2021-06-17 08:16] prathimacode-hub commented on #320
Kindly follow the issue template to get issue assigned to you. You can refer with other assigned issues, to know how it looks like. @siddhi-244

[2021-06-17 08:16] prathimacode-hub commented on #321
One by one please. Other issue is already assigned to you.
@neelshah2409

[2021-06-17 08:18] prathimacode-hub commented on #315
Yes, you can enhance the project more deeper. @DhirajChauhan40

[2021-06-17 08:19] siddhi-244 commented on #320
@prathimacode-hub  done

[2021-06-17 08:24] prathimacode-hub commented on #320
You can proceed. This task is assigned to you. @siddhi-244

[2021-06-17 08:25] siddhi-244 commented on #320
Thank you !

[2021-06-17 08:52] SravanithaGatti commented on #313
Sure.

[2021-06-17 09:03] DhirajChauhan40 commented on #315
@prathimacode-hub i would like to make a mad libs game , is this already taken?

[2021-06-17 09:24] prathimacode-hub commented on #315
It's already taken and merged. @DhirajChauhan40

[2021-06-17 09:42] DhirajChauhan40 commented on #315
@prathimacode-hub can you tell me a way to search the issues and merged things, without going into every folder?

[2021-06-17 09:43] jayant766 commented on #79
Please assign it to me under LGMSOC'21

[2021-06-17 09:44] jayant766 commented on #72
Please assign it to me under LGMSOC'21

[2021-06-17 09:46] prathimacode-hub commented on #79
This issue is already assigned, check on with the label. If you want to work on issue, create on own using the template given. Don't comment on issues created. @jayant766

[2021-06-17 09:47] prathimacode-hub commented on #321
This issue is assigned to you. You can proceed. @neelshah2409

[2021-06-17 09:51] akash435 opened #326 "Zodiac Sign Finder"
---
Title: Zodiac Sign Finder
About: It's a GUI script in python
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this user will input his/her date and month of his/her D.O.B. (Date Of Birth), and output will get is his/her correspoding gui, with little information about corresponding zodiac sign.

The GUI will be

[2021-06-17 09:52] prathimacode-hub commented on #315
This is how it's checked. No shortcuts. You can check through issues and pr tab. @DhirajChauhan40

[2021-06-17 09:52] akash435 commented on #326
@prathimacode-hub , if this is valid please assign this to me under LGM SOC, can add this under GUIScripts.

[2021-06-17 09:54] palakagarwal5230 commented on #277
Done!

[2021-06-17 09:56] prathimacode-hub commented on #277
This issue is assigned to you. You can proceed. @palakagarwal5230

[2021-06-17 09:57] prathimacode-hub commented on #326
Yeah, sure. This issue is assigned to you. You can start working on it. @akash435

[2021-06-17 10:03] akash435 commented on #326
thanks

[2021-06-17 10:26] #318 closed

[2021-06-17 10:27] #251 closed

[2021-06-17 10:29] #316 closed

[2021-06-17 12:15] manognyaa commented on #92
hello mam,
can you please assign me this issue @prathimacode-hub mam

[2021-06-17 13:03] prathimacode-hub commented on #92
Sorry to say, but this issue is already taken. You can take up some other issue to work on. No worries. @manognyaa

[2021-06-17 13:21] #321 closed

[2021-06-18 03:48] #156 closed

[2021-06-18 03:50] #326 closed

[2021-06-18 03:54] Debashish-hub commented on #72
This has been assigned already. You can create a new issue @jayant766

[2021-06-18 03:57] #134 closed

[2021-06-18 04:53] neelshah2409 opened #332 "Distance Between Two Places"
Title : Distance Between Two Places
About : We can find distance by getting their longitude and latitude using geopy library.
Name : Neel Shah
Label : Feature Request
Assignee :

- [x] LGM-SOC'21: Participant

Description : So here we can find distance between any two places places using geopy library by getting their longitudes and latitudes.

[2021-06-18 04:59] Debashish-hub commented on #180
Hey @Iamtripathisatyam No updates since 5 days

[2021-06-18 05:57] Ashu-1309 opened #333 "Temperature Converter"
I would like to create a converter that will be use to convert Celsius into Fahrenheit and vice versa.

[2021-06-18 05:58] Ashu-1309 commented on #333
Can you assign me this work.

[2021-06-18 06:00] Ashu-1309 commented on #332
I want to work on this code . can you assign me this work.

[2021-06-18 06:02] Debashish-hub commented on #333
Do follow the issue template and be elaborative @Ashu-1309

[2021-06-18 06:05] Debashish-hub commented on #170
Hey @Nihir2904 No updates since 5 days. Is everything going good?

[2021-06-18 06:23] Ashu-1309 commented on #333
Title : Temperature  Converter
About : Through this code, we will able to convert Celsius into Fahrenheit and Fahrenheit into Celsius.
Name : ASHUTOSH KUMAR SAW
Label : Feature Request
Assign:"

Define You:
LGM-SOC'21 Participant
Contributor

[2021-06-18 07:13] prathimacode-hub commented on #333
Yup, this issue is assigned to you. You can start working on it. @Ashu-1309

[2021-06-18 07:14] Ashu-1309 commented on #333
Thank you

[2021-06-18 07:15] prathimacode-hub commented on #332
This issue is already taken and merged, kindly take up an another issue to work on. @neelshah2409

There is already an issue assigned to you. @Ashu-1309

[2021-06-18 07:15] #332 closed

[2021-06-18 08:08] manognyaa opened #334 "encode decode"
---
Title: Encode Decode
About: This issue is all about to encode and decode messages using a common key.
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**

**Approach to be followed (optional):**
I will be using python for this work.

@prathimacode-hub mam, @Debashish-hub sir, please

[2021-06-18 08:38] neelshah2409 opened #335 "Grade Calculator GUI"
Title: Grade Calculator GUI
About : We will check here grade of three subjects and it will calculate average ,total and Pass/Fail.
Name : Neel Shah
Label : Feature request

Define you:

- [x] LMG SOC'21 Participant
    Contributor

Description: We will use tkinter to generate a gui grade calculator ,so we just need to give the marks of subject as input and we will get average ,total and status of

[2021-06-18 08:46] Nihir2904 commented on #170
yeah everything is fine, will be creating a pull request today.

[2021-06-18 10:58] #247 closed

[2021-06-18 11:13] prathimacode-hub commented on #170
Good to know. @Nihir2904

[2021-06-18 11:16] siddhi-244 commented on #320
Maam I am done with the project can uh tell me the further steps to make a pr! @prathimacode-hub

[2021-06-18 11:25] prathimacode-hub commented on #320
Sure, I shall guide you. Are you new to github? @siddhi-244

[2021-06-18 11:26] siddhi-244 commented on #320
No no I can make a pr but there must be some documentation rules !

[2021-06-18 11:27] siddhi-244 commented on #320
I want to know about the documentation rules

[2021-06-18 11:34] prathimacode-hub commented on #335
I thought, you would take up a higher level issue next time. Are u sure you want to work on this? 🙂@neelshah2409

[2021-06-18 11:35] prathimacode-hub commented on #320
Documentation rules are provided in README and CONTRIBUTING GUIDELINES of the project repo. @siddhi-244

[2021-06-18 11:44] siddhi-244 commented on #320
Ok thank you I will be doing it till the eve.

[2021-06-18 11:52] prathimacode-hub commented on #334
Yes, this issue is assigned to you. You can proceed. @manognyaa

[2021-06-18 12:00] #293 closed

[2021-06-18 12:00] neelshah2409 opened #338 "Wifi Password Fetcher"
Title: Wifi Password Fetcher
About : We will get all the wifi passwords from the device using the subprocess library and its function and copying to our clipboard using pyperclip.
Name : Neel Shah
Label : Feature request

Define you:

- [x]  LMG SOC'21 Participant
- [ ] Contributor

Description: Here we will fetch all the wifi passwords that were once used on the device using subprocess lib and th

[2021-06-18 12:03] prathimacode-hub commented on #338
Oh, interesting project. Shall I assign this issue to you. @neelshah2409

[2021-06-18 12:04] neelshah2409 commented on #335
Okay mam Please assign me another issue first then this.

[2021-06-18 12:06] prathimacode-hub commented on #338
Sure, this issue is assigned it to you. You can proceed. @neelshah2409

[2021-06-18 12:06] neelshah2409 commented on #338
yes mam ,Please assign me.

[2021-06-18 12:57] siddhi-244 commented on #320
Please check my pr @prathimacode-hub

[2021-06-18 14:37] akash435 opened #342 "Add Splash Screen to Zodiac Sign Finder script in GUIScripts"
---
Title: Add splash screen to Zodiac Sign Finder Script
About: It's a GUI script in python
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In the Zodiac Sign Finder Script that is in GUI script, want to add splash screen before the main window opens.
The splash screen will appear for 10 sec before the application o

[2021-06-18 14:39] akash435 commented on #342
@prathimacode-hub , if this enhancement is script is valid then please assign me this under LGM SOC, I can add this splash screen before the main window of Zodiac Sign Finder Script opens.

[2021-06-18 15:20] Iamtripathisatyam commented on #180
Sorry sir, I am working on making my project.

[2021-06-18 16:13] Adarsh357 opened #344 "Facts_Generator"

[2021-06-18 16:15] prathimacode-hub commented on #344
First, you have to create an issue and get it assigned to you. Then you have to start working on it and do a PR. This is not the right format. And also all templates are mentioned in README file of the project. @Adarsh357

[2021-06-18 16:16] Adarsh357 commented on #344
Ok

[2021-06-18 16:54] AmitGupta700 opened #345 "Current Time Stamps Using Pendulum Library"
---
Title: Current Time Stamps Using Pendulum Library
About: Implementation of Current Time Stamps Using Pendulum Library
Name: Amit Gupta
Label: Feature Request
Assignee: ''
---
Define You:

- [x] LGM-SOC'21 Participant
 Contributor

I'll write a Python script to create a current timestamp using the **pendulum** library. As a result, it will give the current date and time of your current zone and

[2021-06-19 02:41] akash435 opened #347 "Unscramble the Word game in Python"
---
Title: Unscramble the Word game
About: It's a script under PyGames Script.
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this games we will be given some unscrambled word and we need to correct it, and finally see the result.

Following is the screenshot how it looks like,
![1](https://user-images.githubuser

[2021-06-19 02:42] akash435 commented on #347
@prathimacode-hub , please assign me this under LGM SOC, can add this under PyGames Scripts.

[2021-06-19 04:09] Debashish-hub commented on #347
A similar script is already there  #175
You can choose some other issue @akash435

[2021-06-19 04:17] akash435 commented on #347
ok

[2021-06-19 04:26] Debashish-hub commented on #123
Hey @suvrashaw Is everything fine

[2021-06-19 04:27] Debashish-hub commented on #130
Hey @AmitGupta700 Is everything going good, No updates since 5 days

[2021-06-19 04:30] Debashish-hub commented on #180
Ok. Complete it as soon as possible @Iamtripathisatyam

[2021-06-19 04:32] Debashish-hub commented on #345
Please complete the previous issues assigned to you first  to get another issue @AmitGupta700

[2021-06-19 04:37] AmitGupta700 commented on #345
Sir I have completed and it is merged.

[2021-06-19 04:42] Debashish-hub commented on #345
#200 #130

[2021-06-19 04:45] neelshah2409 opened #348 "Caterpillar Game GUI"
Title: Caterpillar Game GUI
About : Here we will have a game using turtle in which there will be caterpillar and it needs to grass to survive so as it eats grass, its speed increases and as soon as it leaves the frame the game ends.
Name : Neel Shah
Label : Feature request

Define you:

- [x]  LMG SOC'21 Participant
 - [ ] Contributor

Description:
Here using the turtle and random library we make

[2021-06-19 05:02] AmitGupta700 commented on #345
Sir I have seen both it is completed

[2021-06-19 05:11] #130 closed

[2021-06-19 05:11] #200 closed

[2021-06-19 05:14] Debashish-hub commented on #345
Sorry for the inconvenience, You can now work on this issue. It is assigned to you @AmitGupta700
Great work till now and a lot more to get from you

[2021-06-19 05:17] Debashish-hub commented on #348
Sound interesting. This issue is assigned to you @neelshah2409

[2021-06-19 05:18] #338 closed

[2021-06-19 06:03] Iamtripathisatyam commented on #180
Ok, sir
Thank you so much

[2021-06-19 06:05] abhisheks008 opened #349 "Reddit Bot"
Title : Reddit Bot
About : Reddit is a handy platform, and many people want to be online as much as they can. I can program a bot that monitors subreddits and reports whenever they find something useful. It will save Redditors a lot of time and provide helpful information with it.
Name : Abhishek Sharma
Label : Feature Request

Define you:
- [x] LGMSOC Participant

Description :
This reddit bot wi

[2021-06-19 06:39] prathimacode-hub commented on #349
Interesting, this issue is assigned to you. You can proceed. @abhisheks008

[2021-06-19 06:40] Ashu-1309 commented on #119
Can you assign me this project I want  to work on tis project.

[2021-06-19 08:11] prathimacode-hub commented on #342
Sure, you can add up your enhancement. Only thing is create separate README file for the work you do. Others can be brought out together. Good Initiation. @akash435

[2021-06-19 08:12] prathimacode-hub commented on #333
Why had closed your PR? @Ashu-1309

[2021-06-19 08:29] neelshah2409 opened #354 "Mobile Recharge Plan Detailer"
Title: Mobile Recharge Plan Detailer
About : we can get all the recharge plans by fetching it from website using requests and bs4 libraries
Name : Neel Shah
Label : Feature request

Define you:

- [x] LMG SOC'21 Participant
- [ ] Contributor

Description: We ca get all the plans of all service providers (i.e. jio , airtel , etc.) by running a script having requests and bs4 libraries   and it will

[2021-06-19 08:41] Khushi-sharma07 opened #355 "Topic: Add a Splash Screen to Calculator App"

[2021-06-19 08:46] #355 closed

[2021-06-19 09:00] prathimacode-hub commented on #354
You have changes to be addressed in your last PR, once you do that, this issue would be assigned to you. @neelshah2409

[2021-06-19 09:01] prathimacode-hub commented on #355
Your should never close an issue or PR from your end. @Khushi-sharma07

[2021-06-19 09:06] Khushi-sharma07 opened #357 "Add Splash Screen and Logo to Calculator App"
Title: Add Splash Screen and Logo to Calculator App In GUI Scripts
Name: Khushi Sharma
Label: Feature Request
Assignee: ''  ---
Define You:  -

- [x]  LGM-SOC'21 Participant
- [ ] - Contributor

Have you talked to any of the Moderators or Project Admin (Prathima Kadari) before creating this issue? Yes

Description:
In the Calculator App that is in GUI Script the logo is missing and also there is n

[2021-06-19 09:08] prathimacode-hub commented on #357
Sure, this issue is assigned to you. You can proceed. All the best. @Khushi-sharma07

[2021-06-19 09:11] Khushi-sharma07 commented on #357
Thank you mam

[2021-06-19 09:51] #227 closed

[2021-06-19 09:52] #199 closed

[2021-06-19 09:53] #171 closed

[2021-06-19 09:56] prathimacode-hub commented on #180
@Debashish-hub, this project is approved and merged.

@Iamtripathisatyam, you finished this project. Have you forgotten?

[2021-06-19 09:57] #180 closed

[2021-06-19 10:01] Ashu-1309 commented on #333
It was done by mistake .

[2021-06-19 10:02] #154 closed

[2021-06-19 10:02] #92 closed

[2021-06-19 10:03] prathimacode-hub commented on #79
It's been 8 days. As said, time to complete PR is only 5 days and no update since then. I already mentioned, you should update your progress once in 2 days. @Yash-Sakre

[2021-06-19 10:09] #280 closed

[2021-06-19 10:11] #291 closed

[2021-06-19 10:12] prathimacode-hub commented on #303
Do you want to work on thism like you did for other repo? @ishitakapoor26

[2021-06-19 10:14] prathimacode-hub commented on #333
You should never close your issues or PR from your end. Kindly reopen the PR and work on your project. @Ashu-1309

[2021-06-19 10:19] #347 closed

[2021-06-19 10:22] prathimacode-hub commented on #37
Shall I close this issue, if you had learnt open source. @archismansaha

[2021-06-19 10:25] akash435 opened #358 "Missing Alphabet Game in Python"
---
Title: Missing alphabet game in python
About: It's a PyGames script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Want to add this game under PyGames script.

In this the user will be given one by one upto 20 words with missing alphabet, and user input to enter the correct missing alphabet,
And at any time user

[2021-06-19 10:28] Ashu-1309 commented on #333
I open the PR .it is ready to merge , Can you please check it .

[2021-06-19 10:28] prathimacode-hub commented on #358
Interesting, this project is assigned to you. You can proceed. @akash435

[2021-06-19 10:29] akash435 commented on #358
Thanks mam

[2021-06-19 10:30] ishitakapoor26 commented on #303
ya sure!

[2021-06-19 10:42] archismansaha commented on #37
@prathimacode-hub yes mam.. thx for guiding me 😊 if I would have any problem I will reach you

[2021-06-19 10:47] prathimacode-hub commented on #37
Sure, you're always welcome to reach me out. @archismansaha

[2021-06-19 10:47] #37 closed

[2021-06-19 10:48] prathimacode-hub commented on #303
Go ahead. Issue assigned. @ishitakapoor26

[2021-06-19 10:49] Ashu-1309 opened #359 "ALL IN ONE CONVERTER"

[2021-06-19 10:51] prathimacode-hub commented on #333
I had checked and reverted with the things to be done.

[2021-06-19 10:53] prathimacode-hub commented on #359
Kindly first finish off the changes I had asked for in your earlier PR. And as well don't hurry. Go one by one. This template is not right.

[2021-06-19 10:59] #348 closed

[2021-06-19 11:01] #345 closed

[2021-06-19 11:02] #72 closed

[2021-06-19 11:04] #218 closed

[2021-06-19 11:05] #301 closed

[2021-06-19 11:06] #320 closed

[2021-06-19 14:53] chandu6111 opened #363 "WhatsApp Message Automation using python"
**Title**: WhatsApp Message Automation using Python
**Name**: Chandana (chandu6111)
**Label**: Feature Request

**Description of the Script**:
It's a script to send a message to a person on WhatsApp, the program takes 3 inputs:
- phone number of the person to whom the message is to be sent
- The text the user wants to send
- Time at which message has to be sent
- And it sends the message at that t

[2021-06-19 14:55] chandu6111 commented on #363
@prathimacode-hub please assign me this issue under LGM-SOC'21

[2021-06-19 15:29] abhisheks008 opened #364 "Web Browser Creation using Python"
Project Name : Creating a Web Browser using Python script

Description : Python programming language is used here to create a web browser, which will work as a common web browser those we are using in our daily life like, google chrome, mozilla firefox, microsoft edge etc.

Libraries used : Tkinter, re and many more basic libraries.

- [x]  LGMSOC Participant

Task Taken : Creating the Web Browser

[2021-06-19 15:31] prathimacode-hub commented on #364
This issue is assigned to you. You can go ahead. @abhisheks008

[2021-06-19 17:32] rishabhrathore055 commented on #255
@prathimacode-hub   Pls assign me this issue

[2021-06-19 17:33] prathimacode-hub commented on #255
If you want to work on this issue, kindly raise up a new issue using the template given. @rishabhrathore055

[2021-06-19 17:59] neelshah2409 commented on #354
Mam please see this and assign me.

[2021-06-19 18:31] AK-Subodh commented on #207
Status Update: GUI completed, Classes for functionality are made. Adding functionality and compilation of code is remaining .

[2021-06-19 19:00] ishitakapoor26 opened #369 "Sentiment Classifier in Python"
Project Name:
Sentiment Classifier

Description:
A Sentiment Classifier is a program which will detect how positive or negative each tweet is. Also I will add a csv file, which contains columns for the Number of Retweets, Number of Replies, Positive Score (which is how many happy words are in the tweet), Negative Score (which is how many angry words are in the tweet), and the Net Score for each tw

[2021-06-19 19:00] ishitakapoor26 commented on #369
@prathimacode-hub pls assign this issue to me.

[2021-06-19 19:04] akash435 opened #370 "End Result Predictor in TIC TAC TOE Game"
---
Title: Result Predictor in TIC TAC TOE Game
About: It's a BasicPython script
Name: Akash Ramanand Rajak
Label: feature request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

In this script , we allow user to fill the TIC TAC TOE board for with 'X', 'O' and 'empty space'
and there will be a guess button, clicking on which gives the end result of game, like who w

[2021-06-19 19:06] akash435 commented on #370
@prathimacode-hub , if we can do something like this in script, then please assign me this under LGM SOC, can add this script.

[2021-06-20 04:02] #334 closed

[2021-06-20 04:10] Debashish-hub commented on #369
Please follow the issue template to get an issue assigned to you and prior to that complete the previous issue assigned to you @ishitakapoor26

[2021-06-20 04:17] Debashish-hub commented on #231
You have not created a valid PR for this @HitainKakkar

[2021-06-20 04:44] HitainKakkar commented on #231
No Problem!!
I will create a new  PR!!

[2021-06-20 06:53] ishitakapoor26 commented on #369
I've completed the previous issue but my pr is not merged yet.

[2021-06-20 06:59] Debashish-hub commented on #369
You have been asked for changes there @ishitakapoor26

[2021-06-20 07:13] prakhar07msd opened #371 "Scientific calculator"
Title: Scientific calculator
About: It's a scientific calculator using tkinker GUI
Name: Prakhar Agarwal
Label: feature request
Assignee: ''

Define You:

 LGM-SOC'21 Participant

In this project, scientific calculator is used for scientific calculations and this one is made using tkinker GUI in python

[2021-06-20 07:46] rammya29 commented on #335
I want to work on this. Even though it is small project I would like to implement some new features, can you assign this to me?

[2021-06-20 07:52] rammya29 commented on #33
I like to contribute in this. I'm LGMSoC participant and I am new to open source, what I should I do, I'd I want to do the project?

[2021-06-20 08:42] neelshah2409 commented on #354
@Debashish-hub @prathimacode-hub Please assign this issue.

[2021-06-20 08:49] AmitGupta700 opened #372 "Crack Any Password"
---
Title: Crack Any Password Using python
About: Implementation of Crack Any Password Using Python with a brute force attack.
Name: Amit Gupta
Label: Feature Request
Assignee: ''
---
Define You:

- [x] LGM-SOC'21 Participant
 Contributor

I'll write a Python script to create a program that will crack any password using python with a brute force attack. So, the process is something like that we wi

[2021-06-20 10:25] manognyaa opened #373 "preview your link"
---
Title: Preview your link
About: Once, the person will enter the link where in the person want to preview, the computer will provide with title, description, and link of the website that the URL points to.
Every entry will have a time limit after which it will be updated (Data expires after 7 days)
Name: Manognya Dasika
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Par

[2021-06-20 10:48] prathimacode-hub commented on #373
Sure, this issue is assigned to you. You can proceed. @manognyaa

[2021-06-20 10:49] prathimacode-hub commented on #372
This issue is assigned to you. You can start working. @AmitGupta700

[2021-06-20 10:50] prathimacode-hub commented on #371
Sure, this is issue is assigned to you and can go ahead. @prakhar07msd

[2021-06-20 10:51] prathimacode-hub commented on #370
Are you adding up an enhancement to the available TicTacToe Game. @akash435

[2021-06-20 10:54] prathimacode-hub commented on #369
Yes, kindly do those changes for earlier PR. I don't think this is a sole python script. It comes under NLP. @ishitakapoor26

[2021-06-20 10:55] prathimacode-hub commented on #363
Sure, this issue is assigned to you. You can proceed working. @chandu6111

[2021-06-20 10:56] akash435 commented on #370
no mam , its not a game , it's a script that predict the end result from the intermediate position of TIC TAC TOE board.
so i want to work it as a new issue.

[2021-06-20 11:00] prathimacode-hub commented on #33
Kindly read the README and CONTRIBUTING GUIDELINES  of the project. There are templates to follow. Raise an issue of the project you're going to work on using template given and get it assigned to you to start working on it. @rammya29

[2021-06-20 11:14] rishabhrathore055 commented on #49
@prathimacode-hub Pls assign this issue

[2021-06-20 11:37] #303 closed

[2021-06-20 11:40] #210 closed

[2021-06-20 11:45] #358 closed

[2021-06-20 11:56] #266 closed

[2021-06-20 12:05] #342 closed

[2021-06-20 12:10] #349 closed

[2021-06-20 12:23] prathimacode-hub commented on #370
So you want this to be added as a separate script rather than enhancement? @akash435

[2021-06-20 12:27] akash435 commented on #370
yes man

[2021-06-20 12:28] prathimacode-hub commented on #354
Cool, this issue is assigned. You can proceed. @neelshah2409

[2021-06-20 12:29] prathimacode-hub commented on #370
Have separate scripts for tictactoe game might be sounding irrelevant. Instead you can enhance the project to add your script. @akash435

[2021-06-20 12:31] akash435 commented on #370
Can i do like this, i can give another python file in the same folder of TIC TAC TOE game which is already there and another readme for that

[2021-06-20 12:34] prathimacode-hub commented on #370
Ok, sure. That can be done. You can proceed. @akash435

[2021-06-20 12:35] akash435 commented on #370
Thanks mam

[2021-06-20 13:41] girija0707 opened #378 "A Notepad app in python"
Title:- Notepad app in python
About:- This app will help people write creative ideas and edit text
Name:- Girija Gupte
label:- Features request

Define you
LGMSOC'21 PARTICIPANT
Define your solution:- I would like to add python script for this app

[2021-06-20 14:06] prathimacode-hub commented on #378
Sorry to say, but this issue is already taken and got merged. Kindly take up an another issue to work on. @girija0707

[2021-06-20 14:21] #364 closed

[2021-06-20 14:30] #282 closed

[2021-06-20 14:32] prathimacode-hub commented on #335
You can raise it on own by creating up a new issue. @rammya29

[2021-06-20 14:42] Iamtripathisatyam opened #379 "Send Push Notification To Your Phone"
---
Title: Send Push Notification To Your Phone
About: Implementation of Push Notifier system using numerous libraries of Python.
Name: Satyam Tripathi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'll write a Python script that will send Push Notification to your phone using the Pushbullet module in Python.

[2021-06-20 14:48] prathimacode-hub commented on #207
Ok, cool. All the best. Try to complete PR asap. @AK-Subodh

[2021-06-20 14:52] prathimacode-hub commented on #379
Can you elaborate the issue? @Iamtripathisatyam

[2021-06-20 14:59] coding-geek21 opened #380 "Secure Password Maker"
---
Title:  Secure Password Generator
About: This is a application which will make our password more secure in such a way that it can also be remembered by us easily, this application will be built using basic python scripts
Name: Jayapritha N
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Pleas

[2021-06-20 15:04] prathimacode-hub commented on #380
Sorry to say, but this issue is already taken and merged. You can come up with an another issue to work on. @coding-geek21

[2021-06-20 15:07] coding-geek21 commented on #380
No problem @prathimacode-hub I will look for another issue. But this application will not generate password for us , instead if we give a password it will just make secure by adding uppercases and special characters ,

[2021-06-20 15:11] prathimacode-hub commented on #380
That's interesting but sounds similar right. You can do something. Later, you can add it as an enhancement to the existing project. @coding-geek21

[2021-06-20 15:12] coding-geek21 commented on #380
Sure

[2021-06-20 15:13] chandu6111 commented on #363
Where should I add the code @prathimacode-hub
Should I add under Automation Scripts?

[2021-06-20 15:14] prathimacode-hub commented on #363
Yes, right under Automation.

[2021-06-20 15:17] Iamtripathisatyam commented on #379
Ya, ma'am sure,
Essentially, this project will deliver notifications to all devices from a single system. We must first download the Pushbullet app on our phone or PC, then share the access token, and last, I will use that token to send you the notification on your device.

[2021-06-20 15:21] prathimacode-hub commented on #379
Ok, that's great. There was a similar script of sending notifications to mail, reason I asked for. But this is different, I had assigned this issue to you. @Iamtripathisatyam

[2021-06-20 15:21] coding-geek21 commented on #380
@prathimacode-hub Can i work on documentation?  I found that the contributors list is not updating automatically , and it's tedious task to add the contributors in readme file. Can i change that?

[2021-06-20 15:22] prathimacode-hub commented on #380
Ok, sure. You can work on documentation issues as well, but raise a separate issue stating the same. @coding-geek21

[2021-06-20 15:25] coding-geek21 commented on #380
Okay should i follow same template used for feature request?

[2021-06-20 15:28] prathimacode-hub commented on #380
Yes

[2021-06-20 15:33] coding-geek21 opened #381 "[Documentation] Automatically update the contributors list in Readme"
---
Title:  Automatically update the contributors list in Readme
About: Automatically update contributors using builtin code
Name: Jayapritha N
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**