[2021-07-21 12:16] akash435 commented on #825
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-21 12:17] Mannuel25 opened #826 "Password Generator"
---
Title: Password Generator
About: It's a CLI program that randomly generate secure passwords
Name: Tanimowo Emmanuel
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

This program accepts the desired password length from the user and generates a secure password based on the length entered.

[2021-07-21 12:18] Mannuel25 commented on #826
Kindly assign this to me as a contributor @prathimacode-hub. Thanks.

[2021-07-21 15:01] prathimacode-hub commented on #826
Sorry to say, but this issue is already done. You can come up with new issue but make sure it's not in the repo so that your efforts don't go wasted. @Mannuel25

[2021-07-21 15:02] prathimacode-hub commented on #825
Issue assigned. @akash435

[2021-07-21 15:04] #822 closed

[2021-07-21 15:59] Mannuel25 commented on #826
Oh, I did check the repo and I found only a password generator game, not a password generator. But, I'll definitely come up with another one and ensure it isn't present in the repo.

[2021-07-21 16:05] prathimacode-hub commented on #826
Yup, sure. All the best. 👍@Mannuel25

[2021-07-21 17:29] akash435 opened #828 "Video Property Fetcher"
---
Title: Video Property Fetcher
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

here user will be able to select any video and application will fetch the properties of that selected video

Video Properties l

[2021-07-21 17:30] akash435 commented on #828
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-21 18:20] Umesh-01 opened #829 "a voice recorder using python"
Title: Want to make a Voice Recorder using Python
Name: Umesh Singh
Label: Feature Request

Define You-
- [x] LGM-SOC'21 Participant
- [x] Contributor

Solution For Issue:
This feature will allow us to record our voice using a simple script written in python. I will be adding a working instruction for the project in the readme file with some screenshots.

[2021-07-21 18:35] Umesh-01 commented on #829
@prathimacode-hub mam may I work on this??

[2021-07-21 18:40] prathimacode-hub commented on #829
Issue assigned. @Umesh-01

[2021-07-21 18:41] prathimacode-hub commented on #828
Issue assigned. @akash435

[2021-07-22 04:52] akash435 opened #832 "Emoji Dictionary"
---
Title: Emoji Dictionary
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

here will allow user to enter any emoji in the text area and will be able to search that emoji meaning.

like
if user enter 😃, then d

[2021-07-22 04:52] akash435 commented on #832
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-22 04:57] #828 closed

[2021-07-22 05:03] #825 closed

[2021-07-22 05:05] Debashish-hub commented on #832
Issue assigned @akash435

[2021-07-22 07:50] akash435 opened #834 "Video Cropper"
---
Title: Video Croppe
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

Here first will ask user to select any video user want to crop
and also for the dimensions of cropping, like height & width

After along

[2021-07-22 07:52] akash435 commented on #834
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-22 08:07] #832 closed

[2021-07-22 08:19] prathimacode-hub commented on #834
Issue asigned. @akash435

[2021-07-22 08:24] neelshah2409 opened #835 "Telegram Bot"
Title: Telegram Bot
Name: Neel Shah
Label: Feature Request

Define You-

- [x] LGM-SOC'21 Participant
- [ ] Contributor

## Description:
Here we would assign the function to bot created by us using the BotFather like if we type hello in the telegram bot then it will reply something like I am fine how are you.
Here we will use the keys given by BotFather in our script and then give the functions to

[2021-07-22 08:38] prathimacode-hub commented on #835
Issue assigned. @neelshah2409

[2021-07-22 09:25] #254 closed

[2021-07-23 02:17] akash435 opened #840 "Image Noise Remover"
---
Title: Image Noise Remover
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

Here first will ask user to select any image from which user wants to remove noise
noise includes random brightness in

[2021-07-23 02:17] akash435 commented on #840
@prathimacode-hub @Debashish-hub  please assign this to me under LGM SOC.

[2021-07-23 06:58] prathimacode-hub commented on #840
Issue assigned. @akash435

[2021-07-23 07:00] #835 closed

[2021-07-23 07:03] #834 closed

[2021-07-23 07:18] #770 closed

[2021-07-23 07:26] #800 closed

[2021-07-23 08:17] akash435 opened #842 "Color Mixer"
---
Title: Color Mixer
About: It's an GUIscript
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

Here first will allow user to enter the colour in hex code along with its proportion.

Then application will show the output final color fo

[2021-07-23 08:17] akash435 commented on #842
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-23 08:20] #840 closed

[2021-07-23 08:20] prathimacode-hub commented on #842
Issue assigned. @akash435

[2021-07-23 08:31] Gaurav1401 opened #843 "Covid records"
---
Title: Covid casesAPI
About: It will show the records of corona cases around the world like Total deaths and active cases. The records will be updated after every 10 min.
Name: Gaurav Kumar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
The whol

[2021-07-23 08:32] Gaurav1401 commented on #843
@prathimacode-hub please assign me this issue :)

[2021-07-23 08:50] Debashish-hub commented on #843
It's already done @Gaurav1401
Check it once #205

[2021-07-23 08:53] Gaurav1401 commented on #843
Ohh alright, thanks for letting me know @Debashish-hub

[2021-07-23 08:58] Gaurav1401 commented on #843
@Debashish-hub but in that script, he is scraping data from another website and I am pulling data from an API. Also he is showing country wise data but I will be showing the whole world data,
please have a look at my project here, and please let me know your opinion @Debashish-hub  and @prathimacode-hub
https://github.com/Gaurav1401/Awesome_Python_Scripts/tree/main/APIScripts/Covid%20CasesAPI

[2021-07-23 09:49] prathimacode-hub commented on #843
Ok, you can proceed. Do add it up in "APIScripts" @Gaurav1401

[2021-07-23 09:57] #791 closed

[2021-07-23 13:52] akash435 opened #846 "Unicode and Emoji"
---
Title: Unicode to Emoji
About: It's an GUIscript
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

here user will be able to convert from unicode to emoji
and even vice  versa.

for eg.
\U0001f600  to  😀
and vice versa

[2021-07-23 13:52] akash435 commented on #846
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-23 15:19] prathimacode-hub commented on #846
Issue assigned. @akash435

[2021-07-23 15:20] prathimacode-hub commented on #826
You shouldn't close issues or PRs from your end
@Mannuel25

[2021-07-23 15:21] Gaurav1401 commented on #843
@prathimacode-hub mam, please have a look at my pull request

[2021-07-23 19:00] akash435 opened #848 "Image Segmentation"
---
Title: Image Segmentation
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI and OpenCv library.

This application will analyze the image and highlights the border or partition line in image, or bas

[2021-07-23 19:00] akash435 commented on #848
@prathimacode-hub @Debashish-hub ,please assign this to me under LGM SOC.

[2021-07-24 01:37] Debashish-hub commented on #848
Issue assigned @akash435

[2021-07-24 01:39] #842 closed

[2021-07-24 01:40] #846 closed

[2021-07-24 01:42] #843 closed

[2021-07-24 02:22] akash435 commented on #848
@Debashish-hubcan you please add the assigned and LGMSOC label also.

[2021-07-24 05:29] sumitsoni0907 commented on #1
I will create new script for peterson number. Is it valid?

[2021-07-24 06:08] akash435 opened #850 "Map Coloring"
---
Title: Map Coloring
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI and OpenCv library.

Here will allow user to select the image of map of any country, or state or district or any place with oul

[2021-07-24 06:08] akash435 commented on #850
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-24 06:35] neelshah2409 opened #851 "Pokedex GUI"
Title: Pokedex GUI
About: It's an GUI script
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

## Description:
- Pokedex is basically an electronic device which shows information regarding all the members of pokemon and its types.
- Here using the pypokedex library we will do the same thing , we will take n

[2021-07-24 12:20] prathimacode-hub commented on #851
Issue asigned. @neelshah2409

[2021-07-24 12:21] prathimacode-hub commented on #850
Issue assigned. @akash435

[2021-07-24 12:23] #848 closed

[2021-07-24 12:26] #660 closed

[2021-07-24 12:59] Mannuel25 commented on #826
Oh, my apologies.

[2021-07-24 16:39] akash435 opened #854 "Decode Image Game"
---
Title: Decode Image Game
About: It's an Pygames script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an image decoding game using tkinter GUI.

Here, there will be many levels and for each level player will be given an image, which is concatenation of different im

[2021-07-24 16:39] akash435 commented on #854
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-24 20:10] Mannuel25 opened #855 "Number Guessing Game"
---
Title: Number Guesing Game
About: A CLI Number guessing game
Name: Emmanuel Tanimowo
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

This is a game that allows you guess a number between the range of 1- 10 in just 7 trials.

[2021-07-24 20:11] Mannuel25 commented on #855
@prathimacode-hub kindly assign this to me as a contributor. Thanks.

[2021-07-25 03:29] Debashish-hub commented on #854
Issue assigned @akash435

[2021-07-25 03:31] #850 closed

[2021-07-25 03:33] #851 closed

[2021-07-25 03:57] slowy07 opened #856 "adding sorting script for algorithm in Awesome_Python_scripts"
Title : Sorting algorithm script
About : List All of sorting algorithm script
Name : [Arfy Slowy](https://github.com/slowy07)
Label : Feature Request
Assigne: ''

## Info about the related issue
- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

## information
hello, here i wanna create  some script sorting algorithm with python, i have some script about sorting algorithm

[2021-07-25 10:49] akash435 opened #858 "Object Counter in Image"
---
Title: Object Counter in Image
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an a simple object counting in image using tkinter GUI and OpenCv.

Here first allow user to select any image which has object in it, and the applica

[2021-07-25 10:49] akash435 commented on #858
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-25 14:14] #854 closed

[2021-07-25 14:15] prathimacode-hub commented on #858
Issue assigned. @akash435

[2021-07-25 14:15] prathimacode-hub commented on #855
I guess it's done once check it off. @Mannuel25

[2021-07-25 14:17] prathimacode-hub commented on #856
What's the project? This repo allows only projects not alogrithms. To contribute algorithms, you can creat an issue [here](https://github.com/prathimacode-hub/PyAlgo-Tree). All the best. @slowy07

[2021-07-25 14:17] prathimacode-hub commented on #826
No worries, I am just letting you know. @Mannuel25

[2021-07-25 14:22] slowy07 commented on #856
okay thanks !! @prathimacode-hub

[2021-07-25 14:22] #856 closed

[2021-07-25 19:23] Mannuel25 commented on #855
Yeah, just confirmed it.

[2021-07-25 20:53] DurgaSai-16 opened #859 "Hand Cricket"
|Title|About|Name|Label|
|-|-|-|-|
|Hand Cricket|Hand Cricket is similar to cricket game with numbers between User and Computer | [Nallani Durga Sai](https://github.com/DurgaSai-16)|Feature request|
---

**Define You:**

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Description:**
- This came can be made possible by using simple python concepts Loops and Conditional

[2021-07-26 03:58] akash435 opened #861 "Images Slideshow"
---
Title: Images Slideshow
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI.

Here will first ask user to select as many as images user want to make slideshow of that,
and the application will create

[2021-07-26 03:58] akash435 commented on #861
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-26 05:13] neelshah2409 opened #862 "Zip File Creator"
Title: Zip File Creator
About: To create zip file
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

- So here we will create a zip file having all the files that we wanted using zipfile library .
- Here all the files that we wanted in our zip file should be in the same folder as of script and the output zip

[2021-07-26 05:26] Debashish-hub commented on #862
Issue assigned @neelshah2409

[2021-07-26 05:27] Debashish-hub commented on #861
issue assigned @akash435

[2021-07-26 11:08] #858 closed

[2021-07-26 11:11] #862 closed

[2021-07-26 11:12] #861 closed

[2021-07-26 11:18] akash435 opened #865 "RGB to LAB Conversion"
---
Title: RGB to LAB Conversion
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will want to enhance the color converter script in GUIScript by adding RGB to LAB conversion also.

In this user will be able to  convert any RGB color to LAB conversion.
LAB

[2021-07-26 11:18] akash435 commented on #865
@prathimacode-hub @Debashish-hub , please assign this to me under LGM SOC.

[2021-07-26 11:25] prathimacode-hub commented on #865
Issue assigned. @akash435

[2021-07-26 11:26] prathimacode-hub commented on #859
Issue assigned. @DurgaSai-16

[2021-07-26 12:07] prathimacode-hub commented on #1
Yes, its valid. Once you complete earlier issue, you can create a new issue for this script. @sumitsoni0907

[2021-07-26 14:19] akash435 opened #867 "Text Summarizer"
---
Title: Text Summarizer
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI,

Here user will be able to any long text or paragraph and will be able to summarize that paragraph.

application will show the paragrap

[2021-07-26 14:19] akash435 commented on #867
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-26 14:34] tanujadasari opened #868 "Screen Recorder"
---
| Title |About | Name | Label |
|-|-|-|-|
|Screen Recorder| To build a screen recorder using Python with PyAuto GUI| [D Tanuja](https://github.com/tanujadasari)|Feature Request|

---

Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Description:**
In this script, will create Screen Recorder using PyAuto GUI,
In this user will be able to record the scre

[2021-07-26 14:51] prathimacode-hub commented on #868
Issue assigned. @tanujadasari

[2021-07-26 14:52] prathimacode-hub commented on #867
Issue assigned. @akash435

[2021-07-26 20:16] akash435 opened #870 "Video to Grayscale"
---
Title: Video to Grayscale
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI, and OpenCv library

Here user will be able to select any video (either .mp4, .mkv, .ovi or anyother format) and application will con

[2021-07-26 20:16] akash435 commented on #870
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-27 05:08] sumitsoni0907 opened #871 "Peterson Number"
| Title | About | Name | Label | Assignee|
| :----:  | :-----: | :----: | :----: | ----|
| Peterson Number| Peterson number means sum of factorials of each digit is equal to number itself | [Sumit Soni](https://github.com/sumitsoni0907) | Feature Request|

Define You:

- [ ] LGM-SOC'21 Participant
- [X] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please

[2021-07-27 06:01] neelshah2409 opened #872 "PNG To JPG Converter"
Title: PNG To JPG Converter
About: It's an GUI script
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
 - [ ] Contributor

Here using the tkinter we will make gui where there will be two buttons one for selecting the png file and other for converting the file. We will first select the png image and then we will give the name

[2021-07-27 06:02] neelshah2409 commented on #872
Please see this issue and assign me and had one query where to put the script in the gui section or image processing section?

[2021-07-27 07:55] prathimacode-hub commented on #872
This is already done I guess. @neelshah2409

[2021-07-27 07:55] prathimacode-hub commented on #871
Issue assigned. @sumitsoni0907

[2021-07-27 07:55] prathimacode-hub commented on #870
Issue assigned. @akash435

[2021-07-27 07:57] #867 closed

[2021-07-27 07:59] #865 closed

[2021-07-27 08:35] neelshah2409 commented on #872
Mam you can check it once ,please. If it is done than I would go with other one.

[2021-07-27 10:21] akash435 opened #874 "Image Contours Co-ordinates"
---
Title: Image Contours Co-ordinates
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI, and OpenCv library

Here user will be able to select any image with objects in it, and application will find al

[2021-07-27 10:21] akash435 commented on #874
@prathimacode-hub @Debashish-hub ,please assign this to me under LGM SOC.

[2021-07-28 05:52] neelshah2409 commented on #872
@prathimacode-hub Mam any update whether it is done or not?

[2021-07-28 06:02] prathimacode-hub commented on #872
You can check it [here](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/BasicPythonScripts/Document%20Converter%20App). You can do this as an enhancement if you would like to. Let me know of your interest so that I can assign. @neelshah2409

[2021-07-28 06:03] #870 closed

[2021-07-28 06:04] prathimacode-hub commented on #874
Issue assigned. @akash435

[2021-07-28 06:06] neelshah2409 opened #875 "Folder Content Sorter"
Title: Folder Content Sorter
About: here we sort the files
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
 - [ ] Contributor

- Here we will sort all the files of the folder as image , video, document and app/software and then we will merge all the files in their respective folder.
- Here we will use os and shutil library

[2021-07-28 06:57] prathimacode-hub commented on #875
Issue assigned. What about other issue opened? You don't want to work for it as an enhancement? @neelshah2409

[2021-07-28 07:37] neelshah2409 commented on #875
yes mam let it be as it is , I had an GUI script but the purpose was same so please close that issue.

[2021-07-28 07:47] akash435 opened #877 "RGB Color Palette"
---
Title: RGB Color Palette
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI,

Here will create palette scale for red, green and blue color
using which user will be able to change the same at any instant and see

[2021-07-28 11:50] #874 closed

[2021-07-28 11:51] #875 closed

[2021-07-28 11:51] Debashish-hub commented on #877
Issue assigned @akash435

[2021-07-28 12:51] akash435 opened #881 "Video Encryption Decryption"
---
Title: Video Encryption Decryption
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI and OpencV library,

Using this will allow user to select any video and will be able to encrypt video.
And if user tries to

[2021-07-28 12:51] akash435 commented on #881
@prathimacode-hub @Debashish-hub ,please assign this to me under LGM SOC.

[2021-07-28 13:28] #877 closed

[2021-07-28 14:05] prathimacode-hub commented on #881
Issue assigned. @akash435

[2021-07-28 16:33] #871 closed

[2021-07-29 05:12] neelshah2409 opened #882 "Snowfall Filter on Image"
Title: Snowfall Filter on Image
About: It's an image processing script
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

- Here we create a virtual snowfall on any image and it looks like the person or object in the image feels like having the snowfall .
- Here we use random and pygame to make small small w

[2021-07-29 05:18] Debashish-hub commented on #882
Issue assigned @neelshah2409

[2021-07-29 07:25] akash435 opened #884 "Color Difference"
---
Title: Color Difference
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI

Here will allow user to select any two color using color palette and application will tell user about the difference between both sele

[2021-07-29 07:25] akash435 commented on #884
@prathimacode-hub @Debashish-hub please assign this to me under LGM SOC.

[2021-07-29 09:58] #881 closed

[2021-07-29 09:59] #882 closed

[2021-07-29 10:00] Debashish-hub commented on #884
Issue assigned @akash435

[2021-07-29 13:50] TusharAMD opened #887 "Privacy Virtual Camera"
---
Title: Privacy Virtual Camera
About: This project will be about a virtual camera that will be made using OpenCV which will enable user to hide his/her face during video call and only outline of their face will be seen.
Name: Tushar Amdoskar
Label: Feature Request
Assignee: 'TusharAMD'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your featu

[2021-07-29 13:51] TusharAMD commented on #887
Can I work on this issue?

[2021-07-29 13:53] prathimacode-hub commented on #887
Yes, you can proceed. @TusharAMD

[2021-07-29 14:12] akash435 opened #888 "GUI Scroll-View"
---
Title: GUI Scroll-View
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI

Here will implement Scroll View in tkinter GUI window.

Normally tkinter GUI window has no scroll view, we only have to do in the space

[2021-07-29 14:13] akash435 commented on #888
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-29 14:14] prathimacode-hub commented on #888
Issue assigned. @akash435

[2021-07-30 00:22] BMaster123 commented on #4
Can I make an automation script that sends an email every time a stock crosses a certain price?

[2021-07-30 04:36] akash435 opened #890 "Image Search"
---
Title: Image Search
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an image search application using tkinter GUI

Here user will search by selecting any image from the local system.

First user will be asked to select any image, and on sea

[2021-07-30 04:36] akash435 commented on #890
@prathimacode-hub please assign this to me under LGM SOC

[2021-07-30 09:03] neelshah2409 opened #891 "Bank Data Finder"
Title: Bank Data Finder
About: It's an script with streamlit which runs in the browser
Name: Neel Shah
Label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
 - [ ] Contributor

- Here we make a web application using streamlit , we find all the information of bank just by giving the IFSC code .
- We get information like address ,branch ,city, sta

[2021-07-30 13:03] Mannuel25 opened #892 "Update Cloning Repo Link in CONTRIBUTING_GUIDELINES.md"
---
Title:Update Link
About: --
Name: Emmanuel Tanimowo
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

I checked the CONTRIBUTION_GUIDELINES and found out that the cloning a repo link isn't valid. Upon clicking the link, it explains how to create an issue or pull request not how to clone a repo.

I would like to fi

[2021-07-30 13:04] Mannuel25 commented on #892
Kindly assign this to me @prathimacode-hub

[2021-07-30 14:50] harshved commented on #123
@prathimacode-hub I just created pull-request for the code. But now I don't know how to readme file, to describe the code. Please help me with that.

[2021-07-30 16:41] neelshah2409 commented on #891
@Debashish-hub @prathimacode-hub Please see the issue .

[2021-07-30 17:02] #888 closed

[2021-07-30 17:03] #884 closed

[2021-07-30 17:04] prathimacode-hub commented on #890
Issue assigned. @akash435

[2021-07-30 17:05] prathimacode-hub commented on #891
Is it a  GUI or management system for banks? @neelshah2409

[2021-07-30 17:05] prathimacode-hub commented on #892
Issue assigned. @Mannuel25

[2021-07-30 17:37] neelshah2409 commented on #891
Mam it is a web app using streamlit.

[2021-07-30 17:38] prathimacode-hub commented on #891
Ok, issue assigned. @neelshah2409

[2021-07-30 18:08] akash435 opened #895 "Circular Image Cropper"
---
Title: Image Search
About: It's an ImageProcessing script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an circular image cropper application using tkinter GUI and OpenCv library,

Here user will be able to select any image and will be able to crop it in circle.

[2021-07-30 18:08] akash435 commented on #895
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-30 18:19] Mannuel25 commented on #892
Thanks 🙂

[2021-07-31 08:26] rammya29 opened #897 "Dino game - Chrome"
---
Title: Dino Game - Chrome
About: To create a game where chrome uses the same game when no internet connection and it is implemented by python
Name: Rammya Dharshini K
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes it is related to python sc

[2021-07-31 09:39] prathimacode-hub commented on #897
Issue assigned. @rammya29

[2021-07-31 09:40] prathimacode-hub commented on #895
Issue assigned. @akash435

[2021-07-31 10:43] #891 closed

[2021-07-31 10:49] #890 closed

[2021-07-31 13:04] #895 closed

[2021-07-31 14:21] akash435 opened #900 "Random Shape Image Generator"
---
Title: Random Shape Image Generator
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI,

Here the application will generate random images each time whenever user clicks on generate image button.
Each image cont

[2021-07-31 14:21] akash435 commented on #900
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-31 15:07] prathimacode-hub commented on #900
Issue assigned. @akash435

[2021-07-31 15:09] #868 closed

[2021-08-01 14:20] tanujadasari opened #904 "Torrent Downloader"
---
| Title | About | Name | Label|
|-|-|-|-|
| Torrent Downloader | Used to download large files in a file-sharing environment | [D Tanuja](https://github.com/tanujadasari) | Feature Request |
---
## Define You
- [x] DevIncept Participant
## Description
-In this script, I'll create a Torrent Downloader using the `libtorrent` library
-User will be able to download large torrent files using its mag

[2021-08-01 15:53] prathimacode-hub commented on #904
Issue assigned. @tanujadasari

[2021-08-01 15:54] prathimacode-hub commented on #904
Also here above add yourself as DCP participant. Else it would be tough later. @tanujadasari

[2021-08-01 15:58] #859 closed

[2021-08-01 15:59] #892 closed

[2021-08-01 16:31] tanujadasari commented on #904
okay ma'am

[2021-08-02 06:43] #900 closed

[2021-08-02 09:38] akash435 opened #906 "American and British English Conversion"
---
Title: American and British English Conversion
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI,

Here user will be allowed to enter any text or paragraph in either american english and convert it to british

[2021-08-02 09:39] akash435 commented on #906
@prathimacode-hub please assign this to me under LGM SOC

[2021-08-02 09:45] Debashish-hub commented on #906
Issue assigned @akash435

[2021-08-02 11:29] sumitsoni0907 opened #907 "OTP Generator"
|Title | About | Name | Label | Assignee |
|-----| --------|--------|-------|-----------|
|OTP Generator| Generating random OTP using random library | [Sumit Soni](https://github.com/sumitsoni0907)| Feature Request|  |

Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, It is related to p

[2021-08-02 11:33] prathimacode-hub commented on #907
Issue assigned. @sumitsoni0907

[2021-08-02 11:44] #906 closed

[2021-08-02 12:36] prathimacode-hub commented on #782
Its been 16days and no update from you yet. @Dhruv-194

[2021-08-02 12:36] prathimacode-hub commented on #815
Its been 13days and no PR yet. @soma2000-lang

[2021-08-02 12:37] prathimacode-hub commented on #829
Its been 12 days no PR for this issue yet. @Umesh-01

[2021-08-02 12:38] prathimacode-hub commented on #897
Kindly do the changes for the earlier PR before you work on this. @rammya29

[2021-08-02 12:55] akash435 opened #909 "Adding Frames to Video"
---
Title: Adding frames to Video
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application using tkinter GUI,

using this application user will be able to add frames to video.

First will allow user to select any video, and also to select

[2021-08-02 12:55] akash435 commented on #909
@prathimacode-hub please assign this to me under LGM SOC.

[2021-08-02 13:06] Umesh-01 commented on #829
It's almost done @prathimacode-hub mam, regret for the delay... 😞

[2021-08-02 13:47] prathimacode-hub commented on #909
Issue assigned. @akash435

[2021-08-02 13:48] soma2000-lang commented on #815
Mam sorry I will do it by tonight only

On Mon, Aug 2, 2021, 18:06 Prathima Kadari ***@***.***> wrote:

[2021-08-02 13:51] prathimacode-hub commented on #815
Ok, sure. @soma2000-lang

[2021-08-02 13:52] prathimacode-hub commented on #829
Thats ok as long as u inform i have no issue. @Umesh-01

[2021-08-02 14:09] prathimacode-hub commented on #4
Yes, you can proceed. Create an issue using the issue template provided and get it assigned. You are free to work once its assigned. @BMaster123

[2021-08-02 14:19] DurgaSai-16 opened #911 "Dr Battery"
---
|Title|About|Name|Label|
|-|-|-|-|
|Dr Battery| Notifies you to charge when battery is draining and Unplug When battery seems to be over charging| [Nallani Durga Sai](https://github.com/DurgaSai-16)| Feature request|
---
## Define you:
- [x] DevIncept Participant

## Description
- Battery is one of the important components in our system. We've to protect it from over charging and draining at t

[2021-08-02 14:21] prathimacode-hub commented on #911
You can proceed. Issue assigned. @DurgaSai-16

[2021-08-02 14:24] DurgaSai-16 commented on #911
Okay Ma'am 🤩🤩

[2021-08-02 15:23] #911 closed

[2021-08-02 15:33] Dhruv-194 commented on #782
@prathimacode-hub So sorry I just forgot about this issue. I have been contributing to other projects in DCP21 so this issue slipped out of my mind. I will right away start working on it and send the PR by today or tomorrow.

[2021-08-02 15:40] prathimacode-hub commented on #782
Ok, go ahead. No issues. @Dhruv-194

[2021-08-02 18:52] BMaster123 opened #913 "Object Detector"
---
Title: Object detector
Name: Bhavesh Mandalapu
Label: Feature Request
---

Define You:

- [ ] Contributor

**Describe the solution you'd like...**

The program will ask for two images as inputs. The purpose of the program is to find the object in the first image in the second image. The program will find the object in the second image and draw a rectangle around it.

[2021-08-03 04:50] akash435 opened #915 "Progress Bar in Video Player"
---
Title: Progress Bar in Video Player
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will enhance the Video Player script which is in GUIScript with progress bar.
Here will add progress bar, such that when video starts playing , the we can see the progr

[2021-08-03 04:51] akash435 commented on #915
@prathimacode-hub please assign this to me under LGM SOC.

[2021-08-03 05:08] #909 closed

[2021-08-03 05:08] Debashish-hub commented on #915
Issue assigned @akash435

[2021-08-03 08:39] #123 closed

[2021-08-03 08:40] prathimacode-hub commented on #913
Sorry to say but this is already done. You can take up an nother issue to work on. All the best. Also make sure before you take if script is present in the repo so that ur efforts don't go wasted. @BMaster123

[2021-08-03 08:42] prathimacode-hub commented on #913
Never close issue or PR from your end, instead you can change up the title of the project to ur project using edit option here itself once you decide on the upcoming project. @BMaster123

[2021-08-03 12:28] #915 closed

[2021-08-03 12:31] #907 closed

[2021-08-03 12:38] DurgaSai-16 opened #918 "Wiki Bot"
---
|Title|About|Name|Label|
|-|-|-|-|
|Wiki Bot|  Wikipedia Bot is to benefit user just by taking user's speech as input and then it searches for the topic and provides relevant output in the form of text as well as audio along with an image related to it.| [Nallani Durga Sai](https://github.com/DurgaSai-16)| Feature request|
---
## Define you:
- [x] DevIncept Participant

## Description
- Wiki B

[2021-08-03 13:11] prathimacode-hub commented on #918
Issue assigned. @DurgaSai-16

[2021-08-03 16:07] #918 closed

[2021-08-03 17:12] Umesh-01 opened #920 "Password Generator for unique and strong passwords"
**Name: Umesh Singh
Label: Feature Request**

Define You-
- [x] LGM-SOC'21 Participant
- [x] Contributor

#### Is your feature request related to a problem? Please describe.
I want to make a password generator that will generate strong and unique passwords including a combination of uppercase and lowercase letters, numbers, and symbols.

#### Describe the solution you'd like
I will be using python

[2021-08-03 19:53] BMaster123 commented on #913
Ok

[2021-08-04 03:39] BMaster123 commented on #913
Can you please assign this issue if it isn't already taken?

[2021-08-04 04:48] akash435 opened #921 "Large Image Preview"
---
Title: Large Image Preview
About: It's an GUI script
Name: Akash Ramanand Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create an application in tkinter GUI,

Generally while opening any large image, the image is previewed well is if it is larger than screensize.
Thus this application will a

[2021-08-04 04:48] akash435 commented on #921
@prathimacode-hub please assign this to me under LGM SOC.

[2021-08-04 06:03] prathimacode-hub commented on #921
Issue assigned. @akash435

[2021-08-04 06:03] prathimacode-hub commented on #920
This issue is already done. Kindly take up an another issue to work on. @Umesh-01

[2021-08-04 06:04] #920 closed

[2021-08-04 06:04] prathimacode-hub commented on #913
Can you elaborate the issue? @BMaster123

[2021-08-04 06:05] prathimacode-hub commented on #913
Also are you a LGMSoc participant, DCP participant or Contributor? @BMaster123

[2021-08-04 06:24] prathimacode-hub opened #922 "Instagram Profile Downloader"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in automatically downloading the instagram profile

Repo : Automation Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:27] prathimacode-hub opened #923 "Website Status Checker"
Hey LGM-SoC / DCP participants, good to see you.

This project will check the status of the web address which is inputted.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:28] prathimacode-hub opened #924 "Sticky Notes"
Hey LGM-SoC / DCP participants, good to see you.

This project that helps you to create simple lists reminder or sticky notes.

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:30] prathimacode-hub opened #925 "Zoom Auto Attendant"
Hey contributors, good to see you.

This project is a zoom bot that automatically joins zoom calls for you and saves the meeting id and password.

Repo : Automation Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:32] prathimacode-hub opened #926 "Youtube Trending Feeds Scrapper"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in scraping first 10 trending feeds of youtube in all categories.

Repo : Web Scraping Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:34] prathimacode-hub opened #927 "Voice Calculator"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in calculating various calculations such as arithmetic, linear expressions and trignometric problems using your voice.

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:36] prathimacode-hub opened #928 "Udemy Scraper"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in scraping udemy and getting the list of available courses based on keyword provided.

Repo : Web Scraping Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:39] prathimacode-hub opened #929 "Twitter Video Downloader"
Hey LGM-SoC / DCP participants, good to see you.

This project to download twitter videos by providing its link.

Repo : Basic Python Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:42] prathimacode-hub opened #930 "Tarot Reader Game"
Hey LGM-SoC / DCP participants, good to see you.

This project is to draw 2 cards from pack of 36 cards and tells you the fortune for the same

Repo : PyGames Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:44] prathimacode-hub opened #931 "Stack Overflow Scraper"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in scraping top questions from stack overflow based on tags (python, java etc)

Repo : WebScraping Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:45] prathimacode-hub opened #932 "SlideShare Downloader"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in downloading slides from SlideShare as pdf using URL

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:48] prathimacode-hub opened #933 "Python IDE"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in using python IDE created to compile python files.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:49] prathimacode-hub opened #934 "Screen Recorder"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in recording the computer screen using record button.

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:52] prathimacode-hub opened #935 "Reddit Meme Scraper"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in locating and downloading images from several subreddits in your local drive.

Repo : WebScraping Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 06:58] prathimacode-hub opened #936 "Rain Alert Notification"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in checking up the weather condition for the upcoming 12 hours and senda a message to registered mail id about being sunny or rainy.

Repo : Automation Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:01] prathimacode-hub opened #937 "Are You Pawned"
Hey contributors, good to see you.

This project helps users in checking if their passwords were a part of data breach using the "haveibeenpwned.com API" to obtain data regarding passwords and how many times it did indulge in data breach

Repo : API Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:04] prathimacode-hub opened #938 "Pomodoro Timer"
Hey LGM-SoC / DCP participants, good to see you.

This project helps users in checking their productivity using pomodoro timer in a GUI friendly interface

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:07] prathimacode-hub opened #939 "Piglatin Translator"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in using a secret language formed using english by transferring the initial consonant or consonant cluster of each word to the end of the word and adding a vocalic syllable, so "pig latin" would be "igpay atinlay"

Repo : Basic Python Scripts

If you like to work on this issue, follow the given guidelines for code as well as for

[2021-08-04 07:09] prathimacode-hub opened #940 "Network Scanner"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in showing all the IP's on the same network and their respective MAC adresses

Repo : Basic Python Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:10] prathimacode-hub opened #941 "Image Neon Effect Filter"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in converting an image into an neon effect filtered image.

Repo : Image Processing Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:13] prathimacode-hub opened #942 "Morse Code Translator"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in encoding text characters as standardized sequences of two different signal durations, called dots and dashes. Mostly used in safe communications

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:15] akash435 commented on #933
@prathimacode-hub i think this is similar to issue #638 ? Or there is some thing new in this?

[2021-08-04 07:15] prathimacode-hub opened #943 "Noise Reduction Filter"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in filtering the background noise in audio files to make the audio sound with more clarity

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:17] prathimacode-hub opened #944 "Network Troubleshooter"
Hey LGM-SoC / DCP participants, good to see you.

This project is a CLI tool to fix corrupt IP configuaration and other network socket related issue of your Windows PC.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:18] prathimacode-hub opened #945 "PDF Watermark Remover"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in removung the watermark from the PDF files.

Repo : Basic Pythin Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:20] prathimacode-hub opened #946 "Markdown Viewer"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in opening up a markdown viewer where the user can write markdown files (readme files) and see the preview on a button click.

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:22] prathimacode-hub opened #947 "Lyrics Downloader"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in downloading lyrics of any number of songs, by any number of Artists using Genius API

Repo : API Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:24] prathimacode-hub opened #948 "Scribble"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in drawing something random and creating your own arts similar to Paint.

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:26] prathimacode-hub opened #949 "LinkedIn Connections Scrapper"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in scraping LinkedIn connections list along with the skills of each connection into a .csv file.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:29] prathimacode-hub opened #950 "Image Background Remover"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in removing the background from an image by keeping only foreground in focus.

Repo : Image Processing Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:33] prathimacode-hub opened #951 "HTML Mail Sender"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in sending HTML mails to bulk email adresses.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:35] prathimacode-hub opened #952 "Google Meet Scheduler"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in schedulign your Google Meets with multiple guests. You just have to provide the topic, time and list of email ids of the guests for the meeting

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:39] prathimacode-hub opened #953 "Track The Person"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in tracking the route of the person by using latitudes and longitudes of a specific area that are provided in .csv file. It reads the values of that file on Google Maps and creates an image containing route or location (or) just point the location on the map.

If you like to work on this issue, follow the given guidelines for cod

[2021-08-04 07:44] prathimacode-hub opened #954 "Generate WIFI Passwords"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in sending all the stored WIFI passwords of your Windows PC to your given mail address.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:46] prathimacode-hub opened #955 "Fingers Counter using Hand Tracking"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in first looking into hand tracking and then uses the hand landmarks to count the fingers in real time.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:48] prathimacode-hub opened #956 "Image Ghost Filter"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in converting an image into ghost/negative image.

Repo : Image Processing Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:52] prathimacode-hub commented on #933
Oh, you had done it then. Oops, yes it's similar. Just recollecting all the scripts in repo seems daunting. Thanks for notifying. I shall close this issue. @akash435

[2021-08-04 07:52] #933 closed

[2021-08-04 07:57] prathimacode-hub opened #957 "Crypto Price Checker"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in allowing the users to fetch live top-100 cryptocurrency prices scraped from cointracker.io

Repo : Web Scraping Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 07:59] prathimacode-hub opened #958 "Censor Word Detection"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in detecting censor words from English language. Censor words are swear words/abusive words/curse words/bad words in any language.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 08:01] prathimacode-hub opened #959 "Network Usage Tracker"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in keeping a track of network usage and notify you if it exceeds a specified limit (for WIFI).

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 08:04] prathimacode-hub opened #960 "Auto Fill Google Forms"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in filling out the google form automatically by bot

Repo : Automation Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 08:07] prathimacode-hub opened #961 "Attachment Downloader"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in downloads gmail atttachments in no time

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 08:10] prathimacode-hub opened #962 "Auto BackUp"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in automatically backing up and compressing up the files before backing up when it's of larger size.

Repo : Automation Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 08:15] prathimacode-hub opened #963 "Bomb Issues in Github"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in bombing up the issues in Github in any repository you like. It acts as a reminder of an issue to be addressed first as a top priority to the contributors.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 08:24] prathimacode-hub opened #964 "Test Your Internet Speed"
Hey LGM-SoC / DCP participants, good to see you.

This project helps in checking up with the internet speed of uploading and downloading files.

Repo : GUI Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 10:55] #948 closed

[2021-08-04 11:51] CodingBlood commented on #955
A contributor, I would like to work on FingerCounting using Hand tracking. I will be using OpenCV to detect and identify the number of fingers.

[2021-08-04 12:14] prathimacode-hub commented on #955
Ok sure. Issue assigned. @CodingBlood

[2021-08-04 13:36] #921 closed

[2021-08-04 16:06] #887 closed

[2021-08-04 16:12] TusharAMD commented on #958
Can I work on this issue?
Following are things I will be doing.
1. Make a list of all censor words with all variations.
2. Ask user to paste the text matter in to a text file
3. Run script and in that ask user to enter filename
4. Execute program and store result in new text file
Is this ok for this issue or any addition is needed?

[2021-08-04 16:22] prathimacode-hub commented on #958
Perfect but instead of asking user to enter filename, in project file you can add up an empty text file in the script end where once script starts running, user can add a text matter and it automatically detects the censor words and deposit them in the empty text file that's created using the script. You can create  GUI interface for this project so that it would feasible for the working criteria.

[2021-08-04 16:23] prathimacode-hub commented on #958
If this is ok, I shall assign it to you. @TusharAMD

[2021-08-04 16:32] TusharAMD commented on #958
Ok mam I can do this. You can assign this to me.

[2021-08-04 16:59] prathimacode-hub commented on #958
Ok, DCP or LGMSoC particpant? @TusharAMD

[2021-08-04 18:42] TusharAMD commented on #958
LGMSoC

[2021-08-04 22:07] BMaster123 commented on #913
I am a contributor. What is LGMSoc?

[2021-08-05 05:21] prathimacode-hub commented on #913
Issue assigned. That's a open source program currently this repo is part of. @BMaster123

[2021-08-05 05:26] #958 closed

[2021-08-05 05:48] TusharAMD commented on #934
Can I take up this issue?
1. I will be taking screenshots using library like selenium or any automation library
2. Store it in folder
3. Stitch the images into video using opencv video writer.
4. On Gui there will be pause, take screenshot and stop buttons

[2021-08-05 05:50] prathimacode-hub commented on #934
Yes sure. Issue assigned. @TusharAMD

[2021-08-05 06:48] akash435 commented on #922
@prathimacode-hub
In this we need to download the profile pic and instagram id using the instagram user name of any user.
is it?

[2021-08-05 17:06] BMaster123 commented on #913
Ok thank you.

[2021-08-05 17:58] Umesh-01 opened #968 "Change Image background"
Define You-

- [x] LGM-SOC'21 Participant
- [x] Contributor

Title:
A project for changing image background
**Name: Umesh Singh**
Label: Feature Request

### Solution For Issue:
I want to make a project that can help us to change the background of any image using python. I will be adding working instructions for the project in the readme file with some screenshots.

[2021-08-05 17:59] Umesh-01 commented on #968
@prathimacode-hub mam there is no project for changing image background....
should I work on this issue??

[2021-08-06 05:17] akash435 commented on #922
@prathimacode-hub if this you can assign me under LGM SOC

[2021-08-06 05:19] Debashish-hub commented on #922
Issue assigned @akash435

[2021-08-06 08:40] #829 closed

[2021-08-06 08:41] #922 closed

[2021-08-06 08:42] prathimacode-hub commented on #968
k, issue assigned. @Umesh-01

[2021-08-06 08:48] prathimacode-hub commented on #815
Update. @soma2000-lang

[2021-08-06 08:48] prathimacode-hub commented on #782
Update? @Dhruv-194

[2021-08-06 08:48] prathimacode-hub commented on #904
Update please? @tanujadasari

[2021-08-06 08:54] dilroseR commented on #951
can i do this with python?

[2021-08-06 09:45] prathimacode-hub commented on #951
Yes, you can. Issue assigned. @dilroseR

[2021-08-06 09:51] soma2000-lang commented on #815
Actually I am stuck.I am trying to resolve it.

On Fri, Aug 6, 2021, 14:18 Prathima Kadari ***@***.***> wrote:

[2021-08-06 09:58] prathimacode-hub commented on #815
Ok, any help, you can ask me or @Debashish-hub.  @soma2000-lang

[2021-08-06 10:12] prathimacode-hub commented on #951
Yes, only python is allowed, that's the reason issue is here in this repo. @dilroseR

[2021-08-06 16:59] akash435 commented on #942
@prathimacode-hub can i work on this under LGM SOC.

[2021-08-06 17:09] prathimacode-hub commented on #942
Yes you can proceed. Issue assigned. @akash435

[2021-08-06 18:43] Dhruv-194 commented on #782
@prathimacode-hub kindly check my PR linked with this issue

[2021-08-06 18:57] akash435 commented on #938
@prathimacode-hub can i work on this under LGM SOC.

[2021-08-06 19:01] prathimacode-hub commented on #938
Issue assigned. @akash435

[2021-08-06 21:09] comnk commented on #939
can I work on this issue?

[2021-08-06 21:11] comnk commented on #939
as a contributor?

[2021-08-07 07:49] prathimacode-hub commented on #939
Yes, you can. Issue assigned. @comnk

[2021-08-07 07:51] #938 closed

[2021-08-07 07:53] #934 closed

[2021-08-07 07:55] #942 closed

[2021-08-07 07:57] #782 closed

[2021-08-07 08:18] akash435 commented on #923
@prathimacode-hub can i work on this under LGM SOC

[2021-08-07 08:41] prathimacode-hub commented on #923
Yes, issue assigned. @akash435

[2021-08-07 08:44] TusharAMD commented on #956
I think according to my understanding in this project we are supposed to convert a normal image to negative image as we do invert in paint
for eg.
Converting this
![2](https://user-images.githubusercontent.com/59115865/128594543-4e9e844b-511a-422c-9207-2c06a4eac59d.jpg)
into
![Image 1013](https://user-images.githubusercontent.com/59115865/128594549-cdb7d00d-cee9-467c-a603-9dd6a0a8a974.png)

If thi

[2021-08-07 08:52] prathimacode-hub commented on #956
Yes, your understanding is absolutely right. You can go ahead. Issue assigned. @TusharAMD

[2021-08-07 08:55] prathimacode-hub commented on #904
Its been 6 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @tanujadasari

[2021-08-07 08:56] prathimacode-hub commented on #951
Last date to merge PR's is 9th Aug. Make sure you complete it by then. @dilroseR

[2021-08-07 11:01] #923 closed

[2021-08-07 11:02] #872 closed

[2021-08-07 11:02] #855 closed

[2021-08-07 11:02] #826 closed

[2021-08-07 14:42] #956 closed

[2021-08-07 14:44] #913 closed

[2021-08-07 14:46] TusharAMD commented on #947
In this project, user will be giving artist's name and song as input and lyrics will be shown to the user right?
![Image 1014](https://user-images.githubusercontent.com/59115865/128600770-ddaa3333-554a-481e-afdc-2f63609c45c6.png)

Also how should be the output presented. Will it be in terminal or file should be saved as text file?

[2021-08-07 14:49] tanujadasari commented on #904
Sorry Ma'am I was busy in placements. Will close this by tonight.
Thankyou.

[2021-08-07 14:50] prathimacode-hub commented on #947
Instead of terminal, it should be like lyrics downloaded up in a subfolder created to upload it in .txt file when you run the program. Here you can use any API for working on this project. @TusharAMD

[2021-08-07 14:50] prathimacode-hub commented on #904
Ok. @tanujadasari

[2021-08-07 14:58] TusharAMD commented on #947
Ok mam I can do this task, Please assign to me. LGM SOC participant

[2021-08-07 15:00] prathimacode-hub commented on #947
Issue assigned. @TusharAMD

[2021-08-08 03:05] akash435 commented on #964
@prathimacode-hub I think this is similar to #473

[2021-08-08 05:01] prathimacode-hub commented on #964
Ha, yes. Right. You have good observation skills. Thank you. @akash435

[2021-08-08 05:01] #964 closed

[2021-08-08 05:45] vchsi commented on #950
@prathimacode-hub I can do this with CV2, IMUTILS or Numpy. Can I have this issue?

[2021-08-08 06:24] prathimacode-hub commented on #950
Yes, you can. But first let me know, are you a DCP participant or LGMSOC participant or Contributor? So that I can assign  accordingly. @vchsi

[2021-08-08 08:16] #951 closed

[2021-08-08 08:39] akash435 commented on #959
Can i work on this issue?

[2021-08-08 08:41] prathimacode-hub commented on #959
Yes, issue assigned. @akash435

[2021-08-08 10:33] akash435 commented on #959
@prathimacode-hub I am done with this, can you please add labels, so that I can make PR.

[2021-08-08 10:34] prathimacode-hub commented on #959
Added labels, you can proceed @akash435

[2021-08-08 10:55] #959 closed

[2021-08-08 17:33] vchsi commented on #950
I am contributor

[2021-08-08 17:40] prathimacode-hub commented on #950
Ok, issue assigned. @vchsi

[2021-08-08 18:17] Umesh-01 opened #980 "Watermark on Image or Video"
Define You-

- [x] LGM-SOC'21 Participant
- [x] Contributor

Title:
A project for adding Watermark on Image or Video
**Name: Umesh Singh**
Label: Feature Request

### Solution For Issue:
I want to make a project that can help us to add watermark on any image image using python. I will be adding working instructions for the project in the readme file with some screenshots.

[2021-08-08 18:34] Umesh-01 commented on #980
@prathimacode-hub mam should I work on this project??

[2021-08-08 22:29] vchsi commented on #950
Almost done. What background should I put over the old one?

[2021-08-09 06:59] prathimacode-hub commented on #980
Sorry to say, but this is already done. You can come up with an another issue. @Umesh-01

[2021-08-09 08:17] prathimacode-hub commented on #815
Any progress. @soma2000-lang

[2021-08-09 08:18] prathimacode-hub commented on #897
Are you working or not? No update yet? @rammya29

[2021-08-09 08:19] prathimacode-hub commented on #904
No update yet. If it doesn't get merged by today, I won't be able to help you out. @tanujadasari

[2021-08-09 09:26] Umesh-01 commented on #980
okk mam, I will close this issue...

[2021-08-09 09:27] prathimacode-hub commented on #950
Thats upto you. @vchsi

[2021-08-09 09:29] #968 closed

[2021-08-09 09:31] prathimacode-hub commented on #980
You shouldn't close up the issue. @Umesh-01

[2021-08-09 09:31] #980 closed

[2021-08-09 16:33] prathimacode-hub commented on #904
Time is up. Sorry to say but I have no choice than to remove the DCP label. Also you can't hold an issue for long, Kindly complete the PR in 5 days if you would like to but it won't count under DCP program. If not, you can let me know so that I cankeep this issue up for grabs.

[2021-08-09 18:07] Umesh-01 opened #982 "Camera based thermal screening"
Define You-

- [x] LGM-SOC'21 Participant
- [x] Contributor

Title:
Project for thermal screening based on an image.
**Name: Umesh Singh**
Label: Feature Request

### Solution For Issue:
I want to make a project that can do thermal screening based on images from the video or only images with the help of libraries in python. I will be adding working instructions for the project in the readme file w

[2021-08-09 18:08] Umesh-01 commented on #982
@prathimacode-hub mam should I work on this project??

[2021-08-09 18:20] Umesh-01 commented on #982
I will do it by tomorrow

[2021-08-09 18:57] prathimacode-hub commented on #982
Yes, only if you could do it by tomorrow. Issue assigned. @Umesh-01

[2021-08-10 07:04] #806 closed

[2021-08-10 07:04] prathimacode-hub commented on #982
Are you done? @Umesh-01

[2021-08-10 07:05] prathimacode-hub commented on #947
Are you done? Before evening I should merge it up. Time is ticking up. @TusharAMD

[2021-08-10 07:11] prathimacode-hub commented on #897
Sorry as time is up, label is been removed. But you work on it no matter its not a part of open source program @rammya29

[2021-08-10 07:14] prathimacode-hub commented on #815
Are you able to resolve it? Sorry I have to remove the LGMSOC label as it's closed from the team. But no worries, you can continue working on it and turn it up ASAP. @soma2000-lang

[2021-08-10 07:40] Umesh-01 commented on #982
yes mam almost done, give me some time...

[2021-08-10 08:04] prathimacode-hub commented on #982
Ok, have it only till 2pm. Kindly make it fast. @Umesh-01

[2021-08-10 08:28] prathimacode-hub commented on #947
Sorry time is up and unfortunately i have to remove the label. But you can turn up the PR asap. @TusharAMD

[2021-08-10 08:28] prathimacode-hub commented on #982
Done? @Umesh-01

[2021-08-10 08:30] Umesh-01 commented on #982
done @prathimacode-hub mam :sweat:

[2021-08-10 08:31] #982 closed

[2021-08-10 08:32] TusharAMD commented on #947
Okay mam no problem. Actually, I could have submitted it early. Thanks for your support and guidance in this repo and also ML Project kart. We can still submit PRs for other issues like even if they are not under LGM SOC?

[2021-08-10 08:34] #947 closed

[2021-08-10 09:02] prathimacode-hub commented on #947
No worries, your PR reached on time and is added up for the scores. So no worries. All good. Most welcome. Sure, you are free to work on issues even if it's not a part of a program. @TusharAMD

[2021-08-10 14:19] soma2000-lang commented on #815
NO not yet mam.Actually I was busy for some days and didnit wiorked upon that issued since 2 -3 days.Yes mam no need to be sorry.I will commence working on it soon

[2021-08-11 18:14] prathimacode-hub commented on #950
Any update? @vchsi

[2021-08-11 18:15] prathimacode-hub commented on #955
Any update? @CodingBlood

[2021-08-11 18:15] prathimacode-hub commented on #904
Any update? @tanujadasari

[2021-08-11 18:16] prathimacode-hub commented on #815
Glad to know. Keep me updated. @soma2000-lang

[2021-08-11 18:30] CodingBlood commented on #955
Yes Project is nearly ready will be commiting changes in 3 days

On Wed, 11 Aug 2021, 11:45 pm Prathima Kadari, ***@***.***>
wrote:

[2021-08-11 18:33] prathimacode-hub commented on #955
Awesome. @CodingBlood

[2021-08-11 19:47] tanujadasari commented on #904
Hi Ma'am
Sorry I was bit busy, I'll  complete this soon Ma'am.

[2021-08-12 06:36] prathimacode-hub commented on #904
Sure. @tanujadasari

[2021-08-12 07:18] vchsi commented on #950
@prathimacode-hub Still currently working on it

[2021-08-12 07:22] prathimacode-hub commented on #950
Ok, proceed. @vchsi

[2021-08-14 06:46] prathimacode-hub commented on #897
Update please? @rammya29

[2021-08-14 07:00] rammya29 commented on #897
Sorry, due to busy schedule I am unable to do it on time. Within 2 days I will create pull request

[2021-08-17 01:19] BMaster123 commented on #926
Can I work on this? I don't have any experience with web scraping but I would like to give it a try.

[2021-08-17 02:01] prathimacode-hub commented on #926
Yes, you can proceed. If you need any help, you can ask me. @BMaster123

[2021-08-17 12:59] BMaster123 commented on #926
Ok, thank you.

[2021-08-21 08:17] prathimacode-hub commented on #955
It's been 10days since issue is assigned. No update yet. Kindly let me know of your progress. Issue can't be held for this long. @CodingBlood

[2021-08-21 08:18] prathimacode-hub commented on #950
It's been 9days since issue is assigned. No update yet. Kindly let me know of your progress. Issue can't be held for this long. @vchsi

[2021-08-21 08:19] prathimacode-hub commented on #815
Update? @soma2000-lang

[2021-08-21 08:19] prathimacode-hub commented on #926
Update please? @BMaster123

[2021-08-21 08:20] prathimacode-hub commented on #904
It's been 10days Kindly let me know of your progress. @tanujadasari

[2021-08-21 08:20] prathimacode-hub commented on #897
Update? @rammya29

[2021-08-21 18:54] BMaster123 commented on #926
I am currently learning Beautiful Soup and Selenium. I will most likely be done making the scraper sometime within the next week.

[2021-08-22 02:38] Master7130 commented on #926
Update: I got it to scrape 3 of the trending pages but for some reason, the program isn't able to scrape one of them.

[2021-08-22 04:41] prathimacode-hub commented on #926
Ok, can you share your project link? So that I could check on to it. @Master7130
Do you have 2 github accounts? Since issue is assigned to you for @BMaster123. Kindly reply only through that profile if so.

[2021-08-22 06:29] tanujadasari commented on #904
Sorry Ma'am, I didn't find time to do. But I'm sure I'll do it soon.

[2021-08-22 15:46] BMaster123 commented on #926
Ok, I will do that. The code isn't long so I will just copy and paste it below. I was just trying to get the trending videos so I didn't format it yet but I will do so later.

[code]

In the urls list, the 4 strings are the urls for the 4 tabs in the youtube trending page, Now, Music, Gaming, and Movies. The 3rd link which is the gaming tab is the one that isn't working.

[2021-08-22 15:49] BMaster123 commented on #926
@prathimacode-hub I just found the issue as I was looking through my code again. I didn't put a comma after the 3rd element in the urls list. The code works just fine now and I'll finish it and create a pull request today.

[2021-08-23 14:05] whyadiwhy commented on #960
please assign this to me

[2021-08-23 14:09] prathimacode-hub commented on #960
Issue assigned. @whyadiwhy

[2021-08-23 15:36] #926 closed

[2021-08-28 20:50] tanujadasari commented on #904
I want to close this issue Ma'am.  I was encountered with many challenges it's difficult than I expected. It takes time for me to learn them and implement. Extremely sorry for making you wait for so long.

[2021-08-29 05:39] prathimacode-hub commented on #904
If you are not able to just inform me instead of closing. Someone else can work on it. That's Ok. I will open the issue and unassign you. @tanujadasari

[2021-08-29 12:36] #960 closed

[2021-09-03 12:17] shubhdholakiya commented on #954
Hello Mam,
I want to work on this issue.
Can please elaborate what this code will do?

[2021-09-03 12:59] prathimacode-hub commented on #954
Hey, glad to see your interest in this issue. So, basically this project is about generating all the WIFI passwords that are stored in your PC and automatically send it to the mail address notified in your code. Hope it's clear. If you're with ok with project, I shall assign it up the issue. @shubhdholakiya

[2021-09-03 13:12] shubhdholakiya commented on #954
So basically it is like it will extract all WiFi SSIDs and their passwords for all the wifi networks on a computer right and send that in well format way to given email address?
If I am wrong please correct me. Basically, I am new to open source so I will take a bit time to understand, sorry for the inconvenience.

[2021-09-03 13:31] prathimacode-hub commented on #954
You are absolutely on right track. No issues, I will be happy to guide you. Don't hesitate to ping me. @shubhdholakiya

[2021-09-03 14:05] shubhdholakiya commented on #954
Okay, so please assign me this task. Thank you very much for understand and helping out.

[2021-09-03 14:09] prathimacode-hub commented on #954
Most welcome. Sure, issue is assigned. You can proceed. Max time for PR is 5 days and keep updating your progress once in 2days. Any queries, you can put it out here. You can ask me or @Debashish-hub. All the best. @shubhdholakiya

[2021-09-05 09:33] shubhdholakiya commented on #954
Hello,
In which folder do you want to add this program, mam?

[2021-09-05 09:36] prathimacode-hub commented on #954
You can add this in AutomationScripts. @shubhdholakiya

[2021-09-05 11:02] shubhdholakiya commented on #954
Surely, thank you.

[2021-09-05 11:04] shubhdholakiya commented on #954
I think we should name this as Extracting WiFi Passwords, instead of Generate WiFi Passwords?

[2021-09-06 05:53] prathimacode-hub commented on #950
Update please? @vchsi

[2021-09-06 05:53] prathimacode-hub commented on #955
Update please? @CodingBlood

[2021-09-06 05:53] prathimacode-hub commented on #929
Update please? @comnk

[2021-09-06 05:54] prathimacode-hub commented on #815
Update please? @soma2000-lang

[2021-09-06 05:54] prathimacode-hub commented on #897
Update please? @rammya29

[2021-09-06 07:48] #954 closed

[2021-09-06 09:23] shubhdholakiya commented on #961
I want to work on this issue. Kindly assign this to me, mam!

[2021-09-06 13:07] soma2000-lang commented on #815
Sorry for the late reply, actually for the placement/internship season I
had very busy.

On Mon, Sep 6, 2021, 11:24 Prathima Kadari ***@***.***> wrote:

[2021-09-06 16:38] comnk commented on #929
Writing this using flask, almost done. Will that work?

[2021-09-06 16:51] prathimacode-hub commented on #815
No issue. By when can I expect your PR? @soma2000-lang

[2021-09-06 16:51] prathimacode-hub commented on #929
With flask? Can you share the code link? @comnk

[2021-09-06 16:56] comnk commented on #929
Where it will be hosted on when I run it?

[2021-09-06 17:06] prathimacode-hub commented on #929
No, I am just asking the project code link. @comnk

[2021-09-07 05:15] shubhdholakiya commented on #961
Hello mam, can you please assign this to me?

[2021-09-07 05:54] shubhdholakiya commented on #950
Hello, Can I work on this issue as pervious contributor has exceeded their time!
If yes, kindly assign this to me.

[2021-09-07 07:29] prathimacode-hub commented on #961
Yes, sure. Issue assigned. @shubhdholakiya

[2021-09-07 07:33] prathimacode-hub commented on #950
Lets give time for more 3 days. If not, can think accordingly. Meanwhile other issue is assigned to you. You can complete that.  👍@shubhdholakiya

[2021-09-07 07:53] shubhdholakiya commented on #961
Okay, thank you for assigning this to me.

[2021-09-07 08:20] soma2000-lang commented on #815
By the week I try to work on it

On Mon, Sep 6, 2021, 22:21 Prathima Kadari ***@***.***> wrote:

[2021-09-07 11:42] prathimacode-hub commented on #961
Go ahead, welcome. @shubhdholakiya

[2021-09-18 04:39] comnk commented on #929
Have been on and off with the issue, will work on a different one. Sorry about that.

[2021-09-30 08:41] prathimacode-hub commented on #961
It's been 23 days and no revert yet. @shubhdholakiya

[2021-09-30 08:42] prathimacode-hub commented on #955
It's been more than a month. @CodingBlood

[2021-09-30 09:18] CodingBlood commented on #955
Realy sorry for delay, I wasn't in a condition to work from past month due
to emergencies.I will start the work on project tomorrow itself. Again
really sorry fro the delay.

On Thu, 30 Sep 2021, 2:12 pm Prathima Kadari, ***@***.***>
wrote:

[2021-09-30 12:40] NEERAJAP2001 commented on #925
Hey, @prathimacode-hub is this repo eligible for hacktoberfest 2021? , If yes I'd like to work on this issue.

[2021-09-30 18:48] manognyaa commented on #924
hello mam, can i work on this issue ? I am interested

[2021-10-01 03:58] prathimacode-hub commented on #925
Yes, this repo is eligible for hacktoberfest. @NEERAJAP2001

[2021-10-01 05:06] rustzz-27 commented on #928
Hello can you assign this issue to me under hacktoberfest 2021?
Thanks

[2021-10-01 05:24] prathimacode-hub commented on #955
Ok cool. @CodingBlood

[2021-10-01 05:24] deepthi1107 commented on #33
please do assign me mam @prathimacode-hub

[2021-10-01 05:36] prathimacode-hub commented on #925
First you have to get an issue assigned, before creation of your PR. @NEERAJAP2001

[2021-10-01 05:38] NEERAJAP2001 commented on #925
Oh! I'm sorry didn't notice that! Can you please assign the issue to me😅

[2021-10-01 05:41] Developer-R-7 commented on #937
Hey ,can you get me assigned for this issue and sorry for breaking the workflow of the project .

[2021-10-01 05:43] New-dev0 opened #992 "telegram to instagram auto reels post"
**Title :** Telegram Instagram reels

**Brief** : Automation script to upload Instagram Reel from Telegram Chat...

I will like to work on it, can you assign me this, please...

[2021-10-01 05:48] prathimacode-hub commented on #925
No worries. Issue assigned to @NEERAJAP2001

[2021-10-01 05:51] prathimacode-hub commented on #937
Provide your approach and the issue are taking through part of any open source program while getting assigned. @Developer-R-7

[2021-10-01 06:24] NEERAJAP2001 opened #993 "Add Bit Coin Mining Script"
# Aim
The objective of this script is to mine Bitcoin.

# Details
It's a script to mine bitcoin but It actually won't reward any bitcoin as the difficulty level is 20 which requires huge processors for rewarding.
So, It's a fun project to understand how hashing, etc works.
I will give complete details in a pdf file to understand everything from scratch.
Thanks.

I'd Like to work on this issue as p

[2021-10-01 06:36] prathimacode-hub commented on #928
Issue assigned to @rustzz-27

[2021-10-01 06:40] prathimacode-hub commented on #993
Issue assigned to @NEERAJAP2001

[2021-10-01 06:42] prathimacode-hub commented on #992
Are you a hacktober fest participant? Follow the issue template while creating issues and PR's.

[2021-10-01 06:48] New-dev0 commented on #992
Ya

Do i need to edit the issue, following the template?

[2021-10-01 07:19] Developer-R-7 commented on #937
**Approach**
This script will be using "ihavebeenpwned API V3" [Link for documentation](https://haveibeenpwned.com/API/v3#PwnedPasswords)

1. I will be using "requests" in-built python module to send a GET request to the API
2. Taking password input from the user as a string
3. The password string will be converted to hash SHA-1 as mentioned in the documentation  by using "hashlib" in-built python

[2021-10-01 08:15] prathimacode-hub commented on #937
Issue assigned to @Developer-R-7

[2021-10-01 14:37] #993 closed

[2021-10-02 06:32] #925 closed

[2021-10-02 06:40] #937 closed

[2021-10-02 07:37] SirishC opened #1001 "ImBored API Scripts"
---
Title: ImBored API Scripts
About: A python API scripts to get random interesting ideas to overcome boredom.
Name: Sirish C
Label: Feature Request
Assignee: ''

---

Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

This is a python scripts using API , An interesting way to find some cool ideas to overcome  boredom . ImBored Scripts uses **boredapi** to generate random activit

[2021-10-02 07:41] danangharissetiawan opened #1002 "Knapsack Problem"
Hi LGM-SoC / DCP participants, nice to meet you.

this project helps beginner python programmer to understand knapsack problem algorithm.

Repo: Basic Python Script

If you want to solve this problem, follow the given guide for code as well as for README.

[2021-10-02 09:41] tanishka1411 commented on #3
Hello mam

Myself Tanishka and I have also participated in hacktoberfest-2021. I have made a project using Tkinter and Firebase which is a diary like application. Can I contribute that project.

![](https://user-images.githubusercontent.com/67412892/127750390-30858818-7a5f-4b02-9c26-c66838e36d91.png)

[2021-10-02 14:48] NeerajHazarika opened #1003 "SQL Injection Scanner in Python"
- Title : SQL Injection Scanner in Python
- Language : Python
- Directory : EthicalHackingScripts
- Name : Neeraj Pratap Hazarika

- [x] Hacktoberfest
- [x] Contributor

## Description :

simple Python script to detect SQL Injection vulnerability on web applications using requests and BeautifulSoup in Python.

@prathimacode-hub please assign me this issue.

[2021-10-02 16:33] theshredbox opened #1004 "Scale Chart for Musical Compostion"
The project aims at building a dynamic scale chart for guitar that displays the notes to be played on a virtual fretboard.
Module Description- GUI built using Tkinter

Hacktoberfest '21 Participant

Repo- GUI Scripts

[2021-10-02 17:00] prathimacode-hub commented on #1004
Also mention that you're contributing as a part of hacktoberfest. @theshredbox

[2021-10-02 17:00] prathimacode-hub commented on #1004
Issue assigned to @theshredbox

[2021-10-03 00:26] skirat opened #1005 "Password cracker"
this script will basically input a hash and will try to bruteforce the password through a text file

[2021-10-03 03:57] Knighthawk-Leo opened #1007 "Google Meet Automation"
## Google Meet Automation Script
It is as simple as it's name it will help a student to plan his online class time table and this script will help him to attend the online classes ontime.
So no need to check the time table again n again.
No need to find the joining link again n again.

## Model Discription - Automation Script

## Hacktober fest ' 21 participant

## Repo Folder  - Automation Script

[2021-10-03 05:56] prathimacode-hub commented on #1007
Issue assigned to @Knighthawk-Leo

[2021-10-03 05:57] prathimacode-hub commented on #1005
Add proper issue template here as mentioned. @skirat

[2021-10-03 05:57] prathimacode-hub commented on #1003
Issue assigned to @NeerajHazarika

[2021-10-03 05:59] prathimacode-hub commented on #992
Yes kindly do so using edit option. @New-dev0

[2021-10-03 06:00] prathimacode-hub commented on #961
@shubhdholakiya, any update?

[2021-10-03 06:01] prathimacode-hub commented on #924
Yes as a part of hacktober participant? @manognyaa

[2021-10-03 06:07] manognyaa commented on #924
yes @prathimacode-hub  mam. As a part of hacktoberfest.

[2021-10-03 07:53] vikasbaghel1001 commented on #32
Hello @prathimacode-hub i am recently working on a 2d arcade mario style game using pygame library can i contribute it to the pygame script for my hacktoberfest2021 task

[2021-10-03 08:33] theshredbox opened #1010 "Image Distortion Correction Using OpenCV"
---
Title: Image Distortion Correction Using OpenCV
About: The project aims at calculating the distortion coefficients of a given set of images to aid camera calibration
Name: YourName
Label: Feature Request
Assignee: <code>https://github.com/prathimacode-hub</code>

---

Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Is your feature request related to a problem? Please desc

[2021-10-03 08:50] dark-coder-cat opened #1011 "Empty Folder Cleaner"
**Empty Folder Cleaner**
--
made with `Python3` could remove all empty folders in system. Works for **Android** and **Windows** both.
`( only the folders system allows, not like [android/] [C://system32] etc. folders)`
- --
- No any additional packages required to install.
 `Only used built-in modules used like system, platform and time. `
- It is a Command line based program.
- To run on Android

[2021-10-03 09:14] shubhdholakiya commented on #961
Hello,
I am very sorry, I wasn't able to make PR, give me 2 days and will make a PR.

[2021-10-03 10:23] prathimacode-hub commented on #1010
Issue assigned to @theshredbox for documentation

[2021-10-03 10:24] prathimacode-hub commented on #1011
Issue assigned to @dark-coder-cat

[2021-10-03 13:37] prathimacode-hub commented on #924
Ok, issue assigned to @manognyaa

[2021-10-03 14:28] advaita-saha opened #1013 "Add SMS sending script"
python script using kaleyra API to run sms campaign for businesses and also for individuals
Kaleyra is the leading SMS service provided in the industry

I want to contribute this Script. Please assign me this task @prathimacode-hub

[2021-10-03 14:34] advaita-saha commented on #1013
---
Title: Kaleyra auto SMS
About: python script using kaleyra API to run sms campaign for businesses and also for individuals
Name: Advaita Saha
Label: Feature Request
---

Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

This script solves the problem people have while running SMS campaign using Kaleyra API. This script provides a simple CLI to send SMS and run bulk campaign

[2021-10-04 05:23] #1010 closed

[2021-10-04 05:43] theshredbox opened #1016 "Image Segmentation Using K Means Clustering"
---

Title: Image Segmentation Using K Means Clustering

Repo: Image Processing Scripts

About: An image is basically a set of given pixels. In image segmentation, pixels which have similar attributes are grouped together. Image segmentation creates a pixel-wise mask for objects in an image which gives us a more comprehensive and granular understanding of the object.

Name: Aryan Ahuja

Label: Fea

[2021-10-04 08:07] Ashu-1309 commented on #957
@prathimacode-hub can you please explain me what o have to do in this ??

[2021-10-04 10:23] advaita-saha commented on #1013
@neelshah2409 please assign me this one

[2021-10-04 10:54] prathimacode-hub commented on #957
@Ashu-1309, it gets prices of top 100 cryptocurrencies as an output.

[2021-10-04 11:10] Ashu-1309 commented on #957
Can you assign me this project under Hacktoberfest .

[2021-10-04 11:12] prathimacode-hub commented on #957
Issue assigned to @Ashu-1309

[2021-10-04 14:55] deepak-chouhan opened #1018 ".json to .xlsx"
---
Title: json to xlsx converter
About: A python script which will convert a .json file into .xlsx file
Name: Deepak Chouhan
Label: Feature Request
Assignee: ''

---

Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

[2021-10-05 08:28] prathimacode-hub commented on #1018
Issue assigned to @deepak-chouhan

[2021-10-05 08:29] prathimacode-hub commented on #1013
Issue assigned to @advaita-saha

[2021-10-05 08:35] #1011 closed

[2021-10-05 09:17] Super02 opened #1021 "Add unsecure CLI script"
# Unsecure CLI script
A website made in flask that has an input form to submit data that will be evaluated using the eval function in python. Useful for showing why you should not directly parse information from the client.

# Hacktober fest ' 21 participant
# Repo Folder - EthicalHackingScripts

@prathimacode-hub please assign me this issue.

[2021-10-06 05:49] #1016 closed

[2021-10-06 06:05] avyayjain opened #1026 "chatbot by the name of jarvis a personal voice assistant"

[2021-10-08 05:31] bindaldhara opened #1030 "URL Shortener"
Title: URL Shortener
About: It is a project that shortens URL
Name: Dhara BIndal
Label: Basic Python Script
Assignee: ''

Define You:

 Hacktoberfest2021 Participant
 Contributor

[2021-10-08 05:53] devkumar24 commented on #957
Can I work on this issue?

[2021-10-10 10:37] Tanya-18 opened #1033 "Automated Pixel-Sorting"
---
Title: Automated Pixel-Sorting
About:
- This script performs randomized pixel-sorting on images and generates custom number of results.
- Everything,  from count and choice of parameters to the values they hold, is completely randomized.
- Users need to provide the filename along with the extensions and the number of expected results.

Name: Tanya Sabarwal
Label: Feature Request
Assignee: ''

[2021-10-10 10:37] piyushmohan01 opened #1034 "File Encryptor and Decryptor"
---
Title: File Encryptor and Decryptor
About:
- This script lets users encrypt and decrypt files of various extensions.
- All it requires is a password that is set by the encryptor and later used by the decryptor.
- All passwords are asterisk hidden when typed.

Name: Piyush Mohan
Label: Feature Request
Assignee: ''

---

Define You:

- [X] Hacktoberfest2021 Participant
- [ ] Contributor

**Is yo

[2021-10-11 08:59] SinghalChinmay opened #1036 "Rock Paper Scissors GUI game"
I want to make a GUI Rock Paper Scissors Game, I'll be using the Tkinter library, my format will be -
3 buttons - Rock, Paper, Scissors with images at the top
 A text box below, which will display the results when you click the buttons!

Label: GUIScripts

Define you:
- [x] Hacktoberfest2021 Participant
- [x] Contributor

[2021-10-12 10:00] #1021 closed

[2021-10-12 10:21] prathimacode-hub commented on #1030
Issue assigned to @bindaldhara

[2021-10-12 10:24] prathimacode-hub commented on #1036
Issue assigned to @SinghalChinmay

[2021-10-12 10:46] prathimacode-hub commented on #1026
Follow the workflow. Read contributing guidelines. Add issue template along with details to get issue assigned. You can come up with an another issue. This is already done. @avyayjain

[2021-10-12 10:51] #1001 closed

[2021-10-12 10:52] prathimacode-hub commented on #961
No PR yet? @shubhdholakiya

[2021-10-12 14:12] shubhdholakiya commented on #961
Yes mam, will be making PR by tomorrow, very sorry for the delay.

[2021-10-12 16:56] Tanuj2552 opened #1045 "Crypto Currency Scraping bot"
This web scraping bot scraps a particular cryptocurrency [website](https://finance.yahoo.com/cryptocurrencies) for every 10 minutes and prints the details of the coins.
Please add hacktoberfest label and assign it to me.
Thank you

[2021-10-13 08:12] Ashi-00 opened #1048 "MADLIBS_Game"
---
Title: Madlibs_Game
About: Its a super fun game wherein the user enters certain words based on the description (i.e. noun, adjective) and the code
fills up these words in the blanks of a preformed story template to complete the story and give it a meaning that super funny!
    i have added 4 story templates - 1)Harry Potter  2) F.r.i.e.n.d.s  3)Avengers   4)Ratatouille

Name: ASHI DUBEY
Label:

[2021-10-14 12:29] prathimacode-hub commented on #1048
Issue assigned to @Ashi-00

[2021-10-15 08:04] Vaibhav-Vipin opened #1052 "Temperature of CPU using Python"
Title:- CPU Temperature
About:- It will be a simple script of python, which when runned by the user it will print the current CPU temperature on the screen.
It will use simple python library (psutil).

Name: Vaibhav Vipin
Label: Basic Python Script, Hacktoberfest'21
Assignee: ""

Define You:-
- [x] Hacktoberfest2021 Participant
- [X] Contributor

[2021-10-16 07:37] hr1shu commented on #952
Hey @prathimacode-hub !
I've built a google meet bot using python language.
Features of the script:
* Joins the link on given time
* mutes mic/camera

If it's ok please assign me, I'm contributing for the hacktoberfest

[2021-10-16 07:38] hr1shu commented on #946
hey @prathimacode-hub !
I can work on this issue, please assign this to me.

[2021-10-16 07:45] Rahuls66 opened #1055 "Multiplication Table Generator"
---
Title: Multiplication Table Generator
About: This Python script generates Multiplication Table for the given input number from the user.
Name: Rahul Shah
Label: BasicPythonScript
Assignee: ''

---

Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

[2021-10-17 09:33] prathimacode-hub commented on #936
Issue assigned to @vkb20

[2021-10-17 10:15] #1033 closed

[2021-10-17 10:21] prathimacode-hub commented on #1052
Issue assigned. @Vaibhav-Vipin

[2021-10-17 10:22] prathimacode-hub commented on #1055
Issue assigned. @Rahuls66

[2021-10-17 10:23] prathimacode-hub commented on #1045
Add issue template here along with details. @Tanuj2552

[2021-10-17 16:44] hr1shu opened #1061 "Image Hide Script"
Title:- Image Hide
About:- this bot hides secret texts/messages inside an image. You can optionally encrypt your texts with a password using AES-256 before encoding them into the image.

It will use following python library:
colorama==0.4.4
commonmark==0.9.1
Pillow==8.1.0
pycryptodome==3.9.9
pyfiglet==0.8.post1
Pygments==2.7.4
rich==9.10.0
termcolor==1.1.0
typing-extensions==3.7.4.3

Name: Rishav

[2021-10-18 09:00] Sundesh7 opened #1062 "Scienctific Calculator Using Tkinter"
The calculator is fully functional and has many functions as much as i can add.

![2212](https://user-images.githubusercontent.com/76198109/137700938-e2834af0-c49d-4eeb-9022-456879f88941.JPG)

[2021-10-18 16:47] khan2810 opened #1063 "Invisible Cloak Project"
Title-: Invisible Cloak Project
About:- Here we will try to implement an invisibility cloak using python which will work with cloaks of some basic colors like blue, green, red, white, yellow etc.

Name: Amaan Khan
Label: Image Processing script, Hacktoberfest'21
Assignee: ""

Define You:-

Hacktoberfest2021 Participant

Please assign this to me @prathimacode-hub

[2021-10-21 12:07] #1055 closed

[2021-10-21 12:23] prathimacode-hub commented on #1062
Kindly add proper issue template provide along with details. And scientific calculator project already exists. but can work on it as enhancement and bring the changes into more scientific is nature like it's displayed over here. If you're of to work on it as an enhancement project, I shall assign the issue to you. Here is the existing project : https://github.com/prathimacode-hub/Awesome_Python_Sc

[2021-10-21 18:00] hr1shu commented on #1061
On it.

[2021-10-30 01:41] Khushi-sharma07 commented on #950
Mam I want to work on this under hacktoberfest. Can you please assign this to me?

[2021-10-30 01:54] Khushi-sharma07 commented on #941
Mam I would like to work on this issue under hacktoberfest please assign this to me.

[2021-10-30 01:58] Khushi-sharma07 commented on #927
Mam I would like to work on this under hacktoberfest please assign this to me.

[2021-10-30 02:01] Khushi-sharma07 commented on #927
I will create the pull request by tomorrow morning positively.

[2021-10-30 02:02] Khushi-sharma07 commented on #945
Mam I would like to work on this , please assign this to me

[2021-10-30 06:02] prathimacode-hub commented on #1003
Ok. I will unassign. @NeerajHazarika

[2021-10-30 06:04] prathimacode-hub commented on #957
I had assigned the issue to you. You can make a PR for it. @vkb20

[2021-10-30 06:05] prathimacode-hub commented on #955
Kindly work on the changes addressed. Fest is about to end. @CodingBlood

[2021-10-30 06:05] prathimacode-hub commented on #928
By when are you expected to do? Fest is about to end? @rustzz-27

[2021-10-30 06:06] prathimacode-hub commented on #924
By when are you expected to do? Fest is about to end? @manognyaa

[2021-10-30 06:06] prathimacode-hub commented on #927
Ok, sure. Issue assigned. You can proceed. @Khushi-sharma07

[2021-10-30 06:07] prathimacode-hub commented on #815
By when are you expected to do? @soma2000-lang

[2021-10-30 06:07] prathimacode-hub commented on #897
By when are you expected to do? @rammya29

[2021-10-30 06:08] prathimacode-hub commented on #941
Yes, sure. Issue assigned. @Khushi-sharma07

[2021-10-30 06:08] prathimacode-hub commented on #945
Yes, issue assigned. @Khushi-sharma07

[2021-10-30 06:09] prathimacode-hub commented on #946
Do you work on this? Sorry just noticed it. Issue assigned. @hr1shu

[2021-10-30 06:10] prathimacode-hub commented on #950
@Khushi-sharma07, already 3 issues have been assigned to you. I will assign this once you finish the assigned issues so that it won't be a burden for you.

[2021-10-30 06:11] prathimacode-hub commented on #952
Sure, issue assigned. You can proceed. Just noticed your message @hr1shu

[2021-10-30 06:12] prathimacode-hub commented on #1004
By when are you expected to do? Fest is about to end? @theshredbox

[2021-10-30 06:12] prathimacode-hub commented on #1030
By when are you expected to do changes? Fest is about to end? @bindaldhara

[2021-10-30 06:16] prathimacode-hub commented on #1045
By when are you expected to do changes? Fest is about to end? @Tanuj2552

[2021-10-30 06:21] theshredbox commented on #1004
Ma'am you have already merged the PR. I guess I forgot to mention the issue number in the PR. My bad. Sincere apologies ma'am. I have completed 5 PRs for the fest and have successfully completed Hacktoberfest'21.

[2021-10-30 06:21] theshredbox commented on #1004
You can close the issue 😄

[2021-10-30 07:35] prathimacode-hub commented on #1004
Great might be. My bad then. Lots to remember and low on storage. Haha. 😀@theshredbox

[2021-10-30 07:52] #1004 closed

[2021-10-30 11:28] Tanuj2552 commented on #1045
You issued this to me after about 9 days. I've already found other repositories to contribute and claimed the reward. Sorry, I am no more interested to do this.

[2021-10-30 12:45] vkb20 commented on #957
done.

[2021-10-30 12:46] vkb20 commented on #936
done.

[2021-10-30 15:26] prathimacode-hub commented on #936
Kindly check with changes addressed. @vkb20

[2021-10-30 15:27] prathimacode-hub commented on #1045
Ok, thats upto you. @Tanuj2552

[2021-10-30 16:20] #1052 closed

[2021-10-30 16:53] #927 closed

[2021-10-30 18:36] Khushi-sharma07 commented on #950
Mam now I had submitted the pr for two issues can I please get it assigned under hacktoberfest so  that I can finish it within deadline.

[2021-10-31 02:54] #1048 closed

[2021-10-31 02:56] #1036 closed

[2021-10-31 02:57] prathimacode-hub commented on #1007
When are you expected to do? Fest is about to end. @Knighthawk-Leo

[2021-10-31 02:57] #961 closed

[2021-10-31 03:26] Khushi-sharma07 commented on #945
Mam can you unassign this task from me because there are some errors I am facing I don't want that any other person is also unable to grab it before the fest ends. I really apologize for this. I will try it if I am able to solve it I will surely make a P.R if it's available. @prathimacode-hub

[2021-10-31 03:49] prathimacode-hub commented on #945
Ok, no worries. You have time till evening. You can try it. I understand. @Khushi-sharma07

[2021-10-31 03:54] Khushi-sharma07 commented on #945
Yes mam I really apologise.
Mam if you allow can I get the Image background remover program assigned to me, so that I can add this before the fest ends.

[2021-10-31 03:55] prathimacode-hub commented on #945
As you say. Yes, Comment on that issue so that I could assign it to you. @Khushi-sharma07

[2021-10-31 03:56] prathimacode-hub commented on #950
Issue assigned to @Khushi-sharma07

[2021-10-31 03:57] Khushi-sharma07 commented on #950
Thank you mam @prathimacode-hub

[2021-10-31 07:05] Knighthawk-Leo commented on #1007
Ma'am Can you Review the PR @prathimacode-hub

[2021-10-31 07:13] Khushi-sharma07 opened #1071 "Pie Chart Creator"
Title-: Pie Chart Creator
About:- Here I will add the code for basic python script where we can add a simple code by which the user will enter the data and a pie chart will be created.

Name: Khushi Sharma
Label: Basic Python script, Hacktoberfest'21
Assignee: ""

Define You:-

- [x] Hacktoberfest2021 Participant

Please assign this to me mam under hacktoberfest. @prathimacode-hub

[2021-10-31 07:50] prathimacode-hub opened #1072 "Faker API"
Hey Hacktoberfest participants, good to see you.

Repo : API Scripts

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-10-31 07:55] photon149 commented on #1072
I would like to work on the same .I will provide a detaield explaination of the API with , examples of the function done by the API.

[2021-10-31 08:11] prathimacode-hub commented on #1072
Issue assigned. @photon149

[2021-10-31 11:12] #1072 closed

[2021-10-31 13:53] #1007 closed

[2021-10-31 13:54] #941 closed

[2021-10-31 13:57] #957 closed

[2021-10-31 13:58] #936 closed

[2021-10-31 13:59] prathimacode-hub commented on #950
Awaiting your PR. @Khushi-sharma07

[2021-10-31 14:40] Khushi-sharma07 commented on #1071
Mam please assign this to me under hacktoberfest @prathimacode-hub

[2021-10-31 14:49] prathimacode-hub commented on #1071
Issue assigned. @Khushi-sharma07

[2021-10-31 14:49] prathimacode-hub commented on #1071
Hope you know today is last date? @Khushi-sharma07

[2021-10-31 15:00] Khushi-sharma07 commented on #1071
Mam I will submit it in an hour I created the P.R after I generated the code in my pc. Thank you mam for assigning

[2021-10-31 15:04] prathimacode-hub commented on #1071
Sure. Welcome. @Khushi-sharma07

[2021-10-31 15:05] #950 closed

[2021-10-31 16:23] #1071 closed

[2021-11-08 13:41] prathimacode-hub commented on #1003
I had unassigned you. Don't close it. @NeerajHazarika

[2021-11-08 13:42] NeerajHazarika commented on #1003
@prathimacode-hub ok, I thought I should close it since hacktoberfest is over.

[2021-12-24 06:14] nirbhay12345 commented on #1
I wish to contribute. does a 'image to text' convertor meets the requirements of the repo?

[2021-12-24 14:11] prathimacode-hub commented on #1
Yes, sure. You are free to do so. First create an issue using issue template and express your interest to get it assigned. @nirbhay12345

[2021-12-24 15:34] nirbhay12345 commented on #1
Okay Thank you @prathimacode-hub .

[2021-12-25 15:08] nirbhay12345 opened #1076 "Image-to-Text Converter Project"
---
Title: Image to Text converter
About: An image to text converter which converts written text images to actual text based on Tesseract-OCR
Name: Nirbhay Chaplot
Label: Image Processing, Optical Character Recognition
Assignee: ''

---

Define You:

- Contributor

Please assign this to me @prathimacode-hub

[2021-12-26 12:02] prathimacode-hub commented on #1076
Issue assigned to @nirbhay12345. You can proceed.

[2022-01-01 06:32] #1076 closed

[2022-01-21 14:23] vivekthedev opened #1081 "QR Code generator GUI Script"
Add a new GUI Script to generate a QR code in PNG format using tkinter

[2022-01-21 14:29] prathimacode-hub commented on #1081
Kindly edit the comment message here with the [issue_template](https://github.com/prathimacode-hub/Awesome_Python_Scripts/blob/main/.github/issue_template/feature_request.md) provided. @vivekthedev

[2022-01-21 16:34] #1081 closed

[2022-01-22 13:47] vivekthedev commented on #932
Hey @prathimacode-hub , can you assign this to me? I think I can work on this.

[2022-01-22 13:52] prathimacode-hub commented on #932
Sure, Issue assigned to @vivekthedev

[2022-01-23 12:33] #932 closed

[2022-01-25 07:53] vivekthedev opened #1086 "PDF Utility Tool"
I am thinking of creating a GUI tool where we we can perform all the tasks with PDF in a single script like Merging two PDFs, Splitting PDFs, Rotating and more.

Repo : GUI Scripts

[2022-01-25 12:51] rishav-karanjit opened #1087 "QR Code Scanner"
Title-: QR Code Scanner
About:- My python script will be able to generate and scan QR code from an image. User will have 2 options: one to generate and another is to scan QR code from image.
Name: Rishav Karanjit
Label: Basic Python Scripts
Assignee: ""

Please assign this to me @prathimacode-hub

[2022-01-25 14:30] vivekthedev commented on #1087
@rishav-karanjit Both are present in the GUI Scripts
[Scanner](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/GUIScripts/QR%20Code%20Scanner)
[Generator](https://github.com/prathimacode-hub/Awesome_Python_Scripts/tree/main/GUIScripts/QR%20Code%20Generator)

[2022-01-25 14:56] prathimacode-hub commented on #1087
Yes @rishav-karanjit. Glad to see your initiation to contribute. It's already done. You can either enhance the existing projects or come up with new projects that doesn't exist in the repository. Before choosing a project, make sure it isn't in the repo to avoid repetitions and overcome double work. You can directly this issue message to choice you take and get it assigned. No worries.

[2022-01-25 15:59] karanS08 opened #1088 "new Ip locator script"
## It is a simple IP locator which takes ip address from the user and makes an API call to ip-api.com and displays the information to you.

[2022-01-26 09:57] #1086 closed

[2022-01-30 03:46] vivekthedev opened #1090 "Get Saved Wi-Fi Password"
I want to contribute a script that gets all the Wi-Fi password in a Windows Environment.

The script gets Wi-Fi passwords and save it in a text file.

Repo : Ethical Hacking Scripts

[2022-01-30 04:25] prathimacode-hub commented on #1090
Issue assigned to @vivekthedev

[2022-01-30 16:06] #1090 closed

[2022-03-03 19:41] #1013 closed

[2022-08-13 00:57] tanthehack commented on #946
Hey! Would love to work on this issue! If that's still possible :)

[2022-09-14 07:48] saurav-sabu commented on #935
Hello @prathimacode-hub ma'am, I am interested in solving this issue. Can you please assign me this issue?

[2022-09-21 05:34] aryanag7 commented on #949
Title: Linkedin Connection Scrapper
About: Scrapping linkedin connections like name, job profile,  company etc.
Name: Aryan Agrawal
Approach: I will be using different python libraries such as BeautifulSoup , requests to scrape the information  and storing it into a csv file.
It would be great if i have been given an opportunity to contribute @prathimacode-hub .

[2022-10-01 14:28] AHB102 commented on #945
I would like to work on this, please assign this to me

[2022-10-01 15:02] prathimacode-hub commented on #945
Yes, you can proceed. Issue assigned to @AHB102

[2022-10-01 21:35] Iamtripathisatyam opened #1093 "Registration Form Web App"
Title: Registration Form Web App
Directory: GUIScripts
Name: Satyam Tripathi

### Define You:

- [X] Hacktoberfest2022 Participant
- [X] Contributor

### Description:
I will create a registration form using the PyWebIO module. This is a Python module mostly used to create simple and interactive interfaces on the local web using Python Programming.

@prathimacode-hub Please assign me this issue.

[2022-10-01 22:23] prathimacode-hub commented on #1093
Issue assigned to @Iamtripathisatyam. You can proceed.

[2022-10-02 07:09] vivekthedev commented on #931
can you assign this to me?

[2022-10-02 07:36] Iamtripathisatyam commented on #1093
Thank you!

[2022-10-02 07:43] prathimacode-hub commented on #931
Are you applying as a Hacktoberfest Participant? @vivekthedev

[2022-10-02 07:45] vivekthedev commented on #931
Yes

[2022-10-02 11:48] prathimacode-hub commented on #931
Ok, issue assigned to @vivekthedev

[2022-10-03 04:41] singhmansi25 opened #1095 "Web Scraping Flipkart website using BeautifulSoup Library of Python [WebScrapingScripts Folder ]"
☑️ Title : Web Scraping using BeautifulSoup in Python
☑️ Name : Mansi Singh
☑️ Contribution Type :

- [ ]  Hacktoberfest2022 Participant

- [ ] Contributor

☑️ Assignee : Prathima Kadari
☑️ Approach : I will be using various web scraping libraries in python to scrape data from flipkart website (mobile phones).

@prathimacode-hub Please assign me this issue, as I want to participate in Hacktoberfes

[2022-10-03 10:53] #931 closed

[2022-10-03 10:54] prathimacode-hub commented on #1095
Issue assigned to @singhmansi25. You can proceed working.

[2022-10-04 18:18] vivekthedev commented on #815
can I work on this issus?

[2022-10-05 04:15] #1093 closed

[2022-10-05 04:21] prathimacode-hub commented on #815
Issue assigned to @vivekthedev

[2022-10-05 05:45] ambushneupane opened #1100 "Video Merger"
- [x] TITLE : Video Merger using python
- [x]  Name : Ambush Neupane
- [x] Contribution Type :
 Hacktoberfest2022 Participant
- [x] Contributor

- [x] Assignee : Prathima Kadari

[2022-10-05 05:45] ambushneupane commented on #1100
#1099

[2022-10-05 05:57] arjun-ms opened #1101 "Add Banking System OOP"
Add a Banking System explaining the basic concepts of Python OOP

[2022-10-06 09:26] prathimacode-hub commented on #1100
Can you follow the issue template provided? Explain the issue for better clarity. @ambushneupane

[2022-10-06 10:35] prathimacode-hub commented on #1100
First of all get an issue assigned by following this issue as reference : https://github.com/prathimacode-hub/Awesome_Python_Scripts/issues/1054. Include the issue details and be specific. @ambushneupane

[2022-10-06 10:46] ambushneupane opened #1103 "## Video Merger"
Title: Video Merger
About: This Python script Merges many  videos (.mp4) into a single video
Name: Ambush Neupane
Label: AutomationScripts
Assignee: Prathima Kadari

## Define You
- [x] Hacktoberfest2021 Participant
- [x] Contributor

[2022-10-06 10:48] ambushneupane commented on #1100
Hey I have created a new issue. Hopefully I fulfill the criteria to get my PR merged.

[2022-10-06 11:44] ambushneupane commented on #1100
It looks like you have already assigned me.

[2022-10-07 13:16] #815 closed

[2022-10-08 07:24] #943 closed

[2022-10-11 13:56] #1063 closed

[2022-10-11 13:56] khan2810 commented on #1063
Issue closed

[2022-10-15 09:06] Knighthawk-Leo opened #1106 "Dog Breed Identification"
☑️ Title : Image Identifaction in Python-Django
☑️ Name : Sanskar Dwivedi
☑️ Contribution Type :

 Hacktoberfest2022 Participant

@prathimacode-hub Please assign me this issue, as I want to participate in Hacktoberfest 2022.

[2022-10-15 10:01] prathimacode-hub commented on #1106
Issue assigned to @Knighthawk-Leo

[2022-10-16 17:30] vivekthedev commented on #1030
can you assign this to me?

[2022-10-20 08:47] SeminKim opened #1111 "Animated Image Generator"
Title: Animated Image Generator
About: This Python script makes an animated image file(.gif or .webp) from frame images.
Name: seminkim
Label: ImageProcessingScripts

---
Define You:

- [x] Hacktoberfest2022 Participant
- [x] Contributor

[2022-10-22 13:15] prathimacode-hub commented on #1111
Issue assigned to @SeminKim

[2022-10-23 14:38] #1111 closed

[2022-10-30 04:21] #1095 closed

[2022-10-30 07:39] #1103 closed